<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>pfm_description</key>
        <string>Single Sign-On Account Payload</string>
        <key>pfm_title</key>
        <string>Single Sign-On</string>
        <key>pfm_format_version</key>
        <integer>1</integer>
        <key>pfm_version</key>
        <integer>1</integer>
        <key>pfm_domain</key>
        <string>com.apple.sso</string>
        <key>pfm_ios_min</key>
        <string>7.0</string>
        <key>pfm_subkeys</key>
        <array>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDescription</string>
                <key>pfm_title</key>
                <string>Payload Description</string>
                <key>pfm_description</key>
                <string>Description of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Single Sign-On Account Payload</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDisplayName</string>
                <key>pfm_title</key>
                <string>Payload Display Name</string>
                <key>pfm_description</key>
                <string>Name of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Single Sign-On Account Payload</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadIdentifier</string>
                <key>pfm_title</key>
                <string>Payload Identifier</string>
                <key>pfm_description</key>
                <string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.sso</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadType</string>
                <key>pfm_title</key>
                <string>Payload Type</string>
                <key>pfm_description</key>
                <string>The type of the payload, a reverse dns string</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.sso</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadUUID</string>
                <key>pfm_title</key>
                <string>Payload UUID</string>
                <key>pfm_description</key>
                <string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string></string>
                <key>pfm_require</key>
                <string>always</string>
                <key>pfm_format</key>
                <string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadVersion</string>
                <key>pfm_title</key>
                <string>Payload Version</string>
                <key>pfm_description</key>
                <string>The version of the whole configuration profile.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>1</integer>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadOrganization</string>
                <key>pfm_title</key>
                <string>Payload Organization</string>
                <key>pfm_description</key>
                <string>This value describes the issuing organization of the profile, as displayed to the user</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>Name</string>
                <key>pfm_title</key>
                <string>Human-readable name for the account</string>
                <key>pfm_description</key>
                <string>Human-readable name for the account.</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>Kerberos</string>
                <key>pfm_title</key>
                <string>Kerberos-related information</string>
                <key>pfm_description</key>
                <string>Kerberos-related information.</string>
                <key>pfm_type</key>
                <string>dictionary</string>
                <key>pfm_default</key>
                <dict/>
                <key>pfm_subkeys</key>
                <array>
                    <dict>
                        <key>pfm_name</key>
                        <string>PrincipalName</string>
                        <key>pfm_title</key>
                        <string>Kerberos principal name</string>
                        <key>pfm_description</key>
                        <string>The Kerberos principal name. If not provided, the user is prompted for one during profile installation. This field must be provided for MDM installation.</string>
                        <key>pfm_type</key>
                        <string>string</string>
                    </dict>
                    <dict>
                        <key>pfm_name</key>
                        <string>PayloadCertificateUUID</string>
                        <key>pfm_title</key>
                        <string>Identity Certificate UUID for renewal</string>
                        <key>pfm_description</key>
                        <string>The PayloadUUID of an identity certificate payload that can be used to renew the Kerberos credential without user interaction.
                            The certificate payload must have either the com.apple.security.pkcs12 or com.apple.security.scep payload type.
                            Both the Single Sign On payload and the identity certificate payload must be included in the same configuration profile</string>
                        <key>pfm_type</key>
                        <string>string</string>
                        <key>pfm_format</key>
                        <string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
                    </dict>
                    <dict>
                        <key>pfm_name</key>
                        <string>Realm</string>
                        <key>pfm_title</key>
                        <string>The Kerberos realm name.</string>
                        <key>pfm_description</key>
                        <string>The Kerberos realm name. This value should be properly capitalized.</string>
                        <key>pfm_type</key>
                        <string>string</string>
                    </dict>
                    <dict>
                        <key>pfm_name</key>
                        <string>URLPrefixMatches</string>
                        <key>pfm_title</key>
                        <string>List of URLs prefixes that must be matched for HTTP</string>
                        <key>pfm_description</key>
                        <string>List of URLs prefixes that must be matched to use this account for Kerberos authentication over HTTP. Note that the URL postfixes must match as well.</string>
                        <key>pfm_type</key>
                        <string>array</string>
                        <key>pfm_subkeys</key>
                        <array>
                            <dict>
                                <key>pfm_name</key>
                                <string>URLPrefixMatchesItem</string>
                                <key>pfm_title</key>
                                <string>URL Matching Item</string>
                                <key>pfm_description</key>
                                <string>Each entry in the URLPrefixMatches array must contain a URL prefix. Only URLs that begin with one of the strings in this account are allowed to access the Kerberos ticket.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>pfm_name</key>
                        <string>AppIdentifierMatches</string>
                        <key>pfm_title</key>
                        <string>List of app identifiers that are allowed to use this login.</string>
                        <key>pfm_description</key>
                        <string>List of app identifiers that are allowed to use this login. If this field missing, this login matches all app identifiers.</string>
                        <key>pfm_type</key>
                        <string>array</string>
                        <key>pfm_subkeys</key>
                        <array>
                            <dict>
                                <key>pfm_name</key>
                                <string>AppIdentifierMatchesItem</string>
                                <key>pfm_title</key>
                                <string>App Bundle ID Item</string>
                                <key>pfm_description</key>
                                <string>Exact or partial bundle ID match using the wildcard character eg com.apple.*</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
