<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>pfm_description</key>
        <string>FileVault Recovery Key Escrow Payload</string>
        <key>pfm_title</key>
        <string>FileVault Recovery Key Escrow Payload</string>
        <key>pfm_format_version</key>
        <integer>1</integer>
        <key>pfm_version</key>
        <integer>1</integer>
        <key>pfm_domain</key>
        <string>com.apple.security.FDERecoveryKeyEscrow</string>
        <key>pfm_macos_min</key>
        <string>10.13</string>
        <key>pfm_subkeys</key>
        <array>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDescription</string>
                <key>pfm_title</key>
                <string>Payload Description</string>
                <key>pfm_description</key>
                <string>Description of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>FileVault Recovery Key Escrow Payload</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDisplayName</string>
                <key>pfm_title</key>
                <string>Payload Display Name</string>
                <key>pfm_description</key>
                <string>Name of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>FileVault Recovery Key Escrow Payload</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadIdentifier</string>
                <key>pfm_title</key>
                <string>Payload Identifier</string>
                <key>pfm_description</key>
                <string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.security.FDERecoveryKeyEscrow</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadType</string>
                <key>pfm_title</key>
                <string>Payload Type</string>
                <key>pfm_description</key>
                <string>The type of the payload, a reverse dns string</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.security.FDERecoveryKeyEscrow</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadUUID</string>
                <key>pfm_title</key>
                <string>Payload UUID</string>
                <key>pfm_description</key>
                <string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string></string>
                <key>pfm_require</key>
                <string>always</string>
                <key>pfm_format</key>
                <string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadVersion</string>
                <key>pfm_title</key>
                <string>Payload Version</string>
                <key>pfm_description</key>
                <string>The version of the whole configuration profile.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>1</integer>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadOrganization</string>
                <key>pfm_title</key>
                <string>Payload Organization</string>
                <key>pfm_description</key>
                <string>This value describes the issuing organization of the profile, as displayed to the user</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>Location</string>
                <key>pfm_title</key>
                <string>Location</string>
                <key>pfm_description</key>
                <string>A short description of the location where the recovery key will be escrowed. This text will be inserted into the message the user sees when enabling FileVault.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>EncryptCertPayloadUUID</string>
                <key>pfm_title</key>
                <string>EncryptCertPayloadUUID</string>
                <key>pfm_description</key>
                <string>Required. The UUID of a payload within the same profile that contains the certificate that will be used to encrypt the recovery key. The referenced payload must be of type com.apple.security.pkcs1.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>DeviceKey</string>
                <key>pfm_title</key>
                <string>DeviceKey</string>
                <key>pfm_description</key>
                <string>Optional. An optional string that will be included in help text if the user appears to have forgotten the password. Can be used by a site admin to look up the escrowed key for the particular machine. Replaces the RecordNumber key used in previous escrow mechanism. If missing, the device serial number will be used instead.</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
        </array>
    </dict>
</plist>