<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define passcode policy settings</string>
	<key>pfm_title</key>
	<string>Passcode</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_version</key>
	<integer>1</integer>
	<key>pfm_domain</key>
	<string>com.apple.mobiledevice.passwordpolicy</string>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Configures passcode settings</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Passcode</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>manualFetchingWhenRoaming</string>
			<key>pfm_title</key>
			<string>Manual Fetching When Roaming</string>
			<key>pfm_description</key>
			<string>Deprecated. Use allowGlobalBackgroundFetchWhenRoaming in the Restrictions payload instead.</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowSimple</string>
			<key>pfm_title</key>
			<string>Allow Simple Value</string>
			<key>pfm_description</key>
			<string>Permit the use of repeating, ascending, and descending character sequences</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forcePIN</string>
			<key>pfm_title</key>
			<string>Require Passcode on Device</string>
			<key>pfm_description</key>
			<string>Enforce the use of a passcode before using the device</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>maxFailedAttempts</string>
			<key>pfm_title</key>
			<string>Maximum Number of Failed Attempts</string>
			<key>pfm_description</key>
			<string>Number of passcode entry attempts allowed before all data on device will be erased</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_range_min</key>
			<integer>2</integer>
			<key>pfm_range_max</key>
			<integer>11</integer>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>maxFailedAttempts</string>
							<key>pfm_range_list</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>maxInactivity</string>
			<key>pfm_title</key>
			<string>Auto-Lock</string>
			<key>pfm_description</key>
			<string>The number of minutes for which the device can be idle (without being unlocked by the user) before it gets locked by the system</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_range_max</key>
			<integer>15</integer>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>maxInactivity</string>
							<key>pfm_range_list</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>maxPINAgeInDays</string>
			<key>pfm_title</key>
			<string>Maximum Passcode Age</string>
			<key>pfm_description</key>
			<string>The number of days for which the passcode can remain unchanged</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_range_max</key>
			<string>730</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>minComplexChars</string>
			<key>pfm_title</key>
			<string>Minimum Number of Complex Characters</string>
			<key>pfm_description</key>
			<string>Smallest number of non-alphanumeric characters allowed</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pmf_range_max</key>
			<integer>4</integer>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>minComplexChars</string>
							<key>pfm_range_list</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>minLength</string>
			<key>pfm_title</key>
			<string>Minimum Passcode Length</string>
			<key>pfm_description</key>
			<string>Smallest allowable number of characters in passcode</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_range_max</key>
			<integer>16</integer>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>minLength</string>
							<key>pfm_range_list</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>requireAlphanumeric</string>
			<key>pfm_title</key>
			<string>Require Alphabetic Value</string>
			<key>pfm_description</key>
			<string>Require passcodes to contain at least one letter</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>pinHistory</string>
			<key>pfm_title</key>
			<string>Passcode History</string>
			<key>pfm_description</key>
			<string>Number of unique passcodes required between passcode reuse</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_range_min</key>
			<integer>1</integer>
			<key>pfm_range_max</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>maxGracePeriod</string>
			<key>pfm_title</key>
			<string>Grace Period for Device Lock</string>
			<key>pfm_description</key>
			<string>The maximum grace period, in minutes, to unlock the phone without entering a passcode</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>-1</integer>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>maxGracePeriod</string>
							<key>pfm_range_list</key>
							<array>
								<integer>-1</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowFingerprintModification</string>
			<key>pfm_title</key>
			<string>Allow modification of Touch ID</string>
			<key>pfm_description</key>
			<string>Optional. Supervised only. Not supported on macOS. Allows the user to modify Touch ID. Default NO.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>changeAtNextAuth</string>
			<key>pfm_title</key>
			<string>Change at next authentication</string>
			<key>pfm_description</key>
			<string>Optional. On macOS, setting this to true will cause a password reset to occur the next time the user tries to authenticate.
				If this key is set in a device profile, the setting takes effect for all users, and admin authentications may fail until the admin user password is also reset.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_macos_min</key>
			<string>10.13.0</string>
		</dict>
	</array>
</dict>
</plist>
