<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define settings for the Exchange ActiveSync account.</string>
	<key>pfm_title</key>
	<string>Exchange ActiveSync</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_version</key>
	<integer>1</integer>
	<key>pfm_domain</key>
	<string>com.apple.eas.account</string>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Configures an Exchange account</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Exchange ActiveSync</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>com.apple.eas.account</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>com.apple.eas.account</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Certificate</string>
			<key>pfm_title</key>
			<string>Authentication Credential</string>
			<key>pfm_description</key>
			<string>For accounts that allow authentication via certificate, a p12 identity certificate in NSData blob format DEPRECATED</string>
			<key>pfm_type</key>
			<string>data</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>PayloadCertificateUUID</string>
							<key>pfm_present</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>CertificateName</string>
			<key>pfm_title</key>
			<string>Authentication Credential Name</string>
			<key>pfm_description</key>
			<string>Name or description of the credential for ActiveSync DEPRECATED</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>PayloadCertificateUUID</string>
							<key>pfm_present</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>CertificatePassword</string>
			<key>pfm_title</key>
			<string>Authentication Credential Password</string>
			<key>pfm_description</key>
			<string>The password necessary for the p12 identity certificate. Use only with encrypted profiles DEPRECATED</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>PayloadCertificateUUID</string>
							<key>pfm_present</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadCertificateUUID</string>
			<key>pfm_title</key>
			<string>Payload Certificate UUID</string>
			<key>pfm_description</key>
			<string>UUID of the certificate to use for authentication</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Host</string>
			<key>pfm_title</key>
			<string>Exchange ActiveSync Host</string>
			<key>pfm_description</key>
			<string>The Exchange server host name or IP address</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>MailNumberOfPastDaysToSync</string>
			<key>pfm_title</key>
			<string>Past Days of Mail to Sync</string>
			<key>pfm_description</key>
			<string>The number of past days of mail to synchronzie</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>SSL</string>
			<key>pfm_title</key>
			<string>Use SSL</string>
			<key>pfm_description</key>
			<string>Send all communication through Secure Socket Layer</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>EmailAddress</string>
			<key>pfm_title</key>
			<string>Email Address</string>
			<key>pfm_description</key>
			<string>The address of the account (e.g. &quot;john@company.com)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_require</key>
			<string>push</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>UserName</string>
			<key>pfm_title</key>
			<string>User</string>
			<key>pfm_description</key>
			<string>User for the account. Domain and User must be blank for device to prompt for user</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_require</key>
			<string>push</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Password</string>
			<key>pfm_title</key>
			<string>Password</string>
			<key>pfm_description</key>
			<string>The password for the account</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PreventMove</string>
			<key>pfm_title</key>
			<string>Prevent Move</string>
			<key>pfm_description</key>
			<string> If set to true, messages may not be moved out of this email account into another account.</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PreventAppSheet</string>
			<key>pfm_title</key>
			<string>Prevent App Sheet</string>
			<key>pfm_description</key>
			<string>If set to true, this account will not be available for sending mail in third party applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowMailDrop</string>
			<key>pfm_title</key>
			<string>Allow Mail Drop</string>
			<key>pfm_description</key>
			<string>If set to true, this account is allowed to use Mail Drop.</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>SMIMEEnabled</string>
			<key>pfm_title</key>
			<string>S/MIME Enabled</string>
			<key>pfm_description</key>
			<string>If set to true, this account will support S/MIME</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>SMIMEEnablePerMessageSwitch</string>
			<key>pfm_title</key>
			<string>S/MIME Enable Per-Message Switch</string>
			<key>pfm_description</key>
			<string>If set to true, enable the per-message encryption switch.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>SMIMEEnabled</string>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>SMIMESigningCertificateUUID</string>
			<key>pfm_title</key>
			<string>S/MIME Signing Certificate</string>
			<key>pfm_description</key>
			<string>The PayloadUUID of the identity certificate used to sign messages sent from this account.</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>SMIMEEnabled</string>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>SMIMEEncryptionCertificateUUID</string>
			<key>pfm_title</key>
			<string>S/MIME Encryption Certificate</string>
			<key>pfm_description</key>
			<string>The PayloadUUID of the identity certificate used to decrypt messages coming into this account.</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>SMIMEEnabled</string>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>disableMailRecentsSyncing</string>
			<key>pfm_title</key>
			<string>Disable Mail Recents Syncing</string>
			<key>pfm_description</key>
			<string>If set to true, this account is excluded from address Recents syncing.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>CommunicationServiceRules</string>
			<key>pfm_title</key>
			<string>Communication Service Rules</string>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_type</key>
			<string>dictionary</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>DefaultServiceHandlers</string>
					<key>pfm_title</key>
					<string>Default Service Handlers</string>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_type</key>
					<string>dictionary</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>AudioCall</string>
							<key>pfm_title</key>
							<string>App for audio calls</string>
							<key>pfm_description</key>
							<string></string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_required</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
