<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Developer: TableView settings</string>
	<key>pfm_domain</key>
	<string>com.profilecreator.developer.tableview</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>exclusive</string>
	<key>pfm_last_modified</key>
	<date>2018-07-18T08:58:49Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
		<string>tvOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Developer: TableView settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Developer: TableView</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.profilecreator.developer.tableview</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.profilecreator.developer.tableview</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		
		<!-- Custom Payload Keys -->
		
		<dict>
			<key>pfm_description</key>
			<string>TableView representing an array of strings.</string>
			<key>pfm_name</key>
			<string>TableView01</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>TableView 01: Array of Strings</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>TableView representing an array of strings with a title.</string>
			<key>pfm_name</key>
			<string>TableView02</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Title</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>TableView 02: Array of Strings with a title</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>TableView representing an array of integers with a title.</string>
			<key>pfm_name</key>
			<string>TableView03</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Title</string>
					<key>pfm_type</key>
					<string>integer</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>TableView 03: Array of Strings with a title</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>TableView representing an array of strings as PopUp Buttons.</string>
			<key>pfm_name</key>
			<string>TableView04</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Title</string>
					<key>pfm_range_list</key>
					<array>
						<string>Option1</string>
						<string>Option2</string>
						<string>Option3</string>
					</array>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_unique</key>
					<true/>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>TableView 04: Array of Strings with a title</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>TableView representing an array of strings as ComboBoxes.</string>
			<key>pfm_name</key>
			<string>TableView05</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Title</string>
					<key>pfm_range_list</key>
					<array>
						<string>Option1</string>
						<string>Option2</string>
						<string>Option3</string>
					</array>
					<key>pfm_range_list_allow_custom_value</key>
					<true/>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>TableView 05: Array of Strings with a title</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>TableView representing an array of booleans.</string>
			<key>pfm_name</key>
			<string>TableView06</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Title</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>TableView 06: Array of Booleans</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>TableView representing an array of dictionaries which in turn has an array.</string>
			<key>pfm_name</key>
			<string>TableView07</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>TableView07Dictionary</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_title</key>
							<string>Title</string>
							<key>pfm_name</key>
							<string>Title</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>ArrayPopUp</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_title</key>
									<string>Title</string>
									<key>pfm_range_list</key>
									<array>
										<string>Option1</string>
										<string>Option2</string>
										<string>Option3</string>
									</array>
									<key>pfm_type</key>
									<string>string</string>
									<key>pfm_value_unique</key>
									<true/>
								</dict>
							</array>
							<key>pfm_type</key>
							<string>array</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>ArrayString</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_title</key>
									<string>Title2</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
							</array>
							<key>pfm_type</key>
							<string>array</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>TableView07Dict</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>TableView 07: Array of Dictionaries with included array</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		
		
	</array>
	<key>pfm_targets</key>
	<array>
		<string>user</string>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>Developer: TableView</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>2</integer>
</dict>
</plist>
