<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Developer: Slider settings</string>
	<key>pfm_domain</key>
	<string>com.profilecreator.developer.slider</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>exclusive</string>
	<key>pfm_last_modified</key>
	<date>2018-07-18T08:58:49Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
		<string>tvOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Developer: Slider settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Developer: Slider</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.profilecreator.developer.slider</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.profilecreator.developer.slider</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of two items: [5.0, 10.0].</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider01</string>
			<key>pfm_range_list</key>
			<array>
				<real>5</real>
				<real>10</real>
			</array>
			<key>pfm_title</key>
			<string>Slider 01: Range List 2 Items</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of three items: [5.0, 10.0, 15.0] and titles.</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider02</string>
			<key>pfm_range_list</key>
			<array>
				<real>5</real>
				<real>10</real>
				<real>15</real>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Low</string>
				<string>Medium</string>
				<string>High</string>
			</array>
			<key>pfm_title</key>
			<string>Slider 02: Range List 3 Items and Titles</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of four items: [5.0, 6.0, 17.0003212, 20.0].</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider03</string>
			<key>pfm_range_list</key>
			<array>
				<real>5</real>
				<real>6</real>
				<real>17.000321199999998</real>
				<real>20</real>
			</array>
			<key>pfm_title</key>
			<string>Slider 03: Range List 4 Items</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of five items: [0.01, 0.02, 0.13, 0.23, 0.92] and mixed titles.</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider04</string>
			<key>pfm_range_list</key>
			<array>
				<real>0.01</real>
				<real>0.02</real>
				<real>0.13</real>
				<real>0.23000000000000001</real>
				<real>0.92000000000000004</real>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>.01</string>
				<string>.02</string>
				<string></string>
				<string>Default</string>
				<string>Max</string>
			</array>
			<key>pfm_title</key>
			<string>Slider 04: Range List 5 Items and Mixed Titles</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of twenty items: [1.0...1.19].</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider05</string>
			<key>pfm_range_list</key>
			<array>
				<real>1</real>
				<real>1.1000000000000001</real>
				<real>1.2</real>
				<real>1.3</real>
				<real>1.3999999999999999</real>
				<real>1.5</real>
				<real>1.6000000000000001</real>
				<real>1.7</real>
				<real>1.8</real>
				<real>1.8999999999999999</real>
				<real>1.1000000000000001</real>
				<real>1.1100000000000001</real>
				<real>1.1200000000000001</real>
				<real>1.1299999999999999</real>
				<real>1.1399999999999999</real>
				<real>1.1499999999999999</real>
				<real>1.1599999999999999</real>
				<real>1.1699999999999999</real>
				<real>1.1799999999999999</real>
				<real>1.1899999999999999</real>
			</array>
			<key>pfm_title</key>
			<string>Slider 05: Range List 20 Items</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of twenty items: [1.0...1.19] with short titles.</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider06</string>
			<key>pfm_range_list</key>
			<array>
				<real>1</real>
				<real>1.1000000000000001</real>
				<real>1.2</real>
				<real>1.3</real>
				<real>1.3999999999999999</real>
				<real>1.5</real>
				<real>1.6000000000000001</real>
				<real>1.7</real>
				<real>1.8</real>
				<real>1.8999999999999999</real>
				<real>1.1000000000000001</real>
				<real>1.1100000000000001</real>
				<real>1.1200000000000001</real>
				<real>1.1299999999999999</real>
				<real>1.1399999999999999</real>
				<real>1.1499999999999999</real>
				<real>1.1599999999999999</real>
				<real>1.1699999999999999</real>
				<real>1.1799999999999999</real>
				<real>1.1899999999999999</real>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
				<string>Five</string>
				<string>Six</string>
				<string>Seven</string>
				<string>Eight</string>
				<string>Nine</string>
				<string>Ten</string>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
				<string>Five</string>
				<string>Six</string>
				<string>Seven</string>
				<string>Eight</string>
				<string>Nine</string>
				<string>Ten</string>
			</array>
			<key>pfm_title</key>
			<string>Slider 06: Range List 20 Items and Short Titles</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of twenty items: [1.0...1.19] with medium titles.</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider07</string>
			<key>pfm_range_list</key>
			<array>
				<real>1</real>
				<real>1.1000000000000001</real>
				<real>1.2</real>
				<real>1.3</real>
				<real>1.3999999999999999</real>
				<real>1.5</real>
				<real>1.6000000000000001</real>
				<real>1.7</real>
				<real>1.8</real>
				<real>1.8999999999999999</real>
				<real>1.1000000000000001</real>
				<real>1.1100000000000001</real>
				<real>1.1200000000000001</real>
				<real>1.1299999999999999</real>
				<real>1.1399999999999999</real>
				<real>1.1499999999999999</real>
				<real>1.1599999999999999</real>
				<real>1.1699999999999999</real>
				<real>1.1799999999999999</real>
				<real>1.1899999999999999</real>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>OneZero</string>
				<string>OneOne</string>
				<string>OneTwo</string>
				<string>OneThree</string>
				<string>OneFour</string>
				<string>OneFive</string>
				<string>OneSix</string>
				<string>OneSeven</string>
				<string>OneEight</string>
				<string>OneNine</string>
				<string>OneTen</string>
				<string>OneOne</string>
				<string>OneTwo</string>
				<string>OneThree</string>
				<string>OneFour</string>
				<string>OneFive</string>
				<string>OneSix</string>
				<string>OneSeven</string>
				<string>OneEight</string>
				<string>OneNine</string>
			</array>
			<key>pfm_title</key>
			<string>Slider 07: Range List 20 Items and Medium Titles</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of twenty items: [1.0...1.19] with long titles.</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider08</string>
			<key>pfm_range_list</key>
			<array>
				<real>1</real>
				<real>1.1000000000000001</real>
				<real>1.2</real>
				<real>1.3</real>
				<real>1.3999999999999999</real>
				<real>1.5</real>
				<real>1.6000000000000001</real>
				<real>1.7</real>
				<real>1.8</real>
				<real>1.8999999999999999</real>
				<real>1.1000000000000001</real>
				<real>1.1100000000000001</real>
				<real>1.1200000000000001</real>
				<real>1.1299999999999999</real>
				<real>1.1399999999999999</real>
				<real>1.1499999999999999</real>
				<real>1.1599999999999999</real>
				<real>1.1699999999999999</real>
				<real>1.1799999999999999</real>
				<real>1.1899999999999999</real>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>OneDotZero</string>
				<string>OneDotOne</string>
				<string>OneDotTwo</string>
				<string>OneDotThree</string>
				<string>OneDotFour</string>
				<string>OneDotFive</string>
				<string>OneDotSix</string>
				<string>OneDotSeven</string>
				<string>OneDotEight</string>
				<string>OneDotNine</string>
				<string>OneDotTen</string>
				<string>OneDotEleven</string>
				<string>OneDotTwelve</string>
				<string>OneDotThirteen</string>
				<string>OneDotFourteen</string>
				<string>OneDotFifteen</string>
				<string>OneDotSixteen</string>
				<string>OneDotSeventeen</string>
				<string>OneDotEighteen</string>
				<string>OneDotNineteen</string>
			</array>
			<key>pfm_title</key>
			<string>Slider 08: Range List 20 Items and Long Titles</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Slider with a range list of twenty items: [1.0...1.19] with too long titles.</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>Slider09</string>
			<key>pfm_range_list</key>
			<array>
				<real>1</real>
				<real>1.1000000000000001</real>
				<real>1.2</real>
				<real>1.3</real>
				<real>1.3999999999999999</real>
				<real>1.5</real>
				<real>1.6000000000000001</real>
				<real>1.7</real>
				<real>1.8</real>
				<real>1.8999999999999999</real>
				<real>1.1000000000000001</real>
				<real>1.1100000000000001</real>
				<real>1.1200000000000001</real>
				<real>1.1299999999999999</real>
				<real>1.1399999999999999</real>
				<real>1.1499999999999999</real>
				<real>1.1599999999999999</real>
				<real>1.1699999999999999</real>
				<real>1.1799999999999999</real>
				<real>1.1899999999999999</real>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>OneOneOneOneOneOneOneOneOneOneOneOneOneOne</string>
				<string>OneDotOneOneDotOne</string>
				<string>OneDotTwoOneDotTwo</string>
				<string>OneDotThreeOneDotThree</string>
				<string>OneDotFourOneDotFour</string>
				<string>OneDotFiveOneDotFive</string>
				<string>OneDotSixOneDotSix</string>
				<string>OneDotSevenOneDotSeven</string>
				<string>OneDotEightOneDotEight</string>
				<string>OneDotNineOneDotNine</string>
				<string>OneDotTenOneDotTen</string>
				<string>OneDotElevenOneDotEleven</string>
				<string>OneDotTwelveOneDotTwelve</string>
				<string>OneDotThirteenOneDotThirteen</string>
				<string>OneDotFourteenOneDotFourteen</string>
				<string>OneDotFifteenOneDotFifteen</string>
				<string>OneDotSixteenOneDotSixteen</string>
				<string>OneDotSeventeenOneDotSeventeen</string>
				<string>OneDotEighteenOneDotEighteen</string>
				<string>TwoTwoTwoTwoTwoTwoTwoTwoTwoTwoTwoTwoTwoTwoTwo</string>
			</array>
			<key>pfm_title</key>
			<string>Slider 09: Range List 20 Items and Too Long Titles</string>
			<key>pfm_type</key>
			<string>float</string>
			<key>pfm_view</key>
			<string>slider</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>user</string>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>Developer: Slider</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
