<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Dock settings</string>
	<key>pfm_description_reference</key>
	<string>The Dock payload is designated by specifying com.apple.dock as the PayloadType.
The Dock payload is supported on the user channel and, except for AllowDockFixupOverride, on all version of
macOS. The key AllowDockFixupOverride is supported on macOS 10.12 and later.</string>
	<key>pfm_domain</key>
	<string>com.apple.dock</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2023-08-29T09:17:10Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Dock Payload</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Dock</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.dock</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.dock</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable string containing the name of the organization that provided the profile.
The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_allowed_file_types</key>
			<array>
				<string>com.apple.application-bundle</string>
			</array>
			<key>pfm_description</key>
			<string>An array of items located on the Applications side of the Dock and cannot be removed from that location.</string>
			<key>pfm_name</key>
			<string>static-apps</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>static-app</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_default</key>
							<string>file-tile</string>
							<key>pfm_description</key>
							<string>The type of the tile. Values may be file-tile, directory-tile, or url-tile. If you are unsure whether the file item is a file or a directory, set this key to file-tile.</string>
							<key>pfm_hidden</key>
							<string>all</string>
							<key>pfm_name</key>
							<string>tile-type</string>
							<key>pfm_range_list</key>
							<array>
								<string>file-tile</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>File</string>
							</array>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Type</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>Information about a dock item.</string>
							<key>pfm_hidden</key>
							<string>container</string>
							<key>pfm_name</key>
							<string>tile-data</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_description</key>
									<string>Label of a dock item.</string>
									<key>pfm_hidden</key>
									<string>all</string>
									<key>pfm_name</key>
									<string>label</string>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_title</key>
									<string>Label</string>
									<key>pfm_type</key>
									<string>string</string>
									<key>pfm_value_copy</key>
									<string>static-apps.static-app.tile-data.file-data._CFURLString</string>
									<key>pfm_value_processor</key>
									<string>dockTileLabel</string>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>Display name in the profile GUI of a dock item.</string>
									<key>pfm_documentation_source</key>
									<string></string>
									<key>pfm_hidden</key>
									<string>all</string>
									<key>pfm_name</key>
									<string>file-label</string>
									<key>pfm_title</key>
									<string>Display Name</string>
									<key>pfm_type</key>
									<string>string</string>
									<key>pfm_value_copy</key>
									<string>static-apps.static-app.tile-data.label</string>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>The type of the tile expressed as a number.</string>
									<key>pfm_hidden</key>
									<string>all</string>
									<key>pfm_name</key>
									<string>file-type</string>
									<key>pfm_range_list</key>
									<array>
										<integer>1</integer>
									</array>
									<key>pfm_range_list_titles</key>
									<array>
										<string>File</string>
									</array>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_title</key>
									<string>Type</string>
									<key>pfm_type</key>
									<string>integer</string>
									<key>pfm_type_input</key>
									<string>string</string>
									<key>pfm_value_copy</key>
									<string>static-apps.static-app.tile-type</string>
									<key>pfm_value_processor</key>
									<string>dockTileType</string>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>Dictionary describing the target file.</string>
									<key>pfm_documentation_source</key>
									<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
									<key>pfm_hidden</key>
									<string>container</string>
									<key>pfm_name</key>
									<string>file-data</string>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_subkeys</key>
									<array>
										<dict>
											<key>pfm_description</key>
											<string>Path to the application.</string>
											<key>pfm_documentation_source</key>
											<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
											<key>pfm_name</key>
											<string>_CFURLString</string>
											<key>pfm_title</key>
											<string>Path</string>
											<key>pfm_type</key>
											<string>string</string>
										</dict>
										<dict>
											<key>pfm_description</key>
											<string>Path type. 0 = /Path/to/item, 15 = file://Path/to/item</string>
											<key>pfm_documentation_source</key>
											<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
											<key>pfm_hidden</key>
											<string>all</string>
											<key>pfm_name</key>
											<string>_CFURLStringType</string>
											<key>pfm_range_list</key>
											<array>
												<integer>0</integer>
												<integer>15</integer>
											</array>
											<key>pfm_title</key>
											<string>Path Type</string>
											<key>pfm_type</key>
											<string>integer</string>
											<key>pfm_type_input</key>
											<string>string</string>
											<key>pfm_value_copy</key>
											<string>static-apps.static-app.tile-data.file-data._CFURLString</string>
											<key>pfm_value_processor</key>
											<string>dockTilePathType</string>
											<key>pfmx_comment</key>
											<string>pfm_type_input set to string to enable pfm_value_copy to work as expected.</string>
										</dict>
									</array>
									<key>pfm_title</key>
									<string>File Data</string>
									<key>pfm_type</key>
									<string>dictionary</string>
								</dict>
							</array>
							<key>pfm_title</key>
							<string>Information</string>
							<key>pfm_type</key>
							<string>dictionary</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Static Apps</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_value_import_processor</key>
			<string>com.apple.dock.static-apps</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of items located on the Documents side of the Dock and cannot be removed from that location.</string>
			<key>pfm_name</key>
			<string>static-others</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>static-other</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_default</key>
							<string>file-tile</string>
							<key>pfm_description</key>
							<string>The type of the tile. Values may be file-tile, directory-tile, or url-tile. If you are unsure whether the file item is a file or a directory, set this key to file-tile.</string>
							<key>pfm_name</key>
							<string>tile-type</string>
							<key>pfm_range_list</key>
							<array>
								<string>file-tile</string>
								<string>directory-tile</string>
								<string>url-tile</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>File</string>
								<string>Directory</string>
								<string>URL</string>
							</array>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Type</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>Information about a dock item.</string>
							<key>pfm_hidden</key>
							<string>container</string>
							<key>pfm_name</key>
							<string>tile-data</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_default_copy</key>
									<string>static-others.static-other.tile-data.file-data._CFURLString</string>
									<key>pfm_description</key>
									<string>Label of a dock item.</string>
									<key>pfm_name</key>
									<string>label</string>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_title</key>
									<string>Label</string>
									<key>pfm_type</key>
									<string>string</string>
									<key>pfm_value_processor</key>
									<string>dockTileLabel</string>
								</dict>
								<dict>
									<key>pfm_default_copy</key>
									<string>static-others.static-other.tile-data.label</string>
									<key>pfm_description</key>
									<string>Display name in the profile GUI of a dock item.</string>
									<key>pfm_documentation_source</key>
									<string></string>
									<key>pfm_hidden</key>
									<string>all</string>
									<key>pfm_name</key>
									<string>file-label</string>
									<key>pfm_title</key>
									<string>Display Name</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>For URL tiles, the URL string.</string>
									<key>pfm_name</key>
									<string>url</string>
									<key>pfm_title</key>
									<string>URL</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
								<dict>
									<key>pfm_default_copy</key>
									<string>static-others.static-other.tile-type</string>
									<key>pfm_description</key>
									<string>The type of the tile expressed as a number.</string>
									<key>pfm_hidden</key>
									<string>all</string>
									<key>pfm_name</key>
									<string>file-type</string>
									<key>pfm_range_list</key>
									<array>
										<integer>1</integer>
										<integer>3</integer>
										<integer>2</integer>
									</array>
									<key>pfm_range_list_titles</key>
									<array>
										<string>File</string>
										<string>Directory</string>
										<string>URL</string>
									</array>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_title</key>
									<string>Type</string>
									<key>pfm_type</key>
									<string>integer</string>
									<key>pfm_type_input</key>
									<string>string</string>
									<key>pfm_value_processor</key>
									<string>dockTileType</string>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>Dictionary describing the target file.</string>
									<key>pfm_documentation_source</key>
									<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
									<key>pfm_exclude</key>
									<array>
										<dict>
											<key>pfm_target_conditions</key>
											<array>
												<dict>
													<key>pfm_n_contains_any</key>
													<array>
														<string>file-tile</string>
														<string>directory-tile</string>
													</array>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-type</string>
												</dict>
												<dict>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-data.home directory relative</string>
													<key>pfm_value_empty</key>
													<false/>
												</dict>
											</array>
										</dict>
									</array>
									<key>pfm_hidden</key>
									<string>container</string>
									<key>pfm_name</key>
									<string>file-data</string>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_subkeys</key>
									<array>
										<dict>
											<key>pfm_description</key>
											<string>Path to the file.</string>
											<key>pfm_documentation_source</key>
											<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
											<key>pfm_name</key>
											<string>_CFURLString</string>
											<key>pfm_title</key>
											<string>Path</string>
											<key>pfm_type</key>
											<string>string</string>
										</dict>
										<dict>
											<key>pfm_description</key>
											<string>Path type. 0 = /Path/to/item, 15 = file://Path/to/item</string>
											<key>pfm_documentation_source</key>
											<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
											<key>pfm_hidden</key>
											<string>all</string>
											<key>pfm_name</key>
											<string>_CFURLStringType</string>
											<key>pfm_range_list</key>
											<array>
												<integer>0</integer>
												<integer>15</integer>
											</array>
											<key>pfm_title</key>
											<string>Path Type</string>
											<key>pfm_type</key>
											<string>integer</string>
											<key>pfm_type_input</key>
											<string>string</string>
											<key>pfm_value_copy</key>
											<string>static-others.static-other.tile-data.file-data._CFURLString</string>
											<key>pfm_value_processor</key>
											<string>dockTilePathType</string>
											<key>pfmx_comment</key>
											<string>pfm_type_input set to string to enable pfm_value_copy to work as expected.</string>
										</dict>
									</array>
									<key>pfm_title</key>
									<string>File Data</string>
									<key>pfm_type</key>
									<string>dictionary</string>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>Dictionary describing the target url.</string>
									<key>pfm_documentation_source</key>
									<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
									<key>pfm_exclude</key>
									<array>
										<dict>
											<key>pfm_target_conditions</key>
											<array>
												<dict>
													<key>pfm_n_range_list</key>
													<array>
														<string>url-tile</string>
													</array>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-type</string>
												</dict>
											</array>
										</dict>
									</array>
									<key>pfm_hidden</key>
									<string>container</string>
									<key>pfm_name</key>
									<string>url</string>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_subkeys</key>
									<array>
										<dict>
											<key>pfm_description</key>
											<string>The URL.</string>
											<key>pfm_documentation_source</key>
											<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
											<key>pfm_name</key>
											<string>_CFURLString</string>
											<key>pfm_title</key>
											<string>URL</string>
											<key>pfm_type</key>
											<string>string</string>
										</dict>
										<dict>
											<key>pfm_description</key>
											<string>URL type. 0 = /Path/to/item, 15 = file://Path/to/item</string>
											<key>pfm_documentation_source</key>
											<string>/System/Library/PrivateFrameworks/ConfigurationEngineModel.framework/Versions/A/ConfigurationEngineModel</string>
											<key>pfm_hidden</key>
											<string>all</string>
											<key>pfm_name</key>
											<string>_CFURLStringType</string>
											<key>pfm_range_list</key>
											<array>
												<integer>0</integer>
												<integer>15</integer>
											</array>
											<key>pfm_title</key>
											<string>URL Type</string>
											<key>pfm_type</key>
											<string>integer</string>
											<key>pfm_type_input</key>
											<string>string</string>
											<key>pfm_value_copy</key>
											<string>static-others.static-other.tile-data.url._CFURLString</string>
											<key>pfm_value_processor</key>
											<string>dockTilePathType</string>
											<key>pfmx_comment</key>
											<string>pfm_type_input set to string to enable pfm_value_copy to work as expected.</string>
										</dict>
									</array>
									<key>pfm_title</key>
									<string>URL Data</string>
									<key>pfm_type</key>
									<string>dictionary</string>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>Path to item relative to the current user's home directory.</string>
									<key>pfm_documentation_source</key>
									<string></string>
									<key>pfm_exclude</key>
									<array>
										<dict>
											<key>pfm_target_conditions</key>
											<array>
												<dict>
													<key>pfm_n_range_list</key>
													<array>
														<string>directory-tile</string>
													</array>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-type</string>
												</dict>
												<dict>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-data.file-data._CFURLString</string>
													<key>pfm_value_empty</key>
													<false/>
												</dict>
											</array>
										</dict>
									</array>
									<key>pfm_name</key>
									<string>home directory relative</string>
									<key>pfm_title</key>
									<string>Home Directory Relative</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
								<dict>
									<key>pfm_default</key>
									<integer>1</integer>
									<key>pfm_description</key>
									<string>Arrangement (sorting) of the directory contents.</string>
									<key>pfm_documentation_source</key>
									<string></string>
									<key>pfm_exclude</key>
									<array>
										<dict>
											<key>pfm_target_conditions</key>
											<array>
												<dict>
													<key>pfm_n_range_list</key>
													<array>
														<string>directory-tile</string>
													</array>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-type</string>
												</dict>
											</array>
										</dict>
									</array>
									<key>pfm_name</key>
									<string>arrangement</string>
									<key>pfm_range_list</key>
									<array>
										<integer>1</integer>
										<integer>2</integer>
										<integer>3</integer>
										<integer>4</integer>
										<integer>5</integer>
									</array>
									<key>pfm_range_list_titles</key>
									<array>
										<string>Name</string>
										<string>Date Added</string>
										<string>Date Modified</string>
										<string>Date Created</string>
										<string>Kind</string>
									</array>
									<key>pfm_title</key>
									<string>Arrangement</string>
									<key>pfm_type</key>
									<string>integer</string>
								</dict>
								<dict>
									<key>pfm_default</key>
									<integer>2</integer>
									<key>pfm_description</key>
									<string>Display directory as either a Folder or a Stack.</string>
									<key>pfm_documentation_source</key>
									<string></string>
									<key>pfm_exclude</key>
									<array>
										<dict>
											<key>pfm_target_conditions</key>
											<array>
												<dict>
													<key>pfm_n_range_list</key>
													<array>
														<string>directory-tile</string>
													</array>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-type</string>
												</dict>
											</array>
										</dict>
									</array>
									<key>pfm_name</key>
									<string>displayas</string>
									<key>pfm_range_list</key>
									<array>
										<integer>1</integer>
										<integer>2</integer>
									</array>
									<key>pfm_range_list_titles</key>
									<array>
										<string>Folder</string>
										<string>Stack</string>
									</array>
									<key>pfm_title</key>
									<string>Display As</string>
									<key>pfm_type</key>
									<string>integer</string>
								</dict>
								<dict>
									<key>pfm_default</key>
									<integer>4</integer>
									<key>pfm_description</key>
									<string>How to show directory contents.</string>
									<key>pfm_documentation_source</key>
									<string></string>
									<key>pfm_exclude</key>
									<array>
										<dict>
											<key>pfm_target_conditions</key>
											<array>
												<dict>
													<key>pfm_n_range_list</key>
													<array>
														<string>directory-tile</string>
													</array>
													<key>pfm_target</key>
													<string>static-others.static-other.tile-type</string>
												</dict>
											</array>
										</dict>
									</array>
									<key>pfm_name</key>
									<string>showas</string>
									<key>pfm_range_list</key>
									<array>
										<integer>1</integer>
										<integer>2</integer>
										<integer>3</integer>
										<integer>4</integer>
									</array>
									<key>pfm_range_list_titles</key>
									<array>
										<string>Fan</string>
										<string>Grid</string>
										<string>List</string>
										<string>Automatic</string>
									</array>
									<key>pfm_title</key>
									<string>Show As</string>
									<key>pfm_type</key>
									<string>integer</string>
								</dict>
							</array>
							<key>pfm_title</key>
							<string>Information</string>
							<key>pfm_type</key>
							<string>dictionary</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Static Other</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Static Others</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_value_import_processor</key>
			<string>com.apple.dock.static-others</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>64</integer>
			<key>pfm_description</key>
			<string>The tile size. Values must be in the range from 16 to 128.</string>
			<key>pfm_name</key>
			<string>tilesize</string>
			<key>pfm_range_max</key>
			<integer>128</integer>
			<key>pfm_range_min</key>
			<integer>16</integer>
			<key>pfm_title</key>
			<string>Size</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', locks the size slider.</string>
			<key>pfm_name</key>
			<string>size-immutable</string>
			<key>pfm_title</key>
			<string>Size slider disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables magnification.</string>
			<key>pfm_name</key>
			<string>magnification</string>
			<key>pfm_title</key>
			<string>Enable magnification</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', locks magnification.</string>
			<key>pfm_name</key>
			<string>magnify-immutable</string>
			<key>pfm_title</key>
			<string>Enable magnification checkbox disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>128</integer>
			<key>pfm_description</key>
			<string>The size of the largest magnification.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>magnification</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>largesize</string>
			<key>pfm_range_max</key>
			<integer>128</integer>
			<key>pfm_range_min</key>
			<integer>16</integer>
			<key>pfm_title</key>
			<string>Magnification</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', locks the magnification slider.</string>
			<key>pfm_name</key>
			<string>magsize-immutable</string>
			<key>pfm_title</key>
			<string>Magnification slider disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The orientation of the dock.</string>
			<key>pfm_name</key>
			<string>orientation</string>
			<key>pfm_range_list</key>
			<array>
				<string>left</string>
				<string>bottom</string>
				<string>right</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Left</string>
				<string>Bottom</string>
				<string>Right</string>
			</array>
			<key>pfm_title</key>
			<string>Position on screen</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', locks the position.</string>
			<key>pfm_name</key>
			<string>position-immutable</string>
			<key>pfm_title</key>
			<string>Position on screen buttons disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>genie</string>
			<key>pfm_description</key>
			<string>The minimize effect.</string>
			<key>pfm_name</key>
			<string>mineffect</string>
			<key>pfm_range_list</key>
			<array>
				<string>Genie Effect</string>
				<string>Scale Effect</string>
			</array>
			<key>pfm_title</key>
			<string>Minimize window effect</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', locks 'Minimize windows using.'</string>
			<key>pfm_name</key>
			<string>mineffect-immutable</string>
			<key>pfm_title</key>
			<string>Minimize window effect button disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables 'Minimize windows into application icon.'</string>
			<key>pfm_name</key>
			<string>minimize-to-application</string>
			<key>pfm_title</key>
			<string>Minimize windows into application icon</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', disables the 'Minimize windows into application icon' checkbox.</string>
			<key>pfm_name</key>
			<string>minintoapp-immutable</string>
			<key>pfm_title</key>
			<string>Minimize windows into application icon Checkbox Disable</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.14</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'true', enables 'Animate opening applications.'</string>
			<key>pfm_name</key>
			<string>launchanim</string>
			<key>pfm_title</key>
			<string>Animate opening applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', locks 'Animate opening applications.'</string>
			<key>pfm_name</key>
			<string>launchanim-immutable</string>
			<key>pfm_title</key>
			<string>Animate opening applications checkbox disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables 'Automatically hide and show the dock.'</string>
			<key>pfm_name</key>
			<string>autohide</string>
			<key>pfm_title</key>
			<string>Automatically hide and show the Dock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', locks 'Automatically hide.'</string>
			<key>pfm_name</key>
			<string>autohide-immutable</string>
			<key>pfm_title</key>
			<string>Automatically hide and show the Dock checkbox disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If true, shows the process indicator.</string>
			<key>pfm_name</key>
			<string>show-process-indicators</string>
			<key>pfm_title</key>
			<string>Show indicators for open applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'true', enables 'Show recent items.'</string>
			<key>pfm_macos_min</key>
			<string>10.14</string>
			<key>pfm_name</key>
			<string>show-recents</string>
			<key>pfm_title</key>
			<string>Show recent applications in Dock</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.14</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', uses the 'static-apps' and 'static-others' dictionaries for the dock and ignores any items in the 'persistent-apps' and 'persistent-others' dictionaries. If 'false', the contents are merged with the static items listed first.</string>
			<key>pfm_name</key>
			<string>static-only</string>
			<key>pfm_title</key>
			<string>Remove non-static apps and documents from Dock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', disables changes to the dock.</string>
			<key>pfm_name</key>
			<string>contents-immutable</string>
			<key>pfm_title</key>
			<string>Prevent modifying items in Dock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', use the file in '/Library/Preferences/com.apple.dockfixup.plist' when a new user or migrated user logs in. This option has no effect for existing users. Available in macOS 10.12 and later. Only available on the device channel.</string>
			<key>pfm_macos_min</key>
			<string>10.12</string>
			<key>pfm_name</key>
			<string>AllowDockFixupOverride</string>
			<key>pfm_title</key>
			<string>Allow DockFixup override</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.12</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>One or more special folders that may be created at user login time and placed in the dock.

The 'My Applications' item is only used for Simple Finder environments. The 'Original Network Home' item is only used for mobile account users.</string>
			<key>pfm_name</key>
			<string>MCXDockSpecialFolders</string>
			<key>pfm_repetition_max</key>
			<integer>3</integer>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>Flag for the folder to be added by Managed Client.</string>
					<key>pfm_name</key>
					<string>mcxfolderflag</string>
					<key>pfm_range_list</key>
					<array>
						<string>AddDockMCXMyApplicationsFolder</string>
						<string>AddDockMCXDocumentsFolder</string>
						<string>AddDockMCXSharedFolder</string>
						<string>AddDockMCXOriginalNetworkHomeFolder</string>
					</array>
					<key>pfm_range_list_titles</key>
					<array>
						<string>My apps</string>
						<string>Documents</string>
						<string>Shared Items</string>
						<string>Network home</string>
					</array>
					<key>pfm_title</key>
					<string>Folder Flag</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Managed Client Special Folders</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_type_input</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Action to be taken when the pointer enters the top left corner of the screen</string>
			<key>pfm_name</key>
			<string>wvous-tl-corner</string>
			<key>pfm_range_list</key>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>12</integer>
				<integer>11</integer>
				<integer>14</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>0</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Start Screen Saver</string>
				<string>Disable Screen Saver</string>
				<string>Mission Control</string>
				<string>Application Windows</string>
				<string>Desktop</string>
				<string>Dashboard (removed from macOS 10.15)</string>
				<string>Notification Center</string>
				<string>Launchpad</string>
				<string>Quick Note (introduced on macOS 12.0)</string>
				<string>Put Display to Sleep</string>
				<string>Lock Screen</string>
				<string>No Action</string>
			</array>
			<key>pfm_title</key>
			<string>Top Left Hot Corner Action</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Modifier keys required to activate the top left hot corner</string>
			<key>pfm_name</key>
			<string>wvous-tl-modifier</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1048576</integer>
				<integer>1572864</integer>
				<integer>1835008</integer>
				<integer>1966080</integer>
				<integer>1703936</integer>
				<integer>1310720</integer>
				<integer>1441792</integer>
				<integer>1179648</integer>
				<integer>524288</integer>
				<integer>786432</integer>
				<integer>917504</integer>
				<integer>655360</integer>
				<integer>262144</integer>
				<integer>393216</integer>
				<integer>131072</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>None</string>
				<string>Command</string>
				<string>Command+Option</string>
				<string>Command+Option+Control</string>
				<string>Command+Option+Control+Shift</string>
				<string>Command+Option+Shift</string>
				<string>Command+Control</string>
				<string>Command+Control+Shift</string>
				<string>Command+Shift</string>
				<string>Option</string>
				<string>Option+Control</string>
				<string>Option+Control+Shift</string>
				<string>Option+Shift</string>
				<string>Control</string>
				<string>Control+Shift</string>
				<string>Shift</string>
			</array>
			<key>pfm_title</key>
			<string>Top Left Hot Corner Modifier</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Action to be taken when the pointer enters the top right corner of the screen</string>
			<key>pfm_name</key>
			<string>wvous-tr-corner</string>
			<key>pfm_range_list</key>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>12</integer>
				<integer>11</integer>
				<integer>14</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>0</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Start Screen Saver</string>
				<string>Disable Screen Saver</string>
				<string>Mission Control</string>
				<string>Application Windows</string>
				<string>Desktop</string>
				<string>Dashboard (removed from macOS 10.15)</string>
				<string>Notification Center</string>
				<string>Launchpad</string>
				<string>Quick Note (introduced on macOS 12.0)</string>
				<string>Put Display to Sleep</string>
				<string>Lock Screen</string>
				<string>No Action</string>
			</array>
			<key>pfm_title</key>
			<string>Top Right Hot Corner Action</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Modifier keys required to activate the top right hot corner</string>
			<key>pfm_name</key>
			<string>wvous-tr-modifier</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1048576</integer>
				<integer>1572864</integer>
				<integer>1835008</integer>
				<integer>1966080</integer>
				<integer>1703936</integer>
				<integer>1310720</integer>
				<integer>1441792</integer>
				<integer>1179648</integer>
				<integer>524288</integer>
				<integer>786432</integer>
				<integer>917504</integer>
				<integer>655360</integer>
				<integer>262144</integer>
				<integer>393216</integer>
				<integer>131072</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>None</string>
				<string>Command</string>
				<string>Command+Option</string>
				<string>Command+Option+Control</string>
				<string>Command+Option+Control+Shift</string>
				<string>Command+Option+Shift</string>
				<string>Command+Control</string>
				<string>Command+Control+Shift</string>
				<string>Command+Shift</string>
				<string>Option</string>
				<string>Option+Control</string>
				<string>Option+Control+Shift</string>
				<string>Option+Shift</string>
				<string>Control</string>
				<string>Control+Shift</string>
				<string>Shift</string>
			</array>
			<key>pfm_title</key>
			<string>Top Right Hot Corner Modifier</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Action to be taken when the pointer enters the bottom left corner of the screen</string>
			<key>pfm_name</key>
			<string>wvous-bl-corner</string>
			<key>pfm_range_list</key>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>12</integer>
				<integer>11</integer>
				<integer>14</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>0</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Start Screen Saver</string>
				<string>Disable Screen Saver</string>
				<string>Mission Control</string>
				<string>Application Windows</string>
				<string>Desktop</string>
				<string>Dashboard (removed from macOS 10.15)</string>
				<string>Notification Center</string>
				<string>Launchpad</string>
				<string>Quick Note (introduced on macOS 12.0)</string>
				<string>Put Display to Sleep</string>
				<string>Lock Screen</string>
				<string>No Action</string>
			</array>
			<key>pfm_title</key>
			<string>Bottom Left Hot Corner Action</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Modifier keys required to activate the bottom left hot corner</string>
			<key>pfm_name</key>
			<string>wvous-bl-modifier</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1048576</integer>
				<integer>1572864</integer>
				<integer>1835008</integer>
				<integer>1966080</integer>
				<integer>1703936</integer>
				<integer>1310720</integer>
				<integer>1441792</integer>
				<integer>1179648</integer>
				<integer>524288</integer>
				<integer>786432</integer>
				<integer>917504</integer>
				<integer>655360</integer>
				<integer>262144</integer>
				<integer>393216</integer>
				<integer>131072</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>None</string>
				<string>Command</string>
				<string>Command+Option</string>
				<string>Command+Option+Control</string>
				<string>Command+Option+Control+Shift</string>
				<string>Command+Option+Shift</string>
				<string>Command+Control</string>
				<string>Command+Control+Shift</string>
				<string>Command+Shift</string>
				<string>Option</string>
				<string>Option+Control</string>
				<string>Option+Control+Shift</string>
				<string>Option+Shift</string>
				<string>Control</string>
				<string>Control+Shift</string>
				<string>Shift</string>
			</array>
			<key>pfm_title</key>
			<string>Bottom Left Hot Corner Modifier</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Action to be taken when the pointer enters the bottom right corner of the screen</string>
			<key>pfm_name</key>
			<string>wvous-br-corner</string>
			<key>pfm_range_list</key>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>12</integer>
				<integer>11</integer>
				<integer>14</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>0</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Start Screen Saver</string>
				<string>Disable Screen Saver</string>
				<string>Mission Control</string>
				<string>Application Windows</string>
				<string>Desktop</string>
				<string>Dashboard (removed from macOS 10.15)</string>
				<string>Notification Center</string>
				<string>Launchpad</string>
				<string>Quick Note (introduced on macOS 12.0)</string>
				<string>Put Display to Sleep</string>
				<string>Lock Screen</string>
				<string>No Action</string>
			</array>
			<key>pfm_title</key>
			<string>Bottom Right Hot Corner Action</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Modifier keys required to activate the bottom right hot corner</string>
			<key>pfm_name</key>
			<string>wvous-br-modifier</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1048576</integer>
				<integer>1572864</integer>
				<integer>1835008</integer>
				<integer>1966080</integer>
				<integer>1703936</integer>
				<integer>1310720</integer>
				<integer>1441792</integer>
				<integer>1179648</integer>
				<integer>524288</integer>
				<integer>786432</integer>
				<integer>917504</integer>
				<integer>655360</integer>
				<integer>262144</integer>
				<integer>393216</integer>
				<integer>131072</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>None</string>
				<string>Command</string>
				<string>Command+Option</string>
				<string>Command+Option+Control</string>
				<string>Command+Option+Control+Shift</string>
				<string>Command+Option+Shift</string>
				<string>Command+Control</string>
				<string>Command+Control+Shift</string>
				<string>Command+Shift</string>
				<string>Option</string>
				<string>Option+Control</string>
				<string>Option+Control+Shift</string>
				<string>Option+Shift</string>
				<string>Control</string>
				<string>Control+Shift</string>
				<string>Shift</string>
			</array>
			<key>pfm_title</key>
			<string>Bottom Right Hot Corner Modifier</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Dock</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>6</integer>
	<key>pfmx_supported_oses</key>
	<dict>
		<key>macOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_device_channel</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>10.7</string>
			<key>pfmx_multiple</key>
			<false/>
			<key>pfmx_requires_dep</key>
			<false/>
			<key>pfmx_user_approved_mdm</key>
			<false/>
			<key>pfmx_user_channel</key>
			<true/>
			<key>pfmx_user_enrollment</key>
			<dict>
				<key>pfmx_mode</key>
				<string>forbidden</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
