<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define Domains settings.</string>
	<key>pfm_description_reference</key>
	<string>This payload defines domains that are under an enterpriseʼs management. This payload is designated by the com.apple.domains PayloadType value.</string>
	<key>pfm_domain</key>
	<string>com.apple.domains</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_ios_min</key>
	<string>8.0</string>
	<key>pfm_last_modified</key>
	<date>2024-09-03T15:13:17Z</date>
	<key>pfm_macos_min</key>
	<string>10.10</string>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Use this section to define Domains settings.</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Domains</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.domains</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.domains</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of domains. The system considers email addresses that lack a suffix matching any of these strings out of domain and marked in Mail.
Available in iOS 8 and later and macOS 10.10 and later.</string>
			<key>pfm_name</key>
			<string>EmailDomains</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>An email address.</string>
					<key>pfm_name</key>
					<string>EmailDomainsItem</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_title</key>
					<string>Domain</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>example.com</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Unmarked Email Domains</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of domains. The system considers URLs matching the patterns listed in this property managed.
Available in iOS 9.3 and later.</string>
			<key>pfm_description_extended</key>
			<string>Any email address that does not have a suffix that matches one of the unmarked email domains specified by the key EmailDomains will be considered out-of-domain and will be highlighted as such in the Mail app.</string>
			<key>pfm_ios_min</key>
			<string>9.3</string>
			<key>pfm_name</key>
			<string>WebDomains</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>WebDomainsItem</string>
					<key>pfm_title</key>
					<string>Domain</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>example.com</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Managed Safari Web Domains</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of domains. Users can only save passwords in Safari from URLs matching the patterns listed here. This property doesn't disable the autofill feature itself.
Supervised devices or Shared iPads need this property to enable saving passwords in Safari.
Available in iOS 9.3 and later.</string>
			<key>pfm_description_extended</key>
			<string>Opening a document originating from a managed Safari web domain causes iOS to treat the document as managed for the purpose of Managed Open In.
				
				The WebDomains and SafariPasswordAutoFillDomains arrays may contain strings using any of the following matching patterns:

apple.com			Any path under apple.com matches, but not site.apple.com/.
foo.apple.com		Any path under foo.apple.com matches, but not apple.com/ or bar.apple.com/.
*.apple.com			Any path under foo.apple.com or bar.apple.com matches, but not apple.com.
apple.com/sub		apple.com/sub and any path under it matches, but not apple.com/.
foo.apple.com/sub	Any path under foo.apple.com/sub matches, but not apple.com, apple.com/sub, foo.apple.com/, or bar.apple.com/sub.
*.apple.com/sub		Any path under foo.apple.com/sub or bar.apple.com/sub matches, but not apple.com or foo.apple.com/.
*.co				Any path under apple.co or beats.co matches, but not apple.co.uk or apple.com.

A URL that begins with the prefix www. is treated as though it did not contain that prefix during matching. For example, http://www.apple.com/store will be matched as http://apple.com/store.
Trailing slashes will be ignored.
If a ManagedWebDomain string entry contains a port number, only addresses that specify that port number will be considered managed. Otherwise, the domain will be matched without regard to the port number specified. For example, the pattern *.apple.com:8080 will match http://site.apple.com:8080/page.html but not http://site.apple.com/page.html, while the pattern *.apple.com will match both URLs.
Managed Safari Web Domain definitions are cumulative. Patterns defined by all Managed Web Domains payloads will be used to match a URL request.
SafariPasswordAutoFillDomains definitions are cumulative. Patterns defined by all SafariPasswordAutoFillDomains payloads will be used to determine if passwords can be stored for a given URL.</string>
			<key>pfm_ios_min</key>
			<string>9.3</string>
			<key>pfm_name</key>
			<string>SafariPasswordAutoFillDomains</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>SafariPasswordAutoFillDomainsItem</string>
					<key>pfm_title</key>
					<string>Domain</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>example.com</string>
				</dict>
			</array>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Safari Password Domains</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of up to 10 strings. URLs matching the patterns listed here have relaxed enforcement of cross-site tracking prevention.
Available in iOS 16.2 and later and macOS 13.1 and later.</string>
			<key>pfm_description_extended</key>
			<string>As a result, organizations can leave Cross-Site Tracking Prevention turned on and benefit from tracking prevention for general browsing but also allow select domains to give third-party embedded resources the ability to use cookies. This is useful, for example, in education, where learning management systems embed content like videos or images stored by third parties, or learning tools (LTI tools) offered by third parties and presented in iFrames.</string>
			<key>pfm_ios_min</key>
			<string>16.2</string>
			<key>pfm_macos_min</key>
			<string>13.1</string>
			<key>pfm_name</key>
			<string>CrossSiteTrackingPreventionRelaxedDomains</string>
			<key>pfm_note</key>
			<string>A maximum of 10 URLs is supported</string>
			<key>pfm_repetition_max</key>
			<integer>10</integer>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>CrossSiteTrackingPreventionRelaxedDomainItem</string>
					<key>pfm_title</key>
					<string>Domain</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>example.com</string>
				</dict>
			</array>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Safari Relaxed Cross Site Tracking Domains</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Domains</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>2</integer>
</dict>
</plist>
