<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define settings for configuration access to SCEP servers.</string>
	<key>pfm_domain</key>
	<string>com.apple.security.scep</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2024-03-01T15:25:39Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
		<string>tvOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures SCEP settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>SCEP</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.security.scep</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.security.scep</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of payload dictionaries. This array isn't present if 'IsEncrypted' is 'true'.</string>
			<key>pfm_name</key>
			<string>PayloadContent</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>The SCEP URL. See Over-the-Air Profile Delivery and Configuration for more information about SCEP.</string>
					<key>pfm_name</key>
					<string>URL</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_title</key>
					<string>URL</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfmx_supported_oses</key>
					<dict>
						<key>macOS</key>
						<dict>
							<key>pfmx_introduced</key>
							<string>10.7</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>A string that's understood by the SCEP server; for example, a domain name like example.org. If a certificate authority has multiple CA certificates, this field can be used to distinguish which is required.</string>
					<key>pfm_name</key>
					<string>Name</string>
					<key>pfm_title</key>
					<string>Name</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>The representation of an X.500 name as an array of OID and value.
For example, '/C=US/O=Apple Inc./CN=foo/1.2.5.3=bar' translates to '[ [ [“C”, “US”] ], [ [“O”, “Apple Inc.'] ], …, [ [ “1.2.5.3”, “bar” ] ] ]'.

OIDs can be represented as dotted numbers, with shortcuts for country (C), locality (L), state (ST), organization (O), organizational unit (OU), and common name (CN).</string>
					<key>pfm_format</key>
					<string>(,?[^=,]+=[^=,]+(,|$))</string>
					<key>pfm_name</key>
					<string>Subject</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>This array holds another array which holds an OID value pair</string>
							<key>pfm_name</key>
							<string>SCEPSubjectArrayInnerArray</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_description</key>
									<string>An array representing an OID and value pair.</string>
									<key>pfm_name</key>
									<string>SCEPSubjectArrayPair</string>
									<key>pfm_subkeys</key>
									<array>
										<dict>
											<key>pfm_description</key>
											<string>One item in the array representing a pair of OID and value</string>
											<key>pfm_name</key>
											<string>SCEPSubjectArrayPairItem</string>
											<key>pfm_repetition_max</key>
											<integer>2</integer>
											<key>pfm_repetition_min</key>
											<integer>2</integer>
											<key>pfm_title</key>
											<string>SCEP Subject Array Pair Item</string>
											<key>pfm_type</key>
											<string>string</string>
										</dict>
									</array>
									<key>pfm_title</key>
									<string>Subject Array Pair</string>
									<key>pfm_type</key>
									<string>array</string>
								</dict>
							</array>
							<key>pfm_title</key>
							<string>Array Inside SCEP Subject Array</string>
							<key>pfm_type</key>
							<string>array</string>
						</dict>
					</array>
					<key>pfm_substitution_variables</key>
					<dict>
						<key>%AD_ComputerID%</key>
						<dict>
							<key>pfm_description</key>
							<string>Active Directory computer ID.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string></string>
						</dict>
						<key>%AD_Domain%</key>
						<dict>
							<key>pfm_description</key>
							<string>Active Directory domain.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string></string>
						</dict>
						<key>%AD_DomainForestName%</key>
						<dict>
							<key>pfm_description</key>
							<string>Active Directory forest name.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string></string>
						</dict>
						<key>%AD_DomainGuid%</key>
						<dict>
							<key>pfm_description</key>
							<string>Active Directory GUID.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string>20405B46-877F-4274-ADB8-A1FCAA765998</string>
						</dict>
						<key>%AD_DomainNameDNS%</key>
						<dict>
							<key>pfm_description</key>
							<string>Active Directory DNS Name.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string></string>
						</dict>
						<key>%AD_KerberosID%</key>
						<dict>
							<key>pfm_description</key>
							<string>Active Directory Kerberos ID.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string></string>
						</dict>
						<key>%ComputerName%</key>
						<dict>
							<key>pfm_description</key>
							<string>The computer's name, as set in System Preferences &gt; Sharing.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string>ProfileCreator's MacBook Pro</string>
						</dict>
						<key>%HardwareUUID%</key>
						<dict>
							<key>pfm_description</key>
							<string>The computer's unique identifier.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string>7CD8DFF1-70B5-403D-81C2-A41A5F29CFF9</string>
						</dict>
						<key>%HostName%</key>
						<dict>
							<key>pfm_description</key>
							<string>The computer's DNS name, such as mac1.example.com.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string>ProfileCreators-MBP.domain.com</string>
						</dict>
						<key>%LocalHostName%</key>
						<dict>
							<key>pfm_description</key>
							<string>The computer's local network name, such as Mac1.local.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string>ProfileCreators-MacBook-Pro</string>
						</dict>
						<key>%MACAddress%</key>
						<dict>
							<key>pfm_description</key>
							<string>The computer's Ethernet (en0) MAC address.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string>a1:b2:c3:d4:e5:f6</string>
						</dict>
						<key>%SerialNumber%</key>
						<dict>
							<key>pfm_description</key>
							<string>The computer's serial number.</string>
							<key>pfm_substitution_source</key>
							<string>local</string>
							<key>pfm_value_placeholder</key>
							<string>C02LZ9Q1CC55</string>
						</dict>
					</dict>
					<key>pfm_title</key>
					<string>Subject</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>O=ProfileCreator,CN=ProfileCreator Identity &lt;UUID&gt;</string>
					<key>pfm_value_processor</key>
					<string>x5002subjectArray</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>A preshared secret.</string>
					<key>pfm_name</key>
					<string>Challenge</string>
					<key>pfm_title</key>
					<string>Challenge</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_default</key>
					<integer>1024</integer>
					<key>pfm_description</key>
					<string>The key size, in bits.</string>
					<key>pfm_name</key>
					<string>Keysize</string>
					<key>pfm_range_list</key>
					<array>
						<integer>1024</integer>
						<integer>2048</integer>
					</array>
					<key>pfm_title</key>
					<string>Key Size</string>
					<key>pfm_type</key>
					<string>integer</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>The fingerprint of the Certificate Authority certificate.</string>
					<key>pfm_name</key>
					<string>CAFingerprint</string>
					<key>pfm_title</key>
					<string>Fingerprint</string>
					<key>pfm_type</key>
					<string>data</string>
					<key>pfm_type_input</key>
					<string>string</string>
					<key>pfm_value_processor</key>
					<string>hex2data</string>
				</dict>
				<dict>
					<key>pfm_default</key>
					<string>RSA</string>
					<key>pfm_description</key>
					<string>Always 'RSA'.</string>
					<key>pfm_name</key>
					<string>Key Type</string>
					<key>pfm_range_list</key>
					<array>
						<string>RSA</string>
					</array>
					<key>pfm_title</key>
					<string>Key Type</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_default</key>
					<integer>0</integer>
					<key>pfm_description</key>
					<string>A bitmask indicating the use of the key.

* 1: Signing
* 4: Encryption

Some certificate authorities, such as Windows CA, support only encryption or signing, but not both at the same time.</string>
					<key>pfm_ios_min</key>
					<string>4.0</string>
					<key>pfm_name</key>
					<string>Key Usage</string>
					<key>pfm_range_list</key>
					<array>
						<integer>0</integer>
						<integer>1</integer>
						<integer>4</integer>
						<integer>5</integer>
					</array>
					<key>pfm_range_list_titles</key>
					<array>
						<string>None</string>
						<string>Signing</string>
						<string>Encryption</string>
						<string>Both signing and encryption</string>
					</array>
					<key>pfm_title</key>
					<string>Key Usage</string>
					<key>pfm_type</key>
					<string>integer</string>
					<key>pfmx_supported_oses</key>
					<dict>
						<key>macOS</key>
						<dict>
							<key>pfmx_introduced</key>
							<string>10.11</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>pfm_default</key>
					<true/>
					<key>pfm_description</key>
					<string>If 'false', disables exporting the private key from the keychain.</string>
					<key>pfm_macos_min</key>
					<string>10.15</string>
					<key>pfm_name</key>
					<string>KeyIsExtractable</string>
					<key>pfm_title</key>
					<string>Key is Extractable</string>
					<key>pfm_type</key>
					<string>boolean</string>
					<key>pfmx_supported_oses</key>
					<dict>
						<key>macOS</key>
						<dict>
							<key>pfmx_introduced</key>
							<string>10.13.4</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>The SCEP payload can specify an optional 'SubjectAltName' dictionary that provides values required by the CA for issuing a certificate. You can specify a single string or an array of strings for each key. The values you specify depend on the CA you're using, but might include DNS name, URL, or email values. For an example, see Sample Configuration Profile or Over-the-Air Profile Delivery and Configuration.</string>
					<key>pfm_name</key>
					<string>SubjectAltName</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>The RFC 822 (email address) string.</string>
							<key>pfm_name</key>
							<string>rfc822Name</string>
							<key>pfm_substitution_variables</key>
							<dict>
								<key>%AD_ComputerID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory computer ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_Domain%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory domain.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainForestName%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory forest name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainGuid%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory GUID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>20405B46-877F-4274-ADB8-A1FCAA765998</string>
								</dict>
								<key>%AD_DomainNameDNS%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory DNS Name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_KerberosID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory Kerberos ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%ComputerName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's name, as set in System Preferences &gt; Sharing.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreator's MacBook Pro</string>
								</dict>
								<key>%HardwareUUID%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's unique identifier.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>7CD8DFF1-70B5-403D-81C2-A41A5F29CFF9</string>
								</dict>
								<key>%HostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's DNS name, such as mac1.example.com.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MBP.domain.com</string>
								</dict>
								<key>%LocalHostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's local network name, such as Mac1.local.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MacBook-Pro</string>
								</dict>
								<key>%MACAddress%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's Ethernet (en0) MAC address.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>a1:b2:c3:d4:e5:f6</string>
								</dict>
								<key>%SerialNumber%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's serial number.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>C02LZ9Q1CC55</string>
								</dict>
							</dict>
							<key>pfm_title</key>
							<string>RFC 822 Name</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The DNS name.</string>
							<key>pfm_name</key>
							<string>dNSName</string>
							<key>pfm_substitution_variables</key>
							<dict>
								<key>%AD_ComputerID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory computer ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_Domain%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory domain.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainForestName%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory forest name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainGuid%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory GUID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>20405B46-877F-4274-ADB8-A1FCAA765998</string>
								</dict>
								<key>%AD_DomainNameDNS%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory DNS Name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_KerberosID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory Kerberos ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%ComputerName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's name, as set in System Preferences &gt; Sharing.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreator's MacBook Pro</string>
								</dict>
								<key>%HardwareUUID%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's unique identifier.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>7CD8DFF1-70B5-403D-81C2-A41A5F29CFF9</string>
								</dict>
								<key>%HostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's DNS name, such as mac1.example.com.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MBP.domain.com</string>
								</dict>
								<key>%LocalHostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's local network name, such as Mac1.local.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MacBook-Pro</string>
								</dict>
								<key>%MACAddress%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's Ethernet (en0) MAC address.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>a1:b2:c3:d4:e5:f6</string>
								</dict>
								<key>%SerialNumber%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's serial number.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>C02LZ9Q1CC55</string>
								</dict>
							</dict>
							<key>pfm_title</key>
							<string>DNS Name</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The Uniform Resource Identifier.</string>
							<key>pfm_name</key>
							<string>uniformResourceIdentifier</string>
							<key>pfm_substitution_variables</key>
							<dict>
								<key>%AD_ComputerID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory computer ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_Domain%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory domain.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainForestName%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory forest name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainGuid%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory GUID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>20405B46-877F-4274-ADB8-A1FCAA765998</string>
								</dict>
								<key>%AD_DomainNameDNS%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory DNS Name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_KerberosID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory Kerberos ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%ComputerName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's name, as set in System Preferences &gt; Sharing.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreator's MacBook Pro</string>
								</dict>
								<key>%HardwareUUID%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's unique identifier.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>7CD8DFF1-70B5-403D-81C2-A41A5F29CFF9</string>
								</dict>
								<key>%HostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's DNS name, such as mac1.example.com.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MBP.domain.com</string>
								</dict>
								<key>%LocalHostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's local network name, such as Mac1.local.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MacBook-Pro</string>
								</dict>
								<key>%MACAddress%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's Ethernet (en0) MAC address.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>a1:b2:c3:d4:e5:f6</string>
								</dict>
								<key>%SerialNumber%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's serial number.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>C02LZ9Q1CC55</string>
								</dict>
							</dict>
							<key>pfm_title</key>
							<string>URI</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The NT principal name.</string>
							<key>pfm_name</key>
							<string>ntPrincipalName</string>
							<key>pfm_substitution_variables</key>
							<dict>
								<key>%AD_ComputerID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory computer ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_Domain%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory domain.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainForestName%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory forest name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_DomainGuid%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory GUID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>20405B46-877F-4274-ADB8-A1FCAA765998</string>
								</dict>
								<key>%AD_DomainNameDNS%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory DNS Name.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%AD_KerberosID%</key>
								<dict>
									<key>pfm_description</key>
									<string>Active Directory Kerberos ID.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string></string>
								</dict>
								<key>%ComputerName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's name, as set in System Preferences &gt; Sharing.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreator's MacBook Pro</string>
								</dict>
								<key>%HardwareUUID%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's unique identifier.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>7CD8DFF1-70B5-403D-81C2-A41A5F29CFF9</string>
								</dict>
								<key>%HostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's DNS name, such as mac1.example.com.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MBP.domain.com</string>
								</dict>
								<key>%LocalHostName%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's local network name, such as Mac1.local.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>ProfileCreators-MacBook-Pro</string>
								</dict>
								<key>%MACAddress%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's Ethernet (en0) MAC address.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>a1:b2:c3:d4:e5:f6</string>
								</dict>
								<key>%SerialNumber%</key>
								<dict>
									<key>pfm_description</key>
									<string>The computer's serial number.</string>
									<key>pfm_substitution_source</key>
									<string>local</string>
									<key>pfm_value_placeholder</key>
									<string>C02LZ9Q1CC55</string>
								</dict>
							</dict>
							<key>pfm_title</key>
							<string>NT Principal Name</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Subject Alt Name</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
				<dict>
					<key>pfm_default</key>
					<integer>3</integer>
					<key>pfm_description</key>
					<string>The number of times the device should retry if the server sends a PENDING response.</string>
					<key>pfm_name</key>
					<string>Retries</string>
					<key>pfm_title</key>
					<string>Retries</string>
					<key>pfm_type</key>
					<string>integer</string>
					<key>pfmx_supported_oses</key>
					<dict>
						<key>macOS</key>
						<dict>
							<key>pfmx_introduced</key>
							<string>10.10</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>pfm_default</key>
					<integer>10</integer>
					<key>pfm_description</key>
					<string>The number of seconds to wait between subsequent retries. The first retry is attempted without this delay.</string>
					<key>pfm_name</key>
					<string>RetryDelay</string>
					<key>pfm_title</key>
					<string>Retry Delay</string>
					<key>pfm_type</key>
					<string>integer</string>
					<key>pfmx_supported_oses</key>
					<dict>
						<key>macOS</key>
						<dict>
							<key>pfmx_introduced</key>
							<string>10.10</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>pfm_default</key>
					<integer>14</integer>
					<key>pfm_description</key>
					<string>The number of days before the certificate expires at which to start showing the expiration notification</string>
					<key>pfm_name</key>
					<string>CertificateRenewalTimeInterval</string>
					<key>pfm_platforms</key>
					<array>
						<string>macOS</string>
					</array>
					<key>pfm_title</key>
					<string>Certificate Expiration Notification</string>
					<key>pfm_type</key>
					<string>integer</string>
				</dict>
				<dict>
					<key>pfm_default</key>
					<false/>
					<key>pfm_description</key>
					<string>If 'true', all apps have access to the private key.</string>
					<key>pfm_name</key>
					<string>AllowAllAppsAccess</string>
					<key>pfm_platforms</key>
					<array>
						<string>macOS</string>
					</array>
					<key>pfm_title</key>
					<string>Allow access to all apps</string>
					<key>pfm_type</key>
					<string>boolean</string>
					<key>pfmx_supported_oses</key>
					<dict>
						<key>macOS</key>
						<dict>
							<key>pfmx_introduced</key>
							<string>10.10</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Payload Content</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>user</string>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>SCEP</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>8</integer>
	<key>pfmx_supported_oses</key>
	<dict>
		<key>iOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>4.0</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_shared_ipad</key>
			<dict>
				<key>pfmx_device_channel</key>
				<true/>
				<key>pfmx_mode</key>
				<string>allowed</string>
				<key>pfmx_user_channel</key>
				<false/>
			</dict>
			<key>pfmx_supervised</key>
			<false/>
			<key>pfmx_user_enrollment</key>
			<dict>
				<key>pfmx_mode</key>
				<string>allowed</string>
			</dict>
		</dict>
		<key>macOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_device_channel</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>10.7</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_requires_dep</key>
			<false/>
			<key>pfmx_user_approved_mdm</key>
			<false/>
			<key>pfmx_user_channel</key>
			<true/>
			<key>pfmx_user_enrollment</key>
			<dict>
				<key>pfmx_mode</key>
				<string>allowed</string>
			</dict>
		</dict>
		<key>tvOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>6.0</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_supervised</key>
			<false/>
		</dict>
		<key>watchOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>3.0</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_supervised</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
