<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Passcode settings</string>
	<key>pfm_documentation_url</key>
	<string>https://developer.apple.com/documentation/devicemanagement/passcode</string>
	<key>pfm_domain</key>
	<string>com.apple.mobiledevice.passwordpolicy</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2024-06-25T10:39:36Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Passcode settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Passcode</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enforce the use of a passcode before using the device.</string>
			<key>pfm_description_reference</key>
			<string>If true, forces the user to enter a PIN.</string>
			<key>pfm_name</key>
			<string>forcePIN</string>
			<key>pfm_title</key>
			<string>Require passcode on device</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Permits the use of repeating, ascending, and descending character sequences in passcodes. For example, "3333" or "DEFG".</string>
			<key>pfm_description_reference</key>
			<string>If true, allows a simple passcode. A simple passcode contains repeated characters, or increasing or decreasing characters (such as 123 or CBA). Setting this value to false has the same result as setting minComplexChars to 1.</string>
			<key>pfm_name</key>
			<string>allowSimple</string>
			<key>pfm_note</key>
			<string>Setting this value to false has the same result as setting minComplexChars to 1.</string>
			<key>pfm_title</key>
			<string>Allow simple passcode</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Requires that the passcode contain at least one letter and one number.</string>
			<key>pfm_description_reference</key>
			<string>If true, requires alphabetic characters (abcd) instead of only numeric characters.</string>
			<key>pfm_name</key>
			<string>requireAlphanumeric</string>
			<key>pfm_title</key>
			<string>Require alphanumeric value</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Minimum number of characters a passcode can contain.</string>
			<key>pfm_description_reference</key>
			<string>The minimum overall length of the passcode. This parameter is independent of the also optional minComplexChars argument.</string>
			<key>pfm_name</key>
			<string>minLength</string>
			<key>pfm_range_max</key>
			<integer>16</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Minimum passcode length</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Minimum number of non-alphanumeric characters the passcode must contain.</string>
			<key>pfm_description_reference</key>
			<string>The minimum number of complex characters that a passcode must contain. A complex character is a character other than a number or a letter, such as &amp; % $ #.</string>
			<key>pfm_name</key>
			<string>minComplexChars</string>
			<key>pfm_range_max</key>
			<integer>4</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Minimum number of complex characters</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Requires users to change their passcode at the specified interval. It can be set to between 1 and 730 days, or turned off with a value of 0.</string>
			<key>pfm_description_reference</key>
			<string>The number of days for which the passcode can remain unchanged. After this number of days, the user is forced to change the passcode before the device is unlocked.</string>
			<key>pfm_name</key>
			<string>maxPINAgeInDays</string>
			<key>pfm_range_max</key>
			<integer>730</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Maximum passcode age</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>days</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If the device isn't used for the period of time you specify, it automatically locks. It can be set to lock after 1 to 15 minutes, or turned off with a value of 0. In macOS, this inactivity value is translated to screen-saver settings.</string>
			<key>pfm_description_reference</key>
			<string>The maximum number of minutes for which the device can be idle, without being unlocked by the user, before it gets locked by the system. When this limit is reached, the device is locked and the passcode must be entered. The user can edit this setting, but the value cannot exceed the maxInactivity value. In macOS, this inactivity value is translated to screen-saver settings.</string>
			<key>pfm_name</key>
			<string>maxInactivity</string>
			<key>pfm_range_max</key>
			<integer>15</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Maximum Auto-Lock</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The device refuses a new passcode if it matches a previously used passcode. You can specify how many previous passcodes are remembered and compared. It can be set to between 1 and 50 passcodes, or turned off with a value of 0.</string>
			<key>pfm_name</key>
			<string>pinHistory</string>
			<key>pfm_range_max</key>
			<integer>50</integer>
			<key>pfm_range_min</key>
			<integer>1</integer>
			<key>pfm_title</key>
			<string>Passcode history</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>passcodes</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>How soon the device can be unlocked again after use, without reprompting again for the passcode. (0 = no grace period, which requires a passcode immediately). In macOS, this grace period value is translated to screen-saver settings.</string>
			<key>pfm_description_reference</key>
			<string>The maximum grace period, in minutes, to unlock the phone without entering a passcode. The default is 0, which is no grace period and requires a passcode immediately. In macOS, this grace period value is translated to screen-saver settings.</string>
			<key>pfm_name</key>
			<string>maxGracePeriod</string>
			<key>pfm_title</key>
			<string>Maximum grace period for device lock</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>minutesUntilFailedLoginReset</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_default</key>
			<integer>11</integer>
			<key>pfm_description</key>
			<string>The number of failed passcode attempts that can be made before an iOS device is erased or a macOS device is locked.</string>
			<key>pfm_description_reference</key>
			<string>The number of allowed failed attempts to enter the passcode at the device's lock screen. After six failed attempts, a time delay is imposed before a passcode can be entered again. The delay increases with each attempt. In macOS, set minutesUntilFailedLoginReset to define a delay before the next passcode can be entered. When this number is exceeded in macOS, the device is locked; in iOS, the device is wiped.</string>
			<key>pfm_name</key>
			<string>maxFailedAttempts</string>
			<key>pfm_range_max</key>
			<integer>11</integer>
			<key>pfm_range_min</key>
			<integer>2</integer>
			<key>pfm_title</key>
			<string>Maximum number of failed attempts</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The number of minutes before the login window reappears, after the maximum number of failed attempts is reached. This key requires setting maxFailedAttempts.</string>
			<key>pfm_description_reference</key>
			<string>The number of minutes before the login is reset after the maximum number of unsuccessful login attempts is reached. This key requires setting maxFailedAttempts. Available in macOS 10.10 and later.</string>
			<key>pfm_macos_min</key>
			<string>10.10.0</string>
			<key>pfm_name</key>
			<string>minutesUntilFailedLoginReset</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Delay after failed login attempts</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Causes a password reset to occur the next time the user tries to authenticate.</string>
			<key>pfm_description_reference</key>
			<string>If true, causes a password reset to occur the next time the user tries to authenticate. If this key is set in a device profile, the setting takes effect for all users, and admin authentications may fail until the admin user password is also reset. Available in macOS 10.13 and later.</string>
			<key>pfm_macos_min</key>
			<string>10.13.0</string>
			<key>pfm_name</key>
			<string>changeAtNextAuth</string>
			<key>pfm_note</key>
			<string>If this key is set in a device profile, the setting takes effect for all users, and admin authentications may fail until the admin user password is also reset.</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Reset passcode at next login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Specifies a regular expression, and its description, used to enforce password compliance. Use the simpler passcode restrictions whenever possible, and rely on regular expression matching only when necessary. Mistakes in regular expressions can lead to frustrating user experiences, such as unsatisfiable passcode policies, or policy descriptions that don't match the enforced policy.
Available in macOS 14 and later.</string>
			<key>pfm_macos_min</key>
			<string>14.0</string>
			<key>pfm_name</key>
			<string>customRegex</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>A regular expression string that they system matches against the password to determine whether it complies with a policy. The regular expression uses the ICU syntax (&lt;https://unicode-org.github.io/icu/userguide/strings/regexp.html&gt;). The string must not exceed 2048 characters in length.</string>
					<key>pfm_name</key>
					<string>passwordContentRegex</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>Contains a dictionary of keys for supported OS language IDs (for example, “en-US”), and whose values represent a localized description of the policy enforced by the regular expression. Use the special 'default' key can for languages that aren't contained in the dictionary.</string>
					<key>pfm_name</key>
					<string>passwordContentDescription</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string></string>
							<key>pfm_name</key>
							<string>{{key}}</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string></string>
							<key>pfm_name</key>
							<string>{{value}}</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>user</string>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>Passcode</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>4</integer>
</dict>
</plist>
