<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Printing settings</string>
	<key>pfm_description_reference</key>
	<string>The payload for configuring printers. Removing this profile from a device does not automatically remove printers from the device.</string>
	<key>pfm_documentation_url</key>
	<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
	<key>pfm_domain</key>
	<string>com.apple.mcxprinting</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>exlusive</string>
	<key>pfm_last_modified</key>
	<date>2022-12-18T06:17:33Z</date>
	<key>pfm_macos_min</key>
	<string>10.7</string>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Printing settings</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Printing</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mcxprinting</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier.</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mcxprinting</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF).</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable string containing the name of the organization that provided the profile.
The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If true, allows printers that connect directly to a user's computer.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>AllowLocalPrinters</string>
			<key>pfm_title</key>
			<string>Allow Local Printers</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The default printer for the user. This information should match one of the printers in the Printer List.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>UserPrinterList</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>DefaultPrinter</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>The printer display name. This should match one of the printers in the Printer List.</string>
					<key>pfm_documentation_url</key>
					<string>https://developer.apple.com/documentation/devicemanagement/printing/defaultprinter</string>
					<key>pfm_macos_min</key>
					<string>10.7</string>
					<key>pfm_name</key>
					<string>DisplayName</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_title</key>
					<string>Display Name</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>printer.example.com</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>The device URI. This should match one of the printers in the Printer List.</string>
					<key>pfm_documentation_url</key>
					<string>https://developer.apple.com/documentation/devicemanagement/printing/defaultprinter</string>
					<key>pfm_macos_min</key>
					<string>10.7</string>
					<key>pfm_name</key>
					<string>DeviceURI</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_title</key>
					<string>Device URI</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>ipp://printer.example.com/</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Default Printer</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, prints the page footer (including the user name and date).</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>PrintFooter</string>
			<key>pfm_title</key>
			<string>Footer</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The font to use when printing a footer.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>FooterFontName</string>
			<key>pfm_title</key>
			<string>Footer Font Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The font size to use when printing a footer.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>FooterFontSize</string>
			<key>pfm_title</key>
			<string>Footer Font Size</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, includes the MAC address.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>PrintMACAddress</string>
			<key>pfm_title</key>
			<string>Print MAC Address</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If true, requires an administrator password to add printers.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>RequireAdminToAddPrinters</string>
			<key>pfm_title</key>
			<string>Require Admin To Add Printers</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, requires an administrator password to print locally.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>RequireAdminToPrintLocally</string>
			<key>pfm_title</key>
			<string>Require Admin To Print Locally</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, shows only managed printers.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>ShowOnlyManagedPrinters</string>
			<key>pfm_title</key>
			<string>Show Only Managed Printers</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The printers available to a user.</string>
			<key>pfm_documentation_url</key>
			<string>https://developer.apple.com/documentation/devicemanagement/printing</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>UserPrinterList</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>A printer item in the printer list</string>
					<key>pfm_hidden</key>
					<string>container</string>
					<key>pfm_name</key>
					<string>Printer</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>The printer display name.</string>
							<key>pfm_name</key>
							<string>DisplayName</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Display Name</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>Printer Name</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The device URI.</string>
							<key>pfm_name</key>
							<string>DeviceURI</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>IP / Hostname</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>ipp://printer.example.com/</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The printer's location.</string>
							<key>pfm_name</key>
							<string>Location</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>Receptionist</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The printer's model.</string>
							<key>pfm_name</key>
							<string>Model</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>HP LaserJet</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The printer's PPDURL.</string>
							<key>pfm_name</key>
							<string>PPDURL</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>PPD Location</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>file://localhost/System/Library/Frameworks/ApplicationServices.framework/Versions/A/Frameworks/PrintCore.framework/Resources/Generic.ppd</string>
						</dict>
						<dict>
							<key>pfm_default</key>
							<false/>
							<key>pfm_description</key>
							<string>If true, locks the printer.</string>
							<key>pfm_name</key>
							<string>PrinterLocked</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Locked?</string>
							<key>pfm_type</key>
							<string>boolean</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Printer</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>User Printer List</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Printing</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
