<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define settings for network relays.</string>
	<key>pfm_domain</key>
	<string>com.apple.relay.managed</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_ios_min</key>
	<string>17.0</string>
	<key>pfm_last_modified</key>
	<date>2024-09-12T10:00:38Z</date>
	<key>pfm_macos_min</key>
	<string>14.0</string>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
		<string>tvOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Use this section to define settings for network relays.</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Relay</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.relay.managed</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.relay.managed</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_range_list</key>
			<array>
				<integer>1</integer>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of dictionaries that describe one or more relay servers that the system can chain together.</string>
			<key>pfm_name</key>
			<string>Relays</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Relay</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>The URL or URI template, as defined in RFC 9298, of a relay server that's reachable using HTTP/3 and supports proxying TCP and UDP using the CONNECT method.
Each relay needs to include either 'HTTP2RelayURL' or 'HTTP3RelayURL', or it can include both.</string>
							<key>pfm_name</key>
							<string>HTTP3RelayURL</string>
							<key>pfm_title</key>
							<string>HTTP/3 Relay URL</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The URL or URI template, as defined in RFC 9298, of a relay server that's reachable using HTTP/2 and supports proxying TCP and UDP using the CONNECT method.
Each relay needs to include either 'HTTP2RelayURL' or 'HTTP3RelayURL', or it can include both.</string>
							<key>pfm_name</key>
							<string>HTTP2RelayURL</string>
							<key>pfm_title</key>
							<string>HTTP/2 Relay URL</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>A dictionary that contains custom HTTP header keys and values to add to each request. The dictionary key name represents the HTTP header field name to use, and the dictionary value is the string to use as the HTTP header field value.</string>
							<key>pfm_name</key>
							<string>AdditionalHTTPHeaderFields</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_description</key>
									<string></string>
									<key>pfm_name</key>
									<string>{{key}}</string>
									<key>pfm_repetition_min</key>
									<integer>1</integer>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_type</key>
									<string>string</string>
									<key>pfm_value_unique</key>
									<true/>
								</dict>
								<dict>
									<key>pfm_description</key>
									<string>The HTTP header field value for the corresponding header field name.</string>
									<key>pfm_name</key>
									<string>{{value}}</string>
									<key>pfm_repetition_min</key>
									<integer>1</integer>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
							</array>
							<key>pfm_title</key>
							<string>Additional HTTP Header Fields</string>
							<key>pfm_type</key>
							<string>dictionary</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The UUID that points to an identity certificate payload, which the system uses to authenticate the user to the relay server.</string>
							<key>pfm_format</key>
							<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
							<key>pfm_name</key>
							<string>PayloadCertificateUUID</string>
							<key>pfm_title</key>
							<string>Certificate UUID</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>An array of DER-encoded public keys that the system uses to authenticate the server during a TLS handshake. The server needs to use one of the keys in the handshake to authenticate.
If this array is empty, the system uses the default TLS trust evaluation.</string>
							<key>pfm_name</key>
							<string>RawPublicKeys</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_name</key>
									<string>RawPublicKeysElement</string>
									<key>pfm_title</key>
									<string>Raw Public Key Element</string>
									<key>pfm_type</key>
									<string>data</string>
								</dict>
							</array>
							<key>pfm_title</key>
							<string>Raw Public Keys</string>
							<key>pfm_type</key>
							<string>array</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Network Relay</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Relays</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A list of domain strings that the system uses to determine which connection to route through the servers in 'Relays'.
Any connection that matches a domain in the list exactly or is a subdomain of the listed domain uses the relay servers, unless it matches a domain in 'ExcludedDomains'.
If this list is empty, the system routes traffic to all domains to the relay servers, except those that match an excluded domain.</string>
			<key>pfm_name</key>
			<string>MatchDomains</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>MatchDomainsElement</string>
					<key>pfm_title</key>
					<string>Match Domains Element</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Match Domains</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A list of domain strings to exclude from routing through the servers in 'Relays'. Any connection that matches a domain in the list exactly or is a subdomain of the listed domain won't use the relay server.</string>
			<key>pfm_name</key>
			<string>ExcludedDomains</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>ExcludedDomainsElement</string>
					<key>pfm_title</key>
					<string>Excluded Domains Element</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Excluded Domains</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A globally-unique identifier for this relay configuration. The system uses this UUID to route managed apps through the servers in 'Relays'. This key is required for user enrollments.</string>
			<key>pfm_name</key>
			<string>RelayUUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Relay</string>
	<key>pfm_tvos_min</key>
	<string>17.0</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
