<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>pfm_description</key>
        <string>System Policy: Managed settings</string>
		<key>pfm_description_reference</key>
		<string>The System Policy Managed payload is designated by specifying com.apple.systempolicy.managed as the PayloadType. This is one of three payloads that allows control of various GateKeeper settings.
This payload allows control to disable the Finderʼs contextual menu that allows bypass of System Policy restrictions. This payload is supported only on macOS v10.8 and later.</string>
        <key>pfm_title</key>
        <string>System Policy: Managed</string>
        <key>pfm_format_version</key>
        <integer>1</integer>
        <key>pfm_version</key>
        <integer>1</integer>
		<key>pfm_last_modified</key>
		<date>2018-08-30T17:54:12Z</date>
        <key>pfm_domain</key>
        <string>com.apple.systempolicy.managed</string>
        <key>pfm_macos_min</key>
        <string>10.8</string>
		<key>pfm_platforms</key>
		<array>
			<string>macOS</string>
		</array>
		<key>pfm_targets</key>
		<array>
			<string>system</string>
			<string>user</string>
		</array>
		<key>pfm_unique</key>
		<true/>
		<key>pfm_interaction</key>
		<string>undefined</string>
        <key>pfm_subkeys</key>
        <array>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDescription</string>
                <key>pfm_title</key>
                <string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload.</string>
				<key>pfm_description_reference</key>
				<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>System Policy: Managed settings</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDisplayName</string>
                <key>pfm_title</key>
                <string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload.</string>
				<key>pfm_description_reference</key>
				<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>System Policy: Managed</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadIdentifier</string>
                <key>pfm_title</key>
                <string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier.</string>
				<key>pfm_description_reference</key>
				<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.systempolicy.managed</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadType</string>
                <key>pfm_title</key>
                <string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string.</string>
				<key>pfm_description_reference</key>
				<string>The payload type.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.systempolicy.managed</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadUUID</string>
                <key>pfm_title</key>
                <string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF).</string>
				<key>pfm_description_reference</key>
				<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string></string>
                <key>pfm_require</key>
                <string>always</string>
                <key>pfm_format</key>
                <string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadVersion</string>
                <key>pfm_title</key>
                <string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_description_reference</key>
				<string>The version number of the individual payload.
	A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>1</integer>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadOrganization</string>
                <key>pfm_title</key>
                <string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user.</string>
				<key>pfm_description_reference</key>
				<string>Optional. A human-readable string containing the name of the organization that provided the profile.
	The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
            <dict>
                <key>pfm_default</key>
                <false/>
                <key>pfm_name</key>
                <string>DisableOverride</string>
                <key>pfm_title</key>
                <string>Disable contextual menu override of Gatekeeper</string>
                <key>pfm_description</key>
                <string>If YES, the Finder's contextual menu item will be disabled.</string>
				<key>pfm_description_reference</key>
				<string>Optional. If YES, the Finderʼs contextual menu item will be disabled.</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
        </array>
    </dict>
</plist>
