<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Allowed media management and menu bar extras settings</string>
	<key>pfm_documentation_url</key>
	<string>https://developer.apple.com/documentation/devicemanagement/mediamanagementallowedmedia</string>
	<key>pfm_domain</key>
	<string>com.apple.systemuiserver</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2023-04-18T11:26:55Z</date>
	<key>pfm_macos_deprecated</key>
	<string>11.0</string>
	<key>pfm_macos_max</key>
	<string>10.15.7</string>
	<key>pfm_macos_min</key>
	<string>10.7</string>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Allowed Media settings</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Allowed Media</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.systemuiserver</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.systemuiserver</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload. (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Mount</string>
				<string>Unmount</string>
				<string>Logout</string>
				<string>Menu Extras</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>Logout</key>
				<array>
					<string>logout-eject</string>
				</array>
				<key>Menu Extras</key>
				<array>
					<string>menuExtras</string>
				</array>
				<key>Mount</key>
				<array>
					<string>mount-controls</string>
				</array>
				<key>Unmount</key>
				<array>
					<string>unmount-controls</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Media type dictionary to control volume mounting.</string>
			<key>pfm_macos_deprecated</key>
			<string>11.0</string>
			<key>pfm_macos_max</key>
			<string>10.15.7</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>mount-controls</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>This key is the default for media types that donʼt fall into other categories. Like internally installed SD-Cards and USB flash drives.</string>
					<key>pfm_name</key>
					<string>harddisk-external</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>External Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>harddisk-internal</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Internal Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>networkdisk</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Network Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>disk-image</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Disk Image</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>bd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Blu-ray</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>cd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>CD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>dvd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>DVD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>dvdram</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>DVD-RAM</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankbd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable Blu-ray</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankcd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable CD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankdvd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable DVD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Volume Mount Controls</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Media type dictionary to control volume unmounting.</string>
			<key>pfm_macos_deprecated</key>
			<string>11.0</string>
			<key>pfm_macos_max</key>
			<string>10.15.7</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>unmount-controls</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>This key is the default for media types that donʼt fall into other categories. Like internally installed SD-Cards and USB flash drives.</string>
					<key>pfm_name</key>
					<string>harddisk-external</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>External Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>harddisk-internal</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Internal Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>networkdisk</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Network Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>disk-image</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Disk Image</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>bd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Blu-ray</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>cd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>CD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>dvd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>DVD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>dvdram</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>DVD-RAM</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankbd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable Blu-ray</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankcd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable CD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankdvd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable DVD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Volume Unmount Controls</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Volumes to eject when the user logs out.</string>
			<key>pfm_macos_deprecated</key>
			<string>11.0</string>
			<key>pfm_macos_max</key>
			<string>10.15.7</string>
			<key>pfm_macos_min</key>
			<string>10.7</string>
			<key>pfm_name</key>
			<string>logout-eject</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>This key is the default for media types that donʼt fall into other categories. Like internally installed SD-Cards and USB flash drives.</string>
					<key>pfm_name</key>
					<string>harddisk-external</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>External Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>harddisk-internal</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Internal Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>networkdisk</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Network Disk</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>disk-image</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Disk Image</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>bd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Blu-ray</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>cd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>CD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>dvd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>DVD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>dvdram</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>DVD-RAM</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankbd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable Blu-ray</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankcd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable CD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>blankdvd</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Action</string>
							<key>pfm_name</key>
							<string>action</string>
							<key>pfm_range_list</key>
							<array>
								<string>authenticate</string>
								<string>read-only</string>
								<string>deny</string>
								<string>eject</string>
								<string>alert</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Authenticate</string>
								<string>Read-Only</string>
								<string>Deny</string>
								<string>Eject</string>
								<string>Alert</string>
							</array>
							<key>pfm_title</key>
							<string>Action</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Recordable DVD</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_type_input</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Eject on logout</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>List of menu extras to combine with the user's menu bar</string>
			<key>pfm_name</key>
			<string>menuExtras</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>menuExtra</string>
					<key>pfm_range_list</key>
					<array>
						<string>/System/Library/CoreServices/Menu Extras/AirPort.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Battery.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Bluetooth.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Clock.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Displays.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/DwellControl.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Eject.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/ExpressCard.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Ink.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/IrDA.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/PPP.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/PPPoE.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/SafeEjectGPUExtra.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Script</string>
						<string>/System/Library/CoreServices/Menu Extras/Menu.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/TextInput.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/TimeMachine.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/UniversalAccess.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/User.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/VPN.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/Volume.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/WWAN.menu</string>
						<string>/System/Library/CoreServices/Menu Extras/iChat.menu</string>
					</array>
					<key>pfm_range_list_allow_custom_value</key>
					<true/>
					<key>pfm_title</key>
					<string>Menu Extra Path</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Menu Extras</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_value_unique</key>
			<true/>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Allowed Media and Menu Bar Extras</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>5</integer>
</dict>
</plist>
