<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define policy for system extensions.</string>
	<key>pfm_documentation_url</key>
	<string>https://developer.apple.com/documentation/devicemanagement/systemextensions</string>
	<key>pfm_domain</key>
	<string>com.apple.system-extension-policy</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2024-09-03T15:13:17Z</date>
	<key>pfm_macos_min</key>
	<string>10.15</string>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>System Extensions</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.system-extension-policy</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.system-extension-policy</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', restricts users from approving additional system extensions that configuration profiles don't explicitly allow.</string>
			<key>pfm_name</key>
			<string>AllowUserOverrides</string>
			<key>pfm_note</key>
			<string>When multiple System Extension profiles are installed, the AllowUserOverrides preference key will be set to false if any profile sets it to false. As such, if you intend to set this to true, all System Extension profiles must also set this to true.</string>
			<key>pfm_title</key>
			<string>Allow users to approve system extensions</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>An array of team identifiers that defines valid, signed system extensions that are allowable to load. Approved system extensions are those signed with any of the specified team identifiers.
To avoid requiring an administrator to authorize the operation, you can activate system extensions that this key specifies using activationRequest(forExtensionWithIdentifier:queue:).
It's an error for the same team identifier to appear in both this array and as a key in the 'AllowedSystemExtensions' dictionary.</string>
			<key>pfm_format</key>
			<string>^[A-Z0-9]{10}$</string>
			<key>pfm_name</key>
			<string>AllowedTeamIdentifiers</string>
			<key>pfm_note</key>
			<string>Team identifiers cannot be defined in this list and at the same time serve as keys in the "Allowed System Extensions" property.</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>AllowedTeamIdentifiersItem</string>
					<key>pfm_title</key>
					<string>Team Identifier</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>A1B2C3D4E5</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed Team Identifiers</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A dictionary of approved system extensions on the computer. The dictionary maps the team identifiers (keys) to arrays of bundle identifiers, where the bundle identifier defines the system extension to install.
To avoid requiring an administrator to authorize the operation, you can activate system extensions that this key specifies using activationRequest(forExtensionWithIdentifier:queue:).
It's an error for the same team identifier to appear in both the 'AllowedTeamIdentifiers' array and as a key in this dictionary.</string>
			<key>pfm_name</key>
			<string>AllowedSystemExtensions</string>
			<key>pfm_note</key>
			<string>Team identifiers cannot be used as keys in this dictionary and at the same time be defined in the "Allowed Team Identifiers" property.</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_format</key>
					<string>^[A-Z0-9]{10}$</string>
					<key>pfm_name</key>
					<string>{{key}}</string>
					<key>pfm_title</key>
					<string>Team Identifier</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>A1B2C3D4E5</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>The mapping of team identifiers to arrays of bundle identifiers, where the bundle identifier is that of the system extension to be installed.</string>
					<key>pfm_name</key>
					<string>{{value}}</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Allowed system extension bundle ID</string>
							<key>pfm_name</key>
							<string>AllowedSystemExtensionsItems</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Bundle Identifier</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>com.domainname.applicationname</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Bundle Identifier</string>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed System Extensions</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A dictionary that maps a team identifier to an array of strings, where each string is a type of system extension that you can install for that team identifier. The allowed extension types are 'DriverExtension', 'NetworkExtension', and 'EndpointSecurityExtension'.
If there's no entry for a specified team identifier in the dictionary, the system allows all extension types.</string>
			<key>pfm_name</key>
			<string>AllowedSystemExtensionTypes</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_format</key>
					<string>^[A-Z0-9]{10}$</string>
					<key>pfm_name</key>
					<string>{{key}}</string>
					<key>pfm_title</key>
					<string>Team Identifier</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>A1B2C3D4E5</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>The mapping of team identifier to an array of strings, where each string is a type of system extension that may be installed for that team identifier.</string>
					<key>pfm_name</key>
					<string>{{value}}</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Permitted System Extension Type</string>
							<key>pfm_name</key>
							<string>AllowedSystemExtensionTypesItems</string>
							<key>pfm_range_list</key>
							<array>
								<string>DriverExtension</string>
								<string>NetworkExtension</string>
								<string>EndpointSecurityExtension</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Driver</string>
								<string>Network</string>
								<string>Endpoint Security</string>
							</array>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>System Extension Type</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>System Extension Types</string>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed System Extension Types</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A dictionary of system extensions that are allowed to remove themselves from the machine. The dictionary maps team identifiers (keys) to arrays of bundle identifiers, where the bundle identifier defines the system extension. An application using the 'OSSystemExtensionDeactivationRequest' API can deactivate the specified system extensions without requiring an administrator to authorize the operation.
Available in macOS 12 and later.</string>
			<key>pfm_macos_min</key>
			<string>12.0</string>
			<key>pfm_name</key>
			<string>RemovableSystemExtensions</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_format</key>
					<string>^[A-Z0-9]{10}$</string>
					<key>pfm_name</key>
					<string>{{key}}</string>
					<key>pfm_title</key>
					<string>Team Identifier</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>A1B2C3D4E5</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>The dictionary maps team identifiers (keys) to arrays of bundle identifiers, where the bundle identifier defines the system extension.</string>
					<key>pfm_name</key>
					<string>{{value}}</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Removed system extension bundle ID</string>
							<key>pfm_name</key>
							<string>RemovableSystemExtensionsItems</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Bundle Identifier</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>com.domainname.applicationname</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Bundle Identifier</string>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Removable System Extensions</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A dictionary of system extensions on the computer. The dictionary maps the team identifiers (keys) to arrays of bundle identifiers, where the bundle identifier defines the system extension which cannot be disabled or uninstalled when SIP is enabled. It's an error for the same mapping to appear in the dictionary values corresponding to 'RemovableSystemExtensions' and 'NonRemovableSystemExtensions' keys.</string>
			<key>pfm_macos_min</key>
			<string>15.0</string>
			<key>pfm_name</key>
			<string>NonRemovableSystemExtensions</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>{{key}}</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>System extension bundle identifiers</string>
					<key>pfm_name</key>
					<string>{{value}}</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Non Removable system extension bundle ID</string>
							<key>pfm_name</key>
							<string>NonRemovableSystemExtensionsItems</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A dictionary of system extensions on the computer. The dictionary maps the team identifiers (keys) to arrays of bundle identifiers, where the bundle identifier defines the system extension which cannot be disabled or uninstalled from System Settings or Finder. The set of system extensions between 'RemovableSystemExtensions' and 'NonRemovableFromUISystemExtensions' are allowed to overlap.</string>
			<key>pfm_macos_min</key>
			<string>15.0</string>
			<key>pfm_name</key>
			<string>NonRemovableFromUISystemExtensions</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>{{key}}</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>System extension bundle identifiers</string>
					<key>pfm_name</key>
					<string>{{value}}</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Non Removable from UI system extension bundle ID</string>
							<key>pfm_name</key>
							<string>NonRemovableFromUISystemExtensionsItems</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>System Extension Policy</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_user_approved</key>
	<true/>
	<key>pfm_version</key>
	<integer>3</integer>
</dict>
</plist>
