<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define settings for access to Email servers.</string>
	<key>pfm_domain</key>
	<string>com.apple.mail.managed</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2023-08-21T10:35:00Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures a Mail account</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Mail</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mail.managed</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mail.managed</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>EmailTypeIMAP</string>
			<key>pfm_description</key>
			<string>Defines the protocol to be used for the account.</string>
			<key>pfm_name</key>
			<string>EmailAccountType</string>
			<key>pfm_range_list</key>
			<array>
				<string>EmailTypeIMAP</string>
				<string>EmailTypePOP</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>IMAP</string>
				<string>POP</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Account Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>A user-visible description of the email account, shown in the Mail and Settings applications.</string>
			<key>pfm_name</key>
			<string>EmailAccountDescription</string>
			<key>pfm_title</key>
			<string>Account Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The path prefix for the IMAP mail server.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<string>EmailTypeIMAP</string>
							</array>
							<key>pfm_target</key>
							<string>EmailAccountType</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>IncomingMailServerIMAPPathPrefix</string>
			<key>pfm_title</key>
			<string>Incoming Mail Server IMAP Path Prefix</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The full user name for the account. This name is shown in sent messages.</string>
			<key>pfm_name</key>
			<string>EmailAccountName</string>
			<key>pfm_require</key>
			<string>push</string>
			<key>pfm_title</key>
			<string>User Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The full email address for the account. If this string isn't present in the payload, the device prompts for this string during interactive profile installation in Settings or System Preferences.</string>
			<key>pfm_name</key>
			<string>EmailAddress</string>
			<key>pfm_require</key>
			<string>push</string>
			<key>pfm_title</key>
			<string>Email Address</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default_copy</key>
			<string>com.apple.configurationprofile.identification@PayloadUUID</string>
			<key>pfm_description</key>
			<string>The UUID of the Identification Payload to use as the source for the user email and username values.</string>
			<key>pfm_name</key>
			<string>IdentificationUUID</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>IdentificationUUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', prevents messages from being moved out of this email account and into another account. It also prevents forwarding or replying from an account other than one the message was sent to.</string>
			<key>pfm_ios_min</key>
			<string>5.0</string>
			<key>pfm_name</key>
			<string>PreventMove</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Allow user to move messages from this account</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', excludes this account from Recent Addresses syncing.</string>
			<key>pfm_ios_min</key>
			<string>6.0</string>
			<key>pfm_name</key>
			<string>disableMailRecentsSyncing</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Allow recent addresses to be synced</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables this account to use Mail Drop.</string>
			<key>pfm_ios_min</key>
			<string>9.2</string>
			<key>pfm_name</key>
			<string>allowMailDrop</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Allow Mail Drop</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', prevents this account from sending mail in any app other than the Apple Mail app.</string>
			<key>pfm_ios_min</key>
			<string>5.0</string>
			<key>pfm_name</key>
			<string>PreventAppSheet</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Use Only In Mail</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables S/MIME encryption. In iOS 10.0 and later, this key is ignored.</string>
			<key>pfm_ios_max</key>
			<string>9.3.3</string>
			<key>pfm_ios_min</key>
			<string>5.0</string>
			<key>pfm_name</key>
			<string>SMIMEEnabled</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>S/MIME Enabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables S/MIME signing for this account.</string>
			<key>pfm_ios_min</key>
			<string>10.3</string>
			<key>pfm_name</key>
			<string>SMIMESigningEnabled</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable S/MIME Signing</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The payload UUID of the identity certificate used to sign messages sent from this account.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>SMIMEEnabled</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_ios_min</key>
			<string>5.0</string>
			<key>pfm_name</key>
			<string>SMIMESigningCertificateUUID</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>S/MIME Signing Certificate</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables S/MIME encryption for this account.</string>
			<key>pfm_ios_deprecated</key>
			<string>12.0</string>
			<key>pfm_ios_min</key>
			<string>10.3</string>
			<key>pfm_name</key>
			<string>SMIMEEncryptionEnabled</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable S/MIME Encryption</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The UUID of the identity certificate used to decrypt messages sent to this account. The public certificate is attached to outgoing mail to allow encrypted mail to be sent to this user. When the user sends encrypted mail, the public certificate is used to encrypt the copy of the mail in their Sent mailbox.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>SMIMEEnabled</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_ios_min</key>
			<string>5.0</string>
			<key>pfm_name</key>
			<string>SMIMEEncryptionCertificateUUID</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>S/MIME Encryption Certificate</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', displays the per-message encryption switch in the Mail Compose UI.

As of iOS 12.0, this key is deprecated. Use 'SMIMEEnableEncryptionPerMessageSwitch' instead.</string>
			<key>pfm_ios_deprecated</key>
			<string>12.0</string>
			<key>pfm_ios_min</key>
			<string>8.0</string>
			<key>pfm_name</key>
			<string>SMIMEEnablePerMessageSwitch</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable per-message encryption switch</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the user can turn S/MIME signing on or off in Settings.</string>
			<key>pfm_ios_min</key>
			<string>12.0</string>
			<key>pfm_name</key>
			<string>SMIMESigningUserOverrideable</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable S/MIME toggle</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the user can select the signing identity.</string>
			<key>pfm_ios_min</key>
			<string>12.0</string>
			<key>pfm_name</key>
			<string>SMIMESigningCertificateUUIDUserOverrideable</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable user to select the signing identity</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables S/MIME encryption by default.</string>
			<key>pfm_ios_min</key>
			<string>12.0</string>
			<key>pfm_name</key>
			<string>SMIMEEncryptByDefault</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable S/MIME by default</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the user can turn encryption by default on/off, and encryption is on.</string>
			<key>pfm_ios_min</key>
			<string>12.0</string>
			<key>pfm_name</key>
			<string>SMIMEEncryptByDefaultUserOverrideable</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable user to toggle S/MIME by default</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the user can select the S/MIME encryption identity, and encryption is on.</string>
			<key>pfm_ios_min</key>
			<string>12.0</string>
			<key>pfm_name</key>
			<string>SMIMEEncryptionCertificateUUIDUserOverrideable</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable user to select the signing identity and encryption is enabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', displays the per-message encryption switch in the Mail Compose UI.</string>
			<key>pfm_ios_min</key>
			<string>12.0</string>
			<key>pfm_name</key>
			<string>SMIMEEnableEncryptionPerMessageSwitch</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Enable per-message encryption switch</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Incoming Server</string>
				<string>Outgoing Server</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>Incoming Server</key>
				<array>
					<string>IncomingMailServerHostName</string>
					<string>IncomingMailServerPortNumber</string>
					<string>IncomingMailServerUsername</string>
					<string>IncomingMailServerAuthentication</string>
					<string>IncomingPassword</string>
					<string>IncomingMailServerUseSSL</string>
					<string>IncomingMailServerIMAPPathPrefix</string>
				</array>
				<key>Outgoing Server</key>
				<array>
					<string>OutgoingMailServerHostName</string>
					<string>OutgoingMailServerPortNumber</string>
					<string>OutgoingMailServerUsername</string>
					<string>OutgoingMailServerAuthentication</string>
					<string>OutgoingPassword</string>
					<string>OutgoingPasswordSameAsIncomingPassword</string>
					<string>OutgoingMailServerUseSSL</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The incoming mail server host name.</string>
			<key>pfm_name</key>
			<string>IncomingMailServerHostName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Incoming Mail Server Hostname</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>993</integer>
			<key>pfm_description</key>
			<string>The incoming mail server port number. If no port number is specified, the default port for a given protocol is used.</string>
			<key>pfm_name</key>
			<string>IncomingMailServerPortNumber</string>
			<key>pfm_range_max</key>
			<integer>65535</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Incoming Mail Server Port</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The user name for the email account, usually the same as the email address up to the @ character. If the user name isn't present in the payload and the account is set up to require authentication for incoming email, the device prompts for this string during interactive profile installation in Settings or System Preferences.</string>
			<key>pfm_name</key>
			<string>IncomingMailServerUsername</string>
			<key>pfm_require</key>
			<string>push</string>
			<key>pfm_title</key>
			<string>Incoming Mail Server Username</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>EmailAuthPassword</string>
			<key>pfm_description</key>
			<string>The authentication scheme for incoming mail.</string>
			<key>pfm_name</key>
			<string>IncomingMailServerAuthentication</string>
			<key>pfm_range_list</key>
			<array>
				<string>EmailAuthNone</string>
				<string>EmailAuthPassword</string>
				<string>EmailAuthCRAMMD5</string>
				<string>EmailAuthNTLM</string>
				<string>EmailAuthHTTPMD5</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>None</string>
				<string>Password</string>
				<string>MD5 Challenge-Response</string>
				<string>NTLM</string>
				<string>HTTP MD5 Digest</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Incoming Mail Server Authentification Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The password for the incoming mail server. This password is used only with encrypted profiles.</string>
			<key>pfm_name</key>
			<string>IncomingPassword</string>
			<key>pfm_title</key>
			<string>Incoming Mail Server Password</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables SSL for authentication on the incoming mail server.</string>
			<key>pfm_name</key>
			<string>IncomingMailServerUseSSL</string>
			<key>pfm_title</key>
			<string>Incoming Mail Server Use SSL</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The path prefix for the IMAP mail server.</string>
			<key>pfm_name</key>
			<string>IncomingMailServerIMAPPathPrefix</string>
			<key>pfm_title</key>
			<string>Incoming Mail Server IMAP Path Prefix</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The outgoing mail server host name.</string>
			<key>pfm_name</key>
			<string>OutgoingMailServerHostName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Outgoing Mail Server Hostname</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>587</integer>
			<key>pfm_description</key>
			<string>The outgoing mail server port number. If no port number is specified, ports 25, 587, and 465 are used, in that order.</string>
			<key>pfm_name</key>
			<string>OutgoingMailServerPortNumber</string>
			<key>pfm_range_max</key>
			<integer>65535</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Outgoing Mail Server Port</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The user name for the email account, usually the same as the email address up to the @ character. If the user name isn't present in the payload and the account is set up to require authentication for outgoing email, the device prompts for this string during interactive profile installation in Settings or System Preferences.</string>
			<key>pfm_name</key>
			<string>OutgoingMailServerUsername</string>
			<key>pfm_require</key>
			<string>push</string>
			<key>pfm_title</key>
			<string>Outgoing Mail Server Username</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>EmailAuthPassword</string>
			<key>pfm_description</key>
			<string>The authentication scheme for outgoing mail.</string>
			<key>pfm_name</key>
			<string>OutgoingMailServerAuthentication</string>
			<key>pfm_range_list</key>
			<array>
				<string>EmailAuthNone</string>
				<string>EmailAuthPassword</string>
				<string>EmailAuthCRAMMD5</string>
				<string>EmailAuthNTLM</string>
				<string>EmailAuthHTTPMD5</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>None</string>
				<string>Password</string>
				<string>MD5 Challenge-Response</string>
				<string>NTLM</string>
				<string>HTTP MD5 Digest</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Outgoing Mail Server Authentication Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The password for the outgoing mail server. This password is used only with encrypted profiles.</string>
			<key>pfm_name</key>
			<string>OutgoingPassword</string>
			<key>pfm_title</key>
			<string>Outgoing Mail Server Password</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the user is prompted only once for the password, which is used for both outgoing and incoming mail.
This setting is only supported by interactive profile installations. Not supported by non-interactive installations (like MDM on iOS).</string>
			<key>pfm_name</key>
			<string>OutgoingPasswordSameAsIncomingPassword</string>
			<key>pfm_title</key>
			<string>Outgoing Password Same As Incoming</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', enables SSL authentication on the outgoing mail server.</string>
			<key>pfm_name</key>
			<string>OutgoingMailServerUseSSL</string>
			<key>pfm_title</key>
			<string>Outgoing Mail Server Use SSL</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Mail</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>8</integer>
</dict>
</plist>
