<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define web clips</string>
	<key>pfm_documentation_url</key>
	<string>https://developer.apple.com/documentation/devicemanagement/webclip</string>
	<key>pfm_domain</key>
	<string>com.apple.webClip.managed</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2024-01-30T12:59:18Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures settings for a web clip</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Web Clip</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.webClip.managed</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.webClip.managed</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable string containing the name of the organization that provided the profile.
The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The name of the Web Clip</string>
			<key>pfm_description_reference</key>
			<string>The name of the Web Clip as displayed on the Home screen.</string>
			<key>pfm_name</key>
			<string>Label</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Label</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The URL that's displayed when users open the Web Clip. The URL must begin with HTTP or HTTPS</string>
			<key>pfm_description_reference</key>
			<string>The URL that the Web Clip should open when clicked. The URL must begin with HTTP or HTTPS or it won't work.</string>
			<key>pfm_format</key>
			<string>^https?://.*$</string>
			<key>pfm_name</key>
			<string>URL</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Whether the Web Clip can be removed by users</string>
			<key>pfm_description_reference</key>
			<string>Optional. If false, the web clip is not removable. Defaults to true. Not available in macOS.</string>
			<key>pfm_name</key>
			<string>IsRemovable</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Removable</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_allowed_file_types</key>
			<array>
				<string>public.png</string>
			</array>
			<key>pfm_description</key>
			<string>The icon to use for the Web Clip</string>
			<key>pfm_description_reference</key>
			<string>Optional. A PNG icon to be shown on the Home screen. Should be 59 x 60 pixels in size. If not specified, a white square will be shown.</string>
			<key>pfm_name</key>
			<string>Icon</string>
			<key>pfm_range_max</key>
			<integer>1468006</integer>
			<key>pfm_title</key>
			<string>Icon</string>
			<key>pfm_type</key>
			<string>data</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevents the iOS device from adding a shine to the image</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_name</key>
			<string>Precomposed</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Precomposed Icon</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Opens the URL as a web app without a browser</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_name</key>
			<string>FullScreen</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Full Screen</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, a full screen web clip will not show the Safari UI when navigating to URLs other than the web clip's own.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>FullScreen</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_ios_min</key>
			<string>14.5</string>
			<key>pfm_name</key>
			<string>IgnoreManifestScope</string>
			<key>pfm_title</key>
			<string>Ignore Manifest Scope</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Bundle identifier of the application that opens this web clip's URL.</string>
			<key>pfm_ios_min</key>
			<string>14.5</string>
			<key>pfm_name</key>
			<string>TargetApplicationBundleIdentifier</string>
			<key>pfm_title</key>
			<string>Target Application Bundle Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Web Clips</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>2</integer>
</dict>
</plist>
