<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Kernel Extension Policy settings</string>
	<key>pfm_domain</key>
	<string>com.apple.syspolicy.kernel-extension-policy</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>exclusive</string>
	<key>pfm_last_modified</key>
	<date>2021-12-18T19:55:17Z</date>
	<key>pfm_macos_min</key>
	<string>10.13.2</string>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Kernel Extension Policy settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Kernel Extension Policy</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.syspolicy.kernel-extension-policy</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.syspolicy.kernel-extension-policy</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'true', users can approve additional kernel extensions that configuration profiles don't explicitly allow.</string>
			<key>pfm_name</key>
			<string>AllowUserOverrides</string>
			<key>pfm_title</key>
			<string>Allow users to approve kernel extensions</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', nonadministrative users can approve additional kernel extensions in the Security &amp; Privacy preferences.
Available in macOS 11 and later.</string>
			<key>pfm_macos_min</key>
			<string>11</string>
			<key>pfm_name</key>
			<string>AllowNonAdminUserApprovals</string>
			<key>pfm_title</key>
			<string>Allow non-admin users to approve kernel extensions</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_allowed_file_types</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>pfm_description</key>
			<string>The array of team identifiers that define which validly signed kernel extensions can load.</string>
			<key>pfm_name</key>
			<string>AllowedTeamIdentifiers</string>
			<key>pfm_note</key>
			<string>Team Identifiers defined in this key will be ignored if specific Bundle Identifiers are defined for that Team Identifier in "Allowed Kernel Extensions".</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>TeamIdentifier</string>
					<key>pfm_title</key>
					<string>Team Identifier</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>Y7QFC8672N</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed Team Identifiers</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_value_import_processor</key>
			<string>com.apple.syspolicy.kernel-extension-policy.AllowedTeamIdentifiers</string>
		</dict>
		<dict>
			<key>pfm_allowed_file_types</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>pfm_description</key>
			<string>The dictionary that represents a set of kernel extensions that the system always allows to load on the computer. The dictionary maps team identifiers (keys) to arrays of bundle identifiers.</string>
			<key>pfm_name</key>
			<string>AllowedKernelExtensions</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>{{value}}</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string></string>
							<key>pfm_name</key>
							<string>BundleIdentifier</string>
							<key>pfm_title</key>
							<string>Bundle Identifier</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>com.github.erikberglund.ProfileCreator</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Bundle Identifier</string>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>{{key}}</string>
					<key>pfm_title</key>
					<string>Team Identifier</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>Y7QFC8672N</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed Kernel Extensions</string>
			<key>pfm_type</key>
			<string>dictionary</string>
			<key>pfm_value_import_processor</key>
			<string>com.apple.syspolicy.kernel-extension-policy.AllowedKernelExtensions</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>Kernel Extension Policy</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_user_approved</key>
	<true/>
	<key>pfm_version</key>
	<integer>4</integer>
</dict>
</plist>
