<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Parental Controls: Dashboard settings</string>
	<key>pfm_description_reference</key>
	<string>The Parental Control Dashboard payload is designated by specifying com.apple.dashboard as the PayloadType value.
It is used to define a white list of dashboard widgets.</string>
	<key>pfm_domain</key>
	<string>com.apple.dashboard</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>exclusive</string>
	<key>pfm_last_modified</key>
	<date>2023-11-23T13:57:28Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Parental Controls: Dashboard settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Parental Controls: Dashboard</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.dashboard</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.dashboard</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable string containing the name of the organization that provided the profile.
The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If 'true', enables the widget allow list.</string>
			<key>pfm_name</key>
			<string>whiteListEnabled</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Enable dashboard widget allowlist</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_allowed_file_types</key>
			<array>
				<string>com.apple.dashboard-widget</string>
			</array>
			<key>pfm_description</key>
			<string>An array of widget item dictionaries that are allowed.</string>
			<key>pfm_name</key>
			<string>WhiteList</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>WhiteListItem</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_default</key>
							<string>bundleID</string>
							<key>pfm_description</key>
							<string>Set to "bundleID" to use a widget's bundle ID as its ID.</string>
							<key>pfm_hidden</key>
							<string>all</string>
							<key>pfm_name</key>
							<string>Type</string>
							<key>pfm_range_list</key>
							<array>
								<string>bundleID</string>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Bundle ID</string>
							</array>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Entry Type</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The bundle ID of a widget.</string>
							<key>pfm_name</key>
							<string>ID</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Bundle ID</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>com.apple.widget.name</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Dashboard widget allowlist</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_value_import_processor</key>
			<string>com.apple.dashboard.whiteList</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Parental Controls: Dashboard</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>9</integer>
	<key>pfmx_supported_oses</key>
	<dict>
		<key>macOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_deprecated</key>
			<string>10.15</string>
			<key>pfmx_device_channel</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>10.7</string>
			<key>pfmx_multiple</key>
			<false/>
			<key>pfmx_removed</key>
			<string>10.15</string>
			<key>pfmx_requires_dep</key>
			<false/>
			<key>pfmx_user_approved_mdm</key>
			<false/>
			<key>pfmx_user_channel</key>
			<true/>
			<key>pfmx_user_enrollment</key>
			<dict>
				<key>pfmx_mode</key>
				<string>forbidden</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
