<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Dock settings</string>
	<key>pfm_domain</key>
	<string>com.apple.dock</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2018-07-18T08:58:50Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Dock Payload</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Dock Payload</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.dock</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.dock</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload. (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>64</integer>
			<key>pfm_description</key>
			<string>The tile size in pixels.</string>
			<key>pfm_name</key>
			<string>tilesize</string>
			<key>pfm_range_max</key>
			<integer>128</integer>
			<key>pfm_range_min</key>
			<integer>16</integer>
			<key>pfm_title</key>
			<string>Size</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevent user from changing tile size.</string>
			<key>pfm_name</key>
			<string>size-immutable</string>
			<key>pfm_title</key>
			<string>Size slider disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Set to true to turn on magnification.</string>
			<key>pfm_name</key>
			<string>magnification</string>
			<key>pfm_title</key>
			<string>Enable magnification</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Prevent user from changing the enable magnification setting.</string>
			<key>pfm_name</key>
			<string>magnify-immutable</string>
			<key>pfm_title</key>
			<string>Enable magnification checkbox disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>128</integer>
			<key>pfm_description</key>
			<string>Largest magnification tile size in pixels.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>magnification</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>largesize</string>
			<key>pfm_range_max</key>
			<integer>128</integer>
			<key>pfm_range_min</key>
			<integer>16</integer>
			<key>pfm_title</key>
			<string>Magnification</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Prevent user from changing magnification size.</string>
			<key>pfm_name</key>
			<string>magsize-immutable</string>
			<key>pfm_title</key>
			<string>Magnification slider disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Orientation of the dock.</string>
			<key>pfm_name</key>
			<string>orientation</string>
			<key>pfm_range_list</key>
			<array>
				<string>left</string>
				<string>bottom</string>
				<string>right</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Left</string>
				<string>Bottom</string>
				<string>Right</string>
			</array>
			<key>pfm_title</key>
			<string>Position on screen</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Prevent user from changing position.</string>
			<key>pfm_name</key>
			<string>position-immutable</string>
			<key>pfm_title</key>
			<string>Position on screen buttons disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>genie</string>
			<key>pfm_description</key>
			<string>Transition effect to use when minimizing applications to the Dock.</string>
			<key>pfm_name</key>
			<string>mineffect</string>
			<key>pfm_range_list</key>
			<array>
				<string>Genie Effect</string>
				<string>Scale Effect</string>
			</array>
			<key>pfm_title</key>
			<string>Minimize window effect</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevent user from changing the minimization setting.</string>
			<key>pfm_name</key>
			<string>mineffect-immutable</string>
			<key>pfm_title</key>
			<string>Minimize window effect button disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Set to true to minimize windows into application icons.</string>
			<key>pfm_name</key>
			<string>minimize-to-application</string>
			<key>pfm_title</key>
			<string>Minimize windows into application icon</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Prevent user from changing the minimize windows into application icon setting.</string>
			<key>pfm_name</key>
			<string>minimize-to-application-immutable</string>
			<key>pfm_title</key>
			<string>Minimize windows into application icon Checkbox Disable</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Set to true to use launch animation.</string>
			<key>pfm_name</key>
			<string>launchanim</string>
			<key>pfm_title</key>
			<string>Animate opening applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevent user from changing the animate opening applications setting.</string>
			<key>pfm_name</key>
			<string>launchanim-immutable</string>
			<key>pfm_title</key>
			<string>Animate opening applications checkbox disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Set to true to automatically hide and show the dock.</string>
			<key>pfm_name</key>
			<string>autohide</string>
			<key>pfm_title</key>
			<string>Automatically hide and show the Dock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Prevent user from changing the automatically hide and show the dock setting.</string>
			<key>pfm_name</key>
			<string>autohide-immutable</string>
			<key>pfm_title</key>
			<string>Automatically hide and show the Dock checkbox disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Set to true to show an indicator below the application icon when an application is running.</string>
			<key>pfm_name</key>
			<string>show-process-indicators</string>
			<key>pfm_title</key>
			<string>Show indicators for open applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Whether these settings will merge with the user’s existing Dock settings.</string>
			<key>pfm_name</key>
			<string>static-only</string>
			<key>pfm_title</key>
			<string>Merge with User's Dock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevent user from removing any item from or adding any item to the dock.</string>
			<key>pfm_name</key>
			<string>contents-immutable</string>
			<key>pfm_title</key>
			<string>Allow modifying items in Dock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If true, use the file in /Library/Preferences/com.apple.dockfixup.plist when a new user or migrated user logs in. The format of this file currently has no documentation. This option has no effect for existing users.</string>
			<key>pfm_macos_min</key>
			<string>10.12</string>
			<key>pfm_name</key>
			<string>AllowDockFixupOverride</string>
			<key>pfm_title</key>
			<string>Allow DockFixup override</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Folders added by Managed Client.</string>
			<key>pfm_name</key>
			<string>MCXDockSpecialFolders</string>
			<key>pfm_repetition_max</key>
			<integer>3</integer>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>Flag for the folder to be added by Managed Client.</string>
					<key>pfm_name</key>
					<string>mcxfolderflag</string>
					<key>pfm_range_list</key>
					<array>
						<string>AddDockMCXMyApplicationsFolder</string>
						<string>AddDockMCXDocumentsFolder</string>
						<string>AddDockMCXOriginalNetworkHomeFolder</string>
					</array>
					<key>pfm_range_list_titles</key>
					<array>
						<string>My apps</string>
						<string>Documents</string>
						<string>Network home</string>
					</array>
					<key>pfm_title</key>
					<string>Folder Flag</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Managed Client Special Folders</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_type_input</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Dock</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
