<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define restrictions settings</string>
	<key>pfm_documentation_url</key>
	<string>https://developer.apple.com/documentation/devicemanagement/restrictions</string>
	<key>pfm_domain</key>
	<string>com.apple.applicationaccess</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2024-09-12T09:07:25Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>tvOS</string>
	</array>
	<key>pfm_subdomain</key>
	<string>tvOS</string>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Use this section to define restrictions settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Restrictions</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.applicationaccess</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.applicationaccess</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_range_list</key>
			<array>
				<integer>1</integer>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>General</string>
				<string>AirPlay</string>
				<string>Apps</string>
				<string>Media</string>
				<string>Passwords / Unlock</string>
				<string>Siri</string>
				<string>Updates</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>AirPlay</key>
				<array>
					<string>allowAirPlayIncomingRequests</string>
					<string>forceAirPlayIncomingRequestsPairingPassword</string>
				</array>
				<key>Apps</key>
				<array>
					<string>allowListedAppBundleIDs</string>
					<string>blacklistedAppBundleIDs</string>
					<string>blockedAppBundleIDs</string>
					<string>whitelistedAppBundleIDs</string>
				</array>
				<key>General</key>
				<array>
					<string>allowAutomaticScreenSaver</string>
					<string>allowCamera</string>
					<string>allowCloudPrivateRelay</string>
					<string>allowDeviceNameModification</string>
					<string>allowInAppPurchases</string>
					<string>allowRemoteAppPairing</string>
					<string>forceAutomaticDateAndTime</string>
					<string>allowDeviceSleep</string>
				</array>
				<key>Media</key>
				<array>
					<string>allowBookstoreErotica</string>
					<string>allowExplicitContent</string>
					<string>ratingApps</string>
					<string>ratingMovies</string>
					<string>ratingRegion</string>
					<string>ratingTVShows</string>
				</array>
				<key>Passwords / Unlock</key>
				<array>
					<string>allowPasswordProximityRequests</string>
				</array>
				<key>Siri</key>
				<array>
					<string>forceAssistantProfanityFilter</string>
				</array>
				<key>Updates</key>
				<array>
					<string>enforcedSoftwareUpdateDelay</string>
					<string>forceDelayedSoftwareUpdates</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system prevents the user from changing the device name. Available in iOS 9 and later, macOS 14 and later, and tvOS 11.0 and later. Requires a supervised device in iOS and tvOS.</string>
			<key>pfm_name</key>
			<string>allowDeviceNameModification</string>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Allow Modifying Device Name</string>
			<key>pfm_tvos_min</key>
			<string>11.0</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>9.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>14.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>11.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>2.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the system enables the Set Automatically feature in Date &amp; Time and the user can't disable it. The system updates the device's time zone only when the device can determine its location using a cellular connection or Wi-Fi with location services enabled. Requires a supervised device. Available in iOS 12 and later, and tvOS 12.2 and later.</string>
			<key>pfm_name</key>
			<string>forceAutomaticDateAndTime</string>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Force automatic date and time</string>
			<key>pfm_tvos_min</key>
			<string>12.2</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.2</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>2.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system disables Apple TV's automatic screen saver. Available in tvOS 15.4 and later.</string>
			<key>pfm_name</key>
			<string>allowAutomaticScreenSaver</string>
			<key>pfm_title</key>
			<string>Allow Automatic Screen Saver</string>
			<key>pfm_tvos_min</key>
			<string>15.4</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>15.4</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system disables the camera and removes its icon from the Home screen, and users are unable to take photographs. Available in iOS 4 and later, macOS 10.11 and later, and tvOS 17 and later. Support for this restriction on unsupervised devices is deprecated.</string>
			<key>pfm_name</key>
			<string>allowCamera</string>
			<key>pfm_title</key>
			<string>Allow Camera Use</string>
			<key>pfm_tvos_min</key>
			<string>17.0</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>4.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.11</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>17.0</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>2.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If set to false, prevents the use of iCloud Private Relay.</string>
			<key>pfm_name</key>
			<string>allowCloudPrivateRelay</string>
			<key>pfm_title</key>
			<string>Allow iCloud Private Relay</string>
			<key>pfm_tvos_min</key>
			<string>15.0</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>15.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>2.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If present, the system prevents showing or launching apps with bundle IDs in the array. Include the value 'com.apple.webapp' to restrict all webclips. This applies to App Store apps, marketplace apps, and locally installed apps (using Configurator, Xcode, etc).
Requires a supervised device. Available in iOS 15 and later, and tvOS 15 and later.
Denying system apps may disable other functionality. For example, denying the App Store app may prevent users from accepting the terms and conditions for the user-based Volume Purchase Program (VPP).</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>allowListedAppBundleIDs</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>blockedAppBundleIDs</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>appBlockedBundleID</string>
					<key>pfm_title</key>
					<string>Bundle ID</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>com.domainname.applicationname</string>
				</dict>
			</array>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Blocked Apps</string>
			<key>pfm_tvos_min</key>
			<string>15.0</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>15.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>15.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Use 'blockedAppBundleIDs' instead.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>whitelistedAppBundleIDs</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>blacklistedAppBundleIDs</string>
			<key>pfm_note</key>
			<string>Use blockedAppBundleIDs instead of this deprecated key.</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>appBlacklistedBundleID</string>
					<key>pfm_title</key>
					<string>iOS / tvOS Bundle ID</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>com.apple.tv</string>
				</dict>
			</array>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Blacklisted Apps</string>
			<key>pfm_tvos_deprecated</key>
			<string>15.0</string>
			<key>pfm_tvos_min</key>
			<string>11.0</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_deprecated</key>
					<string>15.0</string>
					<key>pfmx_introduced</key>
					<string>9.3</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_deprecated</key>
					<string>15.0</string>
					<key>pfmx_introduced</key>
					<string>11.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If present, the system only shows or can launch apps with bundle IDs in the array. Include the value 'com.apple.webapp' to allow all webclips. This applies to App Store apps, marketplace apps, and locally installed apps (using Configurator, Xcode, etc).
Requires a supervised device. Available in iOS 15 and later, and tvOS 15 and later.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>blockedAppBundleIDs</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>allowListedAppBundleIDs</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>appAllowlistedBundleID</string>
					<key>pfm_title</key>
					<string>Bundle ID</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>com.domainname.applicationname</string>
				</dict>
			</array>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Allow Listed Apps</string>
			<key>pfm_tvos_min</key>
			<string>15.0</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>15.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>15.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Use 'allowListedAppBundleIDs' instead.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>blacklistedAppBundleIDs</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>whitelistedAppBundleIDs</string>
			<key>pfm_note</key>
			<string>Use allowListedAppBundleIDs instead of this deprecated key.</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>appWhitelistedBundleID</string>
					<key>pfm_title</key>
					<string>iOS / tvOS Bundle ID</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>com.apple.tv</string>
				</dict>
			</array>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Whitelisted Apps</string>
			<key>pfm_tvos_deprecated</key>
			<string>15.0</string>
			<key>pfm_tvos_min</key>
			<string>11.0</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_deprecated</key>
					<string>15.0</string>
					<key>pfmx_introduced</key>
					<string>9.3</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_deprecated</key>
					<string>15.0</string>
					<key>pfmx_introduced</key>
					<string>11.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>When true, forces the use of the profanity filter assistant.</string>
			<key>pfm_name</key>
			<string>forceAssistantProfanityFilter</string>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Enable Siri profanity filter</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>5.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.13</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>When false, prohibits in-app purchasing.</string>
			<key>pfm_name</key>
			<string>allowInAppPurchases</string>
			<key>pfm_title</key>
			<string>Allow in app purchases</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>4.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>us</string>
			<key>pfm_description</key>
			<string>The two-letter key that profile tools use to display the proper ratings for the given region. The client doesn't recognize or report this data.</string>
			<key>pfm_name</key>
			<string>ratingRegion</string>
			<key>pfm_range_list</key>
			<array>
				<string>us</string>
				<string>au</string>
				<string>ca</string>
				<string>de</string>
				<string>fr</string>
				<string>ie</string>
				<string>jp</string>
				<string>nz</string>
				<string>gb</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>United States</string>
				<string>Australia</string>
				<string>Canada</string>
				<string>Germany</string>
				<string>France</string>
				<string>Ireland</string>
				<string>Japan</string>
				<string>New Zealand</string>
				<string>United Kingdom</string>
			</array>
			<key>pfm_title</key>
			<string>Ratings region</string>
			<key>pfm_tvos_min</key>
			<string>11.3</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1000</integer>
			<key>pfm_description</key>
			<string>The maximum level of app content allowed on the device. Preinstalled (first party) apps ignore this restriction. Available in iOS 4 and later, and tvOS 11.3 and later. Support for this restriction on unsupervised devices is deprecated.
Possible values, with the US description of the rating level:

* '1000': All
* '600': 17+
* '300': 12+
* '200': 9+
* '100': 4+
* '0': None</string>
			<key>pfm_name</key>
			<string>ratingApps</string>
			<key>pfm_range_list</key>
			<array>
				<integer>1000</integer>
				<integer>900</integer>
				<integer>800</integer>
				<integer>700</integer>
				<integer>600</integer>
				<integer>500</integer>
				<integer>400</integer>
				<integer>300</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>0</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>1000: Allow All Apps</string>
				<string>900</string>
				<string>800</string>
				<string>700</string>
				<string>600: 17+</string>
				<string>500</string>
				<string>400</string>
				<string>300: 12+</string>
				<string>200: 9+</string>
				<string>100: 4+</string>
				<string>Don't Allow Apps</string>
			</array>
			<key>pfm_range_max</key>
			<integer>1000</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Allowed content ratings - Apps</string>
			<key>pfm_tvos_min</key>
			<string>11.3</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>4.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>11.3</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1000</integer>
			<key>pfm_description</key>
			<string>The maximum level of movie content allowed on the device. Available in iOS 4 and later, and tvOS 11.3 and later. Support for this restriction on unsupervised devices is deprecated.
Possible values, with the US description of the rating level:

* '1000': All
* '500': NC-17
* '400': R
* '300': PG-13
* '200': PG
* '100': G
* '0': None</string>
			<key>pfm_name</key>
			<string>ratingMovies</string>
			<key>pfm_range_list</key>
			<array>
				<integer>1000</integer>
				<integer>900</integer>
				<integer>800</integer>
				<integer>700</integer>
				<integer>600</integer>
				<integer>500</integer>
				<integer>400</integer>
				<integer>300</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>0</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>1000: Allow All Movies</string>
				<string>900</string>
				<string>800</string>
				<string>700</string>
				<string>600</string>
				<string>500: NC-17</string>
				<string>400: R</string>
				<string>300: PG-13</string>
				<string>200: PG</string>
				<string>100: G</string>
				<string>0: Don't Allow Movies</string>
			</array>
			<key>pfm_range_max</key>
			<integer>1000</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Allowed content ratings - Movies</string>
			<key>pfm_tvos_min</key>
			<string>11.3</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>4.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>11.3</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1000</integer>
			<key>pfm_description</key>
			<string>The maximum level of TV content allowed on the device. Available in iOS 4 and later, and tvOS 11.3 and later. Support for this restriction on unsupervised devices is deprecated.
Possible values, with the US description of the rating level:

* '1000': All
* '600': TV-MA
* '500': TV-14
* '400': TV-PG
* '300': TV-G
* '200': TV-Y7
* '100': TV-Y
* '0': None</string>
			<key>pfm_name</key>
			<string>ratingTVShows</string>
			<key>pfm_range_list</key>
			<array>
				<integer>1000</integer>
				<integer>900</integer>
				<integer>800</integer>
				<integer>700</integer>
				<integer>600</integer>
				<integer>500</integer>
				<integer>400</integer>
				<integer>300</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>0</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>1000: Allow All TV Shows</string>
				<string>900</string>
				<string>800</string>
				<string>700</string>
				<string>600: TV-MA</string>
				<string>500: TV-14</string>
				<string>400: TV-PG</string>
				<string>300: TV-G</string>
				<string>200: TV-Y7</string>
				<string>100: TV-Y</string>
				<string>0: Don't Allow TV Shows</string>
			</array>
			<key>pfm_range_max</key>
			<integer>1000</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Allowed content ratings - TV Shows</string>
			<key>pfm_tvos_min</key>
			<string>11.3</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>4.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>11.3</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system hides explicit music or video content purchased from the iTunes Store. The system marks explicit content as such by content providers, such as record labels, when sold through the iTunes Store. Available in iOS 4 and later, and tvOS 11.3 and later. Requires a supervised device in iOS 13 and later. Support for this restriction on unsupervised devices is deprecated.</string>
			<key>pfm_name</key>
			<string>allowExplicitContent</string>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Allow playback of explicit music, podcasts, and iTunes U</string>
			<key>pfm_tvos_min</key>
			<string>11.3</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>4.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>11.3</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system prevents the user from downloading Apple Books media that's tagged as erotica. Available in iOS 6 and later, and tvOS 11.3 and later. Support for this restriction on unsupervised devices is deprecated.</string>
			<key>pfm_name</key>
			<string>allowBookstoreErotica</string>
			<key>pfm_title</key>
			<string>Allow explicit sexual content in iBooks Store</string>
			<key>pfm_tvos_deprecated</key>
			<string>17.0</string>
			<key>pfm_tvos_min</key>
			<string>11.3</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>6.0</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_deprecated</key>
					<string>17.0</string>
					<key>pfmx_introduced</key>
					<string>11.3</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system disables incoming AirPlay requests. Available in macOS 12.3 and later, and tvOS 10.2 and later. Requires a supervised device in tvOS.</string>
			<key>pfm_name</key>
			<string>allowAirPlayIncomingRequests</string>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Allow incoming AirPlay requests</string>
			<key>pfm_tvos_min</key>
			<string>10.2</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.3</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.2</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the system forces all devices sending AirPlay requests to this device to use a pairing password. Available in tvOS 6.2 and later. This key isn't supported in tvOS 10.2 and later. Use the AirPlay Security Payload instead.</string>
			<key>pfm_name</key>
			<string>forceAirPlayIncomingRequestsPairingPassword</string>
			<key>pfm_note</key>
			<string></string>
			<key>pfm_title</key>
			<string>Require passcode on first AirPlay pairing</string>
			<key>pfm_tvos_deprecated</key>
			<string>10.2</string>
			<key>pfm_tvos_min</key>
			<string>9.0</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>9.0</string>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system disables pairing Apple TV for use with the Control Center widget. Requires a supervised device. Available in tvOS 10.2 and later.</string>
			<key>pfm_name</key>
			<string>allowRemoteAppPairing</string>
			<key>pfm_title</key>
			<string>Allow pairing with Remote app</string>
			<key>pfm_tvos_min</key>
			<string>10.2</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.2</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system disables requesting passwords from nearby devices. Available in iOS 12 and later, macOS 10.14 and later, and tvOS 12 and later. Requires a supervised device in iOS and tvOS.</string>
			<key>pfm_name</key>
			<string>allowPasswordProximityRequests</string>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Allow proximity based password sharing requests</string>
			<key>pfm_tvos_min</key>
			<string>12.0</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.0</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.14</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the system delays user visibility of software updates. In macOS, the system allows seed build updates without delay. The delay is 30 days unless you set 'enforcedSoftwareUpdateDelay' to another value. Available in iOS 11.3 and later, macOS 10.13 and later, and tvOS 12.2 and later. Requires a supervised device in iOS and tvOS.</string>
			<key>pfm_name</key>
			<string>forceDelayedSoftwareUpdates</string>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Defer Software Updates</string>
			<key>pfm_tvos_min</key>
			<string>12.2</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>11.3</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.13</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.2</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>30</integer>
			<key>pfm_description</key>
			<string>How many days to delay a software update on the device. With this restriction in place, the user doesn't see a software update until the specified number of days after the software update release date. The restrictions 'forceDelayedAppSoftwareUpdates' and 'forceDelayedSoftwareUpdates' use this value. Available in iOS 11.3 and later, macOS 10.13.4 and later, and tvOS 12.2 and later. Requires a supervised device in iOS and tvOS.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>forceDelayedSoftwareUpdates</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>enforcedSoftwareUpdateDelay</string>
			<key>pfm_range_max</key>
			<integer>90</integer>
			<key>pfm_range_min</key>
			<integer>1</integer>
			<key>pfm_supervised</key>
			<true/>
			<key>pfm_title</key>
			<string>Deferred Software Updates Delay</string>
			<key>pfm_tvos_min</key>
			<string>12.2</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>Days</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>11.3</string>
					<key>pfmx_supervised</key>
					<true/>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>10.13.4</string>
					<key>pfmx_user_enrollment</key>
					<dict>
						<key>pfmx_mode</key>
						<string>forbidden</string>
					</dict>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>12.2</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system prevents the device from automatically sleeping. Requires a supervised device. Available in tvOS 13 and later.</string>
			<key>pfm_name</key>
			<string>allowDeviceSleep</string>
			<key>pfm_title</key>
			<string>Allow Device Sleep</string>
			<key>pfm_tvos_min</key>
			<string>13.0</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfmx_supported_oses</key>
			<dict>
				<key>iOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>macOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>tvOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>13.0</string>
					<key>pfmx_supervised</key>
					<true/>
				</dict>
				<key>visionOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
				<key>watchOS</key>
				<dict>
					<key>pfmx_introduced</key>
					<string>n/a</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Restrictions (tvOS)</string>
	<key>pfm_tvos_min</key>
	<string>9.0</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>7</integer>
	<key>pfmx_supported_oses</key>
	<dict>
		<key>iOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>4.0</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_shared_ipad</key>
			<dict>
				<key>pfmx_device_channel</key>
				<true/>
				<key>pfmx_mode</key>
				<string>allowed</string>
				<key>pfmx_user_channel</key>
				<true/>
			</dict>
			<key>pfmx_supervised</key>
			<false/>
			<key>pfmx_user_enrollment</key>
			<dict>
				<key>pfmx_mode</key>
				<string>allowed</string>
			</dict>
		</dict>
		<key>macOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_device_channel</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>10.7</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_requires_dep</key>
			<false/>
			<key>pfmx_user_approved_mdm</key>
			<false/>
			<key>pfmx_user_channel</key>
			<true/>
			<key>pfmx_user_enrollment</key>
			<dict>
				<key>pfmx_mode</key>
				<string>allowed</string>
			</dict>
		</dict>
		<key>tvOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>9.0</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_supervised</key>
			<false/>
		</dict>
		<key>visionOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>1.1</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_supervised</key>
			<false/>
			<key>pfmx_user_enrollment</key>
			<dict>
				<key>pfmx_mode</key>
				<string>allowed</string>
			</dict>
		</dict>
		<key>watchOS</key>
		<dict>
			<key>pfmx_allow_manual_install</key>
			<true/>
			<key>pfmx_introduced</key>
			<string>10.0</string>
			<key>pfmx_multiple</key>
			<true/>
			<key>pfmx_supervised</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
