<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define passcode policy settings</string>
	<key>pfm_domain</key>
	<string>com.apple.mobiledevice.passwordpolicy</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_ios_min</key>
	<string>4.0</string>
	<key>pfm_last_modified</key>
	<date>2024-09-03T15:13:17Z</date>
	<key>pfm_macos_min</key>
	<string>10.7</string>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Use this section to define passcode policy settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Passcode</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the system forces the user to enter a PIN.</string>
			<key>pfm_name</key>
			<string>forcePIN</string>
			<key>pfm_title</key>
			<string>Require Passcode on Device</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If 'false', the system prevents use of a simple passcode. A simple passcode contains repeated characters, or increasing or decreasing characters, such as '123' or 'CBA'.</string>
			<key>pfm_name</key>
			<string>allowSimple</string>
			<key>pfm_note</key>
			<string>Setting this value to false has the same result as setting minComplexChars to 1.</string>
			<key>pfm_title</key>
			<string>Allow Simple Value</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the system requires alphabetic characters instead of only numeric characters.</string>
			<key>pfm_name</key>
			<string>requireAlphanumeric</string>
			<key>pfm_title</key>
			<string>Require Alphabetic Value</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>The minimum overall length of the passcode. This value is independent of the value for 'minComplexChars'.</string>
			<key>pfm_name</key>
			<string>minLength</string>
			<key>pfm_range_max</key>
			<integer>16</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Minimum Passcode Length</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>The minimum number of complex characters that a passcode needs to contain. A complex character is a character other than a number or a letter, such as '&amp;', '%', '$', and '#'.
The system ignores this property for User Enrollments.</string>
			<key>pfm_name</key>
			<string>minComplexChars</string>
			<key>pfm_range_max</key>
			<integer>4</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Minimum Number of Complex Characters</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The number of days for which the passcode can remain unchanged. After this number of days, the system forces the user to change the passcode before it unlocks the device.</string>
			<key>pfm_name</key>
			<string>maxPINAgeInDays</string>
			<key>pfm_range_max</key>
			<integer>730</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Maximum Passcode Age</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>days</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The maximum number of minutes for which the device can be idle without the user unlocking it, before the system locks it. When this limit is reached, the system locks the device and the passcode is required to unlock it. The user can edit this setting, but the value can't exceed the 'maxInactivity' value.
In macOS, the system translates this inactivity value to screen-saver settings. The maximum value for macOS is '60'.
Setting this key removes the 'never' option in the Settings UI on user enrolled devices.</string>
			<key>pfm_name</key>
			<string>maxInactivity</string>
			<key>pfm_range_max</key>
			<integer>15</integer>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Auto-Lock</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value defines N, where the new passcode must be unique within the last N entries in the passcode history.</string>
			<key>pfm_name</key>
			<string>pinHistory</string>
			<key>pfm_range_max</key>
			<integer>50</integer>
			<key>pfm_range_min</key>
			<integer>1</integer>
			<key>pfm_title</key>
			<string>Passcode History</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>passcodes</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>The maximum grace period, in minutes, to unlock the phone without entering a passcode. The default is '0', which is no grace period and requires a passcode immediately. In macOS, the system translates this grace period value to screen-saver settings.</string>
			<key>pfm_name</key>
			<string>maxGracePeriod</string>
			<key>pfm_title</key>
			<string>Grace Period for Device Lock</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>minutesUntilFailedLoginReset</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_default</key>
			<integer>11</integer>
			<key>pfm_description</key>
			<string>The number of allowed failed attempts to enter the passcode at the device's lock screen. After four failed attempts, the system imposes a time delay before a passcode can be entered again. The delay increases with each attempt. In macOS, set 'minutesUntilFailedLoginReset' to define a delay before the next passcode can be entered. When this number is exceeded in macOS, the system locks the device; in iOS, the system wipes the device.</string>
			<key>pfm_name</key>
			<string>maxFailedAttempts</string>
			<key>pfm_range_max</key>
			<integer>11</integer>
			<key>pfm_range_min</key>
			<integer>2</integer>
			<key>pfm_title</key>
			<string>Maximum Number of Failed Attempts</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The number of minutes before the system resets the login after the maximum number of unsuccessful login attempts is reached. This key requires setting 'maxFailedAttempts'. Available in macOS 10.10 and later.</string>
			<key>pfm_macos_min</key>
			<string>10.10</string>
			<key>pfm_name</key>
			<string>minutesUntilFailedLoginReset</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Delay after failed login attempts</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If 'true', the system causes a password reset to occur the next time the user tries to authenticate. If this key is set in a device profile, the setting takes effect for all users, and admin authentications may fail until the admin user password is also reset. Available in macOS 10.13 and later.</string>
			<key>pfm_macos_min</key>
			<string>10.13</string>
			<key>pfm_name</key>
			<string>changeAtNextAuth</string>
			<key>pfm_note</key>
			<string>If this key is set in a device profile, the setting takes effect for all users, and admin authentications may fail until the admin user password is also reset.</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Reset passcode at next login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Specifies a regular expression, and its description, used to enforce password compliance. Use the simpler passcode restrictions whenever possible, and rely on regular expression matching only when necessary. Mistakes in regular expressions can lead to frustrating user experiences, such as unsatisfiable passcode policies, or policy descriptions that don't match the enforced policy.
Available in macOS 14 and later.</string>
			<key>pfm_macos_min</key>
			<string>14.0</string>
			<key>pfm_name</key>
			<string>customRegex</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>A regular expression string that the system matches against the password to determine whether it complies with a policy. The regular expression uses the ICU syntax (&lt;https://unicode-org.github.io/icu/userguide/strings/regexp.html&gt;). The string must not exceed 2048 characters in length.</string>
					<key>pfm_name</key>
					<string>passwordContentRegex</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_description</key>
					<string>Contains a dictionary of keys for supported OS language IDs (for example, “en-US”), and whose values represent a localized description of the policy enforced by the regular expression. Use the special 'default' key can for languages that aren't contained in the dictionary.</string>
					<key>pfm_name</key>
					<string>passwordContentDescription</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string></string>
							<key>pfm_name</key>
							<string>{{key}}</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>A localized description.</string>
							<key>pfm_name</key>
							<string>{{value}}</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Passcode</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>4</integer>
</dict>
</plist>
