<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>TV Remote app settings</string>
	<key>pfm_description_reference</key>
	<string>The TV Remote payload is designated by specifying com.apple.tvremote as the PayloadType value. This payload is supported only on supervised devices.
This payload allows restricting the connections from the Apple TV Remote app to an Apple TV and restricting the available Apple TV devices in the Apple TV Remote app.
To lock specific Apple TVs to specific devices running Apple TV Remote app, both the Apple TVs and remote devices can be specified in the same payload.</string>
	<key>pfm_documentation_url</key>
	<string>https://help.apple.com/deployment/mdm/#/mdm7d0c7f50e</string>
	<key>pfm_domain</key>
	<string>com.apple.tvremote</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>exclusive</string>
	<key>pfm_last_modified</key>
	<date>2023-08-15T08:00:00Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>tvOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures TV Remote app settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>TV Remote settings</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.tvremote</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.tvremote</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable string containing the name of the organization that provided the profile.
The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The array of valid devices that Apple TV can connect to.</string>
			<key>pfm_name</key>
			<string>AllowedRemotes</string>
			<key>pfm_platforms</key>
			<array>
				<string>tvOS</string>
			</array>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>An item in the allowed remotes</string>
					<key>pfm_name</key>
					<string>AllowedRemotesItem</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>The MAC address of a permitted iOS device that can control this Apple TV. Use the format xx:xx:xx:xx:xx:xx. The field isn't case sensitive.</string>
							<key>pfm_format</key>
							<string>^([0-9A-Fa-f]{2}:){5}([0-9A-Fa-f]{2})$</string>
							<key>pfm_name</key>
							<string>RemoteDeviceID</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>Remote Device ID</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>00:00:00:00:00:00</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Allowed Remotes Content Item</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed Remotes</string>
			<key>pfm_tvos_min</key>
			<string>11.3</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The array of valid Apple TV identifiers that the remote can connect to.</string>
			<key>pfm_ios_min</key>
			<string>11.3</string>
			<key>pfm_name</key>
			<string>AllowedTVs</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>An item in the allowed TVs</string>
					<key>pfm_name</key>
					<string>AllowedTVsItem</string>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>The MAC address of an Apple TV device that this iOS device is permitted to control. Use the format xx:xx:xx:xx:xx:xx. The field isn't case sensitive.</string>
							<key>pfm_format</key>
							<string>^([0-9A-Fa-f]{2}:){5}([0-9A-Fa-f]{2})$</string>
							<key>pfm_name</key>
							<string>TVDeviceID</string>
							<key>pfm_require</key>
							<string>always</string>
							<key>pfm_title</key>
							<string>TV Device ID</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>00:00:00:00:00:00</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>The name of an Apple TV device that this iOS device is permitted to control.</string>
							<key>pfm_ios_min</key>
							<string>15</string>
							<key>pfm_name</key>
							<string>TVDeviceName</string>
							<key>pfm_title</key>
							<string>TV Device Name</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Allowed TVs Content Item</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed TVs</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
	</array>
	<key>pfm_supervised</key>
	<true/>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>TV Remote</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>2</integer>
</dict>
</plist>
