<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Login Window settings</string>
	<key>pfm_description_reference</key>
	<string>The Loginwindow payload is designated by specifying com.apple.loginwindow as the PayloadType value. This payload creates managed preferences on all versions of macOS for system and device profiles. Multiple Login-
window payloads may be installed together.</string>
	<key>pfm_documentation_url</key>
	<string>https://developer.apple.com/documentation/devicemanagement/loginwindow</string>
	<key>pfm_domain</key>
	<string>com.apple.loginwindow</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_interaction</key>
	<string>combined</string>
	<key>pfm_last_modified</key>
	<date>2023-01-23T09:23:00Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Loginwindow settings</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Loginwindow</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.loginwindow</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier.</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.loginwindow</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF).</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable string containing the name of the organization that provided the profile.
The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Window</string>
				<string>Options</string>
				<string>Access</string>
				<string>Password</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>Access</key>
				<array>
					<string>AllowList</string>
					<string>DenyList</string>
					<string>LocalUserLoginEnabled</string>
					<string>LocalUsersHaveWorkgroups</string>
					<string>FlattenUserWorkgroups</string>
					<string>CombineUserWorkgroups</string>
					<string>AlwaysShowWorkgroupDialog</string>
				</array>
				<key>Options</key>
				<array>
					<string>com.apple.login.mcx.DisableAutoLoginClient</string>
					<string>DisableFDEAutoLogin</string>
					<string>DisableConsoleAccess</string>
					<string>EnableExternalAccounts</string>
					<string>AdminMayDisableMCX</string>
					<string>TALLogoutSavesState</string>
					<string>UseComputerNameForComputerRecordName</string>
				</array>
				<key>Password</key>
				<array>
					<string>ChangePasswordDisabled</string>
					<string>RetriesUntilHint</string>
				</array>
				<key>Window</key>
				<array>
					<string>AdminHostInfo</string>
					<string>LoginwindowText</string>
					<string>SHOWFULLNAME</string>
					<string>HideLocalUsers</string>
					<string>HideMobileAccounts</string>
					<string>IncludeNetworkUser</string>
					<string>HideAdminUsers</string>
					<string>SHOWOTHERUSERS_MANAGED</string>
					<string>SleepDisabled</string>
					<string>RestartDisabled</string>
					<string>ShutDownDisabled</string>
					<string>PowerOffDisabled</string>
					<string>RestartDisabledWhileLoggedIn</string>
					<string>ShutDownDisabledWhileLoggedIn</string>
					<string>PowerOffDisabledWhileLoggedIn</string>
					<string>LogOutDisabledWhileLoggedIn</string>
					<string>DisableScreenLockImmediate</string>
					<string>showInputMenu</string>
					<string>HiddenUsersList</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>HostName</string>
			<key>pfm_description</key>
			<string>Cycle through the hostname, macOS version, and IP address when the menu bar is clicked.</string>
			<key>pfm_description_reference</key>
			<string>Optional. If this key is included in the payload, its value will be displayed as additional computer information on the login window. Before macOS 10.10, this string could contain only particular information (HostName, SystemVersion, or IPAddress). After macOS 10.10, setting this key to any value will allow the user to click the "time" area of the menu bar to toggle through various computer information values.</string>
			<key>pfm_name</key>
			<string>AdminHostInfo</string>
			<key>pfm_range_list</key>
			<array>
				<string>HostName</string>
				<string>SystemVersion</string>
				<string>IPAddress</string>
			</array>
			<key>pfm_range_list_allow_custom_value</key>
			<true/>
			<key>pfm_title</key>
			<string>Show additional information in the menu bar</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enter a message that's displayed above the login prompt. You might use this to provide a warning about unauthorized use.</string>
			<key>pfm_description_reference</key>
			<string>Optional. Text to display in the login window.</string>
			<key>pfm_name</key>
			<string>LoginwindowText</string>
			<key>pfm_title</key>
			<string>Banner</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>The display style and related options of the login prompt.</string>
			<key>pfm_description_reference</key>
			<string>Optional. Set to true to show the name and password dialog. Set to false to display a list of users.</string>
			<key>pfm_name</key>
			<string>SHOWFULLNAME</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>List of users</string>
				<string>Name and password</string>
			</array>
			<key>pfm_title</key>
			<string>Display login window as</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. When showing a user list, set to true to show only network and system users.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>SHOWFULLNAME</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>HideLocalUsers</string>
			<key>pfm_title</key>
			<string>Show local users</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, mobile account users will not be visible in a user list. In some cases mobile users will show up as network users.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>SHOWFULLNAME</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>HideMobileAccounts</string>
			<key>pfm_title</key>
			<string>Show mobile accounts</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. When showing a user list, set to true to show network users.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>SHOWFULLNAME</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>IncludeNetworkUser</string>
			<key>pfm_title</key>
			<string>Show network users</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. When showing a user list, set to false to hide the administrator users.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>SHOWFULLNAME</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>HideAdminUsers</string>
			<key>pfm_title</key>
			<string>Show Mac computer's administrator accounts</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. When showing a list of users, set to true to display Other... users.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>SHOWFULLNAME</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>SHOWOTHERUSERS_MANAGED</string>
			<key>pfm_title</key>
			<string>Show "Other"</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the Sleep button item will be hidden.</string>
			<key>pfm_name</key>
			<string>SleepDisabled</string>
			<key>pfm_title</key>
			<string>Show the Sleep button</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the Restart item will be hidden.</string>
			<key>pfm_name</key>
			<string>RestartDisabled</string>
			<key>pfm_title</key>
			<string>Show the Restart button</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the Shut Down button item will be hidden.</string>
			<key>pfm_name</key>
			<string>ShutDownDisabled</string>
			<key>pfm_title</key>
			<string>Show the Shut Down button</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the Restart menu item will be disabled when the user is logged in.</string>
			<key>pfm_name</key>
			<string>RestartDisabledWhileLoggedIn</string>
			<key>pfm_title</key>
			<string>Disable the Restart menu item while logged in</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the Shut Down menu item will be disabled when the user is logged in.</string>
			<key>pfm_name</key>
			<string>ShutDownDisabledWhileLoggedIn</string>
			<key>pfm_title</key>
			<string>Disable the Shut Down menu item while logged in</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the Power Off menu item will be disabled when the user is logged in.</string>
			<key>pfm_name</key>
			<string>PowerOffDisabledWhileLoggedIn</string>
			<key>pfm_title</key>
			<string>Disable the Power Off menu item while logged in</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, this will disable the Log Out menu item when the user is logged in.
Availability: Available in macOS 10.13 and later.</string>
			<key>pfm_macos_min</key>
			<string>10.13</string>
			<key>pfm_name</key>
			<string>LogOutDisabledWhileLoggedIn</string>
			<key>pfm_title</key>
			<string>Disable the Log Out menu item while logged in</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the immediate Screen Lock functions will be disabled.
Availability: Available in macOS 10.13 and later.</string>
			<key>pfm_macos_min</key>
			<string>10.13</string>
			<key>pfm_name</key>
			<string>DisableScreenLockImmediate</string>
			<key>pfm_title</key>
			<string>Disable the immediate Screen Lock function</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>A loginwindow password will be required to login.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>com.apple.login.mcx.DisableAutoLoginClient</string>
			<key>pfm_title</key>
			<string>Disable automatic login if FileVault is disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Both the EFI Login and loginwindow password will be required to login.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>DisableFDEAutoLogin</string>
			<key>pfm_title</key>
			<string>Disable automatic login if FileVault is enabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Allows users to use &gt;console at the login window.</string>
			<key>pfm_description_reference</key>
			<string>Optional. If set to true, the Other user will disregard use of the '&gt;console' special user name.</string>
			<key>pfm_name</key>
			<string>DisableConsoleAccess</string>
			<key>pfm_title</key>
			<string>Enable &gt;console login</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Allows external accounts to log in.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>EnableExternalAccounts</string>
			<key>pfm_title</key>
			<string>Enable external accounts</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Allows Mac administrators on the computer to refresh or disable the management features.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>AdminMayDisableMCX</string>
			<key>pfm_title</key>
			<string>Mac computer administrators may refresh content or disable management</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Reopens windows that were open at time of logout</string>
			<key>pfm_name</key>
			<string>TALLogoutSavesState</string>
			<key>pfm_title</key>
			<string>Reopen windows when logging back in</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Forces the name of the Mac to be set as the computer record name.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>UseComputerNameForComputerRecordName</string>
			<key>pfm_title</key>
			<string>Set Mac computer name to computer record name</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>User or group GUIDs of users that are allowed to log in. An asterisk '*' string specifies all users or groups.</string>
			<key>pfm_description_reference</key>
			<string>Optional. User or group GUIDs of users that are allowed to log in. An asterisk '*' string specifies all users or groups.</string>
			<key>pfm_name</key>
			<string>AllowList</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_format</key>
					<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
					<key>pfm_name</key>
					<string>GUID</string>
					<key>pfm_title</key>
					<string>User or Group GUID</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>ABCDEFAB-CDEF-ABCD-EFAB-CDEF00000050</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Allowed Users or Groups</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>User or group GUIDs of users that cannot log in. This list takes priority over the list in the AllowList key.</string>
			<key>pfm_description_reference</key>
			<string>Optional. User or group GUIDs of users that cannot log in. This list takes priority over the list in the AllowList key.</string>
			<key>pfm_name</key>
			<string>DenyList</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_format</key>
					<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
					<key>pfm_name</key>
					<string>GUID</string>
					<key>pfm_title</key>
					<string>User or Group GUID</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>ABCDEFAB-CDEF-ABCD-EFAB-CDEF00000050</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Denied Users or Groups</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Permit only local users to log in. Network users won't be allowed to log in.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>LocalUserLoginEnabled</string>
			<key>pfm_title</key>
			<string>Local-only users may log in</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Local users are forced to use any available workgroup settings.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>LocalUsersHaveWorkgroups</string>
			<key>pfm_title</key>
			<string>Local-only users use available workgroup settings</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If users are part of a nested workgroup, only the settings of the user's workgroup are enforced.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>FlattenUserWorkgroups</string>
			<key>pfm_title</key>
			<string>Ignore workgroup nesting</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If users are part of a nested workgroup, all nested workgroup settings are enforced.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>CombineUserWorkgroups</string>
			<key>pfm_title</key>
			<string>Combine available workgroup settings</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If the workgroup has a specific dialog, that dialog is shown when users log in.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>AlwaysShowWorkgroupDialog</string>
			<key>pfm_title</key>
			<string>Always show workgroup dialog during log in</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enable or disable the "Change Password…" button in the Users &amp; Groups preference pane.</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>ChangePasswordDisabled</string>
			<key>pfm_title</key>
			<string>Allow user to change password</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Number of tries until password hint is shown (0 = disable password hints).</string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>RetriesUntilHint</string>
			<key>pfm_title</key>
			<string>Show password hints after failed attempts</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string></string>
			<key>pfm_documentation_source</key>
			<string></string>
			<key>pfm_name</key>
			<string>showInputMenu</string>
			<key>pfm_title</key>
			<string>Show input menu in login window</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Hides users defined in the list from the login window under the Other button</string>
			<key>pfm_description_reference</key>
			<string>Optional. Users defined are hidden from the login list.</string>
			<key>pfm_name</key>
			<string>HiddenUsersList</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_format</key>
					<string>(\p{L}+)</string>
					<key>pfm_name</key>
					<string>username</string>
					<key>pfm_title</key>
					<string>Username</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>user</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Hidden Users List</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>Login Window</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>6</integer>
</dict>
</plist>
