<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_version</key>
	<integer>1</integer>
	
	<key>pfm_last_modified</key>
	<date>2022-11-11T09:00:00Z</date>
	
	<key>pfm_title</key>
	<string>VPN Tracker</string>
	
	<key>pfm_description</key>
	<string>Manage settings in VPN Tracker for Mac, iPhone or iPad – the multi protocol VPN client for enterprise teams. Visit vpntracker.com/goto/profile to learn more.</string>
	
	<key>pfm_domain</key>
	<string>com.vpntracker.365mac</string>

	<key>pfm_subdomain</key>
	<string>Onboarding</string>

	<key>pfm_app_url</key>
	<string>https://www.vpntracker.com</string>
	
	<key>pfm_targets</key>
	<array>
		<string>user</string>
	</array>
	
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	
	<key>pfm_format_version</key>
	<integer>6</integer>
	
	<key>pfm_unique</key>
	<true/>

	<key>pfm_icon</key>
	<data>
		iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAT3UlEQVR4Ae1bBXAbybY93QMiY2IM2A5v
		cMNZyFvexwyfGR8zQ9FjZmb69JiWkuXdMDMzmSULZ5p+q0fjmucyyfv551adtDKlavU5597bPfII1+P/
		cVyP63E9rgfBFOPmm29ubmpq6li0aFFbe3t7vY6Y4zg2AIoqQyllRkJI+Hq8UEIIns1mve7u7uzJkyd7
		LuoAcHlKAmzYsAHVxAtf+MLVGzduvHPt2rVza3RUCIerVv+1xplRlnQcPHjw4mOPPfakFmcLADbpiT76
		0Y9iMvHQQw81/dVf/dWf/tmf/dlqSo3JvoasxmgNURlVhMBI4WgZUioavTxeZlAdhBAHgPXggw+e/NSn
		PvUjAGcmJcA999yDieLSpUsdP/nJT16/bNmydgBFDTVBOocpLSukydBAX6L34qmGwSunG3P9V2r9Qjop
		mecYArbLnURdMdnYlm1snzvYNHtBuqG1PU8DgW3tKg3nnegzdRnGe3p6Ci9/+cu/AWDvhALceuutGC8O
		HTrUtGPHjncuXLiwFUBJYyJXQuI83dtdc3LX5o7uY1u6VPZSa40rUnW1MaRSccRiMdi2hXJogvA9hnyh
		iKFsCdkSLapEa+/0+evPz1t3z/nWWXMyACjj3EL4meOsw3VdJ5PJ+GvWrPksgOPjCjBv3jyMFXoS+pWv
		fOUNr3rVq9YqpQoTOUApVQBY94XTjfsf+uHS/PkdC9un28lZs9pQ11APy3bMe6VUZhxOfmJEA6XEjFJw
		5IayuHL5Gi71FD27efmZpff86cGuxSt7hIItmE8nMiKmY//+/Ze1weUaz40pQCqVwlhxyy23rNW1/wYA
		ntIxQR3yQi7rbv35V2/MHHtoxaK502OzOmfDshxo58ar4bGyKMgQJXH18hUcPXFVODM2HNnwijfsnq7L
		w/M8ZyIR4vF46i1vectPAPwKYwR585vfjNHic5/7nHXfffe95XnPe95yKeUYqR86R/1T+7bO2PWTj982
		r0U2LVyyECAUnIn/kI3Bsi1YlODsqbM4cnYoe8NzX//UijtedJr5viOFIGNlpU4C58SJE72rVq36EIDs
		qAKUa3G00Hv8rGPHjr1X73Su0DHaB2jiZbCtv/russtbvrvx5nWLrNqGRvg+CzO7+ggFVjIAIRrUwHVs
		eKUCtm87hPiC5++87U/fvhNKWIJzMtocREdZhDvvvPNLAHZjlLDXr1+P0aK2trZTk09q7n7U8ajzRJPf
		/INPrvdP/mbdXXeshgJFqeQhjCqTXvPlmo8PYidgJRrMCCUgSllIbwhFX8Fy4njW7Wuxd+emdQ98uSd1
		76s/8jihFpWCk5HZqXRYOjTHuVULwDlvBUCjtR8lr+f1N3//EzeJs/etvXnjGjAmoJQAQKbkuOIlWMkm
		pLpuRbxtOazUNBDLMQJILw9/8BwK57eh1H0EnFGsXHsjDu07tOTBr76bPOc1H38MhNAxykEtWLCg9dWv
		fjUd7dxif/rTnx7rgNRQEXG0vdbf8qvvrvBO/EaTXw3PY5HdSVXLHpKVkOy8GfUrXgkabwDAAFWGACgB
		TdQhnlyDWOsSLcIOZA7/GvlsFktWLMaB3QcWP/aDjxXv+usPbJEi547IAAghZHNzcy0Ad+Q2jnHO7VSX
		QDycJArHdfmJvVtmXnryW7eu27Bck+eQQkLJ6qEdA9fupubfjcb1f6fJJwGR0/CC+g/FJBSloR5IwZDs
		WGuEUlYc+VweS29cDHbmwdV7N/3rQieeYkpJEmy1MhRAJZPJGABHA5MWoFw+YQaEINRS2XTa3fVvH71j
		7aq5lpDBIUZKOXmoYBRSk/cLcFuWoWHVHwGqBAgfINAgAAIIxrH5h5/At9//J/jJp96I3kun4E7vQt38
		Z5ldplTysWr1DTi9+Wu3XTt3oo7argjJR2CNxZVOdMMRVdN2bLbtF19d1dFQakzV1IKzcurL6mCEEJCc
		QyobjTe+InBacgwTD3cBGsOJXY9gzwM/hMXz6D+zF7vv+y6kBNxpXYhNm41SsQhCbSzuqo3v+vkXblKK
		iHDd0bXrIFUJoPRM0Yks25WXTx+fNnjk/hVz5nWi5PkVN0V1EEHqM68It3mxJjIHkKUKeQVEhAIUSvkM
		4q6FupoEGuuSICwPbTGEoqhp7gLnEsViCS3tbaB9+xac2vPETOrEeJR8yKVaAcwYTkJsix/c9MPlXe1J
		R4JUCMlqYVJfCAnm+7rbLwk/LIBUUGWE72cFzF91GzpuWA3lF5CsqcOiW14MKBjiTqrOZAnzGDyNeXNa
		cPLxf17FGR9ZAhgr7IkECNx3VN/lC7XZM1sWLlk1yyy+2gh5hvcCjANObSsAAUQXqoZdM2WSqGnAvX//
		YfRfOIpkfQtS09rg5TPGAMuyAMvV/x8CoQS1DfWgZ052XD6xv3nmwhV9knlWaGDVGRAVgjouP7P7kc7p
		KR4jhJo0niqEBtfEfCYAagMQ0R4RyRZhRu6XYNkxtC1Ya8izUgGSM7MjEEiTCZ7no+w6YwJtTXFyfs/m
		eYRa4j8sA7jPSPfRp+bMa64HY8w4WH2E7gOCC3jFknEuWmYqHE0PCEdZWYMHKbkm70NoUOGBEt9shb7P
		4cYEiKfQ2FiPi+f2dhaymV22beMZZwChVKX7riZ5+mxLMpUE51Or/UgPMBmQz6bRe/ZQ5QgsoIQIyJpG
		qfF7Izcw5JlnDk4OiuClHPr7BsCFKs+pIWA5Dhze39h/+Uw9oZbU5KcmQLhgQm3Zf+lUQwyFBMLmNxWI
		oPkJxqAHNN9wGxo7l0GWCYnIbhIKIUQohiEvuAfhl8D9IggvIOUwXLt4Een+dCAsL88f7DKpmKT9F483
		mTKYagmEIoBSmb5ypjHhwhDQ16baAA0ZLiTmPucdmLZgoyafByvlDGEZpvvI9DcisMB934PS5JMkB0sW
		sHvrbkgZ9hahATBOkIzbyHSfnSZRnkJOvQcYSKXyA1fqkq4FYVJxKgIQM5fgHMzzQewYuJ8FL+UjByMW
		kJUy3Akq5PmwAOBFJDT52hqBHZu24dypc5jRXg8ZNk8BCE6C2+ZMT53gjFgWeWYCaGWJlxtM1Fm0/Hpq
		DVDBNDDf89Bxx2tRN2s5WGEwWHS0toVvSIfbZdAbOCB92LKElFNCIimx78kd2PTbh9FQF4dFAQw3UFLZ
		Hil4fijOGaMOddSUBRhuXKzkgCCoR6WqJW+IcN9H552vQ+vqF8PL9hrHI+Q1CnB5GglXk7Fcs71JJUCp
		QMwVsG2OQnoA9/3qCWx5bBvqUjHEY5YRgJCwZAjCClXcswXnRDr21HtAKAJCMYSsWgBDnvnouuv1aF31
		YpQy3VHiBpKXTGOrdfPYv2U70kNFdM3rRDIZN+k/OJjGqWNncHD3Id30BtHQkEQq6WhhKCyLBCojFAGo
		/BP0FY1nlAHlIJbLhcchVXUloIQmr4nOufsNaNHki5lrlXpmpqMLVgRhWSRJQROigFfE7365CZcvXtXk
		E3Bcx6xD9w1DJJGIDZNPxClch4JSgCA8QcJAcg5QRxBQFfKYcg/QoZxkXdEb9JGSckIBjB+VtBdMk7/n
		jdr5l6CUvgYRktfEhSZLeRb1Tg6i0I+tTx1Cqeghox1ubKgxc0AKTZDA1eluW7TsuCZuI5WwTfrbNmBR
		ZUoAKEOagfk+qFtTIhaVOgiAqQtQniDe0JYtnGbDW9N4IRWBktyk/bxnvxlta16KoiY/vJWxYC+nTJN3
		cwAbwo+//a/Yt+sQkok4UikXjk0DMUn49Rsx12KuVSaux7L7BPoSKNGAAjHkqYYy30u6Lc1ZEKqkFFPu
		AWGXJrUtnYP9num0426DCqHznib/VrStfikKg1fCtDfkhR843+DmoVgGP/jKj3B4/zHU16fg2mWHNUHH
		AqHECGDpkWrYNoVTgV0mbwGWBh3OABiDylEoMiSbOwaUNk+RZ1gC2kmrvq1r0CMpT7+OaYfHeD8ZJj//
		uW9F+5rRyVtl8rEClJ/B9778Axw7dBz1dUm4bsVhDV3bZiujxuFAAMvSCEcN25DXIGHqk8oaFPI+Va3t
		8/oE9ym16DNrgoIzkmpsztsNnT2F3InZsWQSI+eL1vyC578N7WtfNjp5kUVjrFz/aXz3S9/HicMnjPOJ
		mEltQ9wpwy4LYIhXBIAGqQCwyrAC8gQwMCQlgccYuNucqWvpSJfNs2kM4wWdzDnAsmw5bf5N5wbTOQDh
		9QBClMHN3dqC570NM9a8HIWByxDhNucXNQqweJl8Abw4iG9//js4fvi4Jp803TypkYhRxDViTrneQ8DA
		tgPHDYwAqkJeAYhudQpDmSySM2887yZrPClEmMlTEyAE84r2jGUbz2V5iknmY+SNDvMKeqt7DWasewXy
		A5cMeckqNy8h+UTBnP6+9flv4+TRkybty6STGmFTC8iGI+BYxIwheYsCNCRvIAGzxuA4TZTAQE6idelt
		pyRnVpRD1QJEs0CnEm1onZ1Jdd1yanAgY5Qfdp8zULcWLYvvDJxnJciI87bIYlqiCD83gG987lv6QHMK
		dXUJQ15Dk9eEHVSI6tdRpy0FK3Q8IG4AEv3mSBoQKOSyWaiGxZebuhb3cL/0zAQY8aVi2VVr7q2vONCb
		s4Ss3BSZujeHHQm/mAX38sZ1Q54VNfmcJl9CKduPr3/mmzhz/HSEPDHkI+mtoQxp+nuEA3LRdMcwMRlA
		SON+d18RM9e/bC+hVIVr1+NUBTAxPAnzSlZT5+Leuhuee6SvZ8CkYFD/CtlMGgWd+kRo8l4O0s8HzidL
		KA714Wuf/jrOnjyD+qjzToU4Des67OoIiBvCIWTEyQjxSh8CUcikM0DrunMzltx0oVyyUfc11JR7QDQL
		uF+0F9/7l7vSqjXrFfJQMhCgWCji9I4HUe8U0KRrvVkTb26UyKd7DPlzp88Z5+MR8lHnLSta24HjClGn
		A9KokA6Jy/A183BtyGXz7/mbrUpJoq/9h3wrLEamT3lbSdZPL8x/7pueOPmz975gdrsFKQmoHcOBx38L
		/XcDtM6ehVRNCr7PsPWRp3H1ytWK88TAHa53pUEqHR2gCM/0hn64uQEK4/61mVLg0tUMWje+aUvjzHn9
		rJiLhW+NCCABqKoEyOfzTClFRvxxVPmlvDN7xa1nBy7+xY7L27+5vqWlHkDZOYKTh/Zj347d4AIQUsHV
		bOtr44i7ZfKVTm9FU14Npz0hEZIKgfsYN0z29HSn4cx74ZF5N7/4kCbvRtO98pIUi0UGQFYjgOzt7c2P
		mkL6NSvm3cV3/+nu3eme1LWjv1za0FBr9u1UMg5qCTBuFm8cjjlUC1DZ3yMpb1ENAgS8w88gIJMgDgRz
		9PVk4DVvPLv6Ra99UnDPHu3IS3T09/cXAPBqBFDnzp0bZIwpHWRkE1FSEqm4vfyFr3lqL+Ok5+ivl9TV
		JyElNa7yiACOHSJKPnCeEI0w3fUwOeqBeL3dGbC2286ufNW7N2mOSnBGAYwqwPnz5wcBiKpKQD8ec3Vg
		YMBLJpNURu6Bw+KSQlAllbX8Ba9+6nCspti7+1/XNNZQ2EkHjAf35uEx1oo6H7mDC8lHnxgbTwJKCZRg
		uNxdRHzRSw+tfOGrn6Zl8synIJF5IuQ9z5P6KdIrYwlgYfQgugdAP2e3RD9dUe/7vqzwHnlOIFJw2tS1
		/DJSMwevnjnWYrFBN5V0Kg0uJE8CUAyf5UkZZHIPLJOKYLlsDj35Gq/19tc9ueieP9+lbadSY5yHJi3t
		fl4/6reZcz4AQE1aAA2RzWYbXvSiFy1kjMnhXqARlkFQHloEzuz61s6Bhjnrz6eHPDtz7dx0ByVSvsFx
		bBqSDjOiQigkpwCMDtMcIVEqFNCblpDtt51a9JL3bG5bvP4C9wpueQ3jbePlB7y+/e1vH9y1a9dWAF4V
		ApggFy5cKOqnwecvXry4vlQqCUSjTF4jtEg7YbmJJGtZuO58Ysbyy5kct3L93XXKz1HHluEdnhFh2HkS
		VTy8pqGkubPM54oYyNtSNG84P/vu1z8x7/Y/3OsmajzhF5wI0VHJ69K1jx8/nv/whz98nzbwMgBe7ePy
		tkayra1tww9+8IOXz5o1yy0UChyRkEIQ0xAr5aD0//U1EMsRZRrZ3ksNvad2duXO7+6QQ+enOyKrk7Is
		BgnFCBdstk0uFJig4DQlSG3HQG3nmvPNi2890zhzfh8hgGCeHSU8Vuq7rks1aaofjNqknxbdBGBIg1Ur
		ANGIadTrLLjti1/84t0dHR2uLgsW/VAlKycvgES2TQI9UtsRlu0KzplVHOyuyfVcmFbov9joDV2rE8VM
		InxYmtgut+O1JbeudSjZ1DFY09rVn5rWPuTEE0xxZpXvQ0YhOpbzljYK733ve7c//vjjDwLoraS/rFYA
		pFIpSzfDGIDGmTNnrn//+9+/8fbbb58mdJS7qw4V9oWRh6YwSKXQqeVI6jiSEEsGwgkqlSRGOUqUvq5R
		nkKSSnOz9OtJ/tDCPBBJtPO27vi5j33sYzsPHDjwFIAejVKY/lULEHZSnU5xAHUa85773Oeu0g9Pz126
		dGmNDitYtIKGigowmVCoxLhpPXqQIMKTnjx9+nTxN7/5zcVf/vKXe3W/OgYgTQgpTfTjiXCSiZS2KuWQ
		0GjQmDFnzpzZujm2dHZ21k6fPj1WFqPsAABiMDGRakmHC5baEKEzU+hziq9/y5DTza5PPxN8SUp5CcCA
		RjF0/j/yN0NUw9FwNWIRQeKVa44GxX9NyAo5v0I0hFe5xjTEf9aPpqwIbA1aAZn6nFWFioyyAlEBr/x/
		0ilHMPUgIf4LyUdDjYLrcT2uR3Xx71fhewWLJrR8AAAAAElFTkSuQmCC
	</data>

	
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures VPN Tracker preferences for managed onboarding</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>VPN Tracker</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.vpntracker.365mac</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.vpntracker.365mac</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_TeamUUID</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Team UUID</string>
			<key>pfm_description</key>
			<string>Have new users automatically join your organization's VPN Tracker team and automatically receive their VPN connection. Find yours at my.vpntracker.com/teamprofile.</string>
			<key>pfm_value_placeholder</key>
			<string>01234567-89AB-CDEF-0123-456789ABCDEF</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>

		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_TeamAPIToken</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Team API Token</string>
			<key>pfm_description</key>
			<string>The team's API Token – find it at my.vpntracker.com/teamprofile.</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		
		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_Greeting</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Greeting text</string>
			<key>pfm_description</key>
			<string>Greeting text to show instead of the default "Welcome, {name}".</string>
			<key>pfm_value_placeholder</key>
			<string>Welcome!</string>
		</dict>

		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_EmailDomains</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Allowed email domains</string>
			<key>pfm_description</key>
			<string>A comma-separated list of email domains that users are allowed to use when joining your team.</string>
			<key>pfm_value_placeholder</key>
			<string>yourcompany.example, subdomain.example.com, *.yourcompany.example</string>
		</dict>

		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_Email</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Email address</string>
			<key>pfm_description</key>
			<string>You can optionally set the email address the user will use to sign in to VPN Tracker, when deploying a personalized profile.</string>
			<key>pfm_value_placeholder</key>
			<string>user@example.com</string>
		</dict>

		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_GivenName</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Given name</string>
			<key>pfm_description</key>
			<string>Used in the onboarding greeting and during VPN Tracker account registration for new users.</string>
			<key>pfm_value_placeholder</key>
			<string>Grace</string>
		</dict>
		
		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_FamilyName</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Surname</string>
			<key>pfm_description</key>
			<string>Used in the onboarding greeting and during VPN Tracker account registration for new users.</string>
			<key>pfm_value_placeholder</key>
			<string>Hopper</string>
		</dict>
		
		<dict>
			<key>pfm_name</key>
			<string>Managed_Onboarding_FullName</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Full name</string>
			<key>pfm_description</key>
			<string>Full name of the user displayed during onboarding. If given name and family name are set, this value is ignored.</string>
			<key>pfm_value_placeholder</key>
			<string>Grace Hopper</string>
		</dict>

	</array>
</dict>
</plist>

