<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://1password.com</string>
	<key>pfm_description</key>
	<string>1Password settings</string>
	<key>pfm_domain</key>
	<string>com.agilebits.onepassword7</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2020-07-15T11:00:44Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures 1Password settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>1Password</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.agilebits.onepassword7</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited. Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.agilebits.onepassword7</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.3</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Should 1Password automatically check for software updates?</string>
			<key>pfm_documentation_url</key>
			<string>https://discussions.agilebits.com/discussion/97024/disable-automatic-update-check-via-script-or-command</string>
			<key>pfm_name</key>
			<string>CheckForSoftwareUpdatesEnabled</string>
			<key>pfm_title</key>
			<string>Check for Software Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
<!-- THIS IS KEY DISABLED UNTIL A BUG IN 1PASSWORD CAN BE ADDRESSED
		<dict>
			<key>pfm_app_min</key>
			<string>7.3</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Should 1Password attempt to automatically install updates?</string>
			<key>pfm_documentation_url</key>
			<string>https://discussions.agilebits.com/discussion/97024/disable-automatic-update-check-via-script-or-command</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>CheckForSoftwareUpdatesEnabled</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>AutoInstallSoftwareUpdatesEnabled</string>
			<key>pfm_note</key>
			<string>This setting has no effect unless checking for updates is disabled. Meaning you cannot force automatic checking but disable automatic installation.</string>
			<key>pfm_title</key>
			<string>Automatically Install Software Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
-->
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>1Password</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
