<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string></string>
	<key>pfm_description</key>
	<string>Skype for Business settings</string>
	<key>pfm_documentation_url</key>
	<string>https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-clients/customize-the-mac-client-experience / https://techcommunity.microsoft.com/t5/Skype-for-Business-IT-Pro/Skype-for-Business-Mac-client-Preference-Settings/m-p/66530</string>
	<key>pfm_domain</key>
	<string>com.microsoft.SkypeForBusiness</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2023-11-30T15:08:23Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Skype for Business settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Skype for Business</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.microsoft.SkypeForBusiness</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.microsoft.SkypeForBusiness</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>General</string>
				<string>Connection</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>Connection</key>
				<array>
					<string>autoDetectAutoDicoveryURLs</string>
					<string>internalAutoDiscoveryURL</string>
					<string>externalAutoDiscoveryURL</string>
					<string>httpProxyDomain</string>
					<string>httpProxyUserName</string>
					<string>httpProxyPassword</string>
					<string>trustedDomainList</string>
				</array>
				<key>General</key>
				<array>
					<string>userName</string>
					<string>sipAddress</string>
					<string>userNameInAdvancedOnly</string>
					<string>autoAcceptTimeout</string>
					<string>warnWhenUnknownLocationForE911</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The UPN (UserName) used to sign-in to Skype for Business.</string>
			<key>pfm_description_reference</key>
			<string>The UPN (UserName) used to sign-in to Skype for Business.</string>
			<key>pfm_name</key>
			<string>userName</string>
			<key>pfm_title</key>
			<string>Username</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>username</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The SIP address (Email) used to sign-in to Skype for Business.</string>
			<key>pfm_description_reference</key>
			<string>The SIP address (Email) used to sign-in to Skype for Business.</string>
			<key>pfm_name</key>
			<string>sipAddress</string>
			<key>pfm_title</key>
			<string>SIP Address</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>username@company.com</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Specify where the User Name field is displayed during sign-in.</string>
			<key>pfm_description_reference</key>
			<string>Specify where the User Name field is displayed during sign-in. 
0 = display the User Name field on the main sign-in screen and in the Advanced Properties dialog box 
1 = display the User Name field only in the Advanced Properties dialog box (default)</string>
			<key>pfm_name</key>
			<string>userNameInAdvancedOnly</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Both on the Main Screen and in the Advanced Properties dialog box</string>
				<string>Only in the Advanced Properties dialog box</string>
			</array>
			<key>pfm_title</key>
			<string>User Name field location</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>300</integer>
			<key>pfm_description</key>
			<string>Auto-Accept timeout for users without Server-side Conversation History.</string>
			<key>pfm_description_reference</key>
			<string>Auto-Accept timeout for users without Server-side Conversation History.</string>
			<key>pfm_name</key>
			<string>autoAcceptTimeout</string>
			<key>pfm_title</key>
			<string>Auto Accept Timeout</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>seconds</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Warns the user when dialing an emergency number from an unknown location.</string>
			<key>pfm_description_reference</key>
			<string>Warns the user when dialing an emergency number from an unknown location.
				0 = Disabled 
				1 = Enabled</string>
			<key>pfm_name</key>
			<string>warnWhenUnknownLocationForE911</string>
			<key>pfm_title</key>
			<string>Warn Unknown Location for Emergency 911</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Specify how Skype for Business identifies the transport and server to use during sign-in. (The misspelling of Discovery in the key is intentional.)</string>
			<key>pfm_description_reference</key>
			<string>Specify how Skype for Business identifies the transport and server to use during sign-in. If you enable this policy setting, you must specify internalAutoDiscoveryURL and externalAutoDiscoveryURL.
				0 = manual server configuration 
				1 = automatic server detection (default)</string>
			<key>pfm_name</key>
			<string>autoDetectAutoDicoveryURLs</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Manual Server Configuration</string>
				<string>Automatic Server Detection</string>
			</array>
			<key>pfm_title</key>
			<string>Server Discovery Method</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>autoDetectAutoDicoveryURLs</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>Internal autodiscover URL</string>
			<key>pfm_name</key>
			<string>internalAutoDiscoveryURL</string>
			<key>pfm_title</key>
			<string>Internal Auto Discovery URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>autoDetectAutoDicoveryURLs</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>External autodiscover URL</string>
			<key>pfm_name</key>
			<string>externalAutoDiscoveryURL</string>
			<key>pfm_title</key>
			<string>External Auto Discovery URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>HTTP Proxy Domain</string>
			<key>pfm_name</key>
			<string>httpProxyDomain</string>
			<key>pfm_title</key>
			<string>HTTP Proxy Domain</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>HTTP Proxy Username</string>
			<key>pfm_name</key>
			<string>httpProxyUserName</string>
			<key>pfm_title</key>
			<string>HTTP Proxy Username</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_description_reference</key>
			<string>HTTP Proxy Password</string>
			<key>pfm_name</key>
			<string>httpProxyPassword</string>
			<key>pfm_title</key>
			<string>HTTP Proxy Password</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>List of trusted domains for HTTP redirects.</string>
			<key>pfm_description_reference</key>
			<string>List of trusted domains for HTTP redirects.</string>
			<key>pfm_name</key>
			<string>trustedDomainList</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Domain</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_value_placeholder</key>
					<string>example.com</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Trusted Domain List</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Skype for Business</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>4</integer>
</dict>
</plist>
