<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://github.com/twocanoes/xcreds</string>
	<key>pfm_description</key>
	<string>xcreds OAuth Settings</string>
	<key>pfm_domain</key>
	<string>com.twocanoes.xcreds</string>
	<key>pfm_documentation_url</key>
	<string>https://github.com/twocanoes/xcreds</string>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2022-08-12T17:21:11Z</date>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures XCreds configuration preferences</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>XCreds</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.twocanoes.xcreds</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.twocanoes.xcreds</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>discoveryURL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Discovery URL</string>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_default</key>
			<string>https://login.microsoftonline.com/common/.well-known/openid-configuration</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>clientID</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Client ID</string>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>username</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Local Username</string>
			<key>pfm_description</key>
			<string>When a user uses cloud login, XCreds will try and figure out the local username based on the email or other data returned for the IdP. Use this value to force the local username for any cloud login. Provide only the shortname.</string>
		</dict>
		
		<dict>
			<key>pfm_name</key>
			<string>clientSecret</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Client Secret</string>
			<key>pfm_description</key>
			<string>Client Secret sometimes required by identity provider.</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>scopes</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Scopes</string>
			<key>pfm_description</key>
			<string>OIDC Scopes</string>
			<key>pfm_default</key>
			<string>profile openid offline_access</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>refreshRateHours</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Password Change Check Rate</string>
			<key>pfm_description</key>
			<string>Number of hours for checking for password changes. Default is 3 hours.  Minimum is 1 hour.</string>
			<key>pfm_default</key>
			<string>3</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>redirectURI</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Redirect URI</string>
			<key>pfm_description</key>
			<string>URI to redirect to when authentication is complete.</string>
			<key>pfm_default</key>
			<string>xcreds://auth/</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>LogFileName</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Log File Name</string>
			<key>pfm_description</key>
			<string>Name of log file. Normally saved to /tmp</string>
			<key>pfm_default</key>
			<string>xcreds.log</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>verifyPassword</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Verify Cloud Password</string>
			<key>pfm_description</key>
			<string>Show prompt to verify cloud password before setting keychain and login.</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldShowVersionInfo</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show Version and Build Number</string>
			<key>pfm_description</key>
			<string>Show the version number and build number in the lower left corner of XCreds Login.</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldShowSupportStatus</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show Support Status Message</string>
			<key>pfm_description</key>
			<string>Show message in XCreds Login reminding people to buy support.</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldShowConfigureWifiButton</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show Configure WiFi</string>
			<key>pfm_description</key>
			<string>Show Configure WiFi button in XCreds Login.</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldShowMacLoginButton</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show Mac Login Window button</string>
			<key>pfm_description</key>
			<string>Show the Mac Login Window button in XCreds Login.</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldSetGoogleAccessTypeToOffline</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Request Google Refresh Token</string>
			<key>pfm_description</key>
			<string>When using Google IdP, a refresh token may need be requested in a non-standard way.</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>showDebug</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show Debug Message</string>
			<key>pfm_description</key>
			<string>Show debug local notifications.</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldShowQuitMenu</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show Quit Menu Item</string>
			<key>pfm_description</key>
			<string>Show Quit Menu Item in the menu.</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldShowPreferencesOnStart</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show Preferences on Startup</string>
			<key>pfm_description</key>
			<string>If no settings are specified, preferences will not be shown on startupu</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		
		<dict>
			<key>pfm_name</key>
			<string>CreateAdminUser</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Create User as Admin</string>
			<key>pfm_description</key>
			<string>When set to true and the user account is created, the user will be a local admin.</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>EnableFDE</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Enable Full Disk Encryption (FDE)</string>
			<key>pfm_description</key>
			<string>Enabled FDE enabled at first login on APFS disks.</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>EnableFDERecoveryKey</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Save PRK</string>
			<key>pfm_description</key>
			<string>Save the Personal Recovery Key (PRK) to disk for the MDM Escrow Service to collect</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>EnableFDERecoveryKeyPath</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>FDE Recovery Key Path</string>
			<key>pfm_description</key>
			<string>Specify a custom path for the recovery key</string>
			<key>pfm_default</key>
			<string></string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>EnableFDERekey</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Enable FDE Rekey</string>
			<key>pfm_description</key>
			<string>Rotate the Personal Recovery Key (PRK)</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>shouldShowAboutMenu</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Show About Menu</string>
			<key>pfm_description</key>
			<string>Show the About Menu</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>passwordChangeURL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Password Change URL for Menu</string>
			<key>pfm_description</key>
			<string>Add a menu item for changing the password that will open this URL when the menu item is selected.</string>
			<key>pfm_default</key>
			<string></string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>loginWindowBackgroundImageURL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Login Window Background Image URL</string>
			<key>pfm_description</key>
			<string>url to an image to show in the background while logging in </string>
			<key>pfm_default</key>
			<string>file:///System/Library/Desktop Pictures/Monterey Graphic.heic</string>
		</dict>		
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>XCreds</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>