<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_documentation_url</key>
	<string>https://docs.google.com/spreadsheets/d/1ESX5td0y0OP3jdzZ-C2SItm-TUi-iA_bcHCBvaoCumw/htmlview#</string>
	<key>pfm_app_url</key>
	<string>https://www.office.com</string>
	<key>pfm_description</key>
	<string>Microsoft Office 2016 settings</string>
	<key>pfm_domain</key>
	<string>com.microsoft.office</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2018-07-13T17:38:16Z</date>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Microsoft Office 2016 settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Microsoft Office 2016</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.microsoft.office</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.microsoft.office</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.33.0</string>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Set the theme used by Microsoft Office 2016.</string>
			<key>pfm_name</key>
			<string>kCUIThemePreferencesThemeKeyPath</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Colorful</string>
				<string>Classic</string>
				<string>Dark Mode</string>
			</array>
			<key>pfm_title</key>
			<string>Theme</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.33.0</string>
			<key>pfm_description</key>
			<string>Sets value of 'Belongs to' field in the About Box. This happens automatically on 15.33+ installs. As of version 16.13+ this value also pre-fills the account authentication field.</string>
			<key>pfm_name</key>
			<string>OfficeActivationEmailAddress</string>
			<key>pfm_title</key>
			<string>Activation Account</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>jane.doe@microsoft.com</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>16.13.0</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Only prompt user for needed information like a O365 authentication.</string>
			<key>pfm_name</key>
			<string>OfficeAutoSignIn</string>
			<key>pfm_title</key>
			<string>Hide welcome window of first launch</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.36.0</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Disables the gallery view on application launch.</string>
			<key>pfm_name</key>
			<string>ShowDocStageOnLaunch</string>
			<key>pfm_title</key>
			<string>Hide gallery view on launch</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.34.0</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Additonal key to 'OUIWhatsNewShownItemIds' that services as a single place to remove all future "What's new" messages for all suite apps: Word, PowerPoint, Excel, Outlook, and OneNote.</string>
			<key>pfm_name</key>
			<string>ShowWhatsNewOnLaunch</string>
			<key>pfm_title</key>
			<string>Hide what's new message after update</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.33.0</string>
			<key>pfm_description</key>
			<string>Sets the Open and Save options to default to 'On My Mac' instead of 'Online Locations'.</string>
			<key>pfm_name</key>
			<string>DefaultsToLocalOpenSave</string>
			<key>pfm_title</key>
			<string>Use 'On My Mac' as default open and save location</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.33.0</string>
			<key>pfm_default</key>
			<string>DisabledWithWarnings</string>
			<key>pfm_description</key>
			<string>Sets the VisualBasic Macro security level.</string>
			<key>pfm_name</key>
			<string>VisualBasicMacroExecutionState</string>
			<key>pfm_range_list</key>
			<array>
				<string>DisabledWithoutWarnings</string>
				<string>DisabledWithWarnings</string>
				<string>EnabledWithoutWarnings</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Disabled: Without Warnings</string>
				<string>Disabled: With Warnings</string>
				<string>Enabled: Without Warnings</string>
			</array>
			<key>pfm_title</key>
			<string>VisualBasic macro security level</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.33.0</string>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Increase logging levels for authentication requests.</string>
			<key>pfm_name</key>
			<string>msoridEnableLogging</string>
			<key>pfm_title</key>
			<string>Enable logging for authentication requests</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_type_input</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.33.0</string>
			<key>pfm_default</key>
			<integer>200</integer>
			<key>pfm_description</key>
			<string>Set value to 200 if msoridEnableLogging is enabled.</string>
			<key>pfm_name</key>
			<string>msoridDefaultMinimumSeverity</string>
			<key>pfm_title</key>
			<string>Minumum severity for authentication requests logging</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>15.33.0</string>
			<key>pfm_description</key>
			<string>Triggers for pre 15.32 preferences to be migrated to the new domain going foward. In most cases you should NOT manage or touch this.</string>
			<key>pfm_name</key>
			<string>HaveMergedOldPrefs</string>
			<key>pfm_title</key>
			<string>Migrate old preferences to new domain</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>pfm_title</key>
	<string>Microsoft Office 2016</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
