<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>pfm_app_url</key>
	<string>https://software.alectrona.com/patch/releases/alectrona-patch-latest.pkg</string>
	
	<key>pfm_documentation_url</key>
	<string>https://patchdocs.alectrona.com/docs/patch-notifier</string>
	
	<key>pfm_targets</key>
	<array>
		<string>system</string>
        <string>user</string>
	</array>

	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>

	<key>pfm_description</key>
	<string>Settings for Patch Notifier</string>

	<key>pfm_domain</key>
	<string>com.alectrona.patch-notifier</string>

	<key>pfm_format_version</key>
	<integer>1</integer>

	<key>pfm_last_modified</key>
	<date>2023-06-02T08:00:00Z</date>

	<key>pfm_title</key>
	<string>Alectrona Patch Notifier</string>
	
	<key>pfm_unique</key>
	<true/>
	
	<key>pfm_version</key>
	<integer>1</integer>

	<key>pfm_subkeys</key>
	<array>
		
		<dict>
			<key>pfm_default</key>
			<string>Configures Alectrona Patch Notifier configuration preferences</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

		<dict>
			<key>pfm_default</key>
			<string>Alectrona Patch Notifier</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

		<dict>
			<key>pfm_default</key>
			<string>com.alectrona.patch-notifier</string> 
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		
		<dict>
			<key>pfm_default</key>
			<string>com.alectrona.patch-notifier</string> 
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

		<dict>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>

		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

        <dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>General Settings</string>
				<string>Deferral Limits</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>General Settings</key>
				<array>
					<string>DialogDescription</string>
					<string>UpdateButtonLabel</string>
					<string>DeferButtonLabel</string>
					<string>UpdateButtonPrimary</string>
					<string>ContentImagePath</string>
					<string>DialogTimeout</string>
					<string>DialogHelpText</string>
					<string>DialogHelpToolTip</string>
					<string>DialogTitle</string>
				</array>
				<key>Deferral Limits</key>
				<array>
					<string>DeferralLimit</string>
					<string>DeferralLimitExceptions</string>
					<string>FinalDialogDescription</string>
					<string>DialogDeferralText</string>
					<string>IgnoreDeferralText</string>
					<string>RecordTimeoutAsDeferral</string>
					<string>FinalDialogTimeout</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

        <!-- General Settings -->

		<dict>
			<key>pfm_name</key>
			<string>DialogDescription</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Dialog Description</string>
			<key>pfm_description</key>
			<string>The main description that appears in the update dialog.	</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>UpdateButtonLabel</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Update Button Label</string>
			<key>pfm_description</key>
			<string>The label or displayed text in the update button.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>			
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>DeferButtonLabel</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Defer Button Label</string>
			<key>pfm_description</key>
			<string>The label or displayed text in the defer button.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>UpdateButtonPrimary</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Update Button Primary</string>
			<key>pfm_description</key>
			<string>By default, the Update button is the primary button of the Update Dialog; meaning it responds to the Return key. Set this key to false if you wish to disable this behavior.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>ContentImagePath</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Content Image Path</string>
			<key>pfm_description</key>
			<string>Path to a locally stored image to use as the content image of the update dialog (PNG/JPG/GIF/TIFF).</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>DialogTimeout</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_title</key>
			<string>Dialog Timeout</string>
			<key>pfm_description</key>
			<string>The duration, in seconds, that the update dialog will appear on screen before performing a timeout.</string>
            <key>pfm_range_min</key>
			<integer>1</integer>
            <key>pfm_range_max</key>
			<integer>600</integer>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>DialogHelpText</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Dialog Help Text</string>
			<key>pfm_description</key>
			<string>Enable the help button and populate the text displayed on screen when clicked.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>DialogHelpToolTip</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Dialog Help Tool Tip</string>
			<key>pfm_description</key>
			<string>Customizes the tooltip of the help button (when enabled).</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>DialogTitle</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Dialog Title</string>
			<key>pfm_description</key>
			<string>The title of the update dialog window.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-general-settings/</string>
		</dict>

         <!-- Deferral Limits -->

         <dict>
			<key>pfm_name</key>
			<string>DeferralLimit</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_title</key>
			<string>Deferral Limit</string>
			<key>pfm_description</key>
			<string>Sets a global Deferral Limit for all software.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-deferral-limits/</string>			
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>DeferralLimitExceptions</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_title</key>
			<string>Deferral Limit Exceptions</string>
			<key>pfm_description</key>
			<string>Sets exceptions to the global Deferral Limit, or irrespective of it.</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_type</key>
					<string>dictionary</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>Key</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_title</key>
							<string>Key</string>
							<key>pfm_description</key>
							<string>Software ID of the software title to include in the deferral limit exceptions.</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>Integer</string>
							<key>pfm_type</key>
							<string>integer</string>
							<key>pfm_title</key>
							<string>Integer</string>
							<key>pfm_description</key>
							<string>Deferral limit for the specified Software ID.</string>
                            <key>pfm_require</key>
			                <string>always</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-deferral-limits/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>FinalDialogDescription</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Final Dialog Description</string>
			<key>pfm_description</key>
			<string>The main description that appears in the final update dialog.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-deferral-limits/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>DialogDeferralText</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Dialog Deferral Text</string>
			<key>pfm_description</key>
			<string>The text that appears below the main description in the update dialog.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-deferral-limits/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>IgnoreDeferralText</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Ignore Deferral Text</string>
			<key>pfm_description</key>
			<string>Does not include the deferral text in the update dialog’s description.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-deferral-limits/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>RecordTimeoutAsDeferral</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Record Timeout as Deferral</string>
			<key>pfm_description</key>
			<string>When an update dialog timeout occurs, record a deferral rather than taking no action.</string>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-deferral-limits/</string>
		</dict>
        <dict>
			<key>pfm_name</key>
			<string>FinalDialogTimeout</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_title</key>
			<string>Final Dialog Timeout</string>
			<key>pfm_description</key>
			<string>The duration, in seconds, that the final update dialog will appear on screen before performing an update.</string>
            <key>pfm_range_min</key>
			<integer>1</integer>
            <key>pfm_range_max</key>
			<integer>600</integer>
			<key>pfm_documentation_url</key>
			<string>https://patchdocs.alectrona.com/docs/patch-notifier/#preference-keys-for-deferral-limits/</string>
		</dict>
	</array>
</dict>
</plist>
