<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_min</key>
	<string>7.7</string>
	<key>pfm_app_url</key>
	<string>https://1password.com</string>
	<key>pfm_description</key>
	<string>1Password 7 settings</string>
	<key>pfm_documentation_url</key>
	<string>https://support.1password.com/mobile-device-management/</string>
	<key>pfm_domain</key>
	<string>com.agilebits.onepassword7</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2023-08-21T10:35:00Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures 1Password 7 settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>1Password 7</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.agilebits.onepassword7</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.agilebits.onepassword7</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Unlock</string>
				<string>Notifications</string>
				<string>Updates</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>Notifications</key>
				<array>
					<string>OPPreferencesNotifyCompromisedWebsites</string>
					<string>OPPreferencesNotifyOfTOTPCopy</string>
					<string>OPPreferencesNotifyVaultAddedRemoved</string>
					<string>OPPreferencesWhatsNewDialogDisabled</string>
				</array>
				<key>Unlock</key>
				<array>
					<string>OPPrefAppleWatchAllowed</string>
					<string>OPPrefBiometryAllowed</string>
					<string>OPPrefMasterPasswordTimeoutInMinutesKey</string>
					<string>OPPrefPINAllowed</string>
					<string>ConcealPasswords</string>
					<string>LockOnIdle</string>
					<string>LockOnMainAppExit</string>
					<string>LockOnScreenSaver</string>
					<string>LockOnSleep</string>
					<string>LockTimeout</string>
					<string>LockOnUserSwitch</string>
					<string>PasteboardClearTimeout</string>
					<string>settingClearPasteboardAfterTimeout</string>
				</array>
				<key>Updates</key>
				<array>
					<string>CheckForSoftwareUpdatesEnabled</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If present enforces whether biometric unlock is allowed (Preferences &gt; Security &gt; Unlock using ...).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>OPPrefBiometryAllowed</string>
			<key>pfm_title</key>
			<string>Allow Biometric Unlock (Face ID &amp; Touch ID)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If present enforces whether PIN unlock is allowed.</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>OPPrefPINAllowed</string>
			<key>pfm_platforms</key>
			<array>
				<string>iOS</string>
			</array>
			<key>pfm_title</key>
			<string>Allow PIN unlock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>If present enforces whether Apple Watch unlock is allowed (Preferences &gt; Security &gt; Unlock using ...).</string>
			<key>pfm_name</key>
			<string>OPPrefAppleWatchAllowed</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Allow Apple Watch Unlock</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enforces a configured master password timeout (Preferences &gt; Security &gt; Require Master Password every ...) if:

1) Biometric or Apple Watch unlock is possible based on the related preferences and the hardware configuration
2) The user has configured one of these unlock mechanisms
</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>OPPrefMasterPasswordTimeoutInMinutesKey</string>
			<key>pfm_note</key>
			<string>NOTE: values '0' and '-1' are availabe on iOS only.

To set the Master Password timeout to "Never", set the value to -1 (this will be going away in a future release). To set the Master Password timeout to "After restart", set the value to 0</string>
			<key>pfm_range_min</key>
			<integer>-1</integer>
			<key>pfm_title</key>
			<string>Master Password Timeout</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>Enforces the configured conceal passwords setting (Preferences &gt; Security &gt; Conceal Passwords).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>ConcealPasswords</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Conceal Passwords</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>Enforces the configured lock on sleep setting (Preferences &gt; Security &gt; Lock on sleep).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>LockOnSleep</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Lock on Sleep</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>Enforces the configured lock on screen saver setting (Preferences &gt; Security &gt; Lock when screen saver is activated).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>LockOnScreenSaver</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Lock on Screen Saver</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>Enforces the configured lock on app exit preference (Preferences &gt; Security &gt; Lock when main window is closed).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>LockOnMainAppExit</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Lock on App Exit</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>Enforces the configured lock on user switch preference (Preferences &gt; Security &gt; Lock when fast user switching).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>LockOnUserSwitch</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Lock on User Switch</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>Enforces whether the lock on idle preference is enabled or disabled (Preferences &gt; Security &gt; Lock after computer is idle).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>LockOnIdle</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Lock on Idle</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>LockOnIdle</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_description</key>
			<string>Enforces the lock on idle time preference (Preferences &gt; Security &gt; Lock after computer is idle).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>LockOnIdle</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>LockTimeout</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Lock on Idle Time</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.8</string>
			<key>pfm_description</key>
			<string>Enforces whether the clear clipboard preference is enabled or disabled (Preferences &gt; Security &gt; Clear clipboard contents).</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>settingClearPasteboardAfterTimeout</string>
			<key>pfm_note</key>
			<string>This preference did not make its way into the official 7.7 release as originally documented.</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Clear Clipboard</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.8</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>settingClearPasteboardAfterTimeout</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_description</key>
			<string>Enforces the clear clipboard contents after X seconds preference (Preferences &gt; Security &gt; Clipboard)</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>settingClearPasteboardAfterTimeout</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>PasteboardClearTimeout</string>
			<key>pfm_note</key>
			<string>This preference did not make its way into the official 7.7 release as originally documented.</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Clear Clipboard Time</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>seconds</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If enabled, creates a user notification when Watchtower detects a compromised website.</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>OPPreferencesNotifyCompromisedWebsites</string>
			<key>pfm_title</key>
			<string>Check for Compromised Websites (Watchtower) Notification</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If enabled, creates a user notification when vault access is added or removed.</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>OPPreferencesNotifyVaultAddedRemoved</string>
			<key>pfm_title</key>
			<string>Vault Access Added/Removed Notification</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If enabled, creates a user notification when a vault item's OTP code is copied to the clipboard.</string>
			<key>pfm_documentation_url</key>
			<string>https://support.1password.com/mobile-device-management/</string>
			<key>pfm_name</key>
			<string>OPPreferencesNotifyOfTOTPCopy</string>
			<key>pfm_title</key>
			<string>One-Time Password Copied to Clipboard Notification</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.7</string>
			<key>pfm_description</key>
			<string>If disabled, on app launch following an update a What's New dialog box is not presented to the user.</string>
			<key>pfm_name</key>
			<string>OPPreferencesWhatsNewDialogDisabled</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Disable What's New Prompt</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.3</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Enforces whether to automatically check for available updates.</string>
			<key>pfm_documentation_url</key>
			<string>https://discussions.agilebits.com/discussion/97024/disable-automatic-update-check-via-script-or-command</string>
			<key>pfm_name</key>
			<string>CheckForSoftwareUpdatesEnabled</string>
			<key>pfm_platforms</key>
			<array>
				<string>macOS</string>
			</array>
			<key>pfm_title</key>
			<string>Check for Software Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>7.3</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Should 1Password attempt to automatically install updates?</string>
			<key>pfm_documentation_url</key>
			<string>https://discussions.agilebits.com/discussion/97024/disable-automatic-update-check-via-script-or-command</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>CheckForSoftwareUpdatesEnabled</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>AutoInstallSoftwareUpdatesEnabled</string>
			<key>pfm_note</key>
			<string>This setting has no effect unless checking for updates is disabled. Meaning you cannot force automatic checking but disable automatic installation.</string>
			<key>pfm_title</key>
			<string>Automatically Install Software Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>1Password 7</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>3</integer>
</dict>
</plist>
