<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://github.com/Jigsaw24/Elevate24/tree/main</string>
	<key>pfm_description</key>
	<string>macOS privilege access management tool from Jigsaw24</string>
	<key>pfm_documentation_url</key>
	<string>https://github.com/Jigsaw24/Elevate24/tree/main</string>
	<key>pfm_domain</key>
	<string>com.jigsaw24.Elevate24</string>
	<key>pfm_format_version</key>
	<integer>6</integer>
	<key>pfm_icon</key>
	<data>
	iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAJBl
	WElmTU0AKgAAAAgABgEGAAMAAAABAAIAAAESAAMAAAABAAEAAAEaAAUAAAABAAAAVgEb
	AAUAAAABAAAAXgEoAAMAAAABAAIAAIdpAAQAAAABAAAAZgAAAAAAAACQAAAAAQAAAJAA
	AAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAAECgAwAEAAAAAQAAAEAAAAAAHAkeAQAA
	AAlwSFlzAAAWJQAAFiUBSVIk8AAAA0ppVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4
	OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3Jl
	IDYuMC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8x
	OTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiBy
	ZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2Jl
	LmNvbS90aWZmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5h
	ZG9iZS5jb20vZXhpZi8xLjAvIj4KICAgICAgICAgPHRpZmY6Q29tcHJlc3Npb24+MTwv
	dGlmZjpDb21wcmVzc2lvbj4KICAgICAgICAgPHRpZmY6UmVzb2x1dGlvblVuaXQ+Mjwv
	dGlmZjpSZXNvbHV0aW9uVW5pdD4KICAgICAgICAgPHRpZmY6WFJlc29sdXRpb24+MTQ0
	PC90aWZmOlhSZXNvbHV0aW9uPgogICAgICAgICA8dGlmZjpZUmVzb2x1dGlvbj4xNDQ8
	L3RpZmY6WVJlc29sdXRpb24+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3Rp
	ZmY6T3JpZW50YXRpb24+CiAgICAgICAgIDx0aWZmOlBob3RvbWV0cmljSW50ZXJwcmV0
	YXRpb24+MjwvdGlmZjpQaG90b21ldHJpY0ludGVycHJldGF0aW9uPgogICAgICAgICA8
	ZXhpZjpQaXhlbFhEaW1lbnNpb24+MTAyNDwvZXhpZjpQaXhlbFhEaW1lbnNpb24+CiAg
	ICAgICAgIDxleGlmOkNvbG9yU3BhY2U+MTwvZXhpZjpDb2xvclNwYWNlPgogICAgICAg
	ICA8ZXhpZjpQaXhlbFlEaW1lbnNpb24+MTAyNDwvZXhpZjpQaXhlbFlEaW1lbnNpb24+
	CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRh
	PgpQr8ccAAAO2ElEQVR4AeVcCXSU1RX+ZslkIWxhSVhFQJawGAwECYTEEEDbgqhwaA9g
	tYpQUWsVtW5dsMeqKK24HItoj6eiVGi1SGUJIQQIAWWTrRrIgiSUQAKEGJLM2vu9ycNJ
	mMnMJBN6pBf//PP/89599373vvveu++NhhkzZphWrVrlSEtL62B1OJ50wTAFQF+XC2GA
	Sz5qMugP35M7ZafM7rvBAIc8HJfHDUaX4/nc3NyTorNZaTVm/Phh8sWmsLCwrg6HA06n
	83uiZHBiGo1GGE0m2G22GgHmlrxt23IMiRkZ7S111nyTyUTl61wuV5jBYDAGx/p7U5qW
	tQkQ4WJkq8FhHmC01NmeqLd8nXwZfhUrTyvRsOEup7PObA6zuEz23xnhck2h29PyLPH/
	QBIVLA6HnapOMcPg6i3KQyx/RaKcUZoxmozSHq/6JqV9p8spsUfuVyb+GERnRscYs0RK
	s/tz69k+PDwcZrMEH7sD1RcvovJsFc5dqEJF1UWldKe2UejYri06yNWmTRTCzGYFhNVm
	A72zlUgNEQIAgWDX4D00RMvyovAmibxbsrYLewm8QuPT0hE/aiA6d+qEqKhIGagMuFhz
	ERUVZ1FUfFzKbrokxNCERHTt0ll5R10dQ1TIyUAPCCnXyIgI0HIXqr5Fu7bR6r548e9x
	4+gk9OjRAx1jYhAVGQkJvJe6AD3QJnVqampw/vx5lJSU4ODBQ9iYmYmP//F3Jd+41HSp
	Y0ZtXW1I5TWMSRlfLSBEiYnoAs1CgwpYRCGzuO7mzI3oO3AIRiYMR2FxMSrF1XflbkXH
	jh2DFpyAHD12DJkCxMJHfyX1bUhNz2DAFpCtlwAMmrFHhRaP9xQmuk0bnCw7o5R/4cWX
	sHNbNu6cMwu7d+WhbXQUamvdVqsfbTyab/iRvHgxEPIeKZ4yfNgwPPrII+IVRVj62mvI
	2bwJ/84vQJuoKFWmIYfgn1oEAPs5ld+0YT2Sk0bi8OEjeOLxx9ClS5dL0dzpkLlHfbTn
	TOxS5Pciq44dupwnGOw+Dz7wAPLz8zHth5OQtXEDIsMjVAxhueaSxIDgiQ3S3RngqPzy
	5e9g9pzZCLdY3IFPpptaKDWsNVNADQgl1MPjddddhzffeAMpKSniZXMwMmkMwsItEsJl
	KA9eFRX+g6pGxRjAHGLZnM1ZyM7Oxj33/EwpTyEvt3DzreMpmJrHC+Bsg+DPmT0bsqDB
	idISOCSANncQC7oLsHGO53nbdmDv3n1IS0tT1iYwFLK1iW2wLQKRnJyM99/7Cz7fuQMR
	4n3NcbSgJKZ16fZ523Kwd9/nGDEiQQni6aqtDQD5e3pZTP3oQlBMMsMMlgKuwQY4frvd
	fgtGJLiVvxJWb0opu13N6ZUhKirOCQjfxZ+m6unvAgKAyutoz4CXlpaq3PB/rTyV0N7A
	qfb4sckoLz8rXmoSQAKLPQEBYLGEofhEKX56192YI9G+NYlg8wqWsrfmYcH98zFz+u3I
	3boFFnNYQHExIADMJjOOHTmIx2WMt0iw8R7tgxXZS3lRXMeToEGwVaNdu3a4b+69irHT
	KUv8ALzALwAREeFqhvfKkiWIHzy41VxfKSxBdq3M/ffv2a2AINDBUHV1Nbp3747XXn8d
	uRKoI2QV6s+Z/ALg7kvhmH7HHUqWoC0TgAbaow4f+BIL75iOD+4eJUvmCjWsSvYmAA4N
	i9x+223qRY0svf0h0CQAXMfnZG3FCy8+h969e7eK9Qkog+n5c+fwyt3TMC+lB0ZIYN+x
	9HnVhw3ynT8ltPo6KNMLXn31VTU/4Oy0KS9oEgAOKYAVkydNVG20hvV1FH/3Ty8jZm8x
	4mPCcX1iPCKkyx34dHWz283IyKiv615YqQcvf3wCQDQrzp7F1FtvA+ffJC2sFz7NeqX7
	eObaNfhi0fNInhqPHuYTaO/8Bn2n9cWpX87AyfyvQC8Itiv069cPsueBowVFavLmS0Cf
	ADDa7//ic0yamCFpqjbK/UMJAJUnyEUFx/DmlFsxMaM3ehmPo4MsbMKMDkQYanHNEODA
	ormoqf7WDUJTvuyhIZfd7L6TJ0/Gf04UqxSbr6o+AeCUlzR8+DB1D6X7635fKwmPpY89
	hKT+QP9oB7pEOGExSkyQ0cDoPIMOnSR1dmQ79r77upIh0NWelnWY5BI06Xf6Wd99AmCv
	T0b26tVLlw35fcXbb8H68TpcP3QgYsNOI0I2qupTB3K3wGgrRLeEeFifeBJf50iuUL4M
	pCtoT2UOgcTMki/yCgAtwOwtE5g6laWZ+mIU6Hs95O3K3Y71v3gEqdNGoKelCu0i42Ay
	x8BgigHU1RFGcxzCXNXoM70/ip6eiLMnSwKKB1rWDh06ICNjIsorZEjVyDYS1DsAsqpi
	Lq/vtX1UWop1NNNG9YN61K7/jeQKnx6XghvjgLgz+xBdeRLOihOwlZfA2uA6AfuZ4zBf
	OIbYSiDvmbmovVitQGhybKuXKkIStP369UXh0a99LtXN3jTgpgXz9p0kdc3kR6hI98NT
	J0uRetdMxF/bG+0MVtiNBjilg/vq46wXeWMYIk6fxrcyQYqIkqAcgFAcxjt37qxK0oCy
	93Kpi+nqPgAwqE0Llbf34TqaQTB3PVFJSh4LXqRAFNFtDNIf5O7PIwkay0QJWCRf4HoF
	gBWcatzwVY0lmk96/A+WA8GiUv6U9+Trz35eASB6nSSdfVECoUbSk2lLPpOf9oTm8iEP
	f6RBYjAn+arjAwCn2qvjTJA7NpwUhYK08kxt7969WwXYQL2BoFmtVkyYMEH160DqsUxF
	ebkS3e3Rl2vhFQBW5EZlUVGxGkMJAIXXqF7OJrA32grc/po1a1ZglRqVOnXqVKM3vh+5
	IVNQUIie1/RROQxR4LLCPgBwqV3aHNmopLDt27d3R6vL61/GsKkXtCJBSEpKwl/ff1+l
	tm++5Qcy56iRbiHMG3s2X0l5TsXX/WuteM0exMbG+k3IaKArKytlW20jbhg5SqXITO4T
	QQ1E9DoPYAluUZO4UUnixkMo6cczZ2Lu3Puwft065Vm1dTbUSXfzvGrrrLDInJ7KL3/n
	HSQm3qAA8RdDNAClpaVK5KhI2fr0QT4B0H3swMGDqmpL3V+3Tz7kzf2F3/zm1/LahZpa
	twcYxAs8r8jICHwlq7l7BShuhARKWtZDhw6pKnwmX2/kEwBucQ8dkShb1JvUaEAmGllv
	jIJ5RwsSBM7Vt2zZgi925oHb6txt0sT2HFKmpLQczz77TFC5SE6AGDDXb9gAmMNhk9S5
	sPNKPgHgkpKHEz6RHN0x2aImhQoA8tLxIDU1FUuW/BGbN21EtOz4MgXHdpiG35a9GVlr
	P0JvWZARMH+uT76aioqK8LeVKzF6VKIC0tdUyCcAZKS7QaZ4AUm7lnoI4Z958+6TxMut
	yBegzWI9bn1vXPcZFr/8CtLT0wPq943FycrKUq+Y0SZwQXsAa/NYSkpaOhYufExcsVQB
	EEovIKAEOUoUXvzSSygpLlQHLcpOl+NHU6dhvgATDOnNkLKyU1iwYAGGDBuuTqv46v/k
	3aQHsACDlfiCHFX5mI8h7Qbkp+PBgAEDsGbNGmRnZeLQ/j1Y/OIfEB0drQAK1PP0SPXJ
	J/8kazV8M53WVH2/APBMDo+lPPTQg8g/evSSwKqFEP3RfXvKlCl48qmn8NGqVRg0aFDQ
	/Z5dp6ysDPPnz0fCDYmos9r8xg2/AFBHun3Xnn2wePHLsjVuV0xD2RV0G7w/t2gRZkyf
	zo9+hVeFPP5w7bJ8+XL1JkJOj6istq/OX18vIAB4IGlY/EAsf3sZPvxwpaoaagDopuTp
	TsV7aBXgx7Sb0vHWn5fhjbeWIXHUaNhkFGsq+Gm2AQFA4biqumnCRNx55xzs2LFDMedQ
	GUpqqq/6akcbgjnMNZ+tV0MmEzpyFtjn5MeTV0AAsAKFq5PJxZixKRg7dqwciDqsrBVq
	EDyFC+Sz9hijKN2zezf2G5jkPKHR5GPm04hpwACwHs/zmmRUGJGYhKFDh+LwkSMKBA5l
	2hKN+LfKI9vS7VVVVbnbEH05c+SiSi2sAmw5KADoBXY5Zd1GhqeExFEYOmQI8vLyVHfg
	d3riFGDbzSrGNtgWLb9nzx78ZNZsDIwfIuuJOnkfPMugACB7Nwg2WaJGY/SYseqg0ooV
	K9TxOD2mBy+G/xq0OJVnG/y8evVqjBw5Unkkp82y3KF0/hk1KhE0AKxPEBxOGQ5lmpl6
	0wTMlpXa/TLzKigoqJ84hW7CRKW11an88ePH8fDDD6t9v0RZ58fFxkmwM8kegu/pbiOd
	Gzw2CwANgvzWALUSGNMzJmHZex+if//+WLp0KZiIMAk4upzur7zrzw2kqH/Q32ul+ZpK
	8zotKXGO8X369FFtJI8bJwtpdgUzzBL0aJTmUEgOS3MObpHgyG2r7XIyY+DgeCRcPxz7
	vjwgfdOK/bt3IUZOiTcmDYYv4ZmPLCwsBBc2nNuTOMPjxifPKpp54lzAaabuil9IACAn
	Ma6ybqQIx8hcIQce4mK74tz5Sjzw83lyXH40unXrBm5XccdGD19KCvlDqzOHR+9hJofJ
	jA2ynl8pS1oSFzZMzXF6y7r0iqYWOapSAH8EgBQ5Lm9s0XF5z3ZoVVqU/zg54fi8U47L
	a5ogBxe4d88dG87dWZaTLGZvC8TamRs36qKyR2jBaDmEzQWZVRSntak4Td4Sq3/XgLBy
	/14ATJox6de8juTJsdFnAhIeZlGK1sgvQ7hRWSBpcXdzDQv3kOxtrJw0Zw6PwDCT4x7b
	3Su6UFi8YYtwMVI52Jjuj40KtPiRvK12m8QHwVeiddeusYiL66YU1GizbebtdfCzSv+m
	srxMRga4FovhjYEyOAEoESEHS+MuubdOU9KIUqheDM4o5b/LSZo3yYnPK0BKVwG+kh1q
	PX9OKrrLmfMrR4Ta23WFJLAxkEq0Wmc0OGwvyG9pL0hwCZfG+dMsusbVSqKbyyrGtjCv
	YXIaf2uUpe1pcc+bpQtUy7jKn86yG1yNICi3Vz+ZlXjjchmm5uZmf21Mk5+Q78jJyTM6
	HQPsdtsyCVZlAsDVBoIKeNLnz9pt9g9MLufAndtzPuX/OuC/Xw9oVWntE6UAAAAASUVO
	RK5CYII=
	</data>
	<key>pfm_last_modified</key>
	<date>2024-06-07T08:58:48Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>License</string>
				<string>Branding</string>
				<string>Time and Reason</string>
				<string>Security Settings</string>
				<string>Secondary Account (Premium)</string>
				<string>Reporting</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>Branding</key>
				<array>
					<string>message</string>
					<string>iconPath</string>
					<string>heading</string>
					<string>mainbutton</string>
					<string>HideLogo</string>
				</array>
				<key>License</key>
				<array>
					<string>LicenseKey</string>
					<string>LicenseAPIKey</string>
				</array>
				<key>Reporting</key>
				<array>
					<string>DisableDefaultLog</string>
					<string>siemURL</string>
					<string>siemAuthHeader</string>
					<string>siemAuthToken</string>
					<string>microsoftsentinel</string>
					<string>teamswebhook</string>
					<string>slack-webhook</string>
				</array>
				<key>Secondary Account (Premium)</key>
				<array>
					<string>userElevateAdmin</string>
					<string>useCurrentUserAsAdmin</string>
					<string>adminUserName</string>
					<string>ComplexPassword</string>
					<string>PasswordUppercase</string>
					<string>PasswordLowercase</string>
					<string>PasswordNumbers</string>
					<string>PasswordSymbols</string>
					<string>showAdminPasswordGrace</string>
				</array>
				<key>Security Settings</key>
				<array>
					<string>enableAppleAuth</string>
					<string>GoogleAuth</string>
					<string>standardAtLoad</string>
					<string>demoteAllAdmin</string>
					<string>demoteAllAdminQuit</string>
					<string>killterminalsessions</string>
					<string>demoteExclusions</string>
					<string>EnableSessionMonitoring</string>
				</array>
				<key>Time and Reason</key>
				<array>
					<string>enableReason</string>
					<string>Enabletimelist</string>
					<string>Sessiontime</string>
					<string>times</string>
					<string>reasons</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Configures Elevate24 configuration preferences.</string>
			<key>pfm_description</key>
			<string>Elevate24 Configuration</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Elevate24</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Elevate24</string>
			<key>pfm_description</key>
			<string>Elevate24 Configuration</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.jigsaw24.Elevate24</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.jigsaw24.Elevate24</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload. A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enter your Elevate24 license key. Mandatory key for Premium customers only.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#license-configuration</string>
			<key>pfm_name</key>
			<string>LicenseKey</string>
			<key>pfm_title</key>
			<string>License Key (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>License Key</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enter your Elevate24 license api key. Mandatory key for Premium customers only.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#license-configuration</string>
			<key>pfm_name</key>
			<string>LicenseAPIKey</string>
			<key>pfm_title</key>
			<string>License API Key (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>License API Key</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Use of admin accounts is recorded for security compliance. Select why you require admin privileges and select how long for.</string>
			<key>pfm_description</key>
			<string>Change the standard application message in the application.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#branding</string>
			<key>pfm_name</key>
			<string>message</string>
			<key>pfm_title</key>
			<string>Message</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>The use of admin accounts is recorded for security compliance.</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Main Jigsaw24 Logo</string>
			<key>pfm_description</key>
			<string>Prodvide the file path to a JPEG or PNG to use as the icon in the Elevate24 application.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#branding</string>
			<key>pfm_name</key>
			<string>iconPath</string>
			<key>pfm_title</key>
			<string>Icon (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/path/to/file.png</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Elevate24</string>
			<key>pfm_description</key>
			<string>Change the standard header from Elevate24 in the application. Always displays in bold.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#branding</string>
			<key>pfm_name</key>
			<string>heading</string>
			<key>pfm_title</key>
			<string>Heading (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>Elevate24</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Elevate24</string>
			<key>pfm_description</key>
			<string>Change the standard button text from Elevate in the application. </string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#branding</string>
			<key>pfm_name</key>
			<string>mainbutton</string>
			<key>pfm_title</key>
			<string>Main Button Text (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>Elevate</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Hide the “Powered by Jigsaw24” logo in the application.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#branding</string>
			<key>pfm_name</key>
			<string>HideLogo</string>
			<key>pfm_title</key>
			<string>Hide Powered By Jigsaw24 Logo (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enables the option for the application to display a choice of times. To be used in conjuction with Session Times list.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#elevated-session-customisation</string>
			<key>pfm_name</key>
			<string>Enabletimelist</string>
			<key>pfm_title</key>
			<string>Enable Choice of Session Times</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Will replace reasons drop down list with a free text entry box. </string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#elevated-session-customisation</string>
			<key>pfm_name</key>
			<string>enableReason</string>
			<key>pfm_title</key>
			<string>Enable free text reason</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>3600</string>
			<key>pfm_description</key>
			<string>Change the length of time (in seconds) the user will be elevated for. Do not use this key if you want to present a list of times to choose from.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#elevated-session-customisation</string>
			<key>pfm_name</key>
			<string>Sessiontime</string>
			<key>pfm_title</key>
			<string>Session Time</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>900</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<array>			
				<string>1800</string>
				<string>3600</string>
				<string>7200</string>
			</array>
			<key>pfm_description</key>
			<string>List of available times to chose from in the Application. Enter time below in seconds.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#elevated-session-customisation</string>
			<key>pfm_name</key>
			<string>times</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Session Times</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The reasons to choose for needing elevated rights in dropbox within the application.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#elevated-session-customisation</string>
			<key>pfm_name</key>
			<string>reasons</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Reasons</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>To disable sending of premium reporting data to Jigsaw24. If you are a basic customer, no data is sent from the device, it is all stored locally.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Reporting%20Configuration%20Keys.md#disable-sending-data-to-jigsaw24</string>
			<key>pfm_name</key>
			<string>DisableDefaultLog</string>
			<key>pfm_title</key>
			<string>Disable Default Log (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Reporting%20Configuration%20Keys.md#reporting-configuration-keys-for-elevate24</string>
			<key>pfm_name</key>
			<string>siemURL</string>
			<key>pfm_title</key>
			<string>SIEM URL (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Reporting%20Configuration%20Keys.md#reporting-configuration-keys-for-elevate24</string>
			<key>pfm_name</key>
			<string>siemAuthHeader</string>
			<key>pfm_title</key>
			<string>SIEM Auth Header (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Reporting%20Configuration%20Keys.md#reporting-configuration-keys-for-elevate24</string>
			<key>pfm_name</key>
			<string>siemAuthToken</string>
			<key>pfm_title</key>
			<string>SIEM Auth Token (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Reporting%20Configuration%20Keys.md#microsoft-sentinel</string>
			<key>pfm_name</key>
			<string>microsoftsentinel</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>microsoftsentinelItem</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>SentinelClientId</string>
							<key>pfm_title</key>
							<string>Client ID</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>SentinelTennantId</string>
							<key>pfm_title</key>
							<string>Tennant ID</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>SentinelClientsecret</string>
							<key>pfm_title</key>
							<string>Client Secret</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>SentinelUploadURL</string>
							<key>pfm_title</key>
							<string>Upload URL</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Microsoft Sentinel</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Reporting%20Configuration%20Keys.md#reporting-configuration-keys-for-elevate24</string>
			<key>pfm_name</key>
			<string>teamswebhook</string>
			<key>pfm_title</key>
			<string>Teams Webhook (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Reporting%20Configuration%20Keys.md#reporting-configuration-keys-for-elevate24</string>
			<key>pfm_name</key>
			<string>slack-webhook</string>
			<key>pfm_title</key>
			<string>Slack Webhook (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>To enable monitoring of administrator activities whilst in an elevated state.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20Session%20Reporting%20-%20Configuration%20Keys.md#configuration-keys-for-elevate24-session-reporting</string>
			<key>pfm_name</key>
			<string>EnableSessionMonitoring</string>
			<key>pfm_title</key>
			<string>Enable Session Monitoring (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prompts the user for their local Apple credentials or TouchID (if enabled on device) before allowing elevation.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>enableAppleAuth</string>
			<key>pfm_title</key>
			<string>Apple Auth (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enables the use of authenticator applications such as Google Auth or Microsoft Auth, prompting for a valid session token before Elevating to admin.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>GoogleAuth</string>
			<key>pfm_title</key>
			<string>OTP Auth (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Will remove admin rights when the application first launches.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>standardAtLoad</string>
			<key>pfm_title</key>
			<string>Standard At Load</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enables all admin users being demoted to standard users when the current elevation period ends. If you have any accounts on the device you'd like to remain admin please configure Demote Exclusions.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>demoteAllAdmin</string>
			<key>pfm_title</key>
			<string>Demote All Admin</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Will demote all admin accounts from admin when the application quits or the laptop is restarted.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>demoteAllAdminQuit</string>
			<key>pfm_title</key>
			<string>Demote All Admin Quit</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Will exclude accounts on device from being demoted.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>demoteExclusions</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Demote Exclusions</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Will demote the current terminal session from sudo session to standard.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>killterminalsessions</string>
			<key>pfm_title</key>
			<string>Kill Terminal Sessions</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Will create a temporary secondary account instead of Elevating the primary account. A temporary password will also be supplied upon elevation.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#security-settings</string>
			<key>pfm_name</key>
			<string>userElevateAdmin</string>
			<key>pfm_title</key>
			<string>User Elevate Admin (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If User Elevate Admin Key is enabled and this key is also enabled, the temporary account will use the current logged in users username as part of the account naming. For example, Joe.Bloggs-adm</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>useCurrentUserAsAdmin</string>
			<key>pfm_title</key>
			<string>Use Current User As Admin (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>If ‘Use Current User As Admin’ is not enabled, this key allows the ability to create a temporary admin account with a standard name. Such as "Temp Admin"</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>adminUserName</string>
			<key>pfm_title</key>
			<string>Admin User Name (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enables the use of a custom complex password when 'User Elevate Admin' is enabled.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>ComplexPassword</string>
			<key>pfm_title</key>
			<string>Complex Password (Premium)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enter the amount of uppercase Letters required for the password.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>PasswordUppercase</string>
			<key>pfm_title</key>
			<string>Password Uppercase (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>4</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enter the amount of lowercase Letters required for the password.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>PasswordLowercase</string>
			<key>pfm_title</key>
			<string>Password Lowercase (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>8</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enter the amount of numbers required for the password.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>PasswordNumbers</string>
			<key>pfm_title</key>
			<string>Password Numbers (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>2</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enter the amount of symbols required for the password.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>PasswordSymbols</string>
			<key>pfm_title</key>
			<string>Password Symbols (Premium)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>2</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>0</integer>
			<key>pfm_description</key>
			<string>Set the number of seconds after elevation or last showing the password that the password will be shown (Max 45 seconds). This only works if 'User Elevate Admin' is enabled.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/Jigsaw24/Elevate24/blob/main/Documentation/Elevate24%20-%20Configuration%20Keys.md#secondary-account-configuration</string>
			<key>pfm_name</key>
			<string>showAdminPasswordGrace</string>
			<key>pfm_range_max</key>
			<integer>45</integer>
			<key>pfm_title</key>
			<string>Show Admin Password Grace (Premium)</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_placeholder</key>
			<string>0</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>Elevate24</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
