<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://github.com/munki/munki</string>
	<key>pfm_description</key>
	<string>Munki settings</string>
	<key>pfm_documentation_url</key>
	<string>https://github.com/munki/munki/wiki</string>
	<key>pfm_domain</key>
	<string>ManagedInstalls</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2024-08-29T07:55:25Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Munki settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Munki</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>ManagedInstalls</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>ManagedInstalls</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs. During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>http://munki/repo</string>
			<key>pfm_description</key>
			<string>Base URL for Munki repository.</string>
			<key>pfm_enabled</key>
			<true/>
			<key>pfm_name</key>
			<string>SoftwareRepoURL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>General</string>
				<string>MSC</string>
				<string>URL</string>
				<string>Certificate</string>
				<string>Log</string>
				<string>Plugins</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>Certificate</key>
				<array>
					<string>ClientCertificatePath</string>
					<string>ClientKeyPath</string>
					<string>SoftwareRepoCAPath</string>
					<string>SoftwareRepoCACertificate</string>
					<string>UseClientCertificate</string>
					<string>UseClientCertificateCNAsClientIdentifier</string>
				</array>
				<key>General</key>
				<array>
					<string>AppleSoftwareUpdatesOnly</string>
					<string>ClientIdentifier</string>
					<string>EmulateProfileSupport</string>
					<string>InstallAppleSoftwareUpdates</string>
					<string>LocalOnlyManifest</string>
					<string>ManagedInstallDir</string>
					<string>PerformAuthRestarts</string>
					<string>RecoveryKeyFile</string>
					<string>SuppressAutoInstall</string>
					<string>SuppressLoginwindowInstall</string>
					<string>UnattendedAppleUpdates</string>
				</array>
				<key>Log</key>
				<array>
					<string>LogFile</string>
					<string>LogToSyslog</string>
					<string>LoggingLevel</string>
					<string>MSUDebugLogEnabled</string>
					<string>MSULogEnabled</string>
				</array>
				<key>MSC</key>
				<array>
					<string>AggressiveUpdateNotificationDays</string>
					<string>DaysBetweenNotifications</string>
					<string>InstallRequiresLogout</string>
					<string>ShowRemovalDetail</string>
					<string>ShowOptionalInstallsForHigherOSVersions</string>
					<string>SuppressUserNotification</string>
					<string>SuppressStopButtonOnInstall</string>
					<string>UseNotificationCenterDays</string>
				</array>
				<key>Plugins</key>
				<array>
					<string>PFC_SegmentedControl_Plugins</string>
					<string>AccessKey</string>
					<string>Region</string>
					<string>SecretKey</string>
					<string>S3Endpoint</string>
					<string>IgnoreMiddleware</string>
				</array>
				<key>URL</key>
				<array>
					<string>AdditionalHttpHeaders</string>
					<string>CatalogURL</string>
					<string>ClientResourceURL</string>
					<string>ClientResourcesFilename</string>
					<string>FollowHTTPRedirects</string>
					<string>HelpURL</string>
					<string>IconURL</string>
					<string>IgnoreSystemProxies</string>
					<string>LicenseInfoURL</string>
					<string>ManifestURL</string>
					<string>PackageURL</string>
					<string>PackageVerificationMode</string>
					<string>SoftwareUpdateServerURL</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Identifier for Munki client. Usually is the same as a manifest name on the Munki server. If this is empty or undefined, Munki will attempt the following identifiers, in order: fully-qualified hostname, "short" hostname, serial number and finally, "site_default".</string>
			<key>pfm_name</key>
			<string>ClientIdentifier</string>
			<key>pfm_title</key>
			<string>Client Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>/Library/Managed Installs</string>
			<key>pfm_description</key>
			<string>Folder where Munki keeps its data on the client.</string>
			<key>pfm_name</key>
			<string>ManagedInstallDir</string>
			<key>pfm_title</key>
			<string>Managed Install Directory</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Defines the name of your LocalOnlyManifest. Setting this activates the feature. Unsetting it means Munki will remove the file on the next run.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#localonlymanifest</string>
			<key>pfm_name</key>
			<string>LocalOnlyManifest</string>
			<key>pfm_title</key>
			<string>Local Only Manifest</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Munki will not automatically install or remove items.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#suppressautoinstall</string>
			<key>pfm_name</key>
			<string>SuppressAutoInstall</string>
			<key>pfm_title</key>
			<string>Suppress Auto Install</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Munki will not install items while idle at the loginwindow except for those marked for unattended_install or unattended_uninstall.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#suppressloginwindowinstall</string>
			<key>pfm_name</key>
			<string>SuppressLoginwindowInstall</string>
			<key>pfm_title</key>
			<string>Suppress Loginwindow Install</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Install updates from an Apple Software Update server, in addition to "regular" Munki updates.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#installapplesoftwareupdates</string>
			<key>pfm_name</key>
			<string>InstallAppleSoftwareUpdates</string>
			<key>pfm_title</key>
			<string>Install Apple Software Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Only install updates from an Apple Software Update server. No Munki repository is needed or used.</string>
			<key>pfm_name</key>
			<string>AppleSoftwareUpdatesOnly</string>
			<key>pfm_title</key>
			<string>Install Apple Software Updates Only</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.5</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Updates that declare no "must-close" applications, or have one or more "must-close" applications, none of which is running, and do not require a logout or restart will be installed as part of a normal periodic background run without notifying the user.</string>
			<key>pfm_macos_min</key>
			<string>10.10</string>
			<key>pfm_name</key>
			<string>UnattendedAppleUpdates</string>
			<key>pfm_title</key>
			<string>Unattended Apple Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>3.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Munki will attempt to perform a filevault auth restart.</string>
			<key>pfm_name</key>
			<string>PerformAuthRestarts</string>
			<key>pfm_title</key>
			<string>Perform FileVault Authorized Restarts</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>3.0</string>
			<key>pfm_description</key>
			<string>Absolute path to a plist file containing filevault credentials in key/value format. Used to perform auth restarts.</string>
			<key>pfm_name</key>
			<string>RecoveryKeyFile</string>
			<key>pfm_title</key>
			<string>FileVault Credentials Path</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>5.2</string>
			<key>pfm_description</key>
			<string>A bit of hack and not supported by Apple, it is disabled by default. To emulate profile installs, configuration profiles are read, and if they contain managed preferences, they are converted to MCX data that is added to a ComputerGroup in the local Open Directory store. Configuration profile payloads that are not managed preferences are ignored/skipped.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Configuration-Profile-Emulation</string>
			<key>pfm_name</key>
			<string>EmulateProfileSupport</string>
			<key>pfm_title</key>
			<string>Emulate Profile Support (Big Sur)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Managed Software Center will never notify the user of available updates.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#suppressusernotification</string>
			<key>pfm_name</key>
			<string>SuppressUserNotification</string>
			<key>pfm_title</key>
			<string>Suppress Update Notifications</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Managed Software Center will hide the stop button while installing or removing software, preventing users from interrupting the install.</string>
			<key>pfm_name</key>
			<string>SuppressStopButtonOnInstall</string>
			<key>pfm_title</key>
			<string>Suppress Stop Button On Install</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Managed Software Center will require a logout for all installs or removals.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#installrequireslogout</string>
			<key>pfm_name</key>
			<string>InstallRequiresLogout</string>
			<key>pfm_title</key>
			<string>Require Logout for Installs &amp; Uninstalls</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Managed Software Center will display detail for scheduled removals.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#showremovaldetail</string>
			<key>pfm_name</key>
			<string>ShowRemovalDetail</string>
			<key>pfm_title</key>
			<string>Show Removal Detail</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>3.1</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Managed Software Center.app will show optional installs and updates that apply to macOS versions higher than the currently installed version.</string>
			<key>pfm_name</key>
			<string>ShowOptionalInstallsForHigherOSVersions</string>
			<key>pfm_title</key>
			<string>Show Optional Installs For Higher OS Versions</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>Number of days between user notifications from Managed Software Center. Set to 0 to have Managed Software Center notify every time a background check runs if there are available updates.</string>
			<key>pfm_name</key>
			<string>DaysBetweenNotifications</string>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Days Between Notifications</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>Days</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>3.0</string>
			<key>pfm_default</key>
			<integer>3</integer>
			<key>pfm_description</key>
			<string>Number of days Notification Center notifications should be used before switching to launching Managed Software Center.</string>
			<key>pfm_name</key>
			<string>UseNotificationCenterDays</string>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Use Notification Center Days</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>Days</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Controls how Munki verifies the integrity of downloaded packages. (none = No integrity check is performed, hash = Integrity check is performed if package info contains checksum information, hash_strict = Integrity check is performed, and fails if package info does not contain checksum information.)</string>
			<key>pfm_name</key>
			<string>PackageVerificationMode</string>
			<key>pfm_range_list</key>
			<array>
				<string>none</string>
				<string>hash</string>
				<string>hash_strict</string>
			</array>
			<key>pfm_title</key>
			<string>Package Verification Mode</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Defines whether Munki will follow all, some or no redirects from the web server. (none = The default behaviour. No redirects are followed. https = Only redirects to URLs using HTTPS are followed. all = Redirects to both HTTP and HTTPS URLs are followed.)</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#followhttpredirects</string>
			<key>pfm_name</key>
			<string>FollowHTTPRedirects</string>
			<key>pfm_range_list</key>
			<array>
				<string>none</string>
				<string>https</string>
				<string>all</string>
			</array>
			<key>pfm_title</key>
			<string>Follow HTTP Redirects</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This key provides the ability to specify custom HTTP headers to be sent with all curl() HTTP requests.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#additionalhttpheaders</string>
			<key>pfm_name</key>
			<string>AdditionalHttpHeaders</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>HTTPHeader</string>
					<key>pfm_title</key>
					<string>HTTPHeader</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Additional HTTP Headers</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>HTTP and/or HTTPS proxies set system-wide will be ignored, connections will be made directly.</string>
			<key>pfm_name</key>
			<string>IgnoreSystemProxies</string>
			<key>pfm_title</key>
			<string>Ignore System Proxies</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Base URL for Munki pkgs. Useful if your packages are served from a different server than your catalogs or manifests.</string>
			<key>pfm_name</key>
			<string>PackageURL</string>
			<key>pfm_title</key>
			<string>Base Package URL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>&lt;SoftwareRepoURL&gt;/pkgs</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Base URL for Munki catalogs. Useful if your catalogs are served from a different server than your packages or manifests.</string>
			<key>pfm_name</key>
			<string>CatalogURL</string>
			<key>pfm_title</key>
			<string>Base Catalog URL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>&lt;SoftwareRepoURL&gt;/catalogs</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Base URL for Munki manifests. Useful if your manifests are served from a different server than your catalogs or manifests.</string>
			<key>pfm_name</key>
			<string>ManifestURL</string>
			<key>pfm_title</key>
			<string>Base Manifest URL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>&lt;SoftwareRepoURL&gt;/manifests</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Base URL for product icons. Useful if your icons are served from a different server or different directory than the default.</string>
			<key>pfm_name</key>
			<string>IconURL</string>
			<key>pfm_title</key>
			<string>Base Icon URL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>&lt;SoftwareRepoURL&gt;/icons</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Base URL for custom client resources for Managed Software Center. Useful if your resources are served from a different server or different directory than the default.</string>
			<key>pfm_name</key>
			<string>ClientResourceURL</string>
			<key>pfm_title</key>
			<string>Base Client Resource URL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>&lt;SoftwareRepoURL&gt;/client_resources</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Specific filename to use when requesting custom client resources.</string>
			<key>pfm_name</key>
			<string>ClientResourcesFilename</string>
			<key>pfm_title</key>
			<string>Client Resources Filename</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>site_default.zip</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>URL to open/display when the user selects "Managed Software Center Help" from Managed Software Center's Help menu.</string>
			<key>pfm_name</key>
			<string>HelpURL</string>
			<key>pfm_title</key>
			<string>Help URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>URL for Munki to query a webserver to determine if there are available seats for licensed software (or any software you wish to make available via optional_installs, yet control the number of deployed copies).</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/License-Seat-Tracking</string>
			<key>pfm_name</key>
			<string>LicenseInfoURL</string>
			<key>pfm_title</key>
			<string>License Info URL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>http://sal.example.com/licenses/available/yourreallyreallyreallyreallylongkey</string>
		</dict>
		<dict>
			<key>pfm_app_deprecated</key>
			<string>2.8.0</string>
			<key>pfm_description</key>
			<string>Catalog URL for Apple Software Updates. If undefined or empty, Munki will use the same catalog that the OS uses when you run Apple's Software Update application or call /usr/sbin/softwareupdate.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#softwareupdateserverurl</string>
			<key>pfm_macos_deprecated</key>
			<string>10.11</string>
			<key>pfm_name</key>
			<string>SoftwareUpdateServerURL</string>
			<key>pfm_title</key>
			<string>Software Update Server URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Use an SSL client certificate when communicating with the Munki server. Requires an https:// URL for the Munki repo.</string>
			<key>pfm_name</key>
			<string>UseClientCertificate</string>
			<key>pfm_title</key>
			<string>Use Client Certificate</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Use the CN of the client certificate as the Client Identifier. Used in combination with the UseClientCertificate key.</string>
			<key>pfm_name</key>
			<string>UseClientCertificateCNAsClientIdentifier</string>
			<key>pfm_title</key>
			<string>Use Client Certificate CN As Client Identifier</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Absolute path to a client certificate. There are 3 defaults for this key. Concatenated cert/key PEM file accepted.</string>
			<key>pfm_name</key>
			<string>ClientCertificatePath</string>
			<key>pfm_title</key>
			<string>Client Certificate Path</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/Library/Managed Installs/certs/[munki.pem|client.pem|cert.pem]</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Absolute path to a client private key.</string>
			<key>pfm_name</key>
			<string>ClientKeyPath</string>
			<key>pfm_title</key>
			<string>Client Key Path</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/Library/Managed Installs/certs/[munki.key|client.key|cert.key]</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Path to the directory that stores your CA certificate(s).</string>
			<key>pfm_name</key>
			<string>SoftwareRepoCAPath</string>
			<key>pfm_title</key>
			<string>Software Repo CA Path</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/Library/Managed Installs/certs</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Absolute path to your CA Certificate.</string>
			<key>pfm_name</key>
			<string>SoftwareRepoCACertificate</string>
			<key>pfm_title</key>
			<string>Software Repo CA Certificate</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/Library/Managed Installs/certs/ca.pem</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>/Library/Managed Installs/Logs/ManagedSoftwareUpdate.log</string>
			<key>pfm_description</key>
			<string>Primary log is written to this file. Other logs are written into the same directory as this file.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#logfile</string>
			<key>pfm_name</key>
			<string>LogFile</string>
			<key>pfm_title</key>
			<string>Log File</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Log to syslog in addition to ManagedSoftwareUpdate.log.</string>
			<key>pfm_name</key>
			<string>LogToSyslog</string>
			<key>pfm_title</key>
			<string>Log to Syslog</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>Higher values cause more detail to be written to the primary log.</string>
			<key>pfm_name</key>
			<string>LoggingLevel</string>
			<key>pfm_title</key>
			<string>Logging Level</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Log user actions in the GUI.</string>
			<key>pfm_name</key>
			<string>MSULogEnabled</string>
			<key>pfm_title</key>
			<string>Log Enabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Debug logging for Managed Software Center.</string>
			<key>pfm_name</key>
			<string>MSUDebugLogEnabled</string>
			<key>pfm_title</key>
			<string>Debug Log Enabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_Plugins</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>S3-Auth</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>S3-Auth</key>
				<array>
					<string>AccessKey</string>
					<string>SecretKey</string>
					<string>Region</string>
					<string>S3Endpoint</string>
					<string>IgnoreMiddleware</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.7.0</string>
			<key>pfm_description</key>
			<string>Munki has a feature which enables Mac administrators to use middleware to change munki's HTTP request. S3-Auth uses this feature to create the HTTP headers necessary to authenticate to S3.

AccessKey for S3 bucket.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/waderobson/s3-auth</string>
			<key>pfm_name</key>
			<string>AccessKey</string>
			<key>pfm_title</key>
			<string>Access Key</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>ex. AKIAIX2QPWZ7EXAMPLE</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.7.0</string>
			<key>pfm_description</key>
			<string>Munki has a feature which enables Mac administrators to use middleware to change munki's HTTP request. S3-Auth uses this feature to create the HTTP headers necessary to authenticate to S3.

Region for S3 bucket.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/waderobson/s3-auth</string>
			<key>pfm_name</key>
			<string>Region</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>ex. us-west-2</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.7.0</string>
			<key>pfm_description</key>
			<string>Munki has a feature which enables Mac administrators to use middleware to change munki's HTTP request. S3-Auth uses this feature to create the HTTP headers necessary to authenticate to S3.

SecretKey for S3 bucket.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/waderobson/s3-auth</string>
			<key>pfm_name</key>
			<string>SecretKey</string>
			<key>pfm_title</key>
			<string>Secret Key</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>ex. z5MFJCcEyYBmh2BxbrlZBWNJ4izEXAMPLE</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.7.0</string>
			<key>pfm_description</key>
			<string>Munki has a feature which enables Mac administrators to use middleware to change munki's HTTP request. S3-Auth uses this feature to create the HTTP headers necessary to authenticate to S3.

S3 Endpoint for bucket.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/waderobson/s3-auth</string>
			<key>pfm_name</key>
			<string>S3Endpoint</string>
			<key>pfm_title</key>
			<string>S3 Endpoint</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>ex. s3.us-west-1.wasabisys.com</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>6.4.2</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, Munki will ignore installed middleware. Useful for when moving away from middleware.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/Preferences#details</string>
			<key>pfm_name</key>
			<string>IgnoreMiddleware</string>
			<key>pfm_title</key>
			<string>Ignore Middleware</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>5.0</string>
			<key>pfm_default</key>
			<integer>14</integer>
			<key>pfm_description</key>
			<string>This preference controls how many days after one or more pending updates are ignored that aggressive user notification begins. Setting this to 0 never triggers this aggressive behavior.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/munki/munki/wiki/aggressive-update-notifications-in-munki-5</string>
			<key>pfm_name</key>
			<string>AggressiveUpdateNotificationDays</string>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Aggressive Update Notification Days</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_placeholder</key>
			<string>Days</string>
		</dict>
	</array>
	<key>pfm_title</key>
	<string>Munki</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>11</integer>
</dict>
</plist>
