<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string></string>
	<key>pfm_description</key>
	<string>NoMAD Login+ settings</string>
	<key>pfm_documentation_url</key>
	<string></string>
	<key>pfm_domain</key>
	<string>menu.nomad.login.okta</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2019-09-17T08:52:31Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures NoMAD Login+ settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>NoMAD Login+</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>menu.nomad.login.okta</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>menu.nomad.login.okta</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>CheckOkta</string>
				<string>CreateUser</string>
				<string>EnableFDE</string>
				<string>RunScript</string>
				<string>DeMobilize</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>CheckOkta</key>
				<array>
					<string>AuthServer</string>
					<string>BackgroundImage</string>
					<string>DenyLocal</string>
					<string>DenyLocalExcluded</string>
					<string>HelpURL</string>
					<string>LocalFallback</string>
					<string>LoginLogo</string>
					<string>Migrate</string>
					<string>MigrateUsersHide</string>
					<string>OIDCAccessClientID</string>
					<string>OIDCAdminClientID</string>
					<string>OIDCAuthServer</string>
					<string>OIDCRedirectURI</string>
					<string>OIDCSecondaryLoginClientID</string>
				</array>
				<key>CreateUser</key>
				<array>
					<string>CreateAdminUser</string>
				</array>
				<key>EnableFDE</key>
				<array>
					<string>EnableFDE</string>
					<string>EnableFDERecoveryKey</string>
					<string>EnableFDERecoveryKeyPath</string>
					<string>LAPSUser</string>
				</array>
				<key>RunScript</key>
				<array>
					<string>ScriptPath</string>
					<string>ScriptArgs</string>
				</array>
				<key>DeMobilize</key>
				<array>
					<string>DemobilizeUsers</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		
		<dict>
			<key>pfm_description_reference</key>
			<string>The Okta domain you want to authenticate against.</string>
			<key>pfm_name</key>
			<string>AuthServer</string>
			<key>pfm_require</key>
			<string>always-nested</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>dev-8675309.oktapreview.com</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Determines if all users must authenticate to Okta. When using this setting no local authentication is done.</string>
			<key>pfm_name</key>
			<string>DenyLocal</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>DenyLocal</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>List of local users that are excluded from the DenyLocal flag.</string>
			<key>pfm_name</key>
			<string>DenyLocalExcluded</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Username</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>DenyLocal</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Used with DenyLocal to force authentication to Okta first, but then fallback to local auth if Okta is unavailable.</string>
			<key>pfm_name</key>
			<string>LocalFallback</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Allow local accounts to be migrated to Okta-based accounts.</string>
			<key>pfm_name</key>
			<string>Migrate</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>List of local accounts to exclude from the migration pull-down menu.</string>
			<key>pfm_name</key>
			<string>MigrateUsersHide</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Username</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Path to an image to use for the logo in the CheckOkta UI.</string>
			<key>pfm_name</key>
			<string>LoginLogo</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/shared/logo.png</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Path to an image to use for the background of the CheckOkta mechanism.</string>
			<key>pfm_name</key>
			<string>BackgroundImage</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/shared/background.jpg</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>URL to show at the loginwindow to allow for onboarding or Okta enrollment.</string>
			<key>pfm_name</key>
			<string>HelpURL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>https://company.okta.com</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>OIDC application to use for access to the Mac.</string>
			<key>pfm_name</key>
			<string>OIDCAccessClientID</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>0oad0gmia54gn3y8923h1</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>OIDC application to use to determine who is an admin when a local account is created.</string>
			<key>pfm_name</key>
			<string>OIDCAdminClientID</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>0oa0gwese54gn3y9O0h4</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>The Authentication server to use for OIDC operations. This is optional.</string>
			<key>pfm_name</key>
			<string>OIDCAuthServer</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>ILKOasdf3829fga</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>The URI to use for SAML redirects.</string>
			<key>pfm_name</key>
			<string>OIDCRedirectURI</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>nomadoauth://oauth-callback/okta</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>OIDC application to use to determine who can create local accounts after an initial user has been created.</string>
			<key>pfm_name</key>
			<string>OIDCSecondaryLoginClientID</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>0oa0grdsrhdsre54gn3y9O 0h4</string>
		</dict>
		
		<!-- Create User -->
		
		<dict>
			<key>pfm_description_reference</key>
			<string>Determines if new users are local admins or not.</string>
			<key>pfm_name</key>
			<string>CreateAdminUser</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		
		<!-- EnableFDE -->
		
		<dict>
			<key>pfm_description_reference</key>
			<string>Determines if this mechanism will enable FileVault if all requirements are met.</string>
			<key>pfm_name</key>
			<string>EnableFDE</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Will write out the resulting personal recovery key to /var/db/ NoMADFDESetup.plist</string>
			<key>pfm_name</key>
			<string>EnableFDERecoveryKey</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>EnableFDE</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Changes the path used for the revery key.</string>
			<key>pfm_name</key>
			<string>EnableFDERecoveryKeyPath</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/opt</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>The local account to be used for LAPS.</string>
			<key>pfm_name</key>
			<string>LAPSUser</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>localadmin</string>
		</dict>
		
		<!-- Script -->
		
		<dict>
			<key>pfm_description_reference</key>
			<string>Path to the script or other executable.</string>
			<key>pfm_name</key>
			<string>ScriptPath</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/bin/login</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Augments to be used with the script.</string>
			<key>pfm_name</key>
			<string>ScriptArgs</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Arguments</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_value_empty</key>
							<true/>
							<key>pfm_target</key>
							<string>ScriptPath</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		
		<!-- DeMobilize -->
		
		<dict>
			<key>pfm_description_reference</key>
			<string>Determines if mobile accounts should be Bool false demobilized.</string>
			<key>pfm_name</key>
			<string>DemobilizeUsers</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>NoMAD Login+</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>5</integer>
</dict>
</plist>
