<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://gitlab.com/orchardandgrove-oss/NoMADLogin-AD</string>
	<key>pfm_description</key>
	<string>NoMAD Login settings</string>
	<key>pfm_documentation_url</key>
	<string>https://gitlab.com/orchardandgrove-oss/NoMADLogin-AD/wikis/Configuration/preferences</string>
	<key>pfm_domain</key>
	<string>menu.nomad.login.ad</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2020-10-13T23:55:35Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures NoMAD Login settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>NoMAD Login</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>menu.nomad.login.ad</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>menu.nomad.login.ad</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.0</string>
			<key>pfm_description</key>
			<string>Defines the AD domain you're working with.</string>
			<key>pfm_name</key>
			<string>ADDomain</string>
			<key>pfm_title</key>
			<string>Active Directory Domain</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>CheckAD</string>
				<string>EULA</string>
				<string>CreateUser</string>
				<string>UserInput</string>
				<string>EnableFDE</string>
				<string>Design</string>
				<string>SecureToken</string>
				<string>RunScript</string>
				<string>Notify</string>
				<string>KeychainAdd</string>
				<string>GuestUser</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>CheckAD</key>
				<array>
					<string>DenyLocal</string>
					<string>DenyLocalExcluded</string>
					<string>DenyLoginUnlessGroupMember</string>
					<string>RecursiveGroupLookup</string>
					<string>PasswordOverwriteSilent</string>
					<string>PasswordOverwriteOptional</string>
					<string>LocalFallback</string>
					<string>LDAPOverSSL</string>
					<string>LDAPServers</string>
					<string>AdditionalADDomains</string>
					<string>AdditionalADDomainList</string>
					<string>NTtoADDomainMappings</string>
					<string>AliasNTName</string>
					<string>AliasUPN</string>
					<string>IgnoreSites</string>
					<string>Migrate</string>
					<string>MigrateUsersHide</string>
				</array>
				<key>CreateUser</key>
				<array>
					<string>CreateAdminUser</string>
					<string>CreateAdminIfGroupMember</string>
					<string>UseCNForFullName</string>
					<string>UseCNForFullNameFallback</string>
					<string>UserProfileImage</string>
					<string>DemobilizeUsers</string>
					<string>DemobilizeSaveAltSecurityIdentities</string>
					<string>DemobilizeForcePasswordCheck</string>
				</array>
				<key>EULA</key>
				<array>
					<string>EULATitle</string>
					<string>EULASubTitle</string>
					<string>EULAText</string>
					<string>EULAPath</string>
				</array>
				<key>UserInput</key>
				<array>
					<string>UserInputOutputPath</string>
					<string>UserInputUI</string>
					<string>UserInputLogo</string>
					<string>UserInputTitle</string>
					<string>UserInputMainText</string>
				</array>
				<key>EnableFDE</key>
				<array>
					<string>EnableFDE</string>
					<string>EnableFDERecoveryKey</string>
					<string>EnableFDERecoveryKeyPath</string>
					<string>EnableFDERekey</string>
				</array>
				<key>Design</key>
				<array>
					<string>UsernameFieldPlaceholder</string>
					<string>LoginScreen</string>
					<string>LoginLogo</string>
					<string>LoginLogoData</string>
					<string>LoginLogoAlpha</string>
					<string>BackgroundImage</string>
					<string>BackgroundImageData</string>
					<string>BackgroundImageAlpha</string>
					<string>AllowNetworkSelection</string>			
					<string>DefaultSystemInformation</string>
					<string>PowerControlDisabled</string>
					<string>MessagePasswordSync</string>					
				</array>		
				<key>SecureToken</key>
				<array>
					<string>ManageSecureTokens</string>
					<string>SecureTokenManagementEnableOnlyAdminUsers</string>
					<string>SecureTokenManagementIconPath</string>
					<string>SecureTokenManagementOnlyEnableFirstUser</string>
					<string>SecureTokenManagementFullName</string>
					<string>SecureTokenManagementUID</string>
					<string>SecureTokenManagementPasswordLocation</string>
					<string>SecureTokenManagementPasswordLength</string>
					<string>SecureTokenManagementUsername</string>
				</array>
				<key>RunScript</key>
				<array>
					<string>ScriptPath</string>
					<string>ScriptArgs</string>
					<string>UIDTool</string>
					<string>GUIDTool</string>
				</array>
				<key>Notify</key>
				<array>
					<string>NotifyLogStyle</string>
				</array>
				<key>KeychainAdd</key>
				<array>
					<string>KeychainCreate</string>
					<string>KeychainAddNoMAD</string>
					<string>LastUser</string>
					<string>KeychainReset</string>
					<string>CustomNoMADLocation</string>
				</array>
				<key>GuestUser</key>
				<array>
					<string>GuestUser</string>	
					<string>GuestUserAccounts</string>
					<string>GuestUserAccountPasswordPath</string>
					<string>GuestUserFirst</string>
					<string>GuestUserLast</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

		<!-- *** CheckAD *** -->

		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description_reference</key>
			<string>Determines if local user accounts are allowed to sign in, or if all auth is forced through AD.</string>
			<key>pfm_name</key>
			<string>DenyLocal</string>
			<key>pfm_title</key>
			<string>Deny Local Users</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description_reference</key>
			<string>List of local user shortnames that will be allowed to authenticate locally instead of via AD.</string>
			<key>pfm_name</key>
			<string>DenyLocalExcluded</string>
			<key>pfm_title</key>
			<string>Deny Local User Exclusions</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Username</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description_reference</key>
			<string>List of AD group names. When an AD user is authenticating, only allow login if the user is a member of one of these groups.</string>
			<key>pfm_name</key>
			<string>DenyLoginUnlessGroupMember</string>
			<key>pfm_title</key>
			<string>Allowed Group Membership User Logins</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Group Name</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>If set to yes, group membership lookups should be done recursively</string>
			<key>pfm_name</key>
			<string>RecursiveGroupLookup</string>
			<key>pfm_title</key>
			<string>Recursive Group Lookup</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>If yes, migrate users</string>
			<key>pfm_name</key>
			<string>Migrate</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>List of names of users that should be hidden from user migration candidates during selection</string>
			<key>pfm_name</key>
			<string>MigrateUsersHide</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_title</key>
			<string>Hidden Migration User</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>User Name</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>When DenyLocal and PasswordOverwriteSilent are enabled and the user does not have a secure token NoLo will force overwrite the users password to the new password.</string>
			<key>pfm_name</key>
			<string>PasswordOverwriteSilent</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Password Overwrite Silent</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>When DenyLocal and PasswordOverwriteOptional are enabled and the user does not have a secure token NoLo will prompt the user overwrite the users password to the new password.</string>
			<key>pfm_name</key>
			<string>PasswordOverwriteOptional</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Password Overwrite Optional</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description_reference</key>
			<string>When enabled, login fallbacks to local auth if the network is not available.</string>
			<key>pfm_name</key>
			<string>LocalFallback</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_title</key>
			<string>Local Fallback</string>
		</dict>
		<dict>		
 			<key>pfm_app_min</key>		
 			<string>1.3</string>		
 			<key>pfm_description</key>		
 			<string>List of LDAP servers that you would like to use for AD authentication instead of using SRV record lookup.</string>		
 			<key>pfm_name</key>		
 			<string>LDAPServers</string>		
 			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Server</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Determines if NoMAD Login uses LDAP over SSL.</string>
			<key>pfm_name</key>
			<string>LDAPOverSSL</string>
			<key>pfm_title</key>
			<string>LDAP Over SSL</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>List of domains to append at the loginwindow. If not set, the standard Managed Domain policy will apply.</string>
			<key>pfm_name</key>
			<string>AdditionalADDomains</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_app_min</key>
					<string>1.2</string>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>Domain</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Additional Active Directory Domains</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>List of LDAP servers to display in the pulldown menu in the Login Window. Users can select a domain from the menu and then only enter the shortname in the text field.</string>
			<key>pfm_name</key>
			<string>AdditionalADDomainList</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Domain</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Domain Dropdown List</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>Maps NT to AD Domains. e.g. NOMAD: nomad.menu, would allow a user to sign in as "NOMAD\user" and that would be converted to "user@nomad.menu" before authenticating to AD.</string>
			<key>pfm_name</key>
			<string>NTtoADDomainMappings</string>
			<key>pfm_type</key>
			<string>dictionary</string>
			<key>pfm_hidden</key>
			<string>container</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>TextFields</string>
					<key>pfm_title</key>
					<string>NT to AD Domain Mappings</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_range_max</key>
					<integer>5</integer>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>TextField</string>
							<key>pfm_type</key>
							<string>dictionary</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_title</key>
									<string>NT Name</string>
									<key>pfm_name</key>
									<string>ntname</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
								<dict>
									<key>pfm_title</key>
									<string>AD Domain</string>
									<key>pfm_name</key>
									<string>addomain</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>If enabled, the user's NT style name is added as an alias to the local account during account creation.</string>
			<key>pfm_name</key>
			<string>AliasNTName</string>
			<key>pfm_title</key>
			<string>Alias NT Name</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>	
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>If enabled, the user's UserPrincipalName is added as an alias to the local account during account creation.</string>
			<key>pfm_name</key>
			<string>AliasUPN</string>
			<key>pfm_title</key>
			<string>Alias User Principal Name</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description_reference</key>
			<string>Ignore sites in AD. This is a compatibility measure for AD installs that have issues with sites</string>
			<key>pfm_name</key>
			<string>IgnoreSites</string>
			<key>pfm_title</key>
			<string>Ignore Sites</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>	

		<!-- *** EULA *** -->

		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Text for the large title in the EULA window.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>EULAText</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>EULATitle</string>
			<key>pfm_title</key>
			<string>End User License Agreement Title</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Text for a subtitle in the EULA window.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>EULAText</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>EULASubTitle</string>
			<key>pfm_title</key>
			<string>End User License Agreement Subtitle</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Text to present in the EULA window.</string>
			<key>pfm_name</key>
			<string>EULAText</string>
			<key>pfm_title</key>
			<string>End User License Agreement Text</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_default</key>
			<string>/var/db/NoMADLogin/</string>
			<key>pfm_description</key>
			<string>Path to save acceptance records to.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>EULAText</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>EULAPath</string>
			<key>pfm_title</key>
			<string>End User License Agreement Save Path</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

		<!-- *** CreateUser *** -->

		<dict>
			<key>pfm_app_min</key>
			<string>1.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Will place any local user created at login by NoMAD Login in the local admin group.</string>
			<key>pfm_name</key>
			<string>CreateAdminUser</string>
			<key>pfm_title</key>
			<string>Create Admin Users</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>List of groups that should have its members created as local administrators.</string>
			<key>pfm_name</key>
			<string>CreateAdminIfGroupMember</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Group</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Group Membership to Create Admin Users</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>Use the the user's CN from AD instead of attempting to create the user name from the first and last name attributes of the user's AD record.</string>
			<key>pfm_name</key>
			<string>UseCNForFullName</string>
			<key>pfm_title</key>
			<string>Use User Common Name for Full Name</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>Uses the CN as the fullname on the account when the givenName and sn fields are blank</string>
			<key>pfm_name</key>
			<string>UseCNForFullNameFallback</string>
			<key>pfm_title</key>
			<string>Use User Common Name for Full Name Fallback</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Path to an image to set as the user profile image.</string>
			<key>pfm_name</key>
			<string>UserProfileImage</string>
			<key>pfm_title</key>
			<string>User Profile Image</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Will convert a previously cached mobile account from AD into a regular local user account on login.</string>
			<key>pfm_name</key>
			<string>DemobilizeUsers</string>
			<key>pfm_title</key>
			<string>Demobilize Users</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, the AltSecurityIdentities user record attribute should be preserved, useful when moving from mobile accounts with smart card mapping implemented.</string>
			<key>pfm_name</key>
			<string>DemobilizeSaveAltSecurityIdentities</string>
			<key>pfm_title</key>
			<string>Demobilize Preserve AllSecurityIdentities</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If true, a password input at the NoMAD login window will be required to demobilize</string>
			<key>pfm_name</key>
			<string>DemobilizeForcePasswordCheck</string>
			<key>pfm_title</key>
			<string>Demobilize Force Password Check</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>

		<!-- *** UserInput *** -->

		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>Path where the userinfo.plist will be written.</string>
			<key>pfm_name</key>
			<string>UserInputOutputPath</string>
			<key>pfm_title</key>
			<string>User Input / Output Path</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>Path to a logo file to use for the UserInput mechanism.</string>
			<key>pfm_name</key>
			<string>UserInputLogo</string>
			<key>pfm_title</key>
			<string>User Input Logo</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>Title for the UserInput mechanism.</string>
			<key>pfm_name</key>
			<string>UserInputTitle</string>
			<key>pfm_title</key>
			<string>User Input Title</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>Text for the UserInput mechanism.</string>
			<key>pfm_name</key>
			<string>UserInputMainText</string>
			<key>pfm_title</key>
			<string>User Input Text</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>UI elements shown during the UserInput mechanism.</string>
			<key>pfm_name</key>
			<string>UserInputUI</string>
			<key>pfm_type</key>
			<string>dictionary</string>
			<key>pfm_hidden</key>
			<string>container</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>TextFields</string>
					<key>pfm_title</key>
					<string>User Input Text Fields</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_range_max</key>
					<integer>4</integer>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>TextField</string>
							<key>pfm_type</key>
							<string>dictionary</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_title</key>
									<string>Title</string>
									<key>pfm_name</key>
									<string>title</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
								<dict>
									<key>pfm_title</key>
									<string>Placeholder</string>
									<key>pfm_name</key>
									<string>placeholder</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>PopUps</string>
					<key>pfm_title</key>
					<string>User Input Pop Ups</string>
					<key>pfm_type</key>
					<string>array</string>
					<key>pfm_range_max</key>
					<integer>4</integer>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>PopUp</string>
							<key>pfm_type</key>
							<string>dictionary</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_title</key>
									<string>Title</string>
									<key>pfm_name</key>
									<string>title</string>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
								<dict>
									<key>pfm_title</key>
									<string>Items</string>
									<key>pfm_name</key>
									<string>items</string>
									<key>pfm_type</key>
									<string>array</string>
									<key>pfm_subkeys</key>
									<array>
										<dict>
											<key>pfm_type</key>
											<string>string</string>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Button</string>
					<key>pfm_type</key>
					<string>dictionary</string>
					<key>pfm_hidden</key>
					<string>container</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_title</key>
							<string>Button</string>
							<key>pfm_name</key>
							<string>title</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_title</key>
							<string>Button Enabled</string>
							<key>pfm_name</key>
							<string>enabled</string>
							<key>pfm_type</key>
							<string>boolean</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>

		<!-- *** EnableFDE *** -->

		<dict>
			<key>pfm_app_min</key>
			<string>1.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>On systems using the APFS filesystem, this key will enable FileVault encryption as the user is signing in for the first time.</string>
			<key>pfm_name</key>
			<string>EnableFDE</string>
			<key>pfm_title</key>
			<string>Enable FileVault on APFS</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Write the output of the fdesetup command to /var/db/.NoMADFDESetup</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_contains_any</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>EnableFDE</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>EnableFDERecoveryKey</string>
			<key>pfm_title</key>
			<string>Enable FileVault Recovery Key</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description_reference</key>
			<string>String of a folder path where the recovery key will be stored. NoLo will create this folder if it does not already exist.</string>
			<key>pfm_name</key>
			<string>EnableFDERecoveryKeyPath</string>
			<key>pfm_title</key>
			<string>FileVault Recovery Key Path</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/opt</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description_reference</key>
			<string>Determines if the FileVault personal recovery key should be rotated when a valid FileVault user signs in.</string>
			<key>pfm_name</key>
			<string>EnableFDERekey</string>
			<key>pfm_title</key>
			<string>FileVault Personal Recovery Key Rotation</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>

		<!-- *** Design *** -->

		<dict>
			<key>pfm_app_min</key>
			<string>1.1.0</string>
			<key>pfm_description</key>
			<string>If set to yes, a macOS-style loginscreen will be presented instead of the NoMAD Login loginwindow style.</string>
			<key>pfm_name</key>
			<string>LoginScreen</string>
			<key>pfm_title</key>
			<string>macOS Style Login Window</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Placeholder text to show in the username textfield.</string>
			<key>pfm_name</key>
			<string>UsernameFieldPlaceholder</string>
			<key>pfm_title</key>
			<string>Username Field Placeholder</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.1.0</string>
			<key>pfm_description</key>
			<string>Path to the logo to display on the login screen. If set to NONE, no logo will be shown.</string>
			<key>pfm_name</key>
			<string>LoginLogo</string>
			<key>pfm_title</key>
			<string>Login Logo</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/icons/logo.png</string>
		</dict>
		<dict>
			<key>pfm_allowed_file_types</key>
			<array>
				<string>public.image</string>
			</array>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Logo to display on the login screen.</string>
			<key>pfm_name</key>
			<string>LoginLogoData</string>
			<key>pfm_title</key>
			<string>Login Logo Data</string>
			<key>pfm_type</key>
			<string>data</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_default</key>
			<integer>8</integer>
			<key>pfm_description</key>
			<string>Alpha value of the logo image.</string>
			<key>pfm_name</key>
			<string>LoginLogoAlpha</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>0%</string>
				<string>10%</string>
				<string>20%</string>
				<string>30%</string>
				<string>40%</string>
				<string>50%</string>
				<string>60%</string>
				<string>70%</string>
				<string>80%</string>
				<string>90%</string>
				<string>100%</string>
			</array>
			<key>pfm_title</key>
			<string>Login Logo Alpha</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.1.0</string>
			<key>pfm_description</key>
			<string>Path to the background image to be used.</string>
			<key>pfm_name</key>
			<string>BackgroundImage</string>
			<key>pfm_title</key>
			<string>Login Window Background Image</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/icons/background.png</string>
		</dict>
		<dict>
			<key>pfm_allowed_file_types</key>
			<array>
				<string>public.image</string>
			</array>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>Background to display on the login screen.</string>
			<key>pfm_name</key>
			<string>BackgroundImageData</string>
			<key>pfm_title</key>
			<string>Background Image Data</string>
			<key>pfm_type</key>
			<string>data</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_default</key>
			<integer>8</integer>
			<key>pfm_description</key>
			<string>Alpha value of the background image.</string>
			<key>pfm_name</key>
			<string>BackgroundImageAlpha</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>0%</string>
				<string>10%</string>
				<string>20%</string>
				<string>30%</string>
				<string>40%</string>
				<string>50%</string>
				<string>60%</string>
				<string>70%</string>
				<string>80%</string>
				<string>90%</string>
				<string>100%</string>
			</array>
			<key>pfm_title</key>
			<string>Login Window Background Image Alpha</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If enabled, the network selection button is shown</string>
			<key>pfm_name</key>
			<string>AllowNetworkSelection</string>
			<key>pfm_title</key>
			<string>Show Network Selection</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>Defines which system information should be showed on login window, by default</string>
			<key>pfm_name</key>
			<string>DefaultSystemInformation</string>
			<key>pfm_title</key>
			<string>Default System Information</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_range_list</key>
			<array>
				<string>None</string>
				<string>Serial</string>
				<string>MAC</string>
				<string>Hostname</string>
				<string>ComputerName</string>
				<string>SystemVersion</string>
				<string>IP</string>
			</array>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.3.1</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to yes, hides the shutdown and restart buttons</string>
			<key>pfm_name</key>
			<string>PowerControlDisabled</string>
			<key>pfm_title</key>
			<string>Hide Shutdown and Restart</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
				
		<!-- *** SecureToken *** -->

		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>This key will enable SecureToken management capabilites in NomadLogin 1.4. This utilizes a service account which can be modified from default using the below optional preferences.</string>
			<key>pfm_name</key>
			<string>ManageSecureTokens</string>
			<key>pfm_title</key>
			<string>Enable Secure Token Management</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If enabled, the SecureToken service account will only enable administrative users created with NoMAD Login.</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementEnableOnlyAdminUsers</string>
			<key>pfm_title</key>
			<string>Enable Only Admin User</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Path of the icon to be used for the user</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementIconPath</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Secure Token Icon Path</string>
			<key>pfm_value_placeholder</key>
			<string>/Library/Security/SecurityAgentPlugins/NoMADLoginAD.bundle/Contents/Resources/NoMADFDEIcon.png</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If enabled, NoMAD Login will only enable the first user that is eligable for a SecureToken, and delete the service account afterwards.</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementOnlyEnableFirstUser</string>
			<key>pfm_title</key>
			<string>Only Enable First User</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>Defines a custom Full Name for the SecureToken service account</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementFullName</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Service Account Full Name</string>
			<key>pfm_value_placeholder</key>
			<string>NoMAD Login</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>Defines a custom UID for the SecureToken service account</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementUID</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Service Account UID</string>
			<key>pfm_value_placeholder</key>
			<string>400</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>Defines a custom password storage location for the SecureToken service account password</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementPasswordLocation</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Service Account Password Storage Path</string>
			<key>pfm_value_placeholder</key>
			<string>/var/db/.nomadLoginSecureTokenPassword</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_default</key>
			<integer>16</integer>
			<key>pfm_description</key>
			<string>Defines a custom SecureToken service account password length.</string>
			<key>pfm_title</key>
			<string>Service Account Password Length</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementPasswordLength</string>
			<key>pfm_range_list</key>
			<array>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>30</integer>
				<integer>31</integer>
				<integer>32</integer>
			</array>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>			
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description_reference</key>
			<string>Defines a a custom username for the SecureToken service account</string>
			<key>pfm_name</key>
			<string>SecureTokenManagementUsername</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_title</key>
			<string>Service Account User Name</string>
			<key>pfm_value_placeholder</key>
			<string>_nomadlogin</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>Message to show when the password needs to sync</string>
			<key>pfm_name</key>
			<string>MessagePasswordSync</string>
			<key>pfm_title</key>
			<string>Password Sync Message</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>

		<!-- *** RunScript *** -->

		<dict>
			<key>pfm_description_reference</key>
			<string>Path to the script or other executable.</string>
			<key>pfm_name</key>
			<string>ScriptPath</string>
			<key>pfm_title</key>
			<string>Script Path</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>/usr/local/bin/login</string>
		</dict>
		<dict>
			<key>pfm_description_reference</key>
			<string>Arguments to be used with the script. &lt;&lt;User&gt;&gt; will be replaced with the current user's shortname, &lt;&lt;First&gt;&gt; with the current user's first name, &lt;&lt;Last&gt;&gt; with the current user's last name, &lt;&lt;Principal&gt;&gt; with the current user's Kerberos principal.</string>
			<key>pfm_name</key>
			<string>ScriptArgs</string>
			<key>pfm_title</key>
			<string>Script Arguments</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Arguments</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>String to determine the path of an executable that is run when a new user is created. It is expected to return the UID that the user should be created with. It passes in the new users username as the first argument, default is to use the built in functionality</string>
			<key>pfm_name</key>
			<string>UIDTool</string>
			<key>pfm_title</key>
			<string>UID Tool</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>String to determine the path of an executable that is run when a new user is created. It is expected to return the GUID that the user should be created with. It passes in the new users username as the first argument, default is to use the built in functionality</string>
			<key>pfm_name</key>
			<string>GUIDTool</string>
			<key>pfm_title</key>
			<string>GUID Tool</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		
		<!-- *** Notify *** -->
		
		<dict>
			<key>pfm_app_min</key>
			<string>1.3</string>
			<key>pfm_description</key>
			<string>Adds the appropriate log file to the the Notify mechanism.</string>
			<key>pfm_name</key>
			<string>NotifyLogStyle</string>
			<key>pfm_title</key>
			<string>Add Notify to Management Log File</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_range_list</key>
			<array>
				<string>none</string>
				<string>jamf</string>
				<string>filewave</string>
				<string>munki</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>None</string>
				<string>Jamf</string>
				<string>Filewave</string>
				<string>Munki</string>
			</array>
		</dict>
		
		<!-- *** KeychainAdd *** -->
		
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Create keychain if it does not exist.</string>
			<key>pfm_name</key>
			<string>KeychainCreate</string>
			<key>pfm_title</key>
			<string>Create Keychain</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Add a NoMAD entry into the keychain.</string>
			<key>pfm_name</key>
			<string>KeychainAddNoMAD</string>
			<key>pfm_title</key>
			<string>Add NoMAD to Keychain</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>If defined it specifies the custom location of the application to be given access to the keychain item.</string>
			<key>pfm_name</key>
			<string>CustomNoMADLocation</string>
			<key>pfm_title</key>
			<string>Custom NoMAD Location</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2.1</string>
			<key>pfm_description</key>
			<string>Shortname of the last user to login. This allows NoMAD to login on first launch.</string>
			<key>pfm_note</key>
			<string>Setting this in a profile will disable this value from being set on the system.</string>
			<key>pfm_name</key>
			<string>LastUser</string>
			<key>pfm_title</key>
			<string>Last User Shortname</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.2</string>
			<key>pfm_description</key>
			<string>Reset keychain if login password doesn't match.</string>
			<key>pfm_name</key>
			<string>KeychainReset</string>
			<key>pfm_title</key>
			<string>Reset Keychain if Password Doesn't Match</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		
		<!-- *** GuestUser *** -->
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>Allows guest users login</string>
			<key>pfm_name</key>
			<string>GuestUser</string>
			<key>pfm_title</key>
			<string>Allow Guest User Login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>List of names that can be entered into the username field to trigger a guest user creation</string>
			<key>pfm_title</key>
			<string>Guest User Accounts</string>
			<key>pfm_name</key>
			<string>GuestUserAccounts</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>GuestNames</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>The path to write out the guest users randomly generated password</string>
			<key>pfm_title</key>
			<string>Guest User Password Path</string>
			<key>pfm_name</key>
			<string>GuestUserAccountPasswordPath</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>Defines the first name of the guest user account</string>
			<key>pfm_name</key>
			<string>GuestUserFirst</string>
			<key>pfm_title</key>
			<string>Guest User First Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.4</string>
			<key>pfm_description</key>
			<string>Defines the last name of the guest user account</string>
			<key>pfm_name</key>
			<string>GuestUserLast</string>
			<key>pfm_title</key>
			<string>Guest User Last Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>NoMAD Login</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>13</integer>
</dict>
</plist>
