<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://zoom.us/</string>
	<key>pfm_description</key>
	<string>Zoom settings</string>
	<key>pfm_documentation_url</key>
	<string>https://support.zoom.us/hc/en-us/articles/115001799006-Mass-Deployment-with-Preconfigured-Settings-for-Mac</string>
	<key>pfm_domain</key>
	<string>us.zoom.config</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2021-12-25T07:19:14Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Zoom settings</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>Zoom</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>us.zoom.config</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>us.zoom.config</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>General</string>
				<string>Meeting</string>
				<string>Chat</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>General</key>
				<array>
					<string>Account</string>
					<string>AlwaysCheckLatestVersion</string>
					<string>AlwaysShowVideoPreviewDialog</string>
					<string>BlockUntrustedSSLCert</string>
					<string>DefaultUsePortraitView</string>
					<string>DisableAutoLaunchSSO</string>
					<string>disableDaemonInstall</string>
					<string>DisableDirectShare</string>
					<string>DisableKeepSignedInWithFacebook</string>
					<string>DisableKeepSignedInWithGoogle</string>
					<string>DisableKeepSignedInWithSSO</string>
					<string>DisableLoginWithEmail</string>
					<string>DisableZoomApps</string>
					<string>EmbedUserAgentString</string>
					<string>EnableEmbedBrowserForSSO</string>
					<string>EnableHIDControl</string>
					<string>EnableSilentAutoUpdate</string>
					<string>EnableStartMeetingWithRoomSystem</string>
					<string>EnforceAppSignInToJoin</string>
					<string>EnforceSignInToJoin</string>
					<string>ForceSSOURL</string>
					<string>IgnoreBandwidthLimits</string>
					<string>KeepSignedIn</string>
					<string>LastLoginType</string>
					<string>LegacyCaptureMode</string>
					<string>Login_Domain</string>
					<string>NoGoogle</string>
					<string>NoFacebook</string>
					<string>NoSSO</string>
					<string>PresentInMeetingOption</string>
					<string>PresentToRoomOptimizeVideo</string>
					<string>PresentToRoomOption</string>
					<string>PresentToRoomWithAudio</string>
					<string>SetDevicePolicyToken</string>
					<string>SetUpdatingChannel</string>
					<string>SetWebDomain</string>
					<string>ZAutoSSOLogin</string>
					<string>ZAutoUpdate</string>
					<string>ZSSOHost</string>
				</array>
				<key>Meeting</key>
				<array>
					<string>AudioAutoAdjust</string>
					<string>AutoHideToolbar</string>
					<string>BandwidthLimitDown</string>
					<string>BandwidthLimitUp</string>
					<string>ConfirmWhenLeave</string>
					<string>DisableClosedCaptioning</string>
					<string>DisableComputerAudio</string>
					<string>DisableManualClosedCaptioning</string>
					<string>DisableMeeting3rdPartyFileStorage</string>
					<string>DisableQnA</string>
					<string>DisableRemoteControl</string>
					<string>DisableRemoteSupport</string>
					<string>DisableScreenShare</string>
					<string>DisableSlideControl</string>
					<string>DisableVirtualBkgnd</string>
					<string>EnableEchoCancellation</string>
					<string>EnableIndependentDataPort</string>
					<string>EnableMirrorEffect</string>
					<string>EnableOriginalSound</string>
					<string>EnableSSLVerification</string>
					<string>EnableShareClipboardWhenRemoteControl</string>
					<string>EnableSplitScreen</string>
					<string>FullScreenWhenJoin</string>
					<string>HidePhoneInComingCallWhileInMeeting</string>
					<string>MuteVoipWhenJoin</string>
					<string>ProxyBypass</string>
					<string>ProxyPAC</string>
					<string>ProxyServer</string>
					<string>RecordPath</string>
					<string>SetUseSystemDefaultMicForVOIP</string>
					<string>SetUseSystemDefaultSpeakerForVOIP</string>
					<string>ShowConnectedTime</string>
					<string>ZAutoFitWhenViewShare</string>
					<string>ZAutoFullScreenWhenViewShare</string>
					<string>ZAutoJoinVoip</string>
					<string>zDisableCMR</string>
					<string>zDisableFT</string>
					<string>zDisableLocalRecord</string>
					<string>zDisableSendVideo</string>
					<string>zDisableRecvVideo</string>
					<string>ZDisableVideo</string>
					<string>ZDualMonitorOn</string>
					<string>ZHideNoVideoUser</string>
					<string>ZRemoteControllAllApp</string>
					<string>ZUse720PByDefault</string>
				</array>
				<key>Chat</key>
				<array>
					<string>DisableLinkPreviewInChat</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Default to login with SSO</string>
			<key>pfm_name</key>
			<string>ZAutoSSOLogin</string>
			<key>pfm_title</key>
			<string>Login with SSO</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Preconfigured SSO URL</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>ZAutoSSOLogin</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>ZSSOHost</string>
			<key>pfm_title</key>
			<string>SSO URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Configures and locks the SSO URL</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>ZAutoSSOLogin</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>ForceSSOURL</string>
			<key>pfm_title</key>
			<string>Lock SSO URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevent Zoom from automatically launching the previously used SSO URL. This is useful for users with multiple accounts, each having their own SSO URL.</string>
			<key>pfm_name</key>
			<string>DisableAutoLaunchSSO</string>
			<key>pfm_title</key>
			<string>Disable SSO Auto Launch</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable the Google login option</string>
			<key>pfm_name</key>
			<string>NoGoogle</string>
			<key>pfm_title</key>
			<string>Disable Google Login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable the Facebook login option</string>
			<key>pfm_name</key>
			<string>NoFacebook</string>
			<key>pfm_title</key>
			<string>Disable Facebook Login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable the SSO login option</string>
			<key>pfm_name</key>
			<string>NoSSO</string>
			<key>pfm_title</key>
			<string>Disable SSO Login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_name</key>
			<string>DisableLoginWithEmail</string>
			<key>pfm_title</key>
			<string>Disable Email Login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Require new Facebook login every time Zoom launches.</string>
			<key>pfm_name</key>
			<string>DisableKeepSignedInWithFacebook</string>
			<key>pfm_title</key>
			<string>Disable Facebook Keep Signed In</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Require new Google login every time Zoom launches.</string>
			<key>pfm_name</key>
			<string>DisableKeepSignedInWithGoogle</string>
			<key>pfm_title</key>
			<string>Disable Google Keep Signed In</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Require new SSO login every time Zoom launches.</string>
			<key>pfm_name</key>
			<string>DisableKeepSignedInWithSSO</string>
			<key>pfm_title</key>
			<string>Disable SSO Keep Signed In</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>https://zoom.us</string>
			<key>pfm_description</key>
			<string>Sets the web domain for logging in or joining a meeting. By default, the value is https://zoom.us or https://zoom.com</string>
			<key>pfm_name</key>
			<string>SetWebDomain</string>
			<key>pfm_title</key>
			<string>Set Default Web Domain</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>	
		<dict>
			<key>pfm_description</key>
			<string>Set the email address domain that users can login with</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_range_list</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>DisableLoginWithEmail</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>Login_Domain</string>
			<key>pfm_title</key>
			<string>Login Domain</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Remember the last login type used</string>
			<key>pfm_name</key>
			<string>LastLoginType</string>
			<key>pfm_title</key>
			<string>Remember Last Login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Client automatically logs in to the last email account used</string>
			<key>pfm_name</key>
			<string>KeepSignedIn</string>
			<key>pfm_title</key>
			<string>Stay Signed In (Email)</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Allow users to check for updates through the Zoom client. If set to 'false', the 'Check for Updates' button is hidden.</string>
			<key>pfm_name</key>
			<string>ZAutoUpdate</string>
			<key>pfm_note</key>
			<string>This is not a true auto-update feature, this only allows the user to manually check for updates.</string>
			<key>pfm_title</key>
			<string>Enable Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Allows the Zoom client to silently check for available stable version updates. This option requires zAutoUpdate option to be enabled, and will fail if not enabled.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>ZAutoUpdate</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>EnableSilentAutoUpdate</string>
			<key>pfm_title</key>
			<string>Enable Silent Auto Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Allows the desktop client to check for any available updates. This option requires zAutoUpdate option to be enabled, and will fail if not enabled.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>ZAutoUpdate</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>AlwaysCheckLatestVersion</string>
			<key>pfm_title</key>
			<string>Allow Zoom to Check for Updates Automatically</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Configures the cadence of updates available to the Zoom client. If set to 'false', will use the 'Slow' (stable) channel. If set to 'true', will use the 'Fast' channel.</string>
			<key>pfm_name</key>
			<string>SetUpdatingChannel</string>
			<key>pfm_range_list</key>
			<array>
				<false/>
				<true/>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Slow (fewer updates, better stability)</string>
				<string>Fast (newest features and updates)</string>
			</array>
			<key>pfm_title</key>
			<string>Allow Zoom to Check for Updates Automatically</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Use the embedded browser in the Zoom client for SSO.</string>
			<key>pfm_name</key>
			<string>EnableEmbedBrowserForSSO</string>
			<key>pfm_title</key>
			<string>Enable Embedded Zoom Browser for SSO</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Force users to be signed in with a Zoom account before joining a meeting. Users can be signed-in on the web portal when joining via a join URL.</string>
			<key>pfm_name</key>
			<string>EnforceSignInToJoin</string>
			<key>pfm_title</key>
			<string>Force Sign In To Join Meetings</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Force users to be signed in with a Zoom account in the app before joining any meeting or webinar.</string>
			<key>pfm_name</key>
			<string>EnforceAppSignInToJoin</string>
			<key>pfm_title</key>
			<string>Force App Sign In To Join Meetings</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Controls the use of the daemon helper to install updates, which bypasses the need to enter admin credentials when upgrading. This option requires AutoUpdate option to be enabled, and will fail if not enabled.</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_range_list</key>
							<array>
								<false/>
							</array>
							<key>pfm_target</key>
							<string>ZAutoUpdate</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>disableDaemonInstall</string>
			<key>pfm_range_list</key>
			<array>
				<false/>
				<true/>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Install helper daemon</string>
				<string>Don't install helper daemon</string>
			</array>
			<key>pfm_title</key>
			<string>Disable Zoom Helper Daemon Install</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Default to Portrait Mode upon opening Zoom</string>
			<key>pfm_name</key>
			<string>DefaultUsePortraitView</string>
			<key>pfm_title</key>
			<string>Default to Portrait Mode</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disables direct share with Zoom Rooms</string>
			<key>pfm_name</key>
			<string>DisableDirectShare</string>
			<key>pfm_title</key>
			<string>Disable Direct Share</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Set default sharing option when sharing directly to a Zoom Room within a meeting.</string>
			<key>pfm_name</key>
			<string>PresentInMeetingOption</string>
			<key>pfm_range_list</key>
			<array>
				<false/>
				<true/>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Show all sharing options</string>
				<string>Automatically share desktop</string>
			</array>
			<key>pfm_title</key>
			<string>Present to Zoom Room in Meeting Default Option</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Set the default sharing option when sharing directly to a Zoom Room.</string>
			<key>pfm_name</key>
			<string>PresentToRoomOption</string>
			<key>pfm_range_list</key>
			<array>
				<false/>
				<true/>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Show all sharing options</string>
				<string>Automatically share desktop</string>
			</array>
			<key>pfm_title</key>
			<string>Present to Zoom Room Default Option</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Share sound when screen sharing to a Zoom Room</string>
			<key>pfm_name</key>
			<string>PresentToRoomWithAudio</string>
			<key>pfm_title</key>
			<string>Present to Zoom Room with Audio</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If enabled, will optimize screen sharing for video clip when sharing directly to a Zoom Room.</string>
			<key>pfm_name</key>
			<string>PresentToRoomOptimizeVideo</string>
			<key>pfm_title</key>
			<string>Present to Zoom Room with Optimized Video</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Enables HID control of USB audio devices from the Zoom client</string>
			<key>pfm_name</key>
			<string>EnableHIDControl</string>
			<key>pfm_title</key>
			<string>Enable HID Control</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Displays the 'Call Room System' button on the home screen of the Zoom client</string>
			<key>pfm_name</key>
			<string>EnableStartMeetingWithRoomSystem</string>
			<key>pfm_title</key>
			<string>Enable Start Meeting with Room System Button</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If enabled, always show the video preview when joining a meeting.</string>
			<key>pfm_name</key>
			<string>AlwaysShowVideoPreviewDialog</string>
			<key>pfm_title</key>
			<string>Always Show Video Preview Dialog</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Ignore bandwidth limited set on web settings.</string>
			<key>pfm_name</key>
			<string>IgnoreBandwidthLimits</string>
			<key>pfm_title</key>
			<string>Ignore Bandwidth Limits</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If enabled, disables GPU acceleration.</string>
			<key>pfm_name</key>
			<string>LegacyCaptureMode</string>
			<key>pfm_title</key>
			<string>Legacy Capture Mode</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Block connections to untrusted SSL certificates.</string>
			<key>pfm_name</key>
			<string>BlockUntrustedSSLCert</string>
			<key>pfm_title</key>
			<string>Block Untrusted SSL Certs</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Embed a specified user agent string for all HTTP requests from the Zoom client.</string>
			<key>pfm_name</key>
			<string>EmbedUserAgentString</string>
			<key>pfm_title</key>
			<string>Embed User Agent String</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If enabled, hides the Zoom Apps quick launch button in the Zoom interface.</string>
			<key>pfm_name</key>
			<string>DisableZoomApps</string>
			<key>pfm_title</key>
			<string>Disable Zoom Apps</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Restrict the Zoom client to join meetings from the specified account IDs.</string>
			<key>pfm_name</key>
			<string>Account</string>
			<key>pfm_note</key>
			<string>A Zoom account admin or owner should contact Zoom Support to acquire the account IDs</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_title</key>
					<string>Account ID</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Restrict Meetings to Specified Host Account ID</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Enforce internal meeting authentication.</string>
			<key>pfm_name</key>
			<string>SetDevicePolicyToken</string>
			<key>pfm_note</key>
			<string>A Zoom account admin or owner should contact Zoom Support to have this enabled for use. The owner will also need to edit a role to have view/edit access to Device Policy Management. The required token can then be retrieved from the Device Policy Management page.</string>
			<key>pfm_title</key>
			<string>Device Policy Token</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Disable Camera by default</string>
			<key>pfm_name</key>
			<string>ZDisableVideo</string>
			<key>pfm_title</key>
			<string>Disable Camera by Default</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Disable sending video from the Zoom Client</string>
			<key>pfm_name</key>
			<string>zDisableSendVideo</string>
			<key>pfm_title</key>
			<string>Disable Sending Video</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Disable receiving video from the Zoom Client</string>
			<key>pfm_name</key>
			<string>zDisableRecvVideo</string>
			<key>pfm_title</key>
			<string>Disable Receiving Video</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Disable use of computer audio on the Zoom Client</string>
			<key>pfm_name</key>
			<string>DisableComputerAudio</string>
			<key>pfm_title</key>
			<string>Disable Computer Audio</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enable Orginal Sound for audio</string>
			<key>pfm_name</key>
			<string>EnableOriginalSound</string>
			<key>pfm_title</key>
			<string>Enable Original Sound</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Automatically join VoIP </string>
			<key>pfm_name</key>
			<string>ZAutoJoinVoip</string>
			<key>pfm_title</key>
			<string>Automatically Join</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Automatically adjust microphone levels</string>
			<key>pfm_name</key>
			<string>AudioAutoAdjust</string>
			<key>pfm_title</key>
			<string>Auto Adjust Microphone</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enables echo cancellation for the microphone audio </string>
			<key>pfm_name</key>
			<string>EnableEchoCancellation</string>
			<key>pfm_title</key>
			<string>Enable Echo Cancellation</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Uses the system default speaker when using computer audio</string>
			<key>pfm_name</key>
			<string>SetUseSystemDefaultSpeakerForVOIP</string>
			<key>pfm_title</key>
			<string>Use System Default for Computer Audio</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Uses the system default speaker when using microphone audio</string>
			<key>pfm_name</key>
			<string>SetUseSystemDefaultMicForVOIP</string>
			<key>pfm_title</key>
			<string>Use System Default for Computer Microphone</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Automatically enable dual monitor</string>
			<key>pfm_name</key>
			<string>ZDualMonitorOn</string>
			<key>pfm_title</key>
			<string>Auto Enable Dual Monitor</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Automatically enter full screen when viewing shared content</string>
			<key>pfm_name</key>
			<string>ZAutoFullScreenWhenViewShare</string>
			<key>pfm_title</key>
			<string>Auto Full Screen When Viewing</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Automatically fit to window when viewing shared content</string>
			<key>pfm_name</key>
			<string>ZAutoFitWhenViewShare</string>
			<key>pfm_title</key>
			<string>Auto Fit to Window When Viewing</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enables side-by-side mode by default</string>
			<key>pfm_name</key>
			<string>EnableSplitScreen</string>
			<key>pfm_title</key>
			<string>Enable Split Screen</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Full Screen when starting or joining a meeting</string>
			<key>pfm_name</key>
			<string>FullScreenWhenJoin</string>
			<key>pfm_title</key>
			<string>Enable Full Screen on Meeting Join</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If enabled, prevents incoming call notifications while in a meeting</string>
			<key>pfm_name</key>
			<string>HidePhoneInComingCallWhileInMeeting</string>
			<key>pfm_title</key>
			<string>Hide Incoming Calls in Meetings</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>If set to 'false', always show meeting controls (enables the always show meeting control setting).</string>
			<key>pfm_name</key>
			<string>AutoHideToolbar</string>
			<key>pfm_title</key>
			<string>Auto Hide Meeting Controls</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Enable HD Video by default</string>
			<key>pfm_name</key>
			<string>ZUse720PByDefault</string>
			<key>pfm_title</key>
			<string>Default to HD Video</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Remote control all applications</string>
			<key>pfm_name</key>
			<string>ZRemoteControllAllApp</string>
			<key>pfm_title</key>
			<string>Enable Full Remote Control</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Hide non-video participants by default</string>
			<key>pfm_name</key>
			<string>ZHideNoVideoUser</string>
			<key>pfm_title</key>
			<string>Hide Non-Video Participants</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Always mute microphone when joining a meeting</string>
			<key>pfm_name</key>
			<string>MuteVoipWhenJoin</string>
			<key>pfm_title</key>
			<string>Disable Microphone on Meeting Join</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Show the length of time that the user has been in a meeting</string>
			<key>pfm_name</key>
			<string>ShowConnectedTime</string>
			<key>pfm_title</key>
			<string>Show Meeting Attendance Length</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Confirm before leaving a meeting</string>
			<key>pfm_name</key>
			<string>ConfirmWhenLeave</string>
			<key>pfm_title</key>
			<string>Prompt User When Leaving Meeting</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable Screen Share when starting or joining a meeting</string>
			<key>pfm_name</key>
			<string>DisableScreenShare</string>
			<key>pfm_title</key>
			<string>Auto Disable Screen Sharing</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable the use of slide control</string>
			<key>pfm_name</key>
			<string>DisableSlideControl</string>
			<key>pfm_title</key>
			<string>Disable Slide Control</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disables Remote Control when screen sharing</string>
			<key>pfm_name</key>
			<string>DisableRemoteControl</string>
			<key>pfm_title</key>
			<string>Disable Remote Control During Screen Sharing</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Disables 1:1 remote support when screen sharing</string>
			<key>pfm_name</key>
			<string>DisableRemoteSupport</string>
			<key>pfm_title</key>
			<string>Disable 1:1 Remote Support During Screen Sharing</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Enable mirroring of shared video</string>
			<key>pfm_name</key>
			<string>EnableMirrorEffect</string>
			<key>pfm_title</key>
			<string>Enable Video Mirroring</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disables Local Recording from the Zoom Client</string>
			<key>pfm_name</key>
			<string>zDisableLocalRecord</string>
			<key>pfm_title</key>
			<string>Disable Local Recording</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disables Cloud Recording from the Zoom Client</string>
			<key>pfm_name</key>
			<string>zDisableCMR</string>
			<key>pfm_title</key>
			<string>Disable Cloud Recording</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disables in-metting file transfer (sharing and receiving)</string>
			<key>pfm_name</key>
			<string>zDisableFT</string>
			<key>pfm_title</key>
			<string>Disable File Transfer</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable in-meeting 3rd party file transfer</string>
			<key>pfm_name</key>
			<string>DisableMeeting3rdPartyFileStorage</string>
			<key>pfm_title</key>
			<string>Disable Meeting Third Party File Storage</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable Q&amp;A in webinars</string>
			<key>pfm_name</key>
			<string>DisableQnA</string>
			<key>pfm_title</key>
			<string>Disable Webinar Q&amp;A</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disables use of the Virtual Background feature</string>
			<key>pfm_name</key>
			<string>DisableVirtualBkgnd</string>
			<key>pfm_title</key>
			<string>Disable Virtual Background</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Split traffic across different ports for easier identification</string>
			<key>pfm_name</key>
			<string>EnableIndependentDataPort</string>
			<key>pfm_note</key>
			<string>Video share: 8801
Screensharing: 8802
Audio: 8803</string>
			<key>pfm_title</key>
			<string>Enable Split Port Traffic</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>The Zoom Client will verify the server certificate</string>
			<key>pfm_name</key>
			<string>EnableSSLVerification</string>
			<key>pfm_title</key>
			<string>SSL Verification</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Allow clipboard access during remote control sessions</string>
			<key>pfm_name</key>
			<string>EnableShareClipboardWhenRemoteControl</string>
			<key>pfm_title</key>
			<string>Enable Shared Clipboard in Remote Control</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevent the use of closed captioning</string>
			<key>pfm_name</key>
			<string>DisableClosedCaptioning</string>
			<key>pfm_title</key>
			<string>Disable Closed Captioning</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Prevent the use of manual, user-entered closed captioning</string>
			<key>pfm_name</key>
			<string>DisableManualClosedCaptioning</string>
			<key>pfm_title</key>
			<string>Disable Manual Closed Captioning</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Limit the Maximum amount of bandwidth by the Mac client</string>
			<key>pfm_name</key>
			<string>BandwidthLimitUp</string>
			<key>pfm_title</key>
			<string>Maximum Bandwidth</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Limit the Minimum amount of bandwidth used by the Mac client</string>
			<key>pfm_name</key>
			<string>BandwidthLimitDown</string>
			<key>pfm_title</key>
			<string>Minimum Bandwidth</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>/Users/User Name/Documents/Zoom</string>
			<key>pfm_description</key>
			<string>Set path for local meeting recording files</string>
			<key>pfm_name</key>
			<string>RecordPath</string>
			<key>pfm_title</key>
			<string>Local Recording Path</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Set proxy bypass rule for the Zoom Client</string>
			<key>pfm_name</key>
			<string>ProxyBypass</string>
			<key>pfm_title</key>
			<string>Proxy Bypass Rule</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Set the proxy server for the Zoom Client</string>
			<key>pfm_name</key>
			<string>ProxyServer</string>
			<key>pfm_title</key>
			<string>Proxy Server</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Set proxy server to client with PAC URL for the Zoom Client</string>
			<key>pfm_name</key>
			<string>ProxyPAC</string>
			<key>pfm_title</key>
			<string>Proxy PAC</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Disable Link Preview</string>
			<key>pfm_name</key>
			<string>DisableLinkPreviewInChat</string>
			<key>pfm_title</key>
			<string>Disable Link Preview in Chat</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>pfm_title</key>
	<string>Zoom</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>3</integer>
</dict>
</plist>
