<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>pfm_description</key>
        <string>Accessibility Settings</string>
        <key>pfm_title</key>
        <string>Accessibility</string>
        <key>pfm_format_version</key>
        <integer>1</integer>
        <key>pfm_version</key>
        <integer>1</integer>
        <key>pfm_domain</key>
        <string>com.apple.universalaccess</string>
		<key>pfm_targets</key> <!-- Added for ProfilePayloads -->
		<array>
			<string>user</string>
			<string>system</string>
		</array>
		<key>pfm_platforms</key> <!-- Added for ProfilePayloads -->
		<array>
			<string>macOS</string>
		</array>
        <key>pfm_subkeys</key>
        <array>
			
			<!-- Default Payload Keys -->
			
            <dict>
                <key>pfm_name</key>
                <string>PayloadDescription</string>
                <key>pfm_title</key>
                <string>Payload Description</string>
                <key>pfm_description</key>
                <string>Description of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Universal Access Settings</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDisplayName</string>
                <key>pfm_title</key>
                <string>Payload Display Name</string>
                <key>pfm_description</key>
                <string>Name of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Universal Access Settings</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadIdentifier</string>
                <key>pfm_title</key>
                <string>Payload Identifier</string>
                <key>pfm_description</key>
                <string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.universalaccess</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadType</string>
                <key>pfm_title</key>
                <string>Payload Type</string>
                <key>pfm_description</key>
                <string>The type of the payload, a reverse dns string</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.universalaccess</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadUUID</string>
                <key>pfm_title</key>
                <string>Payload UUID</string>
                <key>pfm_description</key>
                <string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string></string>
                <key>pfm_require</key>
                <string>always</string>
                <key>pfm_format</key>
                <string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadVersion</string>
                <key>pfm_title</key>
                <string>Payload Version</string>
                <key>pfm_description</key>
                <string>The version of the whole configuration profile.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>1</integer>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadOrganization</string>
                <key>pfm_title</key>
                <string>Payload Organization</string>
                <key>pfm_description</key>
                <string>This value describes the issuing organization of the profile, as displayed to the user</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
			
			<!-- Custom Payload Keys -->
			
			<!-- Zoom Options -->
            <dict>
                <key>pfm_name</key>
                <string>closeViewScrollWheelToggle</string>
                <key>pfm_title</key>
                <string>Enable Zoom via ScrollWheel</string>
                <key>pfm_description</key>
                <string></string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>closeViewHotkeysEnabled</string>
                <key>pfm_title</key>
                <string>Enable Zoom via Keyboard</string>
                <key>pfm_description</key>
                <string></string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>closeViewNearPoint</string>
                <key>pfm_title</key>
                <string>Maximum Zoom</string>
                <key>pfm_description</key>
                <string></string>
                <key>pfm_type</key>
                <string>integer</string>
				<key>pfm_range_min</key>
				<integer>1</integer>
				<key>pfm_range_max</key>
				<integer>40</integer>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>closeViewFarPoint</string>
                <key>pfm_title</key>
                <string>Minimum Zoom</string>
                <key>pfm_description</key>
                <string></string>
                <key>pfm_type</key>
                <string>integer</string>
				<key>pfm_range_min</key>
				<integer>1</integer>
				<key>pfm_range_max</key>
				<integer>40</integer>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>closeViewShowPreview</string>
                <key>pfm_title</key>
                <string>Show preview rectangle when zoomed out</string>
                <key>pfm_description</key>
                <string></string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>closeViewSmoothImages</string>
                <key>pfm_title</key>
                <string>Smooth images</string>
                <key>pfm_description</key>
                <string></string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
			
			<!-- Display Options -->
			
            <dict>
                <key>pfm_name</key>
                <string>whiteOnBlack</string>
                <key>pfm_title</key>
                <string>Invert colors</string>
                <key>pfm_description</key>
                <string>Invert colors</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>grayscale</string>
                <key>pfm_title</key>
                <string>Use Grayscale</string>
                <key>pfm_description</key>
                <string>Use Grayscale</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>contrast</string>
                <key>pfm_title</key>
                <string>Enhance Contrast</string>
                <key>pfm_description</key>
                <string>Contrasting</string>
                <key>pfm_type</key>
                <string>float</string>
				<key>pfm_range_list</key>
				<array>
					<real>0.00000000000000000</real>
					<real>0.10000000000000000</real>
					<real>0.20000000000000000</real>
					<real>0.30000000000000000</real>
					<real>0.40000000000000000</real>
					<real>0.50000000000000000</real>
					<real>0.60000000000000000</real>
					<real>0.70000000000000000</real>
					<real>0.80000000000000000</real>
					<real>0.90000000000000000</real>
					<real>1.00000000000000000</real>
				</array>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>mouseDriverCursorSize</string>
                <key>pfm_title</key>
                <string>Cursor Size</string>
                <key>pfm_description</key>
                <string>Mouse Cursor Size. 1 is normal, 4 is maximum.</string>
                <key>pfm_type</key>
                <string>integer</string>
				<key>pfm_range_min</key>
				<integer>1</integer>
				<key>pfm_range_max</key>
				<integer>4</integer>
            </dict>
			
			<!-- VoiceOver Options -->
			
            <dict>
                <key>pfm_name</key>
                <string>voiceOverOnOffKey</string>
                <key>pfm_title</key>
                <string>Enable VoiceOver</string>
                <key>pfm_description</key>
                <string>VoiceOver provides spoken and brailled descriptions of items on the computer screen and provides control of the computer through the user of the keyboard.</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
			
			
			
            <dict>
                <key>pfm_name</key>
                <string>flashScreen</string>
                <key>pfm_title</key>
                <string>Flash screen on alert sound</string>
                <key>pfm_description</key>
                <string>Flash the screen when an alert sound occurs</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>stickyKey</string>
                <key>pfm_title</key>
                <string>Enable Sticky Keys</string>
                <key>pfm_description</key>
                <string>Sticky keys allows modifier keys to be set without having to hold the key down.</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>slowKey</string>
                <key>pfm_title</key>
                <string>Enable Slow Keys</string>
                <key>pfm_description</key>
                <string>Slow keys adjusts the amount of time between when a key is pressed and when it is activated</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>mouseDriver</string>
                <key>pfm_title</key>
                <string>Enable Mouse Keys</string>
                <key>pfm_description</key>
                <string>Mouse Keys allows the mouse pointer to be controlled using the keyboard number pad.</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
        </array>
    </dict>
</plist>
