<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>Use this section to define general settings</string>
		<key>pfm_title</key>
		<string>General</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.general</string>
		<key>pfm_targets</key> <!-- Added for ProfilePayloads -->
		<array>
			<string>system</string>
			<string>user</string>
		</array>
		<key>pfm_platforms</key> <!-- Added for ProfilePayloads -->
		<array>
			<string>iOS</string>
			<string>macOS</string>
			<string>tvOS</string>
		</array>
		<key>pfm_subkeys</key>
		<array>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Name</string>
				<key>pfm_description</key>
				<string>Display name of the profile</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of this profile</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Organization</string>
				<key>pfm_description</key>
				<string>Name of the organization for the profile</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A reverse-DNS style identifier (com.example.myprofile, for example) that identifies the profile. This string is used to determine whether a new profile should replace an existing one or should be added.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Identifier</string>
				<key>pfm_description</key>
				<string>A globally unique identifier for the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadExpirationDate</string>
				<key>pfm_title</key>
				<string>Expiration Date</string>
				<key>pfm_description</key>
				<string>If provided, will show an OTA-delivered profile as &quot;expired&quot; on a specific date. Users will be offered an &quot;Update&quot; button when the profile has expired</string>
				<key>pfm_type</key>
				<string>date</string>
				<key>pfm_hidden</key> <!-- Added for ProfilePayloads -->
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>RemovalDate</string>
				<key>pfm_title</key>
				<string>Removal Date</string>
				<key>pfm_description</key>
				<string>The date on which the profile will be automatically removed</string>
				<key>pfm_type</key>
				<string>date</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>DurationUntilRemoval</string>
				<key>pfm_title</key>
				<string>Duration Until Removal</string>
				<key>pfm_description</key>
				<string>Number of seconds until the profile is automatically removed. If RemovalDate key is present, its value is used instead.</string>
				<key>pfm_type</key>
				<string>real</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ConsentText</string>
				<key>pfm_title</key>
				<string>Consent Text</string>
				<key>pfm_description</key>
				<string>Dictionary specifying localized consent text that will be displayed as a warning during profile installation.</string>
				<key>pfm_type</key>
				<string>dictionary</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadRemovalDisallowed</string>
				<key>pfm_title</key>
				<string>Security</string>
				<key>pfm_description</key>
				<string>Controls when the profile can be removed</string>
				<key>pfm_default</key>
				<false/>
				<key>pfm_type</key>
				<string>boolean</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HasRemovalPasscode</string>
				<key>pfm_title</key>
				<string>Has removal passcode</string>
				<key>pfm_description</key>
				<string>Specifes if there is a removal passcode for the profile</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_hidden</key> <!-- Added for ProfilePayloads -->
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>Payload Type</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_default</key>
				<string>Configuration</string>
				<key>pfm_hidden</key> <!-- Added for ProfilePayloads -->
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_description</key>
				<string>The version number of the profile format. This describes the version of the configuration profile as a whole, not of the individual profiles within it.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_hidden</key> <!-- Added for ProfilePayloads -->
				<true/>
			</dict>
		</array>
	</dict>
</plist>
