<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>pfm_default</key>
        <integer>0</integer>
        <key>pfm_name</key>
        <string>TorDisabled</string>
        <key>pfm_range_list</key>
        <array>
            <integer>0</integer>
            <integer>1</integer>
        </array>
        <key>pfm_range_list_titles</key>
        <array>
            <string>Tor Enabled</string>
            <string>Tor Disabled</string>
        </array>
        <key>pfm_title</key>
        <string>Disable Tor</string>
        <key>pfm_type</key>
        <string>integer</string>
    </dict>
</array>
</plist>
