<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>NoMAD settings</string>
		<key>pfm_title</key>
		<string>NoMAD</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_icon</key>
		<data></data>
		<key>pfm_domain</key>
		<string>com.trusourcelabs.NoMAD</string>
		<key>pfm_unique</key>
		<true/>
		<key>pfm_app_url</key>
		<string>https://nomad.menu</string>
		<key>pfm_app_documentation_url</key>
		<string>https://nomad.menu/help-center/preferences-and-what-they-do/</string>
		<key>pfm_subkeys</key>
		<array>
		
			<!-- Default Payload Keys -->
		
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures NoMAD settings</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>NoMAD</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.trusourcelabs.NoMAD</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.trusourcelabs.NoMAD</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
		
			<!-- Custom Payload Keys -->
				
			<dict>
				<key>pfm_name</key>
				<string>ADDomain</string>
				<key>pfm_description</key>
				<string>Defines the AD domain you’re working with</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			
			<dict>
				<key>pfm_name</key>
				<string>PFC_SegmentedControl_0</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_segments</key>
				<dict>
					<key>LDAP</key>
					<array>
						<string>CustomLDAPAttributes</string>
						<string>LDAPAnonymous</string>
						<string>LDAPServerList</string>
						<string>LDAPOnly</string>
						<string>LDAPOverSSL</string>
						<string>LDAPType</string>
					</array>
					<key>Password</key>
					<array>
						<string>ChangePasswordCommand</string>
						<string>ChangePasswordOptions</string>
						<string>ChangePasswordType</string>
						<string>LocalPasswordSync</string>
						<string>LocalPasswordSyncDontSyncLocalUsers</string>
						<string>LocalPasswordSyncDontSyncNetworkUsers</string>
						<string>LocalPasswordSyncOnMatchOnly</string>
					</array>
					<key>Certificates</key>
					<array>
						<string>AutoRenewCert</string>
						<string>CleanCerts</string>
						<string>ExportableKey</string>
						<string>GetCertificateAutomatically</string>
					</array>
					<key>Layout</key>
					<array>
						<string>DontShowWelcome</string>
						<string>DontShowWelcomeDefaultOn</string>
						<string>CaribouTime</string>
						<string>HideExpiration</string>
						<string>HideExpirationMessage</string>
						<string>HideGetSoftware</string>
						<string>HideHelp</string>
						<string>HideLockScreen</string>
						<string>HidePrefs</string>
						<string>HideRenew</string>
						<string>HideSignOut</string>
						<string>HideQuit</string>
						<string>HideAbout</string>
						<string>MenuAbout</string>
						<string>MenuChangePassword</string>
						<string>MenuGetCertificate</string>
						<string>MenuHomeDirectory</string>
						<string>MenuGetHelp</string>
						<string>MenuGetSoftware</string>
						<string>MenuFileServers</string>
						<string>MenuPasswordExpires</string>
						<string>MenuRenewTickets</string>
						<string>MenuUserName</string>
						<string>MenuWelcome</string>
						<string>MessageLocalSync</string>
						<string>MessageNotConnected</string>
						<string>MessagePasswordChangePolicy</string>
						<string>MessageUPCAlert</string>
						
					</array>
				</dict>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			
			<!-- LDAP -->
			
			<dict>
				<key>pfm_name</key>
				<string>CustomLDAPAttributes</string>
				<key>pfm_description</key>
				<string>List of custom attributes to query in AD on each user record lookup. Attributes will be written back to the UserAttributes key.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>LDAPAttribute</string>
						<key>pfm_title</key>
						<string>LDAPAttribute</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPAnonymous</string>
				<key>pfm_description</key>
				<string>Determines if NoMAD uses anonymous LDAP binding when getting the user record.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
			</dict>
			<!-- Verify it's a comma separated list, and update the description (and the nomad site)-->
			<dict>
				<key>pfm_name</key>
				<string>LDAPServerList</string>
				<key>pfm_description</key>
				<string>List of LDAP servers for NoMAD to use instead of doing SRV lookups</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_value_placeholder</key>
				<string>2k12.jodapro.com,ausaddc2.jodapro.com</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPOnly</string>
				<key>pfm_description</key>
				<string>Sets NoMAD to treat the remote server as just an LDAP server and not specifically AD.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPOverSSL</string>
				<key>pfm_description</key>
				<string>Determines if NoMAD uses LDAP over SSL.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPType</string>
				<key>pfm_description</key>
				<string>An indication of what specific LDAP type is in use. Currently only “OD” for Apple’s Open Directory is available.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
				<key>pfm_default</key>
				<string>OD</string>
			</dict>
			
			<!-- Password -->
			
			<dict>
				<key>pfm_name</key>
				<string>ChangePasswordCommand</string>
				<key>pfm_description</key>
				<string>Script or other binary to run when a password is sucessfully changed</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_value_placeholder</key>
				<string>/usr/bin/local/scripts/something.bash</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ChangePasswordOptions</string>
				<key>pfm_description</key>
				<string>Task, URL or App path for ChangePasswordType (&lt;&lt;serial&gt;&gt;, &lt;&lt;fullname&gt;&gt;, &lt;&lt;shortname&gt;&gt; and &lt;&lt;domain&gt;&gt; are currently supported as substitutions)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_value_placeholder</key>
				<string>/Applications/Google Chrome.app</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ChangePasswordType</string>
				<key>pfm_description</key>
				<string>Determines type of ChangePassword function</string>
				<key>pfm_range_list</key>
				<array>
					<string>Kerberos</string>
					<string>Task</string>
					<string>App</string>
					<string>None</string>
				</array>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LocalPasswordSync</string>
				<key>pfm_description</key>
				<string>Determines if we keep the local password in sync with the network password or not</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LocalPasswordSyncDontSyncLocalUsers</string>
				<key>pfm_description</key>
				<string>An array of user names that if they match the current local user, NoMAD won’t synchronize the password regardless of what user logs into AD.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>Username</string>
						<key>pfm_title</key>
						<string>Username</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LocalPasswordSyncDontSyncNetworkUsers</string>
				<key>pfm_description</key>
				<string>An array of user names that if they match the AD user signing in, NoMAD won’t synchronize the password regardless of what user logs into AD.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>Username</string>
						<key>pfm_title</key>
						<string>Username</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LocalPasswordSyncOnMatchOnly</string>
				<key>pfm_description</key>
				<string>Determines if the domain password will be synced to the local account only when the account names match.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.4</string>
			</dict>
			
			<!-- Certificates -->
			
			<dict>
				<key>pfm_name</key>
				<string>AutoRenewCert</string>
				<key>pfm_description</key>
				<string>Sets the number of days to go on a cert before automatically renewing it.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_app_min</key>
				<string>1.1.1</string>
				<key>pfm_default</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>CleanCerts</string>
				<key>pfm_description</key>
				<string>Determines if NoMAD should remove extra certs from user’s Keychain. This will leave the 2 newest and the 2 oldest certs in the keychian.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ExportableKey</string>
				<key>pfm_description</key>
				<string>Determines if the private key from any generate certs can be exported</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>GetCertificateAutomatically</string>
				<key>pfm_description</key>
				<string>Determines if a certificate is automatically requested for a user when they don’t have a valid existing certificate.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			
			<!-- Layout -->
			
			<dict>
				<key>pfm_name</key>
				<string>DontShowWelcome</string>
				<key>pfm_description</key>
				<string>Determines if the Welcome window is shown on first launch.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>DontShowWelcomeDefaultOn</string>
				<key>pfm_description</key>
				<string>Shows the Welcome Screen, but checks the “Don’t show again” box by default. Useful for when you want to show the Welcome screen only once.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>CaribouTime</string>
				<key>pfm_description</key>
				<string>Changes the icon set to Carrie the Caribou</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.2</string>
				<key>pfm_default</key>
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideExpiration</string>
				<key>pfm_description</key>
				<string>Hides the password countdown display in the menu bar.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideExpirationMessage</string>
				<key>pfm_description</key>
				<string>Specifies text to show in the menu bar when the password countdown has been suppressed.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideGetSoftware</string>
				<key>pfm_description</key>
				<string>Determines if the Get Software menu is visible.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideHelp</string>
				<key>pfm_description</key>
				<string>Determines if the Get Help menu is visible.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideLockScreen</string>
				<key>pfm_description</key>
				<string>Determines if the Lock Screen menu is visible.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HidePrefs</string>
				<key>pfm_description</key>
				<string>Prevents the Preferences menu from being accessible</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.2</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideRenew</string>
				<key>pfm_description</key>
				<string>Determines if the Renew Tickets menu is visible.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideSignOut</string>
				<key>pfm_description</key>
				<string>Determines if the Sign Out menu is visible.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideQuit</string>
				<key>pfm_description</key>
				<string>Determines if the Quit menu is visible.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HideAbout</string>
				<key>pfm_description</key>
				<string>Removes the About menu from NoMAD.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuAbout</string>
				<key>pfm_description</key>
				<string>Determines the name of the About menu item.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
				<key>pfm_default</key>
				<string>This Application</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuChangePassword</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the Change Password menu item.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_default</key>
				<string>Update Account</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuGetCertificate</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the Get Certificate menu item.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_default</key>
				<string>Update Certificate</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuHomeDirectory</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the Home Directory menu item.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>Network Home</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuGetHelp</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the Get Help menu item.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>Support</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuGetSoftware</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the Software menu item.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>Software</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuFileServers</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the File Servers menu.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.1.3</string>
				<key>pfm_default</key>
				<string>Files</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuPasswordExpires</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the password expiration menu item before a user logs in.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>Welcome!</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuRenewTickets</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the Renew Tickets menu item.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>Renew</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuUserName</string>
				<key>pfm_description</key>
				<string>Changes the menu text of the user name menu item before a user logs in.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MenuWelcome</string>
				<key>pfm_description</key>
				<string>Path to a folder enclosing an index.html file and associated resources for displaying as a Welcome screen when running NoMAD.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
				<key>pfm_value_placeholder</key>
				<string>/usr/local/welcome/</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MessageLocalSync</string>
				<key>pfm_description</key>
				<string>Message text for when a user is asked for their local password to sync their network password to their local account.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>Please provide your local password.</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MessageNotConnected</string>
				<key>pfm_description</key>
				<string>The text in the menu bar to display when NoMAD is not connected to the AD domain.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>No dice!</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MessagePasswordChangePolicy</string>
				<key>pfm_description</key>
				<string>Message text to display in the password change dialog to help the user understand how complext they need to be.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_default</key>
				<string>Your password is required to have 128 characters.</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MessageUPCAlert</string>
				<key>pfm_description</key>
				<string>Message to be shown in an UPCAlert notification</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.1.1</string>
				<key>pfm_default</key>
				<string>Your password was changed elsewhere.</string>
			</dict>
			
			<!-- Other -->
			
			<dict>
				<key>pfm_name</key>
				<string>AutoConfigure</string>
				<key>pfm_description</key>
				<string>Keyword to determine what auto configuration scheme to use.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<string>TSL</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ConfigureChrome</string>
				<key>pfm_description</key>
				<string>Tells NoMAD to update your Chrome settings to allow for Kerberos auth with your AD domain.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ConfigureChromeDomain</string>
				<key>pfm_description</key>
				<string>Tells NoMAD to update your Chrome settings to allow for Kerberos auth with for the set domain. This allows for Chrome to work with domains other than your AD Domain. Note that the domain will be automatically wildcarded, so setting a domain of “nomad.test” will result in *nomad.test being set.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>DontMatchKerbPrefs</string>
				<key>pfm_description</key>
				<string>Determines if the kasspwd server is written out to the com.apple.Kerberos preference domain.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>GetHelpOptions</string>
				<key>pfm_description</key>
				<string>URL or Path for GetHelpType (&lt;&lt;serial&gt;&gt;, &lt;&lt;fullname&gt;&gt;, &lt;&lt;shortname&gt;&gt; and &lt;&lt;domain&gt;&gt; are currently supported as substitutions)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_value_placeholder</key>
				<string>/Applications/Google Chrome.app</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>GetHelpType</string>
				<key>pfm_description</key>
				<string>Determines type of GetHelp function</string>
				<key>pfm_range_list</key>
				<array>
					<string>Bomgar</string>
					<string>URL</string>
					<string>App</string>
				</array>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HicFix</string>
				<key>pfm_description</key>
				<string>Enables a secondary password change with AD to fix an issue with macOS 10.13.0 with AD-bound mobiles accounts.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HomeAppendDomain</string>
				<key>pfm_description</key>
				<string>Adds your AD domain to the end of the user’s hold folder. Used for when the home in AD is not fully qualified.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>IconOff</string>
				<key>pfm_description</key>
				<string>Specifies an icon file to use for when NoMAD is not connected. Note: this needs to be a 16×16 image to display correctly.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_value_placeholder</key>
				<string>/usr/local/icons/NoMADOff.png</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>IconOffDark</string>
				<key>pfm_description</key>
				<string>Specifies an icon file to use for when NoMAD is not connected in dark mode.Note: this needs to be a 16×16 image to display correctly.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_value_placeholder</key>
				<string>/usr/local/icons/NoMADOffDark.png</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>IconOn</string>
				<key>pfm_description</key>
				<string>Specifies an icon file to use for when NoMAD is connected. Note: this needs to be a 16×16 image to display correctly.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_value_placeholder</key>
				<string>/usr/local/icons/NoMADOn.png</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>IconOnDark</string>
				<key>pfm_description</key>
				<string>Specifies an icon file to use for when NoMAD is connected in dark mode. Note: this needs to be a 16×16 image to display correctly.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.3</string>
				<key>pfm_value_placeholder</key>
				<string>/usr/local/icons/NoMADOnDark.png</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>KerberosRealm</string>
				<key>pfm_description</key>
				<string>Defines your Kerberos realm</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_value_placeholder</key>
				<string>JODAPRO.COM</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>KeychainItems</string>
				<key>pfm_title</key>
				<string>KeychainItems</string>
				<key>pfm_description</key>
				<string>A Dictionary or Keychain Items matching an item name to an account name. On password change, NoMAD will update these items with the user’s new password.</string>
				<key>pfm_type</key>
				<string>dictionary</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
				<key>pfm_subkeys</key>
				<!-- HELP with the titles and description to clarify what should be entered where -->
				<array>
					<dict>
						<key>pfm_name</key>
						<string>{{key}}</string>
						<key>pfm_title</key>
						<string>Keychain Item</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_value_placeholder</key>
						<string>Exchange</string>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>{{value}}</string>
						<key>pfm_title</key>
						<string>Account</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_value_placeholder</key>
						<string>&lt;&lt;shortname&gt;&gt;@&lt;&lt;domain&gt;&gt;.onmicrosoft.com</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>KeychainItemsDebug</string>
				<key>pfm_description</key>
				<string>Enbables KeychainItems debugging. Will attempt to update passwords on any sign in through the NoMAD UI and log verbosely as to what’s not working.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LightsOutIKnowWhatImDoing</string>
				<key>pfm_description</key>
				<string>Removes the icon from the menu bar. Note that NoMAD still is in the menu bar, just with no icon and taking up less space.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LoginItem</string>
				<key>pfm_description</key>
				<string>Determines wether or not to add NoMAD to the user’s start up items</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PasswordExpireAlertTime</string>
				<key>pfm_description</key>
				<string>The threshold, in seconds, for when to start notifying the user about their expiring password – set to 0 to never be bothered, and defaults to 15 days or 1,296,000 seconds</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<integer>3600</integer>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PasswordExpireCustomAlert</string>
				<key>pfm_description</key>
				<string>Custom alert to show in the menu bar instead of days to go.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_default</key>
				<string>Account expiring soon</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PasswordExpireCustomWarnTime</string>
				<key>pfm_description</key>
				<string>Will cause the custom alert to be only shown at a specific threshold, and in yellow.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_default</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MountSharesWithFinder</string>
				<key>pfm_description</key>
				<string>When file shares are set to automount, this mounts them via the Finder instead of via the API.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PasswordExpireCustomAlertTime</string>
				<key>pfm_description</key>
				<string>Will cause the custom alert to be only shown at a specific threshold, and in red.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_default</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PasswordPolicy</string>
				<key>pfm_description</key>
				<string>Will show visual indicators to the user when changing his or her password that it does not meet policy. </string>
				<key>pfm_type</key>
				<string>dictionary</string>
				<key>pfm_app_min</key>
				<string>1.0.4</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>minLength</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^[0-9]+$</string>
						<key>pfm_value_placeholder</key>
						<string>6</string>
						<key>pfm_app_min</key>
						<string>1.0.4</string>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>minLowerCase</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^[0-9]+$</string>
						<key>pfm_value_placeholder</key>
						<string>2</string>
						<key>pfm_app_min</key>
						<string>1.0.4</string>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>minNumber</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^[0-9]+$</string>
						<key>pfm_value_placeholder</key>
						<string>2</string>
						<key>pfm_app_min</key>
						<string>1.0.4</string>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>minSymbol</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^[0-9]+$</string>
						<key>pfm_value_placeholder</key>
						<string>1</string>
						<key>pfm_app_min</key>
						<string>1.0.4</string>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>minUpperCase</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^[0-9]+$</string>
						<key>pfm_value_placeholder</key>
						<string>2</string>
						<key>pfm_app_min</key>
						<string>1.0.4</string>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>minMatches</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^[0-9]+$</string>
						<key>pfm_value_placeholder</key>
						<string>3</string>
						<key>pfm_app_min</key>
						<string>1.0.4</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PersistExpiration</string>
				<key>pfm_description</key>
				<string>Setting this to true will display the password expiration countdown even when the user is not logged into the domain.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>RecursiveGroupLookup</string>
				<key>pfm_description</key>
				<string>Allows for recursive group lookups in AD to find all nested groups a user may be a member of.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>RenewTickets</string>
				<key>pfm_description</key>
				<string>Setting to determine if auto ticket renewal is used</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SecondsToRenew</string>
				<key>pfm_description</key>
				<string>Setting for how often to renew tickets</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<integer>3600</integer>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SelfServicePath</string>
				<key>pfm_description</key>
				<string>Sets a path for an application to be used with the Get Software menu item</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<string>/Applications/IT Software.app</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ShowHome</string>
				<key>pfm_description</key>
				<string>Determines whether the AD home share is shown in the menu</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SignInCommand</string>
				<key>pfm_description</key>
				<string>Script or command to be run when NoMAD completes a successful sign in to AD</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<string>/usr/bin/touch /tmp/login</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SignInWindowAlert</string>
				<key>pfm_description</key>
				<string>Makes the NoMAD Sign In window the foremost window when a user is not signed in.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SignInWindowAlertTime</string>
				<key>pfm_description</key>
				<string>Seconds between the SignInWindowAlert making the Sign In window the foremost window.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
				<key>pfm_default</key>
				<integer>360</integer>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SignInWindowOnLaunch</string>
				<key>pfm_description</key>
				<string>This will force the Sign In window to display when NoMAD launches.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SignInWindowOnLaunchExclusions</string>
				<key>pfm_description</key>
				<string>An array of strings for local users that will not be shown the Sign In window automatically.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>Username</string>
						<key>pfm_title</key>
						<string>Username</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SignOutCommand</string>
				<key>pfm_description</key>
				<string>Path to a script or other binary to execute on sign out.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_default</key>
				<string>/usr/local/bin/signout.sh</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>StateChangeAction</string>
				<key>pfm_description</key>
				<string>Path to a script that will be launched on network changes</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<string>/Library/Application Support/scripts/notify-and-update.sh</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>Template</string>
				<key>pfm_description</key>
				<string>The certificate template that you’d like to request when using the Windows CA</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<string>User Auth</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>TitleSignIn</string>
				<key>pfm_description</key>
				<string>Changes the title of the sign in window.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.2</string>
				<key>pfm_default</key>
				<string>Password please</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>UPCAlert</string>
				<key>pfm_description</key>
				<string>Determines if NoMAD will alert the user to Unannounced Password Changes, typically when the password was changed in AD and not from the user’s system.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0.2</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>UPCAlertAction</string>
				<key>pfm_description</key>
				<string>Path to a script or other binary to execute when a UPC Alert occurs.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0.5</string>
				<key>pfm_default</key>
				<string>/usr/local/bin/upca.sh</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>UseKeychain</string>
				<key>pfm_description</key>
				<string>Determines whether to store the Kerberos password in the user’s keychain</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>UseKeychainPrompt</string>
				<key>pfm_description</key>
				<string>Will cause NoMAD to force a sign in to NoMAD to caputre the password in the Keychain.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.1</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>UserSwitch</string>
				<key>pfm_description</key>
				<string>Ensures that the local user name is the active ticket being used by NoMAD.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.1.4</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>Verbose</string>
				<key>pfm_description</key>
				<string>Enables verbose logging</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>WifiNetworks</string>
				<key>pfm_description</key>
				<string>SSIDs of wireless networks you would like to associate any certificates created with NoMAD to via an identity preference in the Keychain.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_app_min</key>
				<string>1.1.0</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>SSID</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>X509CA</string>
				<key>pfm_description</key>
				<string>FQDN of the Windows web Certificate Authority you would like to use</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_app_min</key>
				<string>1.0</string>
				<key>pfm_default</key>
				<string>x509.jodapro.com</string>
			</dict>
		</array>
	</dict>
</plist>
