<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>"New to Mac" notification settings</string>
	<key>pfm_documentation_url</key>
	<string>https://help.apple.com/macOS/config.json</string>
	<key>pfm_domain</key>
	<string>com.apple.touristd</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2020-05-29T20:25:02Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>"New to Mac" tour notification settings</string>
			<key>pfm_description</key>
			<string>Description of the payload.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>New to Mac</string>
			<key>pfm_description</key>
			<string>Name of the payload.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.touristd</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.apple.touristd</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PFC_SegmentedControl_0</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>iMac</string>
				<string>iMac Pro</string>
				<string>MacBook</string>
				<string>MacBook Air</string>
				<string>MacBook Pro</string>
				<string>Mac Pro</string>
				<string>Mac mini</string>
				<string>macOS</string>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_segments</key>
			<dict>
				<key>iMac</key>
				<array>
					<string>seed-viewed-+trJt2VsTvK1yfPGwOySDw</string>
					<string>seed-viewed-EeEFv8cyS0CVe3ia2UEehA</string>
					<string>seed-viewed-KwUoo0fRRM2VPmIm0V67xg</string>
					<string>seed-viewed-UhiR1M79RWmXLIQr4M0AWw</string>
					<string>seed-viewed-WEyaCPMVRB6HbnmRq9EnNQ</string>
					<string>seed-viewed-aytyxqEmTIOvEz3iS4IbkA</string>
					<string>seed-viewed-catalina_imac</string>
					<string>seed-viewed-catalina_imac-21a</string>
					<string>seed-viewed-catalina_mid-2020_imac</string>
					<string>seed-viewed-d+gfl8CNTNeauANKjf9WqA</string>
					<string>seed-viewed-pDWyREoARJm5V1mJYr9GKg</string>
				</array>
				<key>iMac Pro</key>
				<array>
					<string>seed-viewed-40reAuuYTHOsx4oGcx4qrA</string>
					<string>seed-viewed-APhNaYV1RxSS41lC7ZJJ9Q</string>
					<string>seed-viewed-catalina_imac-pro</string>
				</array>
				<key>MacBook</key>
				<array>
					<string>seed-viewed-FQrkbNP9ThKQQtpqx2saFg</string>
					<string>seed-viewed-Pa88nesPSO6POlutVN4/Sg</string>
					<string>seed-viewed-SdV08ZZQRxOCWq6JBEXmfg</string>
					<string>seed-viewed-We59wh+OTa6c1yas/yppwg</string>
					<string>seed-viewed-b/dLke8ZTQaN9KKrxfwDQw</string>
					<string>seed-viewed-hP2OZh+MTEKeFcjgec2gZw</string>
				</array>
				<key>MacBook Air</key>
				<array>
					<string>seed-viewed-SkI/dLAkQu6k/qpzSOG6Iw</string>
					<string>seed-viewed-Tu81gKhDTvmNkjyqcPBfKA</string>
					<string>seed-viewed-catalina_early-2020_macbook-air</string>
					<string>seed-viewed-catalina_macbook-air</string>
				</array>
				<key>MacBook Pro</key>
				<array>
					<string>seed-viewed-/+vP78HsSh+Yeb4xJnUT9A</string>
					<string>seed-viewed-2+LvxAVyT6qnV1sDMZT0NA</string>
					<string>seed-viewed-B70mVuHeT0WUgKh/VdUuZQ</string>
					<string>seed-viewed-EBFV2ZqnQiaqrZhvyifLeQ</string>
					<string>seed-viewed-ETJeJ9/1QmmWUde7uK8fDg</string>
					<string>seed-viewed-EWfaSdJwR/6f1BYGiyLpcQ</string>
					<string>seed-viewed-GZAJdmpdSqmfH2PkCr8ebw</string>
					<string>seed-viewed-JTecrrXDSVut2tSfltty9Q</string>
					<string>seed-viewed-MM3ne3nTR9eXFyVwZ5gN7Q</string>
					<string>seed-viewed-catalina_early-2020_macbook-pro-13</string>
					<string>seed-viewed-catalina_late-2019_macbook-pro</string>
					<string>seed-viewed-catalina_macbook-pro</string>
					<string>seed-viewed-catalina_macbook-pro-13</string>
					<string>seed-viewed-fWRpNw7IR3S3qxX63nmvMw</string>
					<string>seed-viewed-krdWS8DSQIqJSqQFXW1/pw</string>
					<string>seed-viewed-kti4ZkMKQFyCL2kbgCY23A</string>
					<string>seed-viewed-lEDfW5O+SZe8KTQ93HGOPA</string>
					<string>seed-viewed-n87FVu1TSwGzble8vqBvsg</string>
					<string>seed-viewed-srluh6uOQiuWCzxguqhDNw</string>
				</array>
				<key>Mac Pro</key>
				<array>
					<string>seed-viewed-catalina_mac-pro</string>
				</array>
				<key>Mac mini</key>
				<array>
					<string>seed-viewed-baXokbqsQ/2KLkzIZrR6ng</string>
					<string>seed-viewed-catalina_mac-mini</string>
				</array>
				<key>macOS</key>
				<array>
					<string>seed-viewed-LR2P9+rnQ2q9xSUy1ZgWOw</string>
					<string>seed-viewed-bydF6fX5Sp6aBYdEXD0VwQ</string>
					<string>seed-viewed-catalina_mac_basics</string>
					<string>seed-viewed-catalina_whats_new</string>
					<string>seed-viewed-f/Pn3F4RScOh+GUBKO9sRA</string>
					<string>seed-viewed-lQlm1yrMS0GPVyAL44id+A</string>
				</array>
			</dict>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/imac-21a</string>
			<key>pfm_name</key>
			<string>seed-viewed-+trJt2VsTvK1yfPGwOySDw</string>
			<key>pfm_title</key>
			<string>iMac 21a: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/osx/mac/10.12/macbook-pro-15</string>
			<key>pfm_name</key>
			<string>seed-viewed-/+vP78HsSh+Yeb4xJnUT9A</string>
			<key>pfm_title</key>
			<string>MacBook Pro 15: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/osx/mac/10.12/macbook-pro-13d</string>
			<key>pfm_name</key>
			<string>seed-viewed-2+LvxAVyT6qnV1sDMZT0NA</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13d: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/imac-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-40reAuuYTHOsx4oGcx4qrA</string>
			<key>pfm_title</key>
			<string>iMac Pro: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/imac-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-APhNaYV1RxSS41lC7ZJJ9Q</string>
			<key>pfm_title</key>
			<string>iMac Pro: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/osx/mac/10.12/macbook-pro-13c</string>
			<key>pfm_name</key>
			<string>seed-viewed-B70mVuHeT0WUgKh/VdUuZQ</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13c: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/mojave/mid-2019/macbook-pro-13/</string>
			<key>pfm_name</key>
			<string>seed-viewed-EBFV2ZqnQiaqrZhvyifLeQ</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13 Mid 2019: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/macbook-pro-13</string>
			<key>pfm_name</key>
			<string>seed-viewed-ETJeJ9/1QmmWUde7uK8fDg</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/osx/mac/10.12/macbook-pro-15d</string>
			<key>pfm_name</key>
			<string>seed-viewed-EWfaSdJwR/6f1BYGiyLpcQ</string>
			<key>pfm_title</key>
			<string>MacBook Pro 15d: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/imac-21a</string>
			<key>pfm_name</key>
			<string>seed-viewed-EeEFv8cyS0CVe3ia2UEehA</string>
			<key>pfm_title</key>
			<string>iMac 21a: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/Sierra/macbook</string>
			<key>pfm_name</key>
			<string>seed-viewed-FQrkbNP9ThKQQtpqx2saFg</string>
			<key>pfm_title</key>
			<string>MacBook: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/Sierra/macbook-pro-13d</string>
			<key>pfm_name</key>
			<string>seed-viewed-GZAJdmpdSqmfH2PkCr8ebw</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13d: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/Sierra/macbook-pro-13c</string>
			<key>pfm_name</key>
			<string>seed-viewed-JTecrrXDSVut2tSfltty9Q</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13c: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/imac</string>
			<key>pfm_name</key>
			<string>seed-viewed-KwUoo0fRRM2VPmIm0V67xg</string>
			<key>pfm_title</key>
			<string>iMac: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/mac-basics</string>
			<key>pfm_name</key>
			<string>seed-viewed-LR2P9+rnQ2q9xSUy1ZgWOw</string>
			<key>pfm_title</key>
			<string>New to Mac: 10.13</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/macbook-pro-15</string>
			<key>pfm_name</key>
			<string>seed-viewed-MM3ne3nTR9eXFyVwZ5gN7Q</string>
			<key>pfm_title</key>
			<string>MacBook Pro 15: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/osx/mac/10.12/macbook</string>
			<key>pfm_name</key>
			<string>seed-viewed-Pa88nesPSO6POlutVN4/Sg</string>
			<key>pfm_title</key>
			<string>MacBook: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/osx-elcapitan/get-to-know-your-mac-book</string>
			<key>pfm_name</key>
			<string>seed-viewed-SdV08ZZQRxOCWq6JBEXmfg</string>
			<key>pfm_title</key>
			<string>MacBook: 10.11 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/mojave/mid-2019/macbook-air</string>
			<key>pfm_name</key>
			<string>seed-viewed-SkI/dLAkQu6k/qpzSOG6Iw</string>
			<key>pfm_title</key>
			<string>MacBook Air Mid 2019: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/mojave/macbook-air/</string>
			<key>pfm_name</key>
			<string>seed-viewed-Tu81gKhDTvmNkjyqcPBfKA</string>
			<key>pfm_title</key>
			<string>MacBook Air: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/Sierra/mid-2017/imac-21r</string>
			<key>pfm_name</key>
			<string>seed-viewed-UhiR1M79RWmXLIQr4M0AWw</string>
			<key>pfm_title</key>
			<string>iMac 21r: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/Sierra/mid-2017/imac-21a</string>
			<key>pfm_name</key>
			<string>seed-viewed-WEyaCPMVRB6HbnmRq9EnNQ</string>
			<key>pfm_title</key>
			<string>iMac 21a: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/macbook</string>
			<key>pfm_name</key>
			<string>seed-viewed-We59wh+OTa6c1yas/yppwg</string>
			<key>pfm_title</key>
			<string>MacBook: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/mojave/early-2019/imac</string>
			<key>pfm_name</key>
			<string>seed-viewed-aytyxqEmTIOvEz3iS4IbkA</string>
			<key>pfm_title</key>
			<string>iMac Early 2019: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/macbook</string>
			<key>pfm_name</key>
			<string>seed-viewed-b/dLke8ZTQaN9KKrxfwDQw</string>
			<key>pfm_title</key>
			<string>MacBook: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/mojave/mac-mini/</string>
			<key>pfm_name</key>
			<string>seed-viewed-baXokbqsQ/2KLkzIZrR6ng</string>
			<key>pfm_title</key>
			<string>Mac mini: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/mac-basics</string>
			<key>pfm_name</key>
			<string>seed-viewed-bydF6fX5Sp6aBYdEXD0VwQ</string>
			<key>pfm_title</key>
			<string>New to Mac: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/Sierra/mid-2017/imac-27</string>
			<key>pfm_name</key>
			<string>seed-viewed-d+gfl8CNTNeauANKjf9WqA</string>
			<key>pfm_title</key>
			<string>iMac 27: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/whats-new</string>
			<key>pfm_name</key>
			<string>seed-viewed-f/Pn3F4RScOh+GUBKO9sRA</string>
			<key>pfm_title</key>
			<string>What's New: 10.13</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/macbook-pro-13</string>
			<key>pfm_name</key>
			<string>seed-viewed-fWRpNw7IR3S3qxX63nmvMw</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/mojave/late-2018/macbook/</string>
			<key>pfm_name</key>
			<string>seed-viewed-hP2OZh+MTEKeFcjgec2gZw</string>
			<key>pfm_title</key>
			<string>MacBook Late 2018: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/mid-2018/macbook-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-krdWS8DSQIqJSqQFXW1/pw</string>
			<key>pfm_title</key>
			<string>MacBook Pro Mid 2018: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/Sierra/macbook-pro-15d</string>
			<key>pfm_name</key>
			<string>seed-viewed-kti4ZkMKQFyCL2kbgCY23A</string>
			<key>pfm_title</key>
			<string>MacBook Pro 15d: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/high-sierra/macbook-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-lEDfW5O+SZe8KTQ93HGOPA</string>
			<key>pfm_title</key>
			<string>MacBook Pro: 10.13 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/whats-new</string>
			<key>pfm_name</key>
			<string>seed-viewed-lQlm1yrMS0GPVyAL44id+A</string>
			<key>pfm_title</key>
			<string>What's New: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/osx/mac/10.12/macbook-pro-15</string>
			<key>pfm_name</key>
			<string>seed-viewed-n87FVu1TSwGzble8vqBvsg</string>
			<key>pfm_title</key>
			<string>MacBook Pro 15: 10.12 - 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/imac</string>
			<key>pfm_name</key>
			<string>seed-viewed-pDWyREoARJm5V1mJYr9GKg</string>
			<key>pfm_title</key>
			<string>iMac: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macOS/mojave/macbook-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-srluh6uOQiuWCzxguqhDNw</string>
			<key>pfm_title</key>
			<string>MacBook Pro: 10.14</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/imac</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_imac</string>
			<key>pfm_title</key>
			<string>iMac: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/imac-21a</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_imac-21a</string>
			<key>pfm_title</key>
			<string>iMac 21a: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/mid-2020/imac</string>
			<key>pfm_name</key>
			<string>catalina_mid-2020_imac</string>
			<key>pfm_title</key>
			<string>iMac Mid-2020: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/imac-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_imac-pro</string>
			<key>pfm_title</key>
			<string>iMac Pro: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/late-2019/macbook-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_late-2019_macbook-pro</string>
			<key>pfm_title</key>
			<string>MacBook Pro Late 2019: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/mac-mini</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_mac-mini</string>
			<key>pfm_title</key>
			<string>Mac mini: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/mac-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_mac-pro</string>
			<key>pfm_title</key>
			<string>Mac Pro: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/mac-basics</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_mac_basics</string>
			<key>pfm_title</key>
			<string>New to Mac: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/macbook-air</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_macbook-air</string>
			<key>pfm_title</key>
			<string>MacBook Air: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/macbook-pro</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_macbook-pro</string>
			<key>pfm_title</key>
			<string>MacBook Pro: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/macbook-pro-13</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_macbook-pro-13</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/whats-new</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_whats_new</string>
			<key>pfm_title</key>
			<string>What's New: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/early-2020/macbook-air</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_early-2020_macbook-air</string>
			<key>pfm_title</key>
			<string>MacBook Air Early 2020: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>pfm_date_allow_past</key>
			<true/>
			<key>pfm_description</key>
			<string>https://help.apple.com/macos/catalina/early-2020/macbook-pro-13</string>
			<key>pfm_name</key>
			<string>seed-viewed-catalina_early-2020_macbook-pro-13</string>
			<key>pfm_title</key>
			<string>MacBook Pro 13 Early 2020: 10.15</string>
			<key>pfm_type</key>
			<string>date</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>New to Mac / Tours</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>4</integer>
</dict>
</plist>
