<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>Use this section to define web clips</string>
		<key>pfm_title</key>
		<string>Web Clips</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.webClip.managed</string>
		<key>pfm_interaction</key>
		<string>combined</string>
		<key>pfm_targets</key>
		<array>
			<string>user</string>
		</array>
		<key>pfm_platforms</key>
		<array>
			<string>iOS</string>
			<string>macOS</string>
		</array>
		<key>pfm_unique</key>
		<false/>
		<key>pfm_subkeys</key>
		<array>
			
			<!-- Default Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures settings for a web clip</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Web Clip</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.webClip.managed</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.webClip.managed</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			
			<!-- Custom Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>Label</string>
				<key>pfm_title</key>
				<string>Label</string>
				<key>pfm_description</key>
				<string>The name of the Web Clip</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>URL</string>
				<key>pfm_title</key>
				<string>URL</string>
				<key>pfm_description</key>
				<string>The URL that’s displayed when users open the Web Clip. The URL must begin with HTTP or HTTPS</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>IsRemovable</string>
				<key>pfm_title</key>
				<string>Removable</string>
				<key>pfm_description</key>
				<string>Whether the Web Clip can be removed by users</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<true/>
				<key>pfm_platforms</key>
				<array>
					<string>iOS</string>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>Icon</string>
				<key>pfm_title</key>
				<string>Icon</string>
				<key>pfm_description</key>
				<string>The icon to use for the Web Clip</string>
				<key>pfm_type</key>
				<string>data</string>
				<key>pfm_range_max</key>
				<integer>1468006</integer> <!-- FIXME Need to implement support for max size data -->
				<key>pfm_allowed_file_types</key>
				<array>
					<string>public.image</string>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>Precomposed</string>
				<key>pfm_title</key>
				<string>Precomposed Icon</string>
				<key>pfm_description</key>
				<string>Prevents the iOS device from adding a shine to the image</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
				<key>pfm_platforms</key>
				<array>
					<string>iOS</string>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>FullScreen</string>
				<key>pfm_title</key>
				<string>Full Screen</string>
				<key>pfm_description</key>
				<string>Opens the URL as a web app without a browser</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
				<key>pfm_platforms</key>
				<array>
					<string>iOS</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
