<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>Network Usage Rules settings</string>
		<key>pfm_title</key>
		<string>Network Usage Rules</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.networkusagerules</string>
		<key>pfm_interaction</key>
		<string>exclusive</string>
		<key>pfm_targets</key>
		<array>
			<string>system</string>
		</array>
		<key>pfm_platforms</key>
		<array>
			<string>iOS</string>
		</array>
		<key>pfm_unique</key>
		<true/>
		<key>pfm_supervised</key>
		<true/>
		<key>pfm_subkeys</key>
		<array>
			
			<!-- Default Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures Network Usage Rules settings</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Network Usage Rules</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.networkusagerules</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.networkusagerules</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			
			<!-- Custom Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>ApplicationRules</string>
				<key>pfm_title</key>
				<string>Network Usage Rules</string>
				<key>pfm_description</key>
				<string>Specify how managed apps use cellular data networks.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>ApplicationRule</string>
						<key>pfm_title</key>
						<string>Network Usage Rule</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>dictionary</string>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>AppIdentifierMatches</string>
								<key>pfm_title</key>
								<string>Bundle Identifier</string>
								<key>pfm_description</key>
								<string>A list of managed app identifiers, as strings, that must follow the associated rules. If this key is missing, the rules will apply to all managed apps on the device.</string>
								<key>pfm_require</key>
								<string>always</string>
								<key>pfm_type</key>
								<string>array</string>
								<key>pfm_subkeys</key>
								<array>
									<dict>
										<key>pfm_name</key>
										<string>AppIdentifier</string>
										<key>pfm_title</key>
										<string>Bundle Identifier</string>
										<key>pfm_description</key>
										<string></string>
										<key>pfm_require</key>
										<string>always</string>
										<key>pfm_type</key>
										<string>string</string>
										<key>pfm_value_placeholder</key>
										<string>com.mycompany.*</string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>pfm_name</key>
								<string>AllowCellularData</string>
								<key>pfm_title</key>
								<string>Allow cellular data</string>
								<key>pfm_description</key>
								<string>Allow cellular data over the network.</string>
								<key>pfm_type</key>
								<string>boolean</string>
								<key>pfm_default</key>
								<true/>
							</dict>
							<dict>
								<key>pfm_name</key>
								<string>AllowRoamingCellularData</string>
								<key>pfm_title</key>
								<string>Allow data roaming</string>
								<key>pfm_description</key>
								<string>Allow data roaming over the network.</string>
								<key>pfm_type</key>
								<string>boolean</string>
								<key>pfm_default</key>
								<true/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</plist>
