<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>Passcode settings</string>
		<key>pfm_title</key>
		<string>Passcode</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.mobiledevice.passwordpolicy</string>
		<key>pfm_interaction</key>
		<string>combined</string>
		<key>pfm_targets</key>
		<array>
			<string>user</string>
			<string>system</string>
		</array>
		<key>pfm_platforms</key>
		<array>
			<string>iOS</string>
			<string>macOS</string>
		</array>
		<key>pfm_unique</key>
		<true/>
		<key>pfm_subkeys</key>
		<array>
			
			<!-- Default Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures Passcode settings</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Passcode</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.mobiledevice.passwordpolicy</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.mobiledevice.passwordpolicy</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			
			<!-- Custom Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>forcePIN</string>
				<key>pfm_title</key>
				<string>Require Passcode on Device</string>
				<key>pfm_description</key>
				<string>Enforce the use of a passcode before using the device</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>allowSimple</string>
				<key>pfm_title</key>
				<string>Allow simple value</string>
				<key>pfm_description</key>
				<string>Permits users to use sequential or repeated characters in their passcodes. For example, “3333” or “DEFG.”.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>requireAlphanumeric</string>
				<key>pfm_title</key>
				<string>Require alphanumeric value</string>
				<key>pfm_description</key>
				<string>Requires that the passcode contain at least one letter or number.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>minLength</string>
				<key>pfm_title</key>
				<string>Minimum passcode length</string>
				<key>pfm_description</key>
				<string>Minimum number of characters a passcode can contain.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>0</integer>
				<key>pfm_range_min</key>
				<integer>0</integer>
				<key>pfm_range_max</key>
				<integer>16</integer>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>minLength</string>
								<key>pfm_range_list</key>
								<array>
									<integer>0</integer>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>minComplexChars</string>
				<key>pfm_title</key>
				<string>Minimum number of complex characters</string>
				<key>pfm_description</key>
				<string>Minimum number of non-alphanumeric characters (such as $ and !) the passcode must contain.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>0</integer>
				<key>pfm_range_min</key>
				<integer>0</integer>
				<key>pfm_range_max</key>
				<integer>4</integer>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>minComplexChars</string>
								<key>pfm_range_list</key>
								<array>
									<integer>0</integer>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>maxPINAgeInDays</string>
				<key>pfm_title</key>
				<string>Maximum passcode age</string>
				<key>pfm_description</key>
				<string>Requires users to change their passcode at the interval you specify. It can be set to “none,” or from 1 to 730 days.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_range_min</key>
				<integer>0</integer>
				<key>pfm_range_max</key>
				<integer>730</integer>
				<key>pfm_value_unit</key>
				<string>Days</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>maxInactivity</string>
				<key>pfm_title</key>
				<string>Maximum Auto-Lock</string>
				<key>pfm_description</key>
				<string>If the device isn’t used for the period of time you specify, it automatically locks. It can be set to “none,” or set to lock after 1 to 5 minutes.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_range_min</key>
				<integer>0</integer>
				<key>pfm_range_max</key>
				<integer>15</integer>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>maxInactivity</string>
								<key>pfm_range_list</key>
								<array>
									<integer>0</integer>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>pinHistory</string>
				<key>pfm_title</key>
				<string>Passcode history</string>
				<key>pfm_description</key>
				<string>The device refuses a new passcode if it matches a previously used passcode. You can specify how many previous passcodes are remembered and compared. It can be set to “none,” or from 1 to 50 passcodes.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_range_min</key>
				<integer>1</integer>
				<key>pfm_range_max</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>maxGracePeriod</string>
				<key>pfm_title</key>
				<string>Maximum grace period for device lock</string>
				<key>pfm_description</key>
				<string>How soon the device can be unlocked again after use, without reprompting again for the passcode. (0 = no grace period, which requires a passcode immediately).</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>0</integer>
				<key>pfm_value_unit</key>
				<string>Minutes</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>maxFailedAttempts</string>
				<key>pfm_title</key>
				<string>Maximum number of failed attempts</string>
				<key>pfm_description</key>
				<string>The number of failed passcode attempts that can be made before an iOS device is erased or a macOS device is locked.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>0</integer>
				<key>pfm_range_min</key>
				<integer>2</integer>
				<key>pfm_range_max</key>
				<integer>11</integer>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>maxFailedAttempts</string>
								<key>pfm_range_list</key>
								<array>
									<integer>0</integer>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>changeAtNextAuth</string>
				<key>pfm_title</key>
				<string>Delay after failed login attempts</string>
				<key>pfm_description</key>
				<string>The number of minutes before the login window reappears, after the maximum number of failed attempts is reached.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
				<key>pfm_platforms</key>
				<array>
					<string>macOS</string>
				</array>
				<key>pfm_macos_min</key>
				<string>10.13.0</string>
			</dict>
		</array>
	</dict>
</plist>
