<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>LDAP settings</string>
		<key>pfm_title</key>
		<string>LDAP</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.ldap.account</string>
		<key>pfm_interaction</key>
		<string>combined</string>
		<key>pfm_targets</key>
		<array>
			<string>user</string>
		</array>
		<key>pfm_platforms</key>
		<array>
			<string>iOS</string>
			<string>macOS</string>
		</array>
		<key>pfm_unique</key>
		<false/>
		<key>pfm_subkeys</key>
		<array>
		
			<!-- Default Payload Keys -->
		
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures an LDAP account</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>LDAP</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.ldap.account</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.ldap.account</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
		
			<!-- Custom Payload Keys -->
		
			<dict>
				<key>pfm_name</key>
				<string>LDAPAccountDescription</string>
				<key>pfm_title</key>
				<string>Account Description</string>
				<key>pfm_description</key>
				<string>The display name of the account (e.g. &apos;Company LDAP Account&apos;)</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPAccountUserName</string>
				<key>pfm_title</key>
				<string>Account Username</string>
				<key>pfm_description</key>
				<string>The username for this LDAP account</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPAccountPassword</string>
				<key>pfm_title</key>
				<string>Account Password</string>
				<key>pfm_description</key>
				<string>The password for this LDAP account</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_sensitive</key>
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPAccountHostName</string>
				<key>pfm_title</key>
				<string>Account Hostname</string>
				<key>pfm_description</key>
				<string>The LDAP Hostname or IP address</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPAccountUseSSL</string>
				<key>pfm_title</key>
				<string>Use SSL</string>
				<key>pfm_description</key>
				<string>Enable Secure Socket Layer for this connection</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>LDAPSearchSettings</string>
				<key>pfm_title</key>
				<string>Search Settings</string>
				<key>pfm_description</key>
				<string>Scope and search base for this LDAP server.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>LDAPSearchSettingsItem</string>
						<key>pfm_title</key>
						<string>An LDAP Search Setting</string>
						<key>pfm_description</key>
						<string>An item within the Search Settings array</string>
						<key>pfm_type</key>
						<string>dictionary</string>
						<key>pfm_default</key>
						<dict>
							<key>LDAPSearchSettingDescription</key>
							<string>My Search</string>
							<key>LDAPSearchSettingScope</key>
							<string>LDAPSearchSettingScopeSubtree</string>
							<key>LDAPSearchSettingSearchBase</key>
							<string>o=My Company ou=MyDepartment</string>
						</dict>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>LDAPSearchSettingDescription</string>
								<key>pfm_title</key>
								<string>Description</string>
								<key>pfm_description</key>
								<string>Description for this setting</string>
								<key>pfm_type</key>
								<string>string</string>
								<key>pfm_default</key>
								<string>My Search</string>
							</dict>
							<dict>
								<key>pfm_name</key>
								<string>LDAPSearchSettingScope</string>
								<key>pfm_title</key>
								<string>Scope</string>
								<key>pfm_description</key>
								<string>Defines what recursion to use in the search</string>
								<key>pfm_type</key>
								<string>string</string>
								<key>pfm_default</key>
								<string>LDAPSearchSettingScopeSubtree</string>
								<key>pfm_range_list</key>
								<array>
									<string>LDAPSearchSettingScopeBase</string>
									<string>LDAPSearchSettingScopeOneLevel</string>
									<string>LDAPSearchSettingScopeSubtree</string>
								</array>
								<key>pfm_range_list_titles</key>
								<array>
									<string>Base</string>
									<string>One Level</string>
									<string>Subtree</string>
								</array>
							</dict>
							<dict>
								<key>pfm_name</key>
								<string>LDAPSearchSettingSearchBase</string>
								<key>pfm_title</key>
								<string>Search Base</string>
								<key>pfm_description</key>
								<string>Conceptually, the path to the the node to start a search at</string>
								<key>pfm_type</key>
								<string>string</string>
								<key>pfm_default</key>
								<string>o=My Company,ou=My Department</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</plist>
