<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>Use this section to define Wi-Fi settings</string>
		<key>pfm_title</key>
		<string>Wi-Fi</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.wifi.managed</string>
		<key>pfm_interaction</key>
		<string>combined</string>
		<key>pfm_targets</key>
		<array>
			<string>user</string>
			<string>system</string>
		</array>
		<key>pfm_platforms</key>
		<array>
			<string>iOS</string>
			<string>macOS</string>
			<string>tvOS</string>
		</array>
		<key>pfm_unique</key>
		<false/>
		<key>pfm_subkeys</key>
		<array>
		
			<!-- Default Payload Keys -->
		
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures Wi-Fi settings</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Wi-Fi</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.wifi.managed</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.wifi.managed</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			
			<!-- Custom Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>Interface</string>
				<key>pfm_title</key>
				<string>Network Interface</string>
				<key>pfm_description</key>
				<string>Type of network interface on the device.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_range_list</key>
				<array>
					<string>BuiltInWireless</string>
					<string>Hotspot</string>
					<string>Hotspot2</string>
				</array>
				<key>pfm_range_list_titles</key>
				<array>
					<string>Wi-Fi</string>
					<string>Legacy Hotspot</string>
					<string>Passpoint</string>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>IsHotspot</string>
				<key>pfm_title</key>
				<string>Is Hotspot</string>
				<key>pfm_description</key>
				<string>If the network should be treated as a Legacy Hotspot or Passpoint network.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
				<key>pfm_macos_min</key>
				<string>10.9</string>
				<key>pfm_ios_min</key>
				<string>7.0</string>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_contains_any</key>
								<array>
									<string>Hotspot</string>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_n_contains_any</key>
								<array>
									<string>Hotspot</string>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SSID_STR</string>
				<key>pfm_title</key>
				<string>SSID</string>
				<key>pfm_description</key>
				<string>Enter the SSID of the wireless network to connect to.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_contains_any</key>
								<array>
									<string>BuiltInWireless</string>
									<string>Hotspot</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>HIDDEN_NETWORK</string>
				<key>pfm_title</key>
				<string>Hidden Network</string>
				<key>pfm_description</key>
				<string>Specify whether the network that the device connects to is broadcasting its identity.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>AutoJoin</string>
				<key>pfm_title</key>
				<string>Auto Join</string>
				<key>pfm_description</key>
				<string>Automatically join the network without notifying users.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<true/>
				<key>pfm_ios_min</key>
				<string>5.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>CaptiveBypass</string>
				<key>pfm_title</key>
				<string>Disable Captive Network Detection</string>
				<key>pfm_description</key>
				<string>Users won’t have an opportunity to join networks that require agreements or other information prior to network access.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
				<key>pfm_platforms</key>
				<array>
					<string>iOS</string>
				</array>
				<key>pfm_ios_min</key>
				<string>10.0</string>
			</dict>
			
			
			
			<!-- WHAT IS THIS
			<dict>
				<key>pfm_name</key>
				<string>NONEXISTENT</string>
				<key>pfm_title</key>
				<string>Nonexistent flag</string>
				<key>pfm_description</key>
				<string></string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			-->
			
			<!-- Proxy Type Configuration -->
			
			<dict>
				<key>pfm_name</key>
				<string>ProxyType</string>
				<key>pfm_title</key>
				<string>Proxy Type</string>
				<key>pfm_description</key>
				<string>The type of proxy configuration to use for this wireless connection.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>None</string>
				<key>pfm_range_list</key>
				<array>
					<string>None</string>
					<string>Manual</string>
					<string>Auto</string>
				</array>
				<key>pfm_ios_min</key>
				<string>5.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ProxyServer</string>
				<key>pfm_title</key>
				<string>Proxy Server</string>
				<key>pfm_description</key>
				<string>The hostname of the proxy server.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_range_list</key>
								<array>
									<string>Manual</string>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_present</key>
								<true/>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Manual</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ProxyServerPort</string>
				<key>pfm_title</key>
				<string>Proxy Server Port</string>
				<key>pfm_description</key>
				<string>The port used to connect to the proxy server</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_range_min</key>
				<integer>0</integer>
				<key>pfm_range_max</key>
				<integer>65535</integer>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_range_list</key>
								<array>
									<string>Manual</string>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_present</key>
								<true/>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Manual</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ProxyUsername</string>
				<key>pfm_title</key>
				<string>Proxy Username</string>
				<key>pfm_description</key>
				<string>The user name for the manual proxy connection.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Manual</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ProxyPassword</string>
				<key>pfm_title</key>
				<string>Proxy Password</string>
				<key>pfm_description</key>
				<string>The password for the manual proxy connection.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Manual</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_sensitive</key>
				<true/>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ProxyPACURL</string>
				<key>pfm_title</key>
				<string>Proxy Username</string>
				<key>pfm_description</key>
				<string>URL used to recieve proxy settings. If no URL is specified, the device uses the web proxy autodiscovery protocol (WPAD) to discover proxies.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Auto</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ProxyPACFallbackAllowed</string>
				<key>pfm_title</key>
				<string>Proxy PAC Fallback</string>
				<key>pfm_description</key>
				<string>Enable to allow direct connection if PAC is unreachable.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>ProxyType</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Auto</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			
			
			<!-- Encryption Type -->
			
			<dict>
				<key>pfm_name</key>
				<string>EncryptionType</string>
				<key>pfm_title</key>
				<string>Encryption Type</string>
				<key>pfm_description</key>
				<string>Wireless network encryption to use when connecting. The None value is available in iOS 5.0 and later and the WPA2 value is available in iOS 8.0 and later.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_default</key>
				<string>None</string>
				<key>pfm_range_list</key>
				<array>
					<string>None</string>
					<string>WEP</string>
					<string>WPA</string>
					<string>WPA2</string>
					<string>Any</string>
				</array>
				<key>pfm_range_list_titles</key>
				<array>
					<string>None</string>
					<string>WEP</string>
					<string>WPA/WPA2</string>
					<string>WPA2</string>
					<string>Any</string>
				</array>
				<key>pfm_ios_min</key>
				<string>4.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>Password</string>
				<key>pfm_title</key>
				<string>Password</string>
				<key>pfm_description</key>
				<string>Specifies the password for the access point</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>EAPClientConfiguration</string>
								<key>pfm_present</key>
								<true/>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_sensitive</key>
				<true/>
			</dict>
			
			<!-- Hotspot 2.0 (Passpoint) Configuration -->
			
			<dict>
				<key>pfm_name</key>
				<string>DisplayedOperatorName</string>
				<key>pfm_title</key>
				<string>Provider Display Name</string>
				<key>pfm_description</key>
				<string>Display name of the Passpoint service provider.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_macos_min</key>
				<string>10.9</string>
				<key>pfm_ios_min</key>
				<string>7.0</string>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>IsHotspot</string>
								<key>pfm_range_list</key>
								<array>
									<false/>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>DomainName</string>
				<key>pfm_title</key>
				<string>Domain Name</string>
				<key>pfm_description</key>
				<string>Domain name of the Passpoint service provider.</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_macos_min</key>
				<string>10.9</string>
				<key>pfm_ios_min</key>
				<string>7.0</string>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>IsHotspot</string>
								<key>pfm_range_list</key>
								<array>
									<false/>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>ServiceProviderRoamingEnabled</string>
				<key>pfm_title</key>
				<string>Connect to roaming partner Passpoint networks</string>
				<key>pfm_description</key>
				<string>Specify whether to connect to additional Passpoint networks pre-approved by the service provider.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_default</key>
				<false/>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>IsHotspot</string>
								<key>pfm_range_list</key>
								<array>
									<false/>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>DomainName</string>
								<key>pfm_present</key>
								<false/>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_macos_min</key>
				<string>10.9</string>
				<key>pfm_ios_min</key>
				<string>7.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>RoamingConsortiumOIs</string>
				<key>pfm_title</key>
				<string>Roaming OIs</string>
				<key>pfm_description</key>
				<string>Enter a series of digits corresponding to one of the service provider’s Passpoint network.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>RoamingConsortiumOI</string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^([0-9A-Za-z]{6})|([0-9A-Za-z]{9})$</string>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>IsHotspot</string>
								<key>pfm_range_list</key>
								<array>
									<false/>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>DomainName</string>
								<key>pfm_present</key>
								<false/>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_macos_min</key>
				<string>10.9</string>
				<key>pfm_ios_min</key>
				<string>7.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>NAIRealmNames</string>
				<key>pfm_title</key>
				<string>Realm Names</string>
				<key>pfm_description</key>
				<string>Enter the known NAI realm names.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>NAIRealmName</string>
						<key>pfm_type</key>
						<string>string</string>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>IsHotspot</string>
								<key>pfm_range_list</key>
								<array>
									<false/>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>DomainName</string>
								<key>pfm_present</key>
								<false/>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_macos_min</key>
				<string>10.9</string>
				<key>pfm_ios_min</key>
				<string>7.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>MCCAndMNCs</string>
				<key>pfm_title</key>
				<string>MCC/MNCs</string>
				<key>pfm_description</key>
				<string>HotSpot 2.0 MCC/MNCs</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>MCCAndMNC</string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_format</key>
						<string>^[0-9]{6}$</string>
					</dict>
				</array>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>IsHotspot</string>
								<key>pfm_range_list</key>
								<array>
									<false/>
								</array>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>DomainName</string>
								<key>pfm_present</key>
								<false/>
							</dict>
							<dict>
								<key>pfm_target</key>
								<string>Interface</string>
								<key>pfm_n_range_list</key>
								<array>
									<string>Hotspot2</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_ios_min</key>
				<string>7.0</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>SetupModes</string>
				<key>pfm_title</key>
				<string>EAP Setup Modes</string>
				<key>pfm_description</key>
				<string>Select "Login Window" to authenticate the Mac to the network when the user logs in.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_platforms</key>
				<array>
					<string>macOS</string>
				</array>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>SetupMode</string>
						<key>pfm_title</key>
						<string>Setup Mode</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_range_list</key>
						<array>
							<string>System</string> <!-- Not sure what this does --> 
							<string>Loginwindow</string>
						</array>
						<key>pfm_range_list_titles</key>
						<array>
							<string>System</string>
							<string>Login Window</string>
						</array>
					</dict>
				</array>
			</dict>
			
			<!-- Test new cellview type -->
			
			<dict>
				<key>pfm_name</key>
				<string>EAPClientConfiguration</string>
				<key>pfm_title</key>
				<string>EAP Client Configuration</string>
				<key>pfm_description</key>
				<string>Specifies 802.1x EAP authentication parameters</string>
				<key>pfm_type</key>
				<string>dictionary</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>AcceptEAPTypes</string>
						<key>pfm_title</key>
						<string>Accept EAP Types</string>
						<key>pfm_description</key>
						<string>The EAP types accepted</string>
						<key>pfm_type</key>
						<string>array</string>
						<key>pfm_type_input</key>
						<string>boolean</string>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>EAPType</string>
								<key>pfm_title</key>
								<string>EAP Type</string>
								<key>pfm_description</key>
								<string>An integer representing an EAP type, inside of the Accept EAP Types array</string>
								<key>pfm_type</key>
								<string>integer</string>
								<key>pfm_range_list</key>
								<array>
									<integer>13</integer> 		<!-- TLS -->
									<integer>17</integer> 		<!-- LEAP -->
									<integer>21</integer> 		<!-- TTLS -->
									<integer>25</integer> 		<!-- PEAP -->
									<integer>43</integer> 		<!-- EAP-FAST -->
									<integer>18</integer> 		<!-- EAP-SIM -->
									<integer>23</integer> 		<!-- EAP-AKA -->
								</array>
								<key>pfm_range_list_titles</key>
								<array>
									<string>TLS</string> 		<!-- 13 -->
									<string>LEAP</string> 		<!-- 17 -->
									<string>TTLS</string> 		<!-- 21 -->
									<string>PEAP</string> 		<!-- 25 -->
									<string>EAP-FAST</string> 	<!-- 43 -->
									<string>EAP-SIM</string> 	<!-- 18 -->
									<string>EAP-AKA</string> 	<!-- 23 -->
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>UserName</string>
						<key>pfm_title</key>
						<string>Username</string>
						<key>pfm_description</key>
						<string>Username. If not provided, the user may be prompted during login</string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_conditionals</key>
						<array>
							<dict>
								<key>pfm_require</key>
								<string>push</string>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_contains_any</key>
										<array>
											<integer>17</integer> 	<!-- LEAP -->
											<integer>21</integer> 	<!-- TTLS -->
											<integer>25</integer> 	<!-- PEAP -->
											<integer>43</integer> 	<!-- EAP-FAST -->
										</array>
									</dict>
								</array>
							</dict>
						</array>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_require</key>
								<string>push</string>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>17</integer> 	<!-- LEAP -->
											<integer>21</integer> 	<!-- TTLS -->
											<integer>25</integer> 	<!-- PEAP -->
											<integer>43</integer> 	<!-- EAP-FAST -->
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>UserPassword</string>
						<key>pfm_title</key>
						<string>Password</string>
						<key>pfm_description</key>
						<string>Password. If not provided, the user may be prompted during login.</string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_sensitive</key>
						<true/>
						<key>pfm_conditionals</key>
						<array>
							<dict>
								<key>pfm_require</key>
								<string>push</string>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_contains_any</key>
										<array>
											<integer>17</integer>
											<integer>21</integer>
											<integer>25</integer>
											<integer>43</integer>
										</array>
									</dict>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.OneTimeUserPassword</string>
										<key>pfm_n_range_list</key>
										<array>
											<true/>
										</array>
									</dict>
								</array>
							</dict>
						</array>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.OneTimeUserPassword</string>
										<key>pfm_range_list</key>
										<array>
											<true/>
										</array>
									</dict>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.OneTimeUserPassword</string>
										<key>pfm_present</key>
										<true/>
									</dict>
								</array>
							</dict>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>17</integer>
											<integer>21</integer>
											<integer>25</integer>
											<integer>43</integer>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			
			
			<!-- QoS -->
			
			<dict>
				<key>pfm_name</key>
				<string>QoSMarkingPolicy</string>
				<key>pfm_title</key>
				<string>QoS Marking Policy</string>
				<key>pfm_description</key>
				<string>Restrict fast lane QoS marking</string>
				<key>pfm_type</key>
				<string>dictionary</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>QoSMarkingEnabled</string>
						<key>pfm_title</key>
						<string>Allow QoS marking</string>
						<key>pfm_description</key>
						<string>Enable any kind of QoS marking</string>
						<key>pfm_type</key>
						<string>boolean</string>
						<key>pfm_default</key>
						<true/>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>QoSMarkingAppleAudioVideoCalls</string>
						<key>pfm_title</key>
						<string>QoS marking for audio/video calls</string>
						<key>pfm_description</key>
						<string>Enable QoS for WiFi Calling, FaceTime, SMS, etc.</string>
						<key>pfm_type</key>
						<string>boolean</string>
						<key>pfm_default</key>
						<true/>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>QoSMarkingWhitelistedAppIdentifiers</string>
						<key>pfm_title</key>
						<string>Whitelisted App Identifiers</string>
						<key>pfm_description</key>
						<string>Whitelist specific apps for QoS marking</string>
						<key>pfm_type</key>
						<string>array</string>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>appBundleID</string>
								<key>pfm_title</key>
								<string>Whitelisted App</string>
								<key>pfm_description</key>
								<string>Whitelisted App</string>
								<key>pfm_type</key>
								<string>string</string>
								<key>pfm_default</key>
								<string></string>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_ios_min</key>
				<string>10.0</string>
			</dict>
			
			<!--
			<dict>
				<key>pfm_name</key>
				<string>EAPClientConfiguration</string>
				...
				<array>
					
				
					<dict>
						<key>pfm_name</key>
						<string>OneTimeUserPassword</string>
						<key>pfm_title</key>
						<string>Per-Connection Password</string>
						<key>pfm_description</key>
						<string>If set, the user will be prompted for a password each time they connect to the network</string>
						<key>pfm_type</key>
						<string>boolean</string>
						<key>pfm_default</key>
						<false/>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>17</integer>
											<integer>21</integer>
											<integer>25</integer>
											<integer>43</integer>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>PayloadCertificateAnchorUUID</string>
						<key>pfm_title</key>
						<string>Certificate Anchor UUID</string>
						<key>pfm_description</key>
						<string>Array of UUIDs corresponding to the trusted certificates for this authentication</string>
						<key>pfm_type</key>
						<string>array</string>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>CertificateAnchorUUID</string>
								<key>pfm_title</key>
								<string>Individual Certificate Anchor UUID</string>
								<key>pfm_description</key>
								<string>A UUID for a trusted certificate</string>
								<key>pfm_type</key>
								<string>string</string>
								<key>pfm_format</key>
								<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>TLSTrustedServerNames</string>
						<key>pfm_title</key>
						<string>TLS Trusted Server Names</string>
						<key>pfm_description</key>
						<string>Array of Common Names of server certificates that can be trusted. The wildcard * can be used to match a range of strings</string>
						<key>pfm_type</key>
						<string>array</string>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>TLSTrustedServerName</string>
								<key>pfm_title</key>
								<string>Individual Trusted TLS Server Name</string>
								<key>pfm_description</key>
								<string>An item in the TLS Trusted Server Names array representing a Common Name of a server certificate.</string>
								<key>pfm_type</key>
								<string>string</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>TLSAllowTrustExceptions</string>
						<key>pfm_title</key>
						<string>Allow Trust Exceptions</string>
						<key>pfm_description</key>
						<string>No longer supported in iOS 8 and later</string>
						<key>pfm_type</key>
						<string>boolean</string>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>NONEXISTENT</string>
										<key>pfm_present</key>
										<false/>
									</dict>
								</array>
							</dict>
						</array>
						<key>pfm_ios_max</key>
						<string>7.9</string>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>TTLSInnerAuthentication</string>
						<key>pfm_title</key>
						<string>TTLS Inner Authentication</string>
						<key>pfm_description</key>
						<string>Specifies the inner authentication used by the TTLS module</string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_range_list</key>
						<array>
							<string>PAP</string>
							<string>EAP</string>
							<string>CHAP</string>
							<string>MSCHAP</string>
							<string>MSCHAPv2</string>
						</array>
						<key>pfm_default</key>
						<string>MSCHAPv2</string>
						<key>pfm_conditionals</key>
						<array>
							<dict>
								<key>pfm_require</key>
								<string>always</string>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_contains_any</key>
										<array>
											<integer>21</integer>
										</array>
									</dict>
								</array>
							</dict>
						</array>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>21</integer>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>OuterIdentity</string>
						<key>pfm_title</key>
						<string>Outer Identity</string>
						<key>pfm_description</key>
						<string>If TTLS, PEAP, or EAP-FAST is used, this string is used instead of the user&apos;s identity outside the encrypted tunnel. This value can be used to mask the true identity of the person using the network</string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>21</integer>
											<integer>25</integer>
											<integer>43</integer>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>SystemModeCredentialsSource</string>
						<key>pfm_title</key>
						<string>System Profile Credentials Source</string>
						<key>pfm_description</key>
						<string>Use an alternate set of credentials when in System mode (AKA not a loginwindow profile). This can be used to tell EAPOLClient to use the computer password in a bound active directory scenario for authentication.</string>
						<key>pfm_type</key>
						<string>string</string>
						<key>pfm_range_list</key>
						<array>
							<string>ActiveDirectory</string>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>EAPFASTUsePAC</string>
						<key>pfm_title</key>
						<string>Use PAC</string>
						<key>pfm_description</key>
						<string>If set, the device will use an existing PAC if it&apos;s present. Otherwise the server must present its identity using a certificate</string>
						<key>pfm_type</key>
						<string>boolean</string>
						<key>pfm_default</key>
						<false/>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>43</integer>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>EAPFASTProvisionPAC</string>
						<key>pfm_title</key>
						<string>Provision PAC</string>
						<key>pfm_description</key>
						<string>If set, provisions the device </string>
						<key>pfm_type</key>
						<string>boolean</string>
						<key>pfm_default</key>
						<false/>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>43</integer>
										</array>
									</dict>
								</array>
							</dict>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.EAPFASTUsePAC</string>
										<key>pfm_n_range_list</key>
										<array>
											<true/>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>EAPFASTProvisionPACAnonymously</string>
						<key>pfm_title</key>
						<string>Provision PAC Anonymously</string>
						<key>pfm_description</key>
						<string>If set, provisions the device anonymously. Note that there are known man-in-the-middle attacks for anonymous provisioning</string>
						<key>pfm_type</key>
						<string>boolean</string>
						<key>pfm_default</key>
						<false/>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>43</integer>
										</array>
									</dict>
								</array>
							</dict>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.EAPFASTProvisionPAC</string>
										<key>pfm_n_range_list</key>
										<array>
											<true/>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>pfm_name</key>
						<string>EAPSIMNumberOfRANDs</string>
						<key>pfm_title</key>
						<string>Allow Two RANDs</string>
						<key>pfm_description</key>
						<string>The minimum number of RAND values accepted from the server. 3 is the default, and 2 is allowed, but offers less security. For use with EAP-SIM only.</string>
						<key>pfm_type</key>
						<string>integer</string>
						<key>pfm_default</key>
						<integer>3</integer>
						<key>pfm_exclude</key>
						<array>
							<dict>
								<key>pfm_target_conditions</key>
								<array>
									<dict>
										<key>pfm_target</key>
										<string>EAPClientConfiguration.AcceptEAPTypes</string>
										<key>pfm_n_contains_any</key>
										<array>
											<integer>18</integer>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadCertificateUUID</string>
				<key>pfm_title</key>
				<string>Certificate UUID</string>
				<key>pfm_description</key>
				<string>UUID of the certificate payload containing an identity used as the client credential</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
				<key>pfm_exclude</key>
				<array>
					<dict>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>EAPClientConfiguration.AcceptEAPTypes</string>
								<key>pfm_n_contains_any</key>
								<array>
									<integer>13</integer>
									<integer>21</integer>
									<integer>25</integer>
									<integer>43</integer>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>EAPClientConfiguration.AcceptEAPTypes</string>
								<key>pfm_contains_any</key>
								<array>
									<integer>13</integer>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>TLSCertificateRequired</string>
				<key>pfm_title</key>
				<string>Certificate Required</string>
				<key>pfm_description</key>
				<string>If set, force a non-default authentication method. (if YES, uses certificate from PayloadCertificateUUID)</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_ios_min</key>
				<string>7.0</string>
			</dict>
				-->
		</array>
	</dict>
</plist>
