<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>Use this section to configure Google accounts. The user will be prompted to sign in afterward.</string>
		<key>pfm_title</key>
		<string>GoogleAccount</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.google-oauth</string>
		<key>pfm_interaction</key>
		<string>combined</string>
		<key>pfm_targets</key>
		<array>
			<string>system</string>
		</array>
		<key>pfm_platforms</key>
		<array>
			<string>iOS</string>
		</array>
		<key>pfm_ios_min</key>
		<string>9.3</string>
		<key>pfm_unique</key>
		<false/>
		<key>pfm_subkeys</key>
		<array>
			
			<!-- Default Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures a Google account</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Google Account</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.google-oauth</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.google-oauth</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			
			<!-- Custom Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>AccountDescription</string>
				<key>pfm_title</key>
				<string>Account Description</string>
				<key>pfm_description</key>
				<string>Description of the account shown to the user</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_ios_min</key>
				<string>9.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>AccountName</string>
				<key>pfm_title</key>
				<string>Account Name</string>
				<key>pfm_description</key>
				<string>Full user name of the Google account</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_ios_min</key>
				<string>9.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>EmailAddress</string>
				<key>pfm_title</key>
				<string>Email Address</string>
				<key>pfm_description</key>
				<string>Full Google/Gmail email address for the account</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_ios_min</key>
				<string>9.3</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>CommunicationServiceRules</string>
				<key>pfm_title</key>
				<string>Communication Service Rules</string>
				<key>pfm_description</key>
				<string>The communication service handler rules for this account</string>
				<key>pfm_type</key>
				<string>dictionary</string>
				<key>pfm_ios_min</key>
				<string>10.0</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>DefaultServiceHandlers</string>
						<key>pfm_title</key>
						<string>Default Service Handlers</string>
						<key>pfm_description</key>
						<string></string>
						<key>pfm_type</key>
						<string>dictionary</string>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>AudioCall</string>
								<key>pfm_title</key>
								<string>BundleIdentifier</string>
								<key>pfm_description</key>
								<string>Bundle identifier for the default application that handles audio calls made to contacts from this account</string>
								<key>pfm_type</key>
								<string>string</string>
							</dict>
						</array>
						<key>pfm_required</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</plist>
