<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>pfm_description</key>
		<string>Parental Controls: Web Content Filter settings</string>
		<key>pfm_title</key>
		<string>Parental Controls: Web Content Filter</string>
		<key>pfm_format_version</key>
		<integer>1</integer>
		<key>pfm_version</key>
		<integer>1</integer>
		<key>pfm_domain</key>
		<string>com.apple.familycontrols.contentfilter</string>
		<key>pfm_interaction</key>
		<string>combined</string>
		<key>pfm_targets</key>
		<array>
			<string>user</string>
			<string>system</string>
		</array>
		<key>pfm_platforms</key>
		<array>
			<string>macOS</string>
		</array>
		<key>pfm_unique</key>
		<true/>
		<key>pfm_subkeys</key>
		<array>
			
			<!-- Default Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>PayloadDescription</string>
				<key>pfm_title</key>
				<string>Payload Description</string>
				<key>pfm_description</key>
				<string>Description of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Configures Parental Controls: Web Content Filter settings</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadDisplayName</string>
				<key>pfm_title</key>
				<string>Payload Display Name</string>
				<key>pfm_description</key>
				<string>Name of the payload</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>Parental Controls: Web Content Filter</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadIdentifier</string>
				<key>pfm_title</key>
				<string>Payload Identifier</string>
				<key>pfm_description</key>
				<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.familycontrols.contentfilter</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadType</string>
				<key>pfm_title</key>
				<string>Payload Type</string>
				<key>pfm_description</key>
				<string>The type of the payload, a reverse dns string</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string>com.apple.familycontrols.contentfilter</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadUUID</string>
				<key>pfm_title</key>
				<string>Payload UUID</string>
				<key>pfm_description</key>
				<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
				<key>pfm_type</key>
				<string>string</string>
				<key>pfm_default</key>
				<string></string>
				<key>pfm_require</key>
				<string>always</string>
				<key>pfm_format</key>
				<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadVersion</string>
				<key>pfm_title</key>
				<string>Payload Version</string>
				<key>pfm_description</key>
				<string>The version of the whole configuration profile.</string>
				<key>pfm_type</key>
				<string>integer</string>
				<key>pfm_default</key>
				<integer>1</integer>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>PayloadOrganization</string>
				<key>pfm_title</key>
				<string>Payload Organization</string>
				<key>pfm_description</key>
				<string>This value describes the issuing organization of the profile, as displayed to the user</string>
				<key>pfm_type</key>
				<string>string</string>
			</dict>
			
			<!-- Custom Payload Keys -->
			
			<dict>
				<key>pfm_name</key>
				<string>restrictWeb</string>
				<key>pfm_title</key>
				<string>Limit access to websites</string>
				<key>pfm_description</key>
				<string>Set to true to enable Web content filters.</string>
				<key>pfm_type</key>
				<string>boolean</string>
				<key>pfm_require</key>
				<string>always</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>whitelistEnabled</string>
				<key>pfm_title</key>
				<string>Enable site whitelist</string>
				<key>pfm_description</key>
				<string>Set to true to use the filterWhiteList and filterBlackList lists.</string>
				<key>pfm_type</key>
				<string>boolean</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>siteWhitelist</string>
				<key>pfm_title</key>
				<string>Site Whitelist</string>
				<key>pfm_description</key>
				<string>If specified, this key contains an array of dictionaries that define additional allowed sites besides those in the automated list of allowed and unallowed sites, including disallowed adult sites.</string>
				<key>pfm_type</key>
				<string>array</string>
				<key>pfm_subkeys</key>
				<array>
					<dict>
						<key>pfm_name</key>
						<string>siteWhitelistItem</string>
						<key>pfm_title</key>
						<string>Site Whitelist Item</string>
						<key>pfm_type</key>
						<string>dictionary</string>
						<key>pfm_subkeys</key>
						<array>
							<dict>
								<key>pfm_name</key>
								<string>address</string>
								<key>pfm_title</key>
								<string>Site address prefix</string>
								<key>pfm_description</key>
								<string>Site prefix, including http(s) scheme.</string>
								<key>pfm_type</key>
								<string>string</string>
							</dict>
							<dict>
								<key>pfm_name</key>
								<string>pageTitle</string>
								<key>pfm_title</key>
								<string>Page Title</string>
								<key>pfm_description</key>
								<string>Optional Page Title</string>
								<key>pfm_type</key>
								<string>string</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>pfm_conditionals</key>
				<array>
					<dict>
						<key>pfm_require</key>
						<string>always</string>
						<key>pfm_target_conditions</key>
						<array>
							<dict>
								<key>pfm_target</key>
								<string>whitelistEnabled</string>
								<key>pfm_range_list</key>
								<array>
									<true/>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>useContentFilter</string>
				<key>pfm_title</key>
				<string>Use built in content filter</string>
				<key>pfm_description</key>
				<string>Set to true to try to automatically filter content.</string>
				<key>pfm_type</key>
				<string>boolean</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>filterWhitelist</string>
				<key>pfm_title</key>
				<string>Content Filter Whitelist</string>
				<key>pfm_description</key>
				<string>If specified and restrictWeb is true, an array of URLs designating the only allowed Websites.</string>
				<key>pfm_type</key>
				<string>array</string>
			</dict>
			<dict>
				<key>pfm_name</key>
				<string>filterBlacklist</string>
				<key>pfm_title</key>
				<string>Content Filter Backlist</string>
				<key>pfm_description</key>
				<string>If specified and restrictWeb is true, an array of URLs of Websites never to be allowed.</string>
				<key>pfm_type</key>
				<string>array</string>
			</dict>
		</array>
	</dict>
</plist>
