name: Update indexes

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    permissions:
      contents: write
    if: github.repository == 'ProfileManifests/ProfileManifests'
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          ref: master
          path: clone

      - name: Run updateindexes.py script and commit changes
        working-directory: clone
        run: |
          ./updateIndexes.py
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -am "Update indexes" || true
          git push --set-upstream origin master || true
